@{string qrystrflg = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString();}

<link href="~/Content/CSS/chosenfilter.css?@qrystrflg" rel="stylesheet" />
<link href="~/Content/CSS/classic.css?@qrystrflg" rel="stylesheet" />

<div class="udk-crm-management-details">
    <div class="row gutter" id="Loadpagedetails">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="reminder-details-show">
                <div class="card-header">
                    <i class="icon-note"></i>Call Management
                    <a href="javascript:void(0)" class="badge badge-danger" id="opencountdetails">OPEN:<span id="opencalls">0</span></a>
                    <div class="card-header-actions">
                        <a href="javascript:void(0)" class="card-header-action"
                            target="_blank">
                            <small class="text-muted" id="currentdate">17/05/2018</small>
                        </a>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body city-off">
                        <div class="form-group">
                            <label for="ddlbranch">Branch Name</label>
                            <select id="ddlbranch" class="form-control select2-single select2-hidden-accessible"
                                tabindex="-1" aria-hidden="true">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>
                    </div>

                    <hr class="mrgntb0">

                    <div class="panel-body cmmn-pad">
                        <div class="form-group">
                            <label for="ddlclientname">Agency Name</label>
                            <select id="ddlclientname" class="form-control select2-single select2-hidden-accessible"
                                tabindex="-1" aria-hidden="true">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>
                    </div>

                    <hr class="mrgntb0">

                    <div class="panel-body cmmn-pad">
                        <div class="form-group">
                            <label for="ddlcordiname">Coordinator</label>
                            <select id="ddlcordiname" class="form-control select2-single select2-hidden-accessible"
                                data-select2-id="select2-1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="2" value="ALL">ALL</option>
                            </select>
                        </div>
                    </div>

                    <hr class="mrgntb0">

                    <div class="panel-body cmmn-pad">
                        <div class="form-group">
                            <label for="ddlcallstatus">Call Status</label>
                            <select id="ddlcallstatus" class="form-control select2-single select2-hidden-accessible"
                                data-select2-id="select2-1" tabindex="-1" aria-hidden="true">
                                <option value="ALL" data-select2-id="ALL">ALL</option>
                                <option value="1" data-select2-id="1" selected>OPEN</option>
                                <option value="5" data-select2-id="5">BOOKED</option>
                                <option value="2" data-select2-id="2">CLOSED</option>
                            </select>
                        </div>
                    </div>

                    <hr class="mrgntb0">

                    <div class="panel-body cmn-pad-btm">
                        <div class="form-group btncrm" style="text-align: center">
                            <input type="button" class="btn btnNcell" value="New Call" id="btnnewcall" />
                            <input type="button" class="btn btnCLR" value="Clear" id="btnclear" />
                            <input type="button" class="btn btnMR" id="btn_more" value="More" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="reminder-details-show">
                <div class="card-header">
                    <i class="icon-note"></i>Reminder Details
                    <span class="flt-rt clr-rd fwt-5">Pending Calls Count :<span
                        id="Pendingcallscount">0</span></span>
                </div>
                <div class="panel">
                    <div class="panel-body no-remain" style="min-height: 395px;">
                        <img src="@Url.Content("~/Img/Reminder.jpg")" alt="" id="imgreminderimg" />
                        <div class="no-reminder-found" style="text-align: center;">
                            <h2>No reminder found</h2>
                        </div>
                        <div class="form-group has-success" style="display: none;">
                            <div class="udk-load-reminder-details" style="overflow: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row gutter row0" id="moreDT" style="display: none">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel col0">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Attended By</label>
                            <input class="form-control udk-clear-cls" id="ATTENDED_BY" onkeyup="filtercolumn(this)"
                                value="" placeholder="Attended By">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mobile No</label>
                            <input class="form-control udk-clear-cls" id="txtMmobileno" onkeypress="javascript:return isNumericVal(event);" maxlength="10" value="" placeholder="Mobile No">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enquery Id</label>
                            <input type="text" class="form-control udk-clear-cls" onkeyup="filtercolumn(this)" id="ENQUIRY_ID" maxlength="25" placeholder="Enquery Id">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Id</label>
                            <input class="form-control udk-clear-cls" id="txteMmailid" value="" maxlength="150" onkeypress="javascript:return ValidateEmailtxt(event);" placeholder="Email Id">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Orgin</label>
                            <input type="text" class="form-control udk-clear-cls" id="ORIGIN" onkeyup="filtercolumn(this)" maxlength="3" placeholder="Orgin">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Product</label>
                            <input class="form-control udk-clear-cls" id="PRODUCT" onkeyup="filtercolumn(this)" value="" maxlength="25" placeholder="Product">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Destination</label>
                            <input type="text" class="form-control udk-clear-cls" id="DESTINATION" onkeyup="filtercolumn(this)" maxlength="3" placeholder="Destination">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trip Type</label>
                            <input class="form-control udk-clear-cls" id="TRIP_TYPE" onkeyup="filtercolumn(this)" value="" maxlength="20" placeholder="Trip Type">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">From Date</label>
                            <input type="text" class="form-control" id="txtmfromdate" onchange="filterdate(this)" readonly placeholder="From Date">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category</label>
                            <input class="form-control udk-clear-cls" id="CALL_CATEGORY" onkeyup="filtercolumn(this)" value="" placeholder="Category">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">To Date</label>
                            <input type="text" class="form-control" id="txtmtodate" onchange="filterdate(this)" placeholder="To Date">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Segment Type</label>
                            <input class="form-control udk-clear-cls" id="Segment_Type" onkeyup="filtercolumn(this)" value="" maxlength="20" placeholder="Segment Type">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 padoneper" id="Div_Main_Data_Tabecrm" style="display: none;">
        <div class="col-sm-12 search-controls-My_request">
            <div class="row row10">
                <div class="col-md-12 col10">
                    <div class="col-md-12 col10">
                    </div>
                </div>
                <div class="col-xs-12 ">                  
                </div>

                <div class="col-xs-12 col10">
                    <div id="crsmanagegrid" class="columns pad-tp" style="overflow: auto;">
                    </div>
                    <div id="crsmanagegridNorecord" class="no-records pad-tp" style="overflow: auto; display: none;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 padoneper pad-lft" id="Div_Main_Data_FullTabecrm" style="display: none;">
        <div class="col-sm-12 search-controls-My_request">
            <div class="row row10">
                <div class="col-md-12 col10">
                    <div class="col-md-12 col10">
                    </div>
                </div>
                <div class="col-xs-12 ">                    
                </div>
                <div class="col-xs-12">
                    <div id="Fullcrsmanagegrid" class="columns pad-tp" style="overflow: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row gutter" style="display: none;" id="divaddnewcallenqdet">
        <div class="col-lg-12 columns" style="overflow: auto;" id="openenquirydetails">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nedivs" id="New_calldiv">
            <p class="text-center addntitle">
                <span>Add New Call </span><i class="fa fa-times-circle" id="closeid"></i>
            </p>
            <div class="panel">
                <div class="panel-body panel-body.city-off">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">Coordinator</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="ddlcoordname" class="form-control select2-single select2-hidden-accessible"
                                        data-select2-id="select2-1" tabindex="1" aria-hidden="true">
                                        <option data-select2-id="ALL">ALL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">From Date</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtfromdate" tabindex="4" placeholder="From Date" style="width: 100%!important;">
                                        <select class="poscls" tabindex="5" id="fromhrs_ids"></select>
                                        <select class="poscls" tabindex="6" id="fromMin_ids"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: -16px;">
                                <div class="col-sm-4">
                                    <label for="userName">Product</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="ddlPrdname" onchange="checkproduct(this.id)" class="form-control select2-single select2-hidden-accessible"
                                        data-select2-id="select2-1" tabindex="15" aria-hidden="true" style="width: 100%">
                                        <option data-select2-id="A" value="A">AIRLINE</option>
                                        <option data-select2-id="H" value="H">HOTEL</option>
                                        <option data-select2-id="I" value="I">INSURANCE</option>
                                        <option data-select2-id="B" value="B">BUS</option>
                                        <option data-select2-id="C" value="C">CAR</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" id="checkcalltype">
                                <div class="col-sm-4">
                                    <label for="userName">Call Type</label>
                                </div>
                                <div class="col-sm-8 ">
                                    <div class="row labchk row0">
                                        <label style="position: relative;">
                                            <input type="radio" name="optionsRadios1" id="rdoincoming" checked="checked" value="option2">
                                            Incoming
                                        </label>
                                        <label style="position: relative; right: -9px;">
                                            <input type="radio" name="optionsRadios1" id="rdooutgoing" value="option2">
                                            Outgoing
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row udk-show-data" id="checkairporttype">
                                <div class="col-sm-4">
                                    <label for="userName">Airport Type</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row labchk row0">
                                        <label style="position: relative;">
                                            <input type="radio" name="optionsRadios2" id="rdodomestic" checked="checked" value="option3">
                                            Domestic
                                        </label>
                                        <label style="position: relative; right: -9px;">
                                            <input type="radio" name="optionsRadios2" id="rdointernational" value="option3">
                                            International
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row udk-hide-data row0" id="pnrdetails">
                                <div class="col-sm-12">
                                    <div class="row labchk">
                                        <label>
                                            <input type="radio" name="optionsRadios" checked id="rdoSPNR" value="option2">
                                            S PNR
                                        </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="rdoAIRLINR" value="option2">
                                            Airline PNR
                                        </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="rdoCRS" value="option2">
                                            CRS PNR
                                        </label>
                                        <input type="text" class="form-control" id="txtPNR" maxlength="8" placeholder="S PNR">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">Mobile No</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control udk-clear-cls" id="txtmobileno" maxlength="10" tabindex="2" onkeypress="javascript:return isNumericVal(event);" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">To Date</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txttodate" placeholder="To Date" tabindex="7">
                                    <select class="poscls" id="tohrs_ids" tabindex="8"></select>
                                    <select class="poscls" id="toMin_ids" tabindex="9"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">Call Category</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="ddlCllCatname" onchange="Callcategoryname(this.id)" class="form-control select2-single select2-hidden-accessible udk-clear-cls"
                                        data-select2-id="select2-1" tabindex="16" aria-hidden="true">
                                        <option data-select2-id="" value="0">--Select--</option>
                                        <option data-select2-id="4" value="4">Enquiry</option>
                                        <option data-select2-id="1" value="1">Booking</option>
                                        <option data-select2-id="2" value="2">Booked History</option>
                                        <option data-select2-id="3" value="3">Cancellation</option>
                                        <option data-select2-id="5" value="5">Finance</option>
                                        <option data-select2-id="6" value="6">Follow-up</option>
                                        <option data-select2-id="7" value="7">General/Courtesy call</option>
                                        <option data-select2-id="8" value="8">Other</option>
                                        <option data-select2-id="9" value="9">Reschedule</option>
                                        <option data-select2-id="10" value="10">View PNR</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">Call Detail</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form-control udk-clear-cls" id="txtcalldetails" tabindex="18" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName">Email Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control udk-clear-cls" id="txtEmailid" tabindex="3" maxlength="150" onkeypress="javascript:return ValidateEmailtxt(event);" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="userName" style="white-space: nowrap">Reminder Date</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control flt-lft" id="txtreminderdate" tabindex="12" placeholder="Reminder Date"
                                        disabled>
                                    <input type="checkbox" id="chkreminderdate" class="flt-lft">
                                    <select class="poscls" id="hrs_ids" tabindex="13" disabled></select>
                                    <select class="poscls" id="Min_ids" tabindex="14" disabled></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-xs-12">
                                    <label for="userName">Call Status</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="ddlCALLSTUSname" onchange="validatestatus(this.id)" class="form-control select2-single select2-hidden-accessible udk-clear-cls"
                                        data-select2-id="select2-1" tabindex="17" aria-hidden="true">
                                        <option value="" data-select2-id="">--Select--</option>
                                        <option value="1" data-select2-id="1">OPEN</option>
                                        <option value="5" data-select2-id="5">BOOKED</option>
                                        <option value="2" data-select2-id="2">CLOSED</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row udk-hide-data" id="callerdetails">
                                <div class="col-sm-4 col-xs-12">
                                    <label for="userName">Call ID</label>
                                    <input type="checkbox" id="chkcallid">
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <div class="form-control" style="height: 88px;" id="calliddetails"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-2 col-xs-12">
                    <div class="row udk-hide-data" id="bookingenginedetails">
                        <button type="button" id="btnBkk" class="btn btnNJumP">
                            Jump to Booking Engine</button>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 col0">
                    <button type="button" id="btnsave" class="btn btnNADDSave flt-lft" onclick="submitenquiry();">
                        Save</button>
                    <button type="button" id="btnupdate" class="btn btnNADDSave udk-hide-data flt-lft" onclick="updateenquiry();">
                        Update</button>
                    <button type="button" class="btn btnAddcalCLR flt-lft">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-Enquiry-Details" class="modal in" aria-hidden="false">
    <div class="modal-dialog" style="width: 80%; top: 12%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal"
                    style="margin-top: -6px;">
                    <span aria-hidden="true">&times;</span></button>@*<br /> kalai *@
                <h4 class="modal-title custom_align stylishHeader">Enquiry Details</h4>
            </div>
            <div class="modal-body columns pad-10" style="overflow: auto;" id="enquirydetails">
            </div>
        </div>
    </div>
</div>

<script>

    var NOimage = "@Url.Content("~/Images/Riya_BOA/nodata.png")";
    var sessionEXP = "@Url.Action("SessionExp", "Redirect")";
    var Username = "@Session["UserName"]" != null ? "@Session["UserName"]" : "";

    $(document).ready(function () {
        

        var Date_start = '@ViewBag.ServerDateTime';
        Date_start = Date_start.split('/');
        var Totyear = Date_start[0] + "/" + Date_start[1] + "/" + Date_start[2];

        var Newday = Totyear.split("/")[0];
        var NewMonth = Totyear.split("/")[1];
        var NewYear = Totyear.split("/")[2];
        NewYear = parseInt(NewYear) - 50;
        var Olddate = Newday + "/" + NewMonth + "/" + NewYear;


        //$("#txtfromdate,#txtmtodate,#txtmfromdate").Zebra_DatePicker({
        //    format: 'd/m/Y',
        //    default_position: "below",
        //    readonly_element: false,
        //    direction: [Olddate, Totyear],
        //    start_date: Totyear,
        //    onSelect: function (view, elements) {
        //        
        //        var ids = this
        //        var newidval = ids[0].id;
        //        $("#txttodate").Zebra_DatePicker('destroy');
        //        $("#txttodate").Zebra_DatePicker({
        //            format: 'd/m/Y',
        //            default_position: "below",
        //            readonly_element: false,
        //            direction: [$("#txtfromdate").val(), Totyear]
        //        });
        //        datacle(newidval);
        //    },
        //});
        //$("#txtreminderdate").Zebra_DatePicker({
        //    format: 'd/m/Y',
        //    default_position: "below",
        //    readonly_element: false,
        //    direction: [$("#txtfromdate").val(), Totyear]
        //});

        $("#txtfromdate,#txtmtodate,#txtmfromdate").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: Olddate,
            maxDate: Totyear,
            start_date: Totyear,
            changeMonth: true,
            changeYear: true,
            onSelect: function (view, elements) {
                
                var newidval = elements.id;
                $("#txttodate").datepicker('destroy');
                $("#txttodate").datepicker({
                    dateFormat: "dd/mm/yy",
                    minDate: $("#txtfromdate").val(),
                    maxDate: Totyear,
                    changeMonth: true,
                    changeYear: true,
                });
                datacle(newidval);
            },
        });

        $("#txtreminderdate").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: $("#txtfromdate").val(),
            maxDate: Totyear,
            changeMonth: true,
            changeYear: true,
        });

        $("#currentdate").html(Totyear);
        $("#txtfromdate").val(Totyear);
        $("#txttodate,#txtreminderdate").val(Totyear);
        TOP5ReminderBuild();
        hrsmin()
    });



    var chectstu = false;
    $("#btn_more").click(function () {

        $("#moreDT").slideToggle("slow");
        if (chectstu == false) {
            $("#btn_more").val("Hide");
            chectstu = true;
        } else {
            $("#btn_more").val("More");
            chectstu = false;
        }

    });

    $("#chkreminderdate").change(function () {
        if ($("#chkreminderdate")[0].checked == true) {
            $("#txtreminderdate").prop("disabled", false);
            $("#hrs_ids").prop("disabled", false);
            $("#Min_ids").prop("disabled", false);
        } else {
            $("#txtreminderdate").prop("disabled", true);
            $("#hrs_ids").prop("disabled", true);
            $("#Min_ids").prop("disabled", true);
        }
    });

    $("#btnnewcall").click(function () {
        if ($("#ddlclientname").val() == null || $("#ddlclientname").val() == "") {
            //Lobibox.alert('warning', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: "please select Corporate Name.",
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //        $("#ddlclientname").focus();
            //    }
            //});
            alert("please select Corporate Name.");
            return false;
        }

        var Coordinatorarydet = $.grep(Coordinatorary, function (n, i) {
            return n.LGN_CORPORATE_ACCESS == $("#ddlclientname").val();
        });

        var SelectedCoordinatordets = $("#ddlcordiname").val();
        if ($('#ddlcoordname_chosen').length) {
            $('#ddlcoordname').chosen('destroy');
        }
        if (Coordinatorarydet.length) {
            var coordinatoroption = "";
            var listofcoordinator = Coordinatorarydet;
            coordinatoroption += '<option value="">--Select--</option>';
            for (var j = 0; j < (listofcoordinator.length) ; j++) {
                coordinatoroption += '<option  data-terminalid=' + listofcoordinator[j]["LGN_TERMINAL_ID"] + ' value=' + listofcoordinator[j]["LGN_EMAILID"] + '>' + listofcoordinator[j]["LGN_TERMINAL_LOGIN_NAME"] + '</option>';
            }
            $("#ddlcoordname").html(coordinatoroption);
            $("#ddlcoordname").val(SelectedCoordinatordets);
            $('#ddlcoordname').chosen();

        } else {
            var coordinatoroption = "";
            var listofcoordinator = Coordinatorary;
            coordinatoroption += '<option value="">--Select--</option>';
            for (var j = 0; j < (listofcoordinator.length) ; j++) {
                coordinatoroption += '<option  data-terminalid=' + listofcoordinator[j]["LGN_TERMINAL_ID"] + ' value=' + listofcoordinator[j]["LGN_EMAILID"] + '>' + listofcoordinator[j]["LGN_TERMINAL_LOGIN_NAME"] + '</option>';
            }
            $("#ddlcoordname").html(coordinatoroption);
            $("#ddlcoordname").val(SelectedCoordinatordets);
            $('#ddlcoordname').chosen();
        }


        $("#btnsave").addClass("udk-show-data")
        $("#openenquirydetails").hide();
        $("#Div_Main_Data_Tabecrm").hide();
        $("#Loadpagedetails").hide();
        $("#moreDT").hide();
        $("#divaddnewcallenqdet").slideToggle("slow");
        $("#ddlCALLSTUSname").html("<option value='1'>Open</option>")
        $("#txtcalldetails").val(" ");
        $("#ddlCllCatname").val("0")
        $(".udk-show-data").hide();
        $("#txtmobileno").val("")
        $("#txtEmailid").val("");
        $("#callerdetails").addClass("udk-hide-data");

        if (SelectedCoordinatordets != "ALL" && SelectedCoordinatordets != "") {
            var Coordinatorarydets = $.grep(Coordinatorary, function (n, i) {
                return n.LGN_EMAILID == $("#ddlcordiname").val();
            });
            if (Coordinatorarydets.length) {
                
                $("#txtmobileno").val(Coordinatorarydets[0]["LGN_MOBILE_NUMBER"]);
                $("#txtEmailid").val(Coordinatorarydets[0]["LGN_EMAILID"]);
            }
        }
    });


    $("#ddlcoordname").change(function () {

        var Coordinatorarydets = $.grep(Coordinatorary, function (n, i) {
            return n.LGN_EMAILID == $("#ddlcoordname").val();
        });
        if (Coordinatorarydets.length) {
            
            $("#txtmobileno").val(Coordinatorarydets[0]["LGN_MOBILE_NUMBER"]);
            $("#txtEmailid").val(Coordinatorarydets[0]["LGN_EMAILID"]);
        }

    });


    $("#btnclear").click(function () {
        $("#moreDT").hide();
        $("#Div_Main_Data_Tabecrm").hide();
        $("#Div_Main_Data_FullTabecrm").hide();
        $("#divaddnewcallenqdet").hide();
        if ($("#ddlbranch_chosen").length > 0) {
            $("#ddlbranch").chosen("destroy");
        }
        $("#ddlbranch").val("");
        $('#ddlbranch').chosen();
        if ($("#ddlclientname_chosen").length > 0) {
            $("#ddlclientname").chosen("destroy");
        }
        $("#ddlclientname").val("");
        $('#ddlclientname').chosen();
        $(".udk-clear-cls").val("");
        $("#imgreminderimg").show();
        $(".no-reminder-found").show();
        $(".form-group.has-success").hide();
    });

    $("#closeid").click(function () {
        $("#Div_Main_Data_Tabecrm").show("slow");
        $("#Loadpagedetails").show("slow");
        $("#divaddnewcallenqdet").slideToggle("slow");
    });

    $("#btnAddcalCLR").click(function () {
        $(".form-control").val("");
    });

    $("#ddlclientname").change(function () {
        
        if ($('#ddlbranch_chosen').length) {
            $('#ddlbranch').chosen('destroy');
        }

        var Branchid = $(this).find(':selected').attr('data-branchid')
        $("#ddlbranch").val(Branchid);
        $('#ddlbranch').chosen();

        Allvpnrrequestdetails()
        
        if ($('ddlcordiname_chosen').length) {
            $('#ddlcordiname').chosen('destroy');
        }

        var Coordinatorarydet = $.grep(Coordinatorary, function (n, i) {
            return n.LGN_CORPORATE_ACCESS == $("#ddlclientname").val();

        });
        if (Coordinatorarydet.length) {
            var coordinatoroption = "";
            var listofcoordinator = Coordinatorarydet;
            coordinatoroption += '<option value="">--Select--</option>';
            for (var j = 0; j < (listofcoordinator.length) ; j++) {
                coordinatoroption += '<option  data-terminalid=' + listofcoordinator[j]["LGN_TERMINAL_ID"] + ' value=' + listofcoordinator[j]["LGN_EMAILID"] + '>' + listofcoordinator[j]["LGN_TERMINAL_LOGIN_NAME"] + '</option>';
            }
            $("#ddlcordiname").html(coordinatoroption);
            $('#ddlcordiname').chosen();

        } else {
            var coordinatoroption = "";
            var listofcoordinator = Coordinatorary;
            coordinatoroption += '<option value="">--Select--</option>';
            for (var j = 0; j < (listofcoordinator.length) ; j++) {
                coordinatoroption += '<option  data-terminalid=' + listofcoordinator[j]["LGN_TERMINAL_ID"] + ' value=' + listofcoordinator[j]["LGN_EMAILID"] + '>' + listofcoordinator[j]["LGN_TERMINAL_LOGIN_NAME"] + '</option>';
            }
            $("#ddlcordiname").html(coordinatoroption);
            $('#ddlcordiname').chosen();
        }

    });
    $("#ddlbranch").change(function () {
        
        var BranchId_det = $("#ddlbranch").val();
        if (jsonRes.length) {
            var clientoption = "";

            var listofclient = $.grep(jsonRes, function (n, i) {
                return n.BID == BranchId_det;
            });
            if (BranchId_det == "") {
                listofclient = jsonRes;
            }
            if ($('#ddlclientname_chosen').length) {
                $('#ddlclientname').chosen('destroy');
            }

            clientoption += '<option data-select2-id="" value="">--Select--</option>';
            for (var j = 0; j < (listofclient.length) ; j++) {
                clientoption += '<option  data-branchid=' + listofclient[j]["BID"] + ' value=' + listofclient[j]["CLTCODE"] + '>' + listofclient[j]["CLTNAME"] + '</option>';
            }
            $("#ddlclientname").html(clientoption);
            $('#ddlclientname').chosen();
        }

    });


    $(window).load(function () {
        
        GetDBData();
    });

    function checkproduct(arg) {
        
        if ($("#" + arg).val() == "A") {
            $("#checkairporttype").addClass("udk-show-data");
            $("#checkairporttype").removeClass("udk-hide-data");
        } else {
            $("#checkairporttype").removeClass("udk-show-data");
            $("#checkairporttype").addClass("udk-hide-data");
        }
    }

    function validatestatus(arg) {
        
        if ($("#" + arg).val() == "1") {
            $("#callerdetails").addClass("udk-hide-data");
            $("#callerdetails").removeClass("udk-show-data");

            $("#btnupdate").addClass("udk-hide-data");
            $("#btnupdate").removeClass("udk-show-data");

            $("#btnsave").removeClass("udk-hide-data");
            $("#btnsave").addClass("udk-show-data");

        }
        else if ($("#" + arg).val() == "5") {
            $("#callerdetails").removeClass("udk-hide-data");
            $("#callerdetails").addClass("udk-show-data");

            $("#btnupdate").removeClass("udk-hide-data");
            $("#btnupdate").addClass("udk-show-data");

            $("#btnsave").addClass("udk-hide-data");
            $("#btnsave").removeClass("udk-show-data");
        }
        else if ($("#" + arg).val() == "2") {
            $("#callerdetails").removeClass("udk-hide-data");
            $("#callerdetails").addClass("udk-show-data");

            $("#btnupdate").removeClass("udk-hide-data");
            $("#btnupdate").addClass("udk-show-data");

            $("#btnsave").addClass("udk-hide-data");
            $("#btnsave").removeClass("udk-show-data");
        }
    }

    function Callcategoryname(arg) {
        
        if ($("#" + arg).val() == "10" || $("#" + arg).val() == "9" || $("#" + arg).val() == "3") {
            $("#pnrdetails").removeClass("udk-hide-data");
            $("#pnrdetails").addClass("udk-show-data");
        } else {
            $("#pnrdetails").addClass("udk-hide-data");
            $("#pnrdetails").removeClass("udk-show-data");
        }
        var selectedType = $("#" + arg).val();
        if (selectedType == "10" || selectedType == "4" || selectedType == "1" || selectedType == "2" || selectedType == "3" || selectedType == "9") {
            $("#bookingenginedetails").removeClass("udk-hide-data");
            $("#bookingenginedetails").addClass("udk-show-data");
        } else {
            $("#bookingenginedetails").addClass("udk-hide-data");
            $("#bookingenginedetails").removeClass("udk-show-data");
        }

        if ($("#" + arg).val() == "2") {
            $("#btnBkk").html("Jump to Booked History");
        }
        else if ($("#" + arg).val() == "3") {
            $("#btnBkk").html("Jump to Cancellation");
        }
        else if ($("#" + arg).val() == "10") {
            $("#btnBkk").html("Jump to View PNR")
        }
        else if ($("#" + arg).val() == "9") {
            $("#btnBkk").html("Jump to Reschedule PNR")
        }
        else if ($("#" + arg).val() == "1") {
            $("#btnBkk").html("Jump to Booking ")
        }
        else if ($("#" + arg).val() == "4") {
            $("#btnBkk").html("Jump to Enquiry ")
        }

    }


    $("#btnBkk").click(function () {
        
        var selectedclient = $('#ddlclientname').val();
        var selectedsectors = "";//$("#" + arg).data("sectordet");
        var Enqid = $("body").data("EnquiryID");
        var call_id = "";
        var segment = $("#rdodomestic")[0].checked == true ? "D" : "I";
        $(".chkbx").each(function () {
            var ids = this.id;
            var splidid = ids.split('_')[1]
            if ($("#" + ids).prop("checked") == true) {
                call_id += $("#chkboxlabel_" + splidid).html() + "_"
            }
        });
        
        if ($("#ddlCllCatname").val() == "2") {
            window.location.href = "@Url.Action("AirBookedHistory", "AfterBooking")" + "?SelectClient=" + selectedclient + "&Sectors=" + selectedsectors;
        } else if ($("#ddlCllCatname").val() == "3") {
            window.location.href = "@Url.Action("AirBookedHistory", "AfterBooking")" + "?SelectClient=" + selectedclient + "&Sectors=" + selectedsectors;
        }
        else if ($("#ddlCllCatname").val() == "4") {
            window.location.href = "@Url.Action("Flights", "Flights")" + "?SelectClient=" + selectedclient + "&Sectors=" + selectedsectors + "&Enquiry=" + Enqid + "&CHk_selectCallid=" + call_id + "&CRMFLAG=N" + "&Segment=" + segment;
        }
        else if ($("#ddlCllCatname").val() == "1") {
            window.location.href = "@Url.Action("Flights", "Flights")" + "?SelectClient=" + selectedclient + "&Sectors=" + selectedsectors + "&Enquiry=" + Enqid + "&CHk_selectCallid=" + call_id + "&CRMFLAG=N" + "&Segment=" + segment;
        }
        else if ($("#ddlCllCatname").val() == "10") {
            window.location.href = "@Url.Action("AirBookedHistory", "AfterBooking")" + "?SelectClient=" + selectedclient + "&Sectors=" + selectedsectors;
        }
        else if ($("#ddlCllCatname").val() == "9") {
            window.location.href = "@Url.Action("AirBookedHistory", "AfterBooking")" + "?SelectClient=" + selectedclient + "&Sectors=" + selectedsectors;
        }

    });

function redirectavailability(arg) {
    
    var selectedclient = $("#" + arg).data("selectedclient");
    var selectedsectors = $("#" + arg).data("sectordet");
    var ENQid = $("body").data("EnquiryID");
    var Callid = $("#" + arg).data("callids");
    window.location.href = "@Url.Action("Flights", "Flights")" + "?SelectClient=" + selectedclient + "&" + selectedsectors + "&Enquiry=" + ENQid + "&Callid=" + Callid + "&CRMFLAG=Y";
    }

    function submitenquiry() {
        if (validatevalues()) {
            
            var Coordinator = $("#ddlcoordname").val();
            var MobileNo = $("#txtmobileno").val();
            var EmailId = $("#txtEmailid").val();
            //var FromDate = $("#txtfromdate").val();
            //var ToDate = $("#txttodate").val();
            var splitfromdate = $("#txtfromdate").val().split("/");
            splitfromdate = splitfromdate[1] + "/" + splitfromdate[0] + "/" + splitfromdate[2];
            var splittoDate = $("#txttodate").val().split("/");
            splittoDate = splittoDate[1] + splittoDate[0] + splittoDate[2];
            var ToDate = splittoDate + " " + $("#fromhrs_ids").val() + ":" + $("#fromMin_ids").val();
            var FromDate = splitfromdate + " " + $("#tohrs_ids").val() + ":" + $("#toMin_ids").val();
            var splitReminderDate = $("#txtreminderdate").val().split("/");
            splitReminderDate = splitReminderDate[1] + "/" + splitReminderDate[0] + "/" + splitReminderDate[2];
            var ReminderDate = splitReminderDate + " " + $("#hrs_ids").val() + ":" + $("#Min_ids").val();
            var Product = $("#ddlPrdname").val();
            var CallCategory = $("#ddlCllCatname").val();
            var CallStatus = $("#ddlCALLSTUSname").val();
            var CallType = $("#rdoincoming")[0].checked == true ? "I" : "O";
            var AirportType = $("#rdodomestic")[0].checked == true ? "D" : "I";
            var CallDetail = $("#txtcalldetails").val();
            var SaveDetails = "USR";
            var PnrDet = "";
            if (CallCategory == "V" || CallCategory == "R" || CallCategory == "C") {
                PnrDet = "";
            }
            var param = {
                ENQUIRY_ID: $("body").data("EnquiryID"),
                PAX_MOBILE_NO: MobileNo,
                PAX_EMAIL_ID: EmailId,
                CLIENT_TYPE: "",
                CLIENT_CODE: $("#ddlclientname").val(),
                COORDINATOR_ID: Coordinator,
                PRODUCT: Product,
                AIRPORT_TYPE: AirportType,
                CALL_TYPE: CallType,
                CUST_TYPE: CallType,
                LANGUAGE: "",
                CUST_RATING: "",
                FORWARD_DEPT: "",
                CALL_FROMDATE: FromDate,
                CALL_TODATE: ToDate,
                CALL_FROM: FromDate,
                CALL_TO: ToDate,
                REMAINDER_DATE: ReminderDate,
                CALL_CATEGORY: CallCategory,
                REMARKS: "",
                BranchId: $("#ddlbranch").val(),
                Status: CallStatus,
                SaveDetails: SaveDetails,
                Username: Username

            };

            $.blockUI({
                message: '<img alt="Please Wait..." src="@Url.Content("~/Img/RoundWait.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $.ajax({
                url: "@Url.Action("InsertEnquirydata", "CRM")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                dataType: "json",
                async: true,
                type: "POST",
                success: function (data) {
                    $.unblockUI();

                    if (data.Status == "-1") {
                        window.location.href = sessionEXP;
                    }
                    else if (data.Status == "01") {
                        //Lobibox.alert('success', {   //eg: 'error' , 'success', 'info', 'warning'
                        //    msg: "Call Saved Successfully -" + data.Result,
                        //    closeOnEsc: false,
                        //    callback: function ($this, type) {
                        //        $("#closeid").click()
                        //        Allvpnrrequestdetails();
                        //        //TOP5ReminderBuild();
                        //    }
                        //});
                        alert("Call Saved Successfully -" + data.Result);
                        $("#closeid").click()
                        Allvpnrrequestdetails();
                    } else {
                        if (data.Message != "") {
                            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                            //    msg: data.Message,
                            //    closeOnEsc: false,
                            //    callback: function ($this, type) {
                            //    }
                            //});
                            alert(data.Message);
                        } else {
                            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                            //    msg: "Problem occured while inserting enquiry , Please contact customer care.(#SC-02)",
                            //    closeOnEsc: false,
                            //    callback: function ($this, type) {
                            //    }
                            //});
                            alert("Problem occured while inserting enquiry , Please contact customer care.(#SC-02)");
                        }

                        return false;
                    }
                    
                },
                error: function (e) {
                    $.unblockUI();
                    //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                    //    msg: "Problem occured while inserting enquiry , Please contact customer care.(#SC-02)",
                    //    closeOnEsc: false,
                    //    callback: function ($this, type) {
                    //    }
                    //});
                    alert("Problem occured while inserting enquiry , Please contact customer care.(#SC-02)");
                }
            });

        }
    }

    function updateenquiry() {


        if (validatevalues()) {

            var Coordinator = $("#ddlcoordname").val();
            var MobileNo = $("#txtmobileno").val();
            var EmailId = $("#txtEmailid").val();
            //var FromDate = $("#txtfromdate").val();
            //var ToDate = $("#txttodate").val();
            var splitfromdate = $("#txtfromdate").val().split("/");
            splitfromdate = splitfromdate[1] + "/" + splitfromdate[0] + "/" + splitfromdate[2];
            var splittoDate = $("#txttodate").val().split("/");
            splittoDate = splittoDate[1] + splittoDate[0] + splittoDate[2];
            var ToDate = splittoDate + " " + $("#fromhrs_ids").val() + ":" + $("#fromMin_ids").val();
            var FromDate = splitfromdate + " " + $("#tohrs_ids").val() + ":" + $("#toMin_ids").val();
            var splitReminderDate = $("#txtreminderdate").val().split("/");
            splitReminderDate = splitReminderDate[1] + "/" + splitReminderDate[0] + "/" + splitReminderDate[2];
            var ReminderDate = splitReminderDate + " " + $("#hrs_ids").val() + ":" + $("#Min_ids").val();
            var Product = $("#ddlPrdname").val();
            var CallCategory = $("#ddlCllCatname").val();
            var CallStatus = $("#ddlCALLSTUSname").val();
            var CallType = $("#rdoincoming")[0].checked == true ? "I" : "O";
            var AirportType = $("#rdodomestic")[0].checked == true ? "D" : "I";
            // var CallDetail = $("#txtcalldetails").val();
            var calldetail = "";
            $(".chkbx").each(function () {
                var ids = this.id;
                var splidid = ids.split('_')[1]
                if ($("#" + ids).prop("checked") == true) {
                    calldetail += $("#chkboxlabel_" + splidid).html() + ","
                }
            });
            var PnrDet = "";
            if (CallCategory == "V" || CallCategory == "R" || CallCategory == "C") {
                PnrDet = "";
            }
            var param = {
                ENQUIRY_ID: $("body").data("EnquiryID"),
                Call_ID: calldetail,
                Status: $("#ddlCALLSTUSname").val(),
                PAX_MOBILE_NO: MobileNo,
                PAX_EMAIL_ID: EmailId,
                CLIENT_TYPE: "",
                CLIENT_CODE: $("#ddlclientname").val(),
                COORDINATOR_ID: Coordinator,
                PRODUCT: Product,
                AIRPORT_TYPE: AirportType,
                CALL_TYPE: CallType,
                CUST_TYPE: CallType,
                LANGUAGE: "",
                CUST_RATING: "",
                FORWARD_DEPT: "",
                CALL_FROMDATE: FromDate,
                CALL_TODATE: ToDate,
                CALL_FROM: FromDate,
                CALL_TO: ToDate,
                REMAINDER_DATE: ReminderDate,
                CALL_CATEGORY: CallCategory,
                REMARKS: $("#txtcalldetails").val() + "," + calldetail,
                BranchId: $("#ddlbranch").val(),
                SaveDetails: "USR",
                BranchId: $("#ddlbranch").val(),
                Username: Username

            };

            $.blockUI({
                message: '<img alt="Please Wait..." src="@Url.Content("~/Img/RoundWait.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $.ajax({
                url: "@Url.Action("UpdateEnquiry", "CRM")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                dataType: "json",
                async: true,
                type: "POST",
                success: function (data) {
                    $.unblockUI();
                    

                    if (data.Status == "-1") {
                        window.location.href = sessionEXP;
                    }

                    else if (data.Status == "01") {
                        //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                        //    msg: 'Call detail update successfully -' + data.Result,
                        //    closeOnEsc: false,
                        //    callback: function ($this, type) {
                        //        $("#closeid").click()
                        //        Allvpnrrequestdetails();
                        //    }
                        //});
                        alert('Call detail update successfully -' + data.Result);
                        $("#closeid").click()
                        Allvpnrrequestdetails();
                    } else {
                        //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                        //    msg: data.Message,
                        //    closeOnEsc: false,
                        //    callback: function ($this, type) {
                        //        $("#closeid").click()
                        //        Allvpnrrequestdetails();
                        //        TOP5ReminderBuild();
                        //    }
                        //});
                        alert(data.Message);
                        $("#closeid").click()
                        Allvpnrrequestdetails();
                        TOP5ReminderBuild();
                    }
                },
                error: function (e) {
                    $.unblockUI();
                }
            });

        }

    }


    function validatevalues() {
        
        if ($("#ddlcoordname").val() == null || $("#ddlcoordname").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select Coordinator',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select Coordinator');
            return false;
        } else if ($("#txtmobileno").val() == null || $("#txtmobileno").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Enter Mobile No.',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Enter Mobile No.');
            return false;
        }
        else if ($("#txtfromdate").val() == null || $("#txtfromdate").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select From date.',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select From date.');
            return false;
        }
        else if ($("#txttodate").val() == null || $("#txttodate").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select To date.',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select To date.');
            return false;
        }
        else if ($("#txtreminderdate").val() == null || $("#txtreminderdate").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select Reminder date.',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select Reminder date.');
            return false;
        }
        else if ($("#ddlPrdname").val() == null || $("#ddlPrdname").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select Product Type .',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select Product Type .');
            return false;
        }
        else if ($("#ddlCllCatname").val() == null || $("#ddlCllCatname").val() == "0") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select Call Category .',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select Call Category .');
            return false;
        }
        else if ($("#txtcalldetails").val() == null || $("#txtcalldetails").val().trim() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Enter Call Details .',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Enter Call Details .');
            return false;
        }
        if ($("#ddlcoordname").val() == null || $("#ddlcoordname").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select Coordinator',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select Coordinator');
            return false;
        }
        else if ($("#ddlCALLSTUSname").val() == null || $("#ddlCALLSTUSname").val() == "") {
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'Please Select Call Status .',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('Please Select Call Status .');
            return false;
        }

        if ($("#ddlCALLSTUSname").val() == "5") {
            var flag = false;
            $(".chkbx").each(function () {
                var ids = this.id;
                if ($("#" + ids).prop("checked") == true) {
                    flag = true

                    return false;
                } else {
                    flag = false
                }
            });
            if (flag == false) {
                //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                //    msg: 'Please Select Call ID .',
                //    closeOnEsc: false,
                //    callback: function ($this, type) {
                //    }
                //});
                alert('Please Select Call ID .');
                return false;
            }
        }

        return true;
    }

    var jsonRes = [];
    var Branchary = [];
    var Coordinatorary = [];
    function GetDBData() {
        
        jsonRes = [];
        var BranchID = "";
        var flag = "";
        $.blockUI({
            message: '<img alt="Please Wait..." src="@Url.Content("~/Img/RoundWait.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        var position = "";
        var param = { frmDt: "", toDt: "", Branchid: BranchID, flag: flag, ClientID: "", Loginname: "", Sector: "", Flowtype: "T" }
        $.ajax({
            url: "@Url.Action("GetClientdetails", "HOME")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(param),
            dataType: "json",
            async: true,
            type: "POST",
            success: function (data) {
                
                $.unblockUI();

                if (data.Status == "01") {
                    jsonRes = JSON.parse(data.Result);
                    Branchary = JSON.parse(data.BARRES)
                    Coordinatorary = JSON.parse(data.CoordinatorDet);
                    if ($('#ddlbranch_chosen').length) {
                        $('#ddlbranch').chosen('destroy');
                    }
                    var branchDet = JSON.parse(data.BARRES);
                    var Clientnamme = JSON.parse(data.Result)

                    var CoordinatorDet = JSON.parse(data.CoordinatorDet);

                    if (branchDet.length) {
                        var brnchoption = "";
                        var listofbramch = branchDet;
                        brnchoption += '<option value="">--Select--</option>';
                        for (var i = 0; i < listofbramch.length; i++) {
                            brnchoption += '<option  value=' + listofbramch[i]["BID"] + '>' + listofbramch[i]["BNAME"] + '</option>';
                        }
                        $("#ddlbranch").html(brnchoption);
                        $('#ddlbranch').chosen();
                    }
                    if ($('#ddlclientname_chosen').length) {
                        $('#ddlclientname').chosen('destroy');
                    }

                    if (Clientnamme.length) {
                        var clientoption = "";
                        var listofclient = Clientnamme;
                        clientoption += '<option value="">--Select--</option>';
                        for (var j = 0; j < (listofclient.length) ; j++) {
                            clientoption += '<option  data-branchid=' + listofclient[j]["BID"] + ' value=' + listofclient[j]["CLTCODE"] + '>' + listofclient[j]["CLTNAME"] + '</option>';
                        }
                        $("#ddlclientname").html(clientoption);
                        $('#ddlclientname').chosen();
                    }
                    if ($('ddlcordiname_chosen').length) {
                        $('#ddlcordiname').chosen('destroy');
                    }
                    if (CoordinatorDet.length) {
                        var coordinatoroption = "";
                        var listofcoordinator = CoordinatorDet;
                        coordinatoroption += '<option value="">--Select--</option>';
                        for (var j = 0; j < (listofcoordinator.length) ; j++) {
                            coordinatoroption += '<option  data-terminalid=' + listofcoordinator[j]["LGN_TERMINAL_ID"] + ' value=' + listofcoordinator[j]["LGN_EMAILID"] + '>' + listofcoordinator[j]["LGN_TERMINAL_LOGIN_NAME"] + '</option>';
                        }
                        $("#ddlcordiname").html(coordinatoroption);
                        $('#ddlcordiname').chosen();

                    }

                } else {

                }

            },
            error: function (e) {
                $.unblockUI();
                alert("Internal Error");
            }
        });
    }

</script>
<script>

    $("#Div_Main_Data_Tabecrm").css("display", "none");
    var Commonaryfilter = [];
    var strJsons = "";


    function Allvpnrrequestdetails() {
        


        $.blockUI({
            message: '<img alt="Please Wait..." src="@Url.Content("~/Img/RoundWait.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        var position = "";
        var Clientid = $("#ddlclientname").val();
        var Branchid = $("#ddlbranch").val();
        var param = { strclientID: Clientid, strBranchId: Branchid };
        $.ajax({
            url: "@Url.Action("Fetchenquirydetails", "CRM")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(param),
            dataType: "json",
            async: true,
            type: "POST",
            success: function (data) {
                
                $.unblockUI();

                if (data.Status == "-1") {
                    window.location.href = sessionEXP;
                }
                else if (data.Status == "01") {
                    var dummyloadata = [];
                    if (data.Result.includes("EnquiryDetails")) {
                        dummyloadata = JSON.parse(data.Result).EnquiryDetails;
                        Commonaryfilter = JSON.parse(data.Result).EnquiryDetails;
                        strJsons = JSON.stringify(Commonaryfilter);

                        columngrid(dummyloadata)
                        $("#ddlcallstatus").change();
                    } else {
                        if ($("#crsmanagegrid table").length > 0) {
                            $("#crsmanagegrid").columns("destroy");
                        }
                        $('#crsmanagegrid').css('display', 'none');
                        $('#crsmanagegridNorecord').css('display', 'block');
                        $('#crsmanagegridNorecord').html('<img style="width:auto" src="' + NOimage + '"><h2>No Enquiry Data Found</h2>');
                        $("#Div_Main_Data_Tabecrm").show();
                    }
                    if (data.Result.includes("REMINDERDETAILS")) {
                        var Reminderloadata = JSON.parse(data.Result).REMINDERDETAILS;
                        RemindercolumnsTableBuild(Reminderloadata);

                    } else {
                        $("#Pendingcallscount").html(0);
                        $("#imgreminderimg").show();
                        $(".no-reminder-found").show();
                        $(".form-group.has-success").hide();
                    }
                    //dummyloadata.push({
                    //    Type: "Riya", EnquiryId: "sarath", Date: "barath", AttendedId: "aaaa", ClientId: "dsds", ClientName: "3FL Palm", coordinatorName: "Anil", sector: "-",
                    //    TripType: " - ", status: "open", product: "AIR", remarks: "18/05/2018", category: "Enquiry", segmentType: "Domestic"
                    //})


                } else {
                    $("#imgreminderimg").show();
                    $(".no-reminder-found").show();
                    $(".form-group.has-success").hide();
                }
            },
            error: function (e) {
                $.unblockUI();
            }
        });
    }

    function RemindercolumnsTableBuild(Reminderdet) {
        if ($(".udk-load-reminder-details table").length > 0) {
            $(".udk-load-reminder-details").columns("destroy");

        }
        var itereminder = 0;
        $('.udk-load-reminder-details').columns({
            size: 100,
            data: Reminderdet,
            schema: [
                 {
                     "header": "Status", "key": "RStatus",
                     "condition": function (val, row) {
                         var build = "";
                         var CallID = row.CALL_ID;
                         build = '<div class="columcls check-enquiry-availability"  onclick="updatestatusOff(this.id)" style="cursor: pointer;    background: #3690ff;border-radius: 3px;color: #fff !important;" id="checkavreminderstu_' + itereminder + '" data-selectedclient=' + $("#ddlclientname").val().trim() + ' data-enquiryid=' + val + ' data-callid=' + CallID + '>ON</div>';
                         itereminder++;
                         return build;
                     }
                 },
                 { "header": "Call ID", "key": "CALL_ID" },
                 { "header": "Enquiry ID", "key": "ENQUIRY_ID" },
                 { "header": "Corporate Name", "key": "CUSTOMER_NAME" },
                 { "header": "Mobile No.", "key": "MOBILE_NO" },
                 { "header": "Attended By.", "key": "ATTENDED_BY" },
                 { "header": "Reminder Date.", "key": "REMINDER_DATE" },
                 { "header": "Corporate Id", "key": "CODE" },
            ]
        });
        $("#Pendingcallscount").html(Reminderdet.length);
        $("#imgreminderimg").hide();
        $(".no-reminder-found").hide();
        $(".form-group.has-success").show();

    }

    function updatestatusOff(arg) {
        
        var _udk_updatestatusOff_call = $("#" + arg).data("callid");
        var param = { strBranchid: $("#ddlbranch").val(), strClientid: $("#ddlclientname").val(), strCallid: _udk_updatestatusOff_call };
        $.ajax({
            url: "@Url.Action("UpdateRemindersStu", "CRM")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(param),
            dataType: "json",
            async: true,
            type: "POST",
            success: function (data) {
                

                if (data.Status == "-1") {
                    window.location.href = sessionEXP;
                }
                else if (data.Status == "01") {
                    if (data.Results != "") {

                        var Reminderdet = JSON.parse(data.Results).P_CRM_GET_REMINDER;
                        if (Reminderdet.length > 0) {
                            RemindercolumnsTableBuild(Reminderdet)
                        }

                    }
                } else {
                    //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                    //    msg: "Problem occured while update reminder. Please contact support team (#05).",
                    //    closeOnEsc: false,
                    //    callback: function ($this, type) {
                    //    }
                    //});
                    alert("Problem occured while update reminder. Please contact support team (#05).");
                    $("#Pendingcallscount").html(0);
                    $("#imgreminderimg").show();
                    $(".no-reminder-found").show();
                    $(".form-group.has-success").hide();
                    console.log("Problem occured while update reminder. Please contact support team (#05).")
                }

            },
            error: function () {
                //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                //    msg: data.Message,
                //    closeOnEsc: false,
                //    callback: function ($this, type) {
                //    }
                //});
                alert(data.Message);
            }
        });
    }

    function TOP5ReminderBuild() {

        
        $.ajax({
            url: "@Url.Action("Top5Reminders", "CRM")",
            contentType: "application/json; charset=utf-8",
            //data: JSON.stringify(param),
            dataType: "json",
            async: true,
            type: "POST",
            success: function (data) {
                
                if (data.Status == "-1") {
                    window.location.href = sessionEXP;
                }

                else if (data.Status == "01" && data.Results.includes("P_CRM_GET_TOP5_REMINDER")) {
                    var Reminderdet = JSON.parse(data.Results).P_CRM_GET_TOP5_REMINDER;
                    if (Reminderdet != null && Reminderdet.length > 0) {

                        if ($(".udk-load-reminder-details table").length > 0) {
                            $(".udk-load-reminder-details").columns("destroy");

                        }
                        var itereminder = 0;
                        $('.udk-load-reminder-details').columns({
                            size: 100,
                            data: Reminderdet,
                            //schema: [
                            //     {
                            //         "header": "Status", "key": "RStatus",
                            //         "condition": function (val, row) {
                            //             var build = "";
                            //             var CallID = row.CALL_ID;
                            //             build = '<div class="columcls check-enquiry-availability"  onclick="redirectavailability(this.id)" style="cursor: pointer;" id="checkavreminderstu_' + itereminder + '" data-selectedclient=' + $("#ddlclientname").val().trim() + ' data-enquiryid=' + val + ' data-callid=' + CallID + '>' + val + '</div>';
                            //             itereminder++;
                            //             return build;

                            //         }
                            //     },
                            //     { "header": "Call ID", "key": "CALL_ID" },
                            //     { "header": "Enquiry ID", "key": "ENQUIRY_ID" },
                            //     { "header": "Client Name", "key": "CUSTOMER_NAME" },
                            //     { "header": "Mobile No.", "key": "MOBILE_NO" },
                            //     { "header": "Attended By.", "key": "ATTENDED_BY" },
                            //     { "header": "Reminder Date.", "key": "REMINDER_DATE" },
                            //     { "header": "Client ID", "key": "CODE" },
                            //]
                        });
                        $("#Pendingcallscount").html(Reminderdet.length);

                        $("#imgreminderimg").hide();
                        $(".no-reminder-found").hide();
                        $(".form-group.has-success").show();
                    }
                } else {
                    $("#Pendingcallscount").html(0);
                    $("#imgreminderimg").show();
                    $(".no-reminder-found").show();
                    $(".form-group.has-success").hide();

                }

            },
            error: function (e) {

            }
        });
    }



    function columngrid(dataval) {
        var ite = 0;
        var columdataval = dataval
        if (columdataval != null && columdataval.length > 0 && columdataval != "") {
            $("#Div_Main_Data_Tabecrm").css("display", "block");

            // $('#crsmanagegrid').columns("destroy");

            if ($("#crsmanagegrid table").length > 0) {
                $("#crsmanagegrid").columns("destroy");

            }
            $('#crsmanagegrid').css('display', 'block');
            $('#crsmanagegridNorecord').css('display', 'none');
            var enqid = "";
            $('#crsmanagegrid').columns({
                size: 100,
                data: columdataval,
                schema: [
                { "header": "Type", "key": "SAVE_DETAILS" },
                 {
                     "header": "Enquiry Id", "key": "ENQUIRY_ID",
                     "condition": function (val, row) {
                         var build = "";
                         enqid = val;
                         var statusdet = row.CURRENTSTATUS;
                         var flag = "E"
                         var enquiryids = val;
                         build = '<div class="columcls check-enquiry-details clr-rd"  onclick=showingiddetails(this.id,"E") style="cursor: pointer;" id="checkenquirylst_' + ite + '" data-enquiryid=' + enquiryids + ' data-enquiryidstatus=' + statusdet + '>' + val + '</div>';

                         return build;
                     }
                 },
               { "header": "Date", "key": "ENQ_DATE" },
               { "header": "Attended By", "key": "ATTENDED_BY" },
               { "header": "Corporate Id", "key": "CLIENT_ID" },

                {
                    "header": "Sector", "key": "ORIGIN",
                    "condition": function (val, row) {
                        
                        var build = "";
                        build = val + "-" + row.DESTINATION
                        return build
                    }

                },
                { "header": "Trip Type", "key": "TRIP_TYPE" },
                //{ "header": "Corporate Name", "key": "CLIENT_NAME" },
                {
                    "header": "Status", "key": "CURRENTSTATUS",
                    "condition": function (val, row) {
                        
                        val = val != null ? val : "N/A";
                        var build = "";
                        if (val != "N/A") {
                            build = '<div class="columcls clr-bl" data-enquiryid="' + enqid + '"  data-cordinatorid="' + row.COORDINATOR_ID + '" data-cordinatorname="' + row.COORDINATOR_NAME + '"  data-Mobno="' + row.MOBILE_NO + '" data-Mailid="' + row.MAIL_ID + '"   onclick="showingstatusdetails(this)" style="cursor:pointer;" id="checkenquirylstststus_' + ite + '" >' + val + '</div>';
                            ite++;
                        } return build;
                    }
                },
                        {
                            "header": "Product", "key": "PRODUCT",
                            "condition": function (val, row) {
                                
                                var build = "";
                                //  var checkproduct = val == "A" ? "AIR" : val == "B" ? "BUS" : "CAR";
                                build = '<div>' + checkproduct + '</div>';
                                return val;
                            }
                        },
                    { "header": "Remarks", "key": "REMARKS" },
                    { "header": "Category", "key": "CALL_CATEGORY" },
                    { "header": "Segment Type", "key": "Segment_Type" }
                ]
            });

            $("#opencalls").html(columdataval.length);

            $('.ui-table-footer').css('display', 'none');

        }
        else {

            if ($("#crsmanagegrid table").length > 0) {
                $("#crsmanagegrid").columns("destroy");
            }
            $('#crsmanagegrid').css('display', 'none');
            $('#crsmanagegridNorecord').css('display', 'block');
            $('#crsmanagegridNorecord').html('<img style="width:auto" src="' + NOimage + '">');
            // $("#Div_Main_Data_Tabecrm").css("display", "none");
            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
            //    msg: 'No Record Found.',
            //    closeOnEsc: false,
            //    callback: function ($this, type) {
            //    }
            //});
            alert('No Record Found.');
        }
    }
    function filtercolumn(arg) {
        
        var ids = arg.id;
        var textval = $("#" + ids).val().toUpperCase().trim();
        var filter = "";
        Commonaryfilter = JSON.parse(strJsons);
        filter = jQuery.grep(Commonaryfilter, function (n, i) {
            var idsn = arg.id;
            return (n[idsn].toUpperCase().indexOf(textval) != -1);
        });
        columngrid(filter)
    }

    //function statuschange(arg) {
    //    var selectedStu = $("#" + arg).val() == "1" ? "OPEN" : $("#" + arg).val() == "5" ? "BOOKED" : "CLOSED";
    //    var Commonaryfilterstu = JSON.parse(strJsons);
    //    var udk_grep = $.grep(Commonaryfilterstu, function (n, i)
    //    { return n.CURRENTSTATUS == selectedStu; });

    //    columngrid(udk_grep)
    //}
    var callidary = [];
    function showingiddetails(arg, flag) {
        
        callidary = [];
        try {

            var EnquiryIDS = $("#" + arg).data("enquiryid") != undefined ? $("#" + arg).data("enquiryid") : $("body").data("EnquiryID");
            $("body").data("EnquiryID", EnquiryIDS)
            var EnquiryStatus = $("#" + arg).data("enquiryidstatus");

            $.blockUI({
                //message: '<img alt="Please Wait..." src="@Url.Content("~/img/loading.gif")" id="BookflighLodingImage" />',
                message: '<img alt="Please Wait..." src="@Url.Content("~/Img/RoundWait.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });
        var param = { ClientID: $("#ddlclientname").val().trim(), EnquiryID: EnquiryIDS, EnquiryStatus: EnquiryStatus };

        $.ajax({
            url: "@Url.Action("EnquiryDetails", "CRM")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                dataType: "json",
                async: true,
                type: "POST",
                success: function (data) {
                    $.unblockUI();
                    

                    if (data.Status == "-1") {
                        window.location.href = sessionEXP;
                    }
                    else if (data.Status = "01") {

                        //#region
                        var idsval = flag == "E" ? "enquirydetails" : "openenquirydetails";
                        if (flag == "E") {
                            $("#modal-Enquiry-Details").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        }
                        if ($("#" + idsval + "  table").length > 0) {
                            $("#" + idsval).columns("destroy");
                        }
                        var dummyloadata = [];

                        if ($("#enquirydetails table").length > 0) {
                            $("#enquirydetails").columns("destroy");

                        }
                        if (data.Result != "" && data.Result != null) {
                            dummyloadata = JSON.parse(data.Result).P_FETCH_CRM_ENQUIRY_ID;

                            if (dummyloadata != null && dummyloadata != "" && dummyloadata.length > 0) {
                                $("#" + idsval).show()
                                var iteAvail = 0;
                                $('#' + idsval).columns({
                                    size: 100,
                                    data: dummyloadata,
                                    schema: [

                                        {
                                            "header": "Availability", "key": "Availability",
                                            "condition": function (val, row) {
                                                if (row.Status != "BOOKED") {
                                                    var build = "";
                                                    var sectordet = row.Origin + " - " + row.Destination;
                                                    callidary.push(row["Call ID"] + "_" + row.Status);
                                                    build = '<div class="columcls check-enquiry-availability" data-status="' + row.Status + '" data-callIds="' + row["Call ID"] + '" onclick="redirectavailability(this.id)" style="cursor: pointer;" id="checkavailability_' + iteAvail + '" data-selectedclient=' + $("#ddlclientname").val().trim() + ' data-enquiryid=' + row.ENQUIRY_ID + ' data-sectordet=' + sectordet + '>' + val + '</div>';
                                                    return build;
                                                } else {
                                                    return val;
                                                }
                                                iteAvail++;


                                            }
                                        },


                                    { "header": "Call ID", "key": "Call ID" },
                                    { "header": "Attended By", "key": "Attended By" },
                                    {
                                        "header": "Call Details", "key": "Call Details"
                                    },
                                    { "header": "Corporate Name", "key": "Client Name" },
                                    {
                                        "header": "Coordinator Name", "key": "Coordinator",
                                        "condition": function (val, row) {
                                            val = val != null ? val : "";
                                            return val;
                                        }
                                    },
                                    { "header": "Mobile No.", "key": "Mobile No." },
                                    { "header": "Mail ID", "key": "Mail ID" },
                                    { "header": "Product", "key": "Product" },
                                    { "header": "Airport Type", "key": "Airport Type" },
                                    { "header": "Call Type", "key": "Call Type" },
                                    { "header": "Call Date & Time", "key": "Call Date & Time" },
                                    {
                                        "header": "Reminder Date", "key": "Reminder Date",
                                        "condition": function (val, row) {
                                            val = val != null ? val : "";
                                            return val;
                                        }
                                    },
                                    { "header": "Status", "key": "Status" },
                                    { "header": "Category", "key": "Category" },
                                    { "header": "Origin", "key": "Origin" },
                                    { "header": "Destination", "key": "Destination" },
                                    {
                                        "header": "Dept. Date", "key": "Dept. Date",
                                        "condition": function (val, row) {
                                            val = val != null ? val : "";
                                            return val;
                                        }
                                    },
                                    {
                                        "header": "Arr. Date", "key": "Arr. Date",
                                        "condition": function (val, row) {
                                            val = val != null ? val : "";
                                            return val;
                                        }
                                    },
                                    { "header": "Trip Type", "key": "Trip Type" },
                                    { "header": "Adult Cnt.", "key": "Adult Cnt." },
                                    { "header": "Child Cnt.", "key": "Child Cnt." },
                                    { "header": "Infant Cnt.", "key": "Infant Cnt." },
                                    { "header": "RBD/Class", "key": "RBD/Class" }
                                    ]
                                });

                                $('.ui-table-footer').css('display', 'none');

                            }
                            else {
                                $("#" + idsval).hide()
                                //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                                //    msg: 'No Call Detail Found.',
                                //    closeOnEsc: false,
                                //    callback: function ($this, type) {
                                //    }
                                //});
                                alert('No Call Detail Found.');
                            }
                        }
                        else {
                            alert('No Call Detail Found (#03).');
                        }
                        //#endregion
                        callidbinding()
                    } else {
                        if (data.Message != "") {
                            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                            //    msg: data.Message,
                            //    closeOnEsc: false,
                            //    callback: function ($this, type) {
                            //    }
                            //});
                            alert(data.Message);
                            return false;
                        } else {
                            //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                            //    msg: 'Problem occured while fetch records. Please contact support team (#02).',
                            //    closeOnEsc: false,
                            //    callback: function ($this, type) {
                            //    }
                            //});
                            alert('Problem occured while fetch records. Please contact support team (#02).');
                            return false;
                        }
                    }
                },
                error: function (e) {
                    $.unblockUI();
                    //Lobibox.alert('info', {   //eg: 'error' , 'success', 'info', 'warning'
                    //    msg: 'Problem occured while fetch records. Please contact support team (#SC-02).',
                    //    closeOnEsc: false,
                    //    callback: function ($this, type) {
                    //    }
                    //});
                    alert('Problem occured while fetch records. Please contact support team (#SC-02).');
                    return false;
                }
            });



        } catch (e) {

        }

    }

    function callidbinding() {
        
        var build = "";

        $("#callerdetails").addClass("udk-hide-data")
        $("#callerdetails").removeClass("udk-show-data")
        $("#btnupdate").addClass("udk-hide-data")
        $("#btnupdate").removeClass("udk-show-data")
        var Ids = this.id;
        var curary = callidary
        if (curary.length > 0) {
            for (var i = 0; i < curary.length; i++) {
                if (curary[i].split("_")[1] != "BOOKED") {
                    build += "<input type=checkbox  class='chkbx' id='chk_" + i + "'  onchange='checkboxchg()'; /><label style'position:relative;left:5px;top:5px;' id='chkboxlabel_" + i + "' for='chk_" + i + "' >" + curary[i].split("_")[0] + "</label><br/>"
                }
            }
            $("#calliddetails").html(build)
        } else {
            $("#calliddetails").val(" ");
        }

    }


    //function showingdetails() {
    //    alert("hello")
    //}
    function showingstatusdetails(arg) {
        
        $("#btnnewcall").click();
        var ids = arg.id;
        var txtval = $("#" + ids).html();
        if (txtval == "BOOKED") {
            $("#New_calldiv").hide();
        } else {
            $("#New_calldiv").show();
        }
        var splitids = ids.split("_")[1]
        var mobileno = $("#" + ids).data("mobno")
        var Emilid = $("#" + ids).data("mailid")
        var cordID = $("#" + ids).data("cordinatorid")
        var cordname = $("#" + ids).data("cordinatorname")
        //varcordID
        cordID = cordID != "" ? cordID : "ALL";
        var enquiryid = $("#" + ids).data("enquiryid")
        $("body").data("EnquiryID", enquiryid)

        $("#ddlcoordname").html("<option value=" + cordID + ">" + cordname + "</option>")

        var sk = "";
        sk += '<option value="">Select</option>';
        sk += '<option value="1">Open</option>';
        sk += '<option value="5">Booked</option>';
        sk += '<option value="2">Closed</option>';
        $("#ddlCALLSTUSname").html(sk);
        // $("#ddlCALLSTUSname").html("<option value="">Select</option><option value='1'>Open</option><option value='5'>Booked</option><option value='2'>Closed</option>")
        $("#txtmobileno").val(mobileno);
        $("#txtEmailid").val(Emilid);

        showingiddetails("checkenquirylst_" + splitids, "O");
        //    callidbinding()
    }
    $("#chkcallid").change(function () {
        if ($("#chkcallid").prop("checked") == true) {
            $(".chkbx").prop("checked", true)
        } else {
            $(".chkbx").prop("checked", false)
        }
    })
    function checkboxchg() {
        $(".chkbx").each(function () {

            
            var Ids = this.id;
            if ($("#" + Ids).prop("checked") == true) {
                $("#chkcallid").prop("checked", true)
            } else {
                $("#chkcallid").prop("checked", false)
            }
        });
    }
    $("#ddlcallstatus").change(function () {
        
        var status = $("#ddlcallstatus").val();
        var Curennt = status == "1" ? "OPEN" : status == "5" ? "BOOKED" : status == "2" ? "CLOSED" : "";
        Commonaryfilter = JSON.parse(strJsons);
        var filter = "";
        if (Curennt != "") {
            filter = jQuery.grep(Commonaryfilter, function (n, i) {

                return (n.CURRENTSTATUS == Curennt);
            });
        } else {
            filter = Commonaryfilter
        }
        Curennt = Curennt != "" ? Curennt : "All"
        $("#opencountdetails").html(Curennt + " : " + filter.length)

        columngrid(filter)
    });
    function hrsmin() {
        var s = "";
        for (var i = 0; i < 25; i++) {
            if (i > 9) {
                s += "<option value=" + i + ">" + i + "</option>"
            } else {
                s += "<option value=0" + i + ">0" + i + "</option>"
            }

        }
        $("#hrs_ids").html(s);
        $("#fromhrs_ids").html(s);
        $("#tohrs_ids").html(s);
        var m = "";
        for (var i = 0; i < 61; i++) {
            if (i > 9) {
                m += "<option value=" + i + ">" + i + "</option>"
            } else {
                m += "<option value=0" + i + ">0" + i + "</option>"
            }
        }
        $("#Min_ids").html(m);
        $("#fromMin_ids").html(m);
        $("#toMin_ids").html(m);
    }
    function datacle(data) {
        
        var ids = data;
        var selcdata = $("#" + ids).val()
        $("#txtmtodate").val(selcdata);
        if (strJsons != "" && strJsons != null) {
            Commonaryfilter = JSON.parse(strJsons);
            filter = jQuery.grep(Commonaryfilter, function (n, i) {
                return (n["ENQ_DATE"].indexOf(selcdata) != -1);
            });
            columngrid(filter)
        }
    };

</script>
