@{
    string fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string country_code = System.Configuration.ConfigurationManager.AppSettings["COUNTRY"] != null ? System.Configuration.ConfigurationManager.AppSettings["COUNTRY"].ToString() : "";
    string strAppTheme = ConfigurationManager.AppSettings["apptheme"].ToString();
    string strProduct = ConfigurationManager.AppSettings["Producttype"].ToString();
    string strFavicon = ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProduct + "/favicon.ico?" + strFileversion;
}
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta charset="utf-8" />
    <link rel="icon" href="@strFavicon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/Theme4/Login.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/Component.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" />

    @Styles.Render("~/Content/CommonAllCSS")
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
    <script src="~/js/download.js?@fileversion"></script>
    <script src="~/js/jquery.blockUI.js?@fileversion"></script>
    <style>
        ::-webkit-input-placeholder {
            text-align: left;
            text-transform: initial !important;
            font-size: 10.5px !important;
            font-family: "Poppins", sans-serif !important;
        }

        input:-moz-placeholder {
            text-align: left;
            text-transform: initial !important;
            font-size: 10.5px !important;
            font-family: "Poppins", sans-serif !important;
        }

        .selectplace {
            width: 100%;
            height: 35px;
            border: 1px solid #ddd;
            border-radius: 2px;
            font-size: 12px;
        }

        .dv-field {
            margin: 5px 0px !important;
        }

        .txt-anim:focus ~ .focus-border:before, .txt-anim:focus ~ .focus-border:after {
            left: 16px;
            width: 94%;
        }

        .Coustombtn {
            background-color: #b60026;
            text-shadow: none;
            border: 0px !important;
            border-radius: 3px !important;
            color: #fff;
            margin: 10px 6px;
            height: 34px;
        }

            .Coustombtn:hover {
                background-color: #b60026 !important;
            }

        .position-relative {
            position: relative !important;
        }

        .d-md-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .w3ls_banner_txt {
            padding-top: 7vw;
        }

        h3.w3ls_pvt-title {
            font-size: 3.5rem;
        }

        h3.w3ls_pvt-title {
            font-size: 4rem;
            font-weight: 600;
            color: #202428;
        }

            h3.w3ls_pvt-title span {
                color: #05b993;
            }

        .iziModal-header {
            padding: 5px 20px;
            margin-bottom: 10px;
            background-color: #eaeaea;
            color: #b60026;
        }

        #modal-Agentregister {
            background-color: #fff;
            border-radius: 8px;
            -webkit-box-shadow: 0 2px 5px 0 rgba(19,41,104,.2);
            box-shadow: 0 2px 5px 0 rgba(19,41,104,.2);
            margin-top: 2em;
        }

        p.text-sty-banner {
            font-size: 16px;
            color: #51585f;
            max-width: 800px;
            margin: 20px 0;
        }

        img.shape-w3-one {
            top: 37%;
            position: absolute;
            right: 2%;
            z-index: -1;
        }

        img.shape-w3-two {
            top: 12%;
            position: absolute;
            right: 40%;
            z-index: -1;
        }

        img.shape-w3-three {
            top: 10%;
            position: absolute;
            right: 15%;
            z-index: -1;
        }

        img.shape-w3-four {
            position: absolute;
            top: 30%;
            left: 4%;
            z-index: -1;
        }

        img.shape-w3-five {
            position: absolute;
            bottom: 14%;
            right: 7%;
            z-index: -1;
        }

        img.shape-w3-six {
            position: absolute;
            bottom: 10%;
            left: 50%;
            z-index: -1;
        }

        .shape-wthree {
            -webkit-animation: fa-spin 5s infinite linear;
            -moz-animation: fa-spin 5s infinite linear;
            -ms-animation: fa-spin 5s infinite linear;
            -o-animation: fa-spin 5s infinite linear;
            animation: fa-spin 5s infinite linear;
        }

        @@media (max-width:768px) {
            .dd-pairfield {
                width: 90%;
                margin: 5px 15px !important;
            }

            .banner-img {
                display: none;
            }
        }

        .iziModal-header {
            margin: 0 !important;
        }
         header {
            text-align: center;
            -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 191, 191, 0.54);
            box-shadow: 0px 4px 5px 0px rgba(191, 191, 191, 0.54);
            background: #fbfbfb;
            padding: 0.5em;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo_img">
            <img src="~/Images/@strProduct/Logo_R.png" />
        </div>
    </header>
    <div class="banner_w3lspvt position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="modal-Agentregister" role="dialog">
                        <div class="iziModal-header">
                            <h4 class="iziModal-title" style="text-align: center;">Personal Details</h4>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-12">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="50" onkeypress="return ValidateAlpha(event);" id="txtfirstname" placeholder="First Name*" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-12">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="50" onkeypress="return ValidateAlpha(event);" id="txtlastname" placeholder="Last Name*" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-12">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="20" onkeypress="return isNumericVal(event);" id="txtlandline" placeholder="Land-line Number (Optional)" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-12">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="100" id="txtemailid" placeholder="Email Id*" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-12">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="250" onkeypress="return ValidateSpecialChar(event);" id="txtaddress1" placeholder="Residential / Office Address*" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-12">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="250" onkeypress="return ValidateSpecialChar(event);" id="txtaddress2" placeholder="Address 2" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-6">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="6" onkeypress="return isNumericVal(event);" id="txtpincode" placeholder="Postal code" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-6">
                            <select id="txtstatename" class="selectplace" onchange="Changecity();"></select>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-6">
                            <select id="txtcityname" class="selectplace">
                                <option value="">--Select City--</option>
                            </select>
                        </div>
                        <div class="dv-anim input-effect dv-field col-md-6">
                            <input type="text" class="txt-anim has-content" autocomplete="off" maxlength="10" onkeypress="return isNumericVal(event);" id="txtmobilenumber" placeholder="Mobile Number*" />
                            <span class="focus-border"></span>
                        </div>
                        <div class="iziModal-footer" style="text-align: center;">
                            <div id="dvbutton" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
                                <button class="Coustombtn" onclick="submitdetails()" style="width: 36%;">
                                    Register 
                                    <i id="newagentload" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #fff; display: none; float: right;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-img">
                        <img src="~/Images/@strProduct/Agent/banner.png" alt="" class="img-fluid" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-effects-w3l">
            <img src="~/Images/@strProduct/Agent/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
            <img src="~/Images/@strProduct/Agent/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
            <img src="~/Images/@strProduct/Agent/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
            <img src="~/Images/@strProduct/Agent/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
            <img src="~/Images/@strProduct/Agent/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
            <img src="~/Images/@strProduct/Agent/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
        </div>
    </div>
    <div id="modal-alert" class="iziModal"></div>
</body>
<script>
    $(document).ready(function () {
        var country_code = '@country_code';
        var Statelist = "";
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/XML/State.xml?v=0.1")',
            dataType: "xml",
            success: function (xmlResponse) {
                Statelist += "<option value=''>-- Select State--</option>";
                $(xmlResponse).find('STATE').each(function () {
                    if ($(this).find('COUNTRY_ID').text() == country_code.toUpperCase()) {
                        var stateid = $(this).find('STATE_ID').text();
                        var statename = $(this).find('STATE_NAME').text();
                        Statelist += "<option value=" + stateid + ">" + statename + "</option>";
                    }
                });
                $("#txtstatename").html(Statelist);
            },
            error: function (e) {
            }
        });
    });

    function Changecity() {
        $("#txtcityname option").remove();
        var slctstateid = $('#txtstatename').val();
        var Citylist = "";
        $.ajax({
            url: '@Url.Content("~/XML/City.xml")',
            dataType: "xml",
            success: function (xmlResponse) {
                Citylist += "<option value=''>--Select City--</option>";
                $(xmlResponse).find("CITY").each(function () {
                    var eachstateid = $(this).find('STATE_ID').text();
                    if (slctstateid == eachstateid) {
                        var cityid = $(this).find('CITY_ID').text();
                        var cityname = $(this).find('CITY_NAME').text();
                        Citylist += "<option value=" + cityid + ">" + cityname + "</option>";
                    }
                });
                $("#txtcityname").html(Citylist);
            }

        });
    }
    function submitdetails() {
        try {
            var Name = $("#txtfirstname").val();
            var Lastname = $("#txtlastname").val();
            var Landline = $("#txtlandline").val();
            var Address1 = $("#txtaddress1").val();
            var Address2 = $("#txtaddress2").val();
            var Emailid = $("#txtemailid").val();
            var MobileNumber = $("#txtmobilenumber").val();
            var State = $("select[id=txtstatename] option:selected").val();
            var City = $("select[id=txtcityname] option:selected").val();;
            var pincode = $("#txtpincode").val();

            if (Name == "") {
                alert("Please Enter your First Name");
                $("#txtfirstname").focus();
                return false;
            }
            if (Lastname == "") {
                alert("Please Enter your Last Name.");
                $("#txtlastname").focus();
                return false;
            }

            if (Address1 == "") {
                alert("Please Enter Residential / Office Address");
                $("#txtaddress1").focus();
                return false;
            }
            var filter = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if (Emailid == "") {
                alert("Please Enter Email Id");
                $("#txtemailid").focus();
                return false;
            }
            if (!filter.test(Emailid)) {
                alert("Please Enter Valid Email Id");
                $("#txtemailid").focus();
                return false;
            }
            if (MobileNumber == "") {
                alert("Please Enter  Mobile Number.");
                $("#txtmobilenumber").focus();
                return false;
            }
            if (State == "") {
                alert("Please Select State");
                $("#txtstatename").focus();
                return false;
            }
            if (City == "") {
                alert("Please Select City");
                $("#txtlastname").focus();
                return false;
            }
            if (pincode == "") {
                alert("Please Enter  Pincode.");
                $("#txtlastname").focus();
                return false;
            }
            if (pincode != "" && pincode.length < 6) {
                alert("Please Enter Valid Pincode");
                $("#txtpincode").focus();
                return false;
            }
            if (MobileNumber != "" && MobileNumber.length < 10) {
                alert("Please Enter Valid Mobile Number.");
                $("#txtmobilenumber").focus();
                return false;
            }
            var param = {
                FirstName: Name,
                LastName: Lastname,
                Address1: Address1,
                Address2: Address2,
                StateName: State,
                CityName: City,
                Pincode: pincode,
                MobileNumber: MobileNumber,
                EmailId: Emailid,
                LandLine: Landline
            }
            $('#newagentload').show();
            $.ajax({
                url: "@Url.Action("AgentRegistration", "Login")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                dataType: "json",
                async: true,
                type: "POST",
                success: function (jdata) {
                    $('#newagentload').hide();
                    if (jdata.Result == "1") {
                        ClearAgentdetail();
                        showsuccessmsg(jdata.errMsg);
                    }
                    else {
                        showerralert(jdata.errMsg);
                    }
                }, error: function (e) {
                    alert(e);
                }
            });

        }
        catch (e) {
            console.log(e.message);
        }
    }
    function ClearAgentdetail() {
        $("#txtfirstname").val("");
        $("#txtlastname").val("");
        $("#txtaddress1").val("");
        $("#txtaddress2").val("");
        $("#txtstatename").val("");
        $("#txtcityname").val("");
        $("#txtlandline").val("");
        $("#txtmobilenumber").val("");
        $("#txtpincode").val("");
        $("#txtemailid").val("");
        $('#modal-Agentregister').iziModal('close');
    }
    function showerralert(msg) {
        $('#modal-alert').iziModal('destroy');
        $("#modal-alert").iziModal({
            title: msg,
            icon: 'fa fa-warning',
            headerColor: '#bd5b5b',
            width: "500px"
        });
        $('#modal-alert').iziModal('open');
    }
    function showsuccessmsg(msg) {
        $('#modal-alert').iziModal('destroy');
        $("#modal-alert").iziModal({
            title: msg,
            icon: 'fa fa-warning',
            headerColor: '#3c881dfc',
            width: "600px"
        });
        $('#modal-alert').iziModal('open');
    }

</script>
</html>
