@{
    ViewBag.Title = "Download";
    string fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string app_setup_path = System.Configuration.ConfigurationManager.AppSettings["app_setup_path"] != null ? System.Configuration.ConfigurationManager.AppSettings["app_setup_path"].ToString() : "";
    string _Cntry = System.Configuration.ConfigurationManager.AppSettings["COUNTRY"] != null ? System.Configuration.ConfigurationManager.AppSettings["COUNTRY"].ToString() : "";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta charset="utf-8" content="" />
    <link rel="shortcut icon" href="~/Images/TR_logo.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Images/TR_logo.ico")" />
    <link href="~/Content/CSS/Login/Login_Style.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/Component.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/Colors.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.css?@fileversion" rel="stylesheet" />
    <link href="~/Content/CSS/raysModal.css?@fileversion" rel="stylesheet" />
    <script src="~/js/CommonJS/jquery-1.11.1.js?@fileversion" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js?@fileversion" type="text/javascript"></script>
    <script src="~/js/AppsJS/WebValidation.js?@fileversion"></script>
    <script src="~/js/raysModal.js?@fileversion"></script>
    <script src="~/js/download.js?@fileversion"></script>
    <style>
        .footer {
            background: url(./Images/elements_header_background.png);
        }

            .footer a {
                color: #333;
                font-size: 12px;
                font-weight: 600;
            }

        .agre-title {
            padding: 30px;
            float: left;
            color: #ff7a00;
            font-size: 24px;
            white-space: nowrap;
        }

        .agre-img {
            width: 80px;
        }

        @@media (max-width:787px) {
            .agre-title {
                padding: 0px !important;
                text-align: center;
                color: #ff7a00;
                font-size: 16px !important;
                line-height: 60px;
            }

            .agre-img {
                width: 60px !important;
            }

            #modal-aggremnt .iziModal-content {
                padding: 5px !important;
            }
        }


        @@media (min-width:992px) {
            .line-hight {
                line-height: 64px;
            }
        }

        .leftimage img {
            width: auto;
            height: auto;
            margin-top: 25%;
        }
    </style>
</head>
<body style="overflow-x: hidden;">
    <div id="loginform" class="bg-shape">


        <div class="bg-shape">
        </div>
        <!------------------menu----------------------------->
        <div class="leftimage">
            <img src="@Url.Content("~/Images/Theme4/Logo_R.png")" /></li>
        </div>


        <div class="text">
            The New Way Travel Technology
        </div>

        <div class="menu">
            <ul>
                <li class="color1 marg">
                    <img src="@Url.Content("~/Images/plane.png")" />
                </li>
                <li class="color2">
                    <img src="@Url.Content("~/Images/train.png")" />
                </li>
                <li class="color3">
                    <img src="@Url.Content("~/Images/bus.png")" />
                </li>
                <li class="color1">
                    <img src="@Url.Content("~/Images/car.png")" />
                </li>
                <li class="color2">
                    <img src="@Url.Content("~/Images/pet.png")" />
                </li>
            </ul>
        </div>

        <!------------------End menu----------------------------->

        <div class="loginpanel">




            <div class="logindetails">
                <div class="row row10">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-sm-offset-2 col-xs-12 col-lg-offset-3 col-md-offset-3">
                        <p class="hidden-xs" style="color:#cc4646;">Download</p>
                        <div class="message_wrap">
                            <p class="message">
                                <span id="empty-destination-box" class="error">All field(s) should not be empty.</span>
                                @*<span id="long-stay-box" class="error">Sorry, We don't support stays longer than 30 nights.</span>*@
                            </p>
                        </div>
                        <div class="dv-anim input-effect animationdive" style="">
                            <input class="txt-anim clshideErr" name="username" autocomplete="off" autofocus="autofocus" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="text-transform: uppercase; padding: 0px 0px; width: 100%;    box-shadow: none !important;" placeholder="" id="txt_id" />
                            <label>Terminal&nbsp;ID</label>
                            <span class="focus-border">
                                <i id="iterminalvalidation" class="validationcls"></i>
                            </span>
                        </div>

                        @* Terminal&nbsp;ID
                            <input type="text" name="username" autocomplete="off" autofocus="autofocus" class="username" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="text-transform: uppercase;" placeholder="Terminal ID" id="txt_id"  />*@

                        @* Username &nbsp;<input type="text" name="username" autocomplete="off" class="username" maxlength="25" onkeypress="return ValidateSpecialChar(event);" placeholder="User Name" id="txt_usrnm"  />*@
                        <div class="dv-anim input-effect animationdivuser" style="">
                            <input class="txt-anim clshideErr" name="username" autocomplete="off" autofocus="autofocus" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%;    box-shadow: none !important;" placeholder=" " id="txt_usrnm" />
                            <label>Username &nbsp;</label>
                            <span class="focus-border">
                                <i id="iusernamevalidation" class="validationcls"></i>
                            </span>
                        </div>

                        @*Password &nbsp;<input type="password" maxlength="15" name="password" onkeypress="return AvoidSpace();" class="password" placeholder="Password" id="txt_passwd"  />*@
                        <div class="dv-anim input-effect animationdive" style="">
                            <input class="txt-anim clshideErr" type="password" name="username" autocomplete="off" autofocus="autofocus" maxlength="25" onkeypress="return AvoidSpace(event,'caps','spnCapslock');" onkeydown="if (event.keyCode == 13) document.getElementById('get_download').click()" id="txt_passwd" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" />
                            <label>Password &nbsp;</label>
                            <span class="focus-border">
                                <i id="ipasswordvalidation" class="validationcls"></i>
                            </span>

                            <span class="spneye" onclick="ShowHidePassword('txt_passwd')"><i class="fa fa-eye"></i></span>
                        </div>
                        <div style="float:left; width:100%;"><span id="spnCapslock">.</span></div>


                        <div class="buttondiv">
                            <div class="row row10">
                                <div class="col-md-offset-0 col-md-12 col-sm-8 col-sm-offset-2 col-xs-12 col10">
                                    <div class="animationdive" style="width:100%;">
                                        <div class="row row10">
                                            <div class="col-xs-6 col10">
                                                <button id="get_download" class="btnRays btnRays-1 btnRays-1e loginbtn width100per">Download<i id="iLoading" class="fa fa-spinner fa-spin" style="font-size:25px;color:#292929; display:none;"></i></button>
                                            </div>
                                            <div class="col-xs-6 col10">
                                                <button id="get_clear" class="btnRays btnRays-1 btnRays-1e loginbtn width100per">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* <div id="dvTemp1">&amp;lt;p&amp;gt;&amp;lt;b&amp;gt;Know Before You Go&amp;lt;/b&amp;gt; &amp;lt;br /&amp;gt;&amp;lt;ul&amp;gt;  &amp;lt;li&amp;gt;Guests can arrange to bring pets by contacting the property directly, using the contact information on the booking confirmation. &amp;lt;/li&amp;gt;  &amp;lt;/ul&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;&amp;lt;b&amp;gt;Fees&amp;lt;/b&amp;gt; &amp;lt;br /&amp;gt;&amp;lt;p&amp;gt;The following fees and deposits are charged by the property at time of service, check-in, or check-out. &amp;lt;/p&amp;gt; &amp;lt;ul&amp;gt;     &amp;lt;li&amp;gt;Fee for wired Internet in public areas: USD 2.00 per hour (rates may vary)&amp;lt;/li&amp;gt; &amp;lt;li&amp;gt;Airport shuttle fee: USD 14.00 per person (roundtrip)&amp;lt;/li&amp;gt;  &amp;lt;li&amp;gt;Self parking fee: USD 2.00 per day&amp;lt;/li&amp;gt;                      &amp;lt;/ul&amp;gt; &amp;lt;p&amp;gt;The above list may not be comprehensive. Fees and deposits may not include tax and are subject to change. &amp;lt;/p&amp;gt;&amp;lt;/p&amp;gt;</div>
                            <div id="dvTemp2"></div>*@



                        <div class="buttondiv" style="display:none">
                            @*/not in download page by srinath:31072017*@
                            <center>
                                <span>Version</span>


                                <span id="Version">@ViewBag.version </span>

                            </center>
                        </div>

                    </div>

                </div>
            </div>


        </div>






        <div class="footer" id="footeridae" style="display:none;">
            <div class="row row10">
                <div class="col-xs-12 col10 line-hight">
                    <span style="font-size: 14px; padding-left: 10px;">© 2018  All Rights Reserved </span>
                </div>
            </div>
        </div>


    </div>


    <div id="modal-Fare" class="iziModal addtop" style=""></div>

    <div id="modal-alert" class="iziModal"></div>
    <div id="modal-content" class="iziModal"></div>


    <script type="text/javascript">


        $(document).ready(function () {


            $(".input-effect input").focusout(function () {
                if ($(this).val().trim() != "") {
                    $(this).addClass("has-content");
                } else {
                    $(this).removeClass("has-content");
                }
            })

            $(".input-effect textarea").focusout(function () {
                if ($(this).val().trim() != "") {
                    $(this).addClass("has-content");
                } else {
                    $(this).removeClass("has-content");
                }
            })


        });
        window.onload = window.history.forward(0);

        //   VesionCheck();
        function VesionCheck() {
            var a = navigator.userAgent;
            var userAgent = navigator.userAgent.toLowerCase(),
                         browser = '',
                         version = 0;
            if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) { //test for MSIE x.x;
                var ieversion = new Number(RegExp.$1) // capture x.x portion and store as a number
                if (ieversion < 9) {
                    //alert("You're using IE8. Please Use IE Version IE9 or above");
                    window.location = "@Url.Content("~/Redirect/Redirect")";
                    return false;
                }
                //else if (ieversion >= 8)
                //    document.write("You're using IE8 or above")
                //else if (ieversion >= 7)
                //    document.write("You're using IE7.x")
                //else if (ieversion >= 6)
                //    document.write("You're using IE6.x")
                //else if (ieversion >= 5)
                //    document.write("You're using IE5.x")
            }

            // Is this a version of Chrome?
            if ($.browser.chrome) {
                userAgent = userAgent.substring(userAgent.indexOf('chrome/') + 7);
                userAgent = userAgent.substring(0, userAgent.indexOf('.'));
                version = userAgent;
                // If it is chrome then jQuery thinks it's safari so we have to tell it it isn't
                $.browser.safari = false;
                browser = "Chrome";
                if (version.split('.')[0] < 18) {
                    //location.replace('Redirect.html?' + (+new Date()));
                    window.location.href = "@Url.Content("~/Redirect/Redirect")";
                    // return;
                }
            }
            // Is this a version of Safari?
            if ($.browser.safari) {
                userAgent = userAgent.substring(userAgent.indexOf('version/') + 8);
                userAgent = userAgent.substring(0, userAgent.indexOf('.'));
                version = userAgent;
                browser = "Safari";
                if (version.split('.')[0] < 5) {
                    //location.replace('Redirect.html?' + (+new Date()));
                    window.location.href = "@Url.Content("~/Redirect/Redirect")";
                    //return;
                }
            }

            // Is this a version of Opera?
            if ($.browser.opera) {
                userAgent = userAgent.substring(userAgent.indexOf('version/') + 8);
                userAgent = userAgent.substring(0, userAgent.indexOf('.'));
                version = userAgent;
                browser = "Opera";
                if (version.split('.')[0] < 11) {
                    //location.replace('Redirect.html?' + (+new Date()));
                    window.location.href = "@Url.Content("~/Redirect/Redirect")";
                    // return;
                }
            }

            // Is this a version of Mozilla?
            if ($.browser.mozilla) {
                //Is it Firefox?
                if (navigator.userAgent.toLowerCase().indexOf('firefox') != -1) {
                    userAgent = userAgent.substring(userAgent.indexOf('firefox/') + 8);
                    userAgent = userAgent.substring(0, userAgent.indexOf('.'));
                    version = userAgent;
                    browser = "Firefox"
                }
                    // If not then it must be another Mozilla
                else {
                    browser = "Mozilla"
                }
                if (version.split('.')[0] < 12) {
                    //location.replace('RedirectPage.html?' + (+new Date()));
                    window.location.href = "@Url.Content("~/Redirect/Redirect")";
                }
            }
        }
    </script>
    <script>

        $("#get_download").click(function () {
            CheckLogin();
        });

        function CheckLogin() {
            var TerminalId,
            Username,
            Password = "";
            if (CheckVal()) {
                document.getElementById("get_download").disabled = true;
                $('#iLoading').show();
                TerminalId = $("#txt_id").val() != null ? $("#txt_id").val().toUpperCase().trim() : "";
                Username = $("#txt_usrnm").val() != null ? $("#txt_usrnm").val().trim() : "";
                Password = $("#txt_passwd").val() != null ? $("#txt_passwd").val().trim() : "";
                var LoginParam = { tr_id: TerminalId, NAME: Username, PWD: Password, Environment: "W" }; //W-Web, M-Mobile, mobstu-Only used for Mobile...

                try {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Download_submit", "Login")",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(LoginParam),
                        timeout: 180000,
                        dataType: "json",
                        success: function (json) {//On Successful service call
                            var result = json.Result;
                            if (result[0] != "" && result[0] != null) {
                                showerralert(result[0], "", "");
                            }
                            if (result[1] != "" && result[1] != null) {
                                var link = document.createElement('a');
                                link.href = result[1];
                                link.download = 'Download';
                                document.body.appendChild(link);
                                link.click();
                            }



                            document.getElementById("get_download").disabled = false;
                            $('#iLoading').hide();

                        },
                        error: function (e) {
                            document.getElementById("get_download").disabled = false;
                            $('#iLoading').hide();
                            showError("Unable to login (#09).");
                        }
                    });
                } catch (e) {
                    document.getElementById("get_download").disabled = false;
                    $('#iLoading').hide();

                    showError("Unable to login (#11).");
                }
            }
        }

        function CheckVal() {

            var terminalidvalidation_msg, usernamevalidation_msg, passwordvalidation_msg = "";

            if ($("#txt_id").val() == null || $("#txt_id").val().trim() == "") {
                showError("Please enter the terminal id.");
                document.getElementById("txt_id").focus();
                return false;
            }

            else if ($("#txt_usrnm").val() == null || $("#txt_usrnm").val().trim() == "") {

                showError("Please enter the user name.");
                document.getElementById("txt_usrnm").focus();
                return false;
            }
            else if ($("#txt_passwd").val() == null || $("#txt_passwd").val().trim() == "") {

                showError("Please enter the password.");

                document.getElementById("txt_passwd").focus();
                return false;
            }
            else {
                hideError();
            }
            return true;
        }

        $("#get_clear").click(function () {
            $("#txt_id").val("");
            $("#txt_usrnm").val("");
            $("#txt_passwd").val("");


            $("#txt_id").removeClass("has-content");
            $("#txt_usrnm").removeClass("has-content");
            $("#txt_passwd").removeClass("has-content");

            hideError();
        });

        $('.clshideErr').keyup(function () {
            hideError();
        });


        function showError(msg) {
            $(".message").addClass("animation");
            $("#empty-destination-box").addClass("error_active");
            $(".loginpanel").addClass("has_error");

            setTimeout(function () {
                $(".message").removeClass("animation");
            }, 200);
            $("#empty-destination-box").html(msg);
        }
        function hideError(temp1, temp2) {
            $(".message").removeClass("animation");
            $("#empty-destination-box").removeClass("error_active");
            $(".loginpanel").removeClass("has_error");
        }
    </script>

    <script>
        function ShowAggrement(date, agnnm) {
            $.ajax({
                url: '@Url.Content("~/Content/FILES/agreement.html?v1.0")',
                dataType: 'html',
                anync: false,
                success: function (response) {

                    try {
                        response = response.replace(new RegExp("#Current_Date#", "g"), date);
                        response = response.replace(new RegExp("#Agency_Name#", "g"), agnnm);

                        var Ititle = "Subscriber Agreement";
                        var Isubtitle = "";
                        var IContent = response;
                        var Ifullopt = true;

                        $('#modal-aggremnt').iziModal('destroy');

                        $("#txtRule").html(IContent);

                        //$(".iziModal").css("top","50%")
                        $("#modal-aggremnt").iziModal({
                            title: Ititle,
                            subtitle: Isubtitle,
                            fullscreen: Ifullopt,
                            iconClass: 'icon-stack',
                            headerColor: '#636363',
                            width: 700,
                            padding: 20,
                        });
                        $('#modal-aggremnt').iziModal('open');
                    }
                    catch (ex) {
                        alert("unable to load Agreement page (#07).");
                    }
                },
                error: function (e) {
                    alert("unable to load Agreement page (#03).");
                }
            });
        }

        function insert_agrement() {
            $("#agreebuttons").css("display", "none");

            $("#agreement_loadimg").css("display", "block");

            $.ajax({
                type: "POST", 		//GET or POST or PUT or DELETE verb
                url: "@Url.Action("Insert_agent_agrement", "Login")", 		// Location of the service
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {//On Successful service call
                    $('#modal-aggremnt').iziModal('close');
                    if (result.Status == "-1") {
                        window.location.href = '@Url.Action("SessionExp", "Redirect")';
                    }
                    else if (result.Status == "01") {
                        if (result.Result == true) {
                            window.location.href = "@Url.Action("Home", "Home")";
                            return false;
                        }
                        else {
                            showError("Problem occured while agree Agreement (#01).");
                        }
                    }
                    else {
                        showError("Problem occured while agree Agreement (#05).");
                    }
                },
                error: function (e) {//On Successful service call
                    // alert(e.MessageText);
                    if (e.status == "500") {
                        window.location.href = '@Url.Action("SessionExp", "Redirect")';
                        return false;
                    }
                    else {
                        alert(e.MessageText + " (#07).");
                    }
                }	// When Service call fails

            });
        }
        function Dagree_agrement() {
            $('#modal-aggremnt').iziModal('close');
        }

        //#region  Rays modal popups
        function showRayspopup(Ititle, Isubtitle, IContent, Ifullopt, Itemp1, Itemp2) {
            $('#modal-TandC').iziModal('destroy');

            $("#modal-TandC").html(IContent);

            //$(".iziModal").css("top","50%")
            $("#modal-TandC").iziModal({
                title: Ititle,
                subtitle: Isubtitle,
                fullscreen: Ifullopt,
                iconClass: 'icon-stack',
                headerColor: '#636363',
                width: 700,
                padding: 20,
            });
            $('#modal-TandC').iziModal('open');
        }
        //#endregion

        function visitterms() {
            $.ajax({
                url: '@Url.Content("~/Content/FILES/TermsandCondition.html")',
                dataType: 'html',
                anync: false,
                success: function (response) {
                    try {
                        var Ititle = "Terms and Condition";
                        var Isubtitle = "";
                        var IContent = response;
                        var Ifullopt = true;
                        var Itemp1 = "";
                        var Itemp2 = "";
                        showRayspopup(Ititle, Isubtitle, IContent, Ifullopt, Itemp1, Itemp2);
                    }
                    catch (ex) {
                        alert("unable to load Terms and Condition (#07).");
                    }
                },
                error: function (e) {
                    alert("unable to load Terms and Condition (#03).");
                }
            });
        }
        function visitpolicy() {
            $.ajax({
                url: '@Url.Content("~/Content/FILES/Privacypolicy.html")',
                dataType: 'html',
                anync: false,
                success: function (response) {
                    try {
                        var Ititle = "Privacy Policy";
                        var Isubtitle = "";
                        var IContent = response;
                        var Ifullopt = true;
                        var Itemp1 = "";
                        var Itemp2 = "";
                        showRayspopup(Ititle, Isubtitle, IContent, Ifullopt, Itemp1, Itemp2);
                    }
                    catch (ex) {
                        alert("unable to load Privacy Policy (#07).");
                    }
                },
                error: function (e) {
                    alert("unable to load Privacy Policy (#03).");
                }
            });
        }


        //popup sri
        function showalert(msg, okbtn, reurl) {
            $('#modal-alert').iziModal('destroy');
            if (okbtn != "") {
                if (reurl == "") {
                    msg += '<center><a href="javascript:void(0)" class="clsizibtn" data-izimodal-close="">' + okbtn + '</a></center>';
                }
                else {
                    msg += '<center><a href="' + reurl + '" class="clsizibtn">' + okbtn + '</a></center>';
                }
            }
            $("#modal-alert").iziModal({
                title: msg,
                icon: 'fa fa-info',
                headerColor: '#5bbd72',
                width: "500px"
                // timeout: 5000
                // 'max-width':"300px"
            });
            $('#modal-alert').iziModal('open');
        }


        function showerralert(msg, timout, temp2) {
            $('#modal-alert').iziModal('destroy');
            if (timout == null || timout == "") {
                $("#modal-alert").iziModal({
                    title: msg,
                    icon: 'fa fa-warning',
                    headerColor: '#bd5b5b',
                    width: "500px"
                });
            }
            else {
                $("#modal-alert").iziModal({
                    title: msg,
                    icon: 'fa fa-warning',
                    headerColor: '#bd5b5b',
                    width: "500px",
                    timeout: timout
                });
            }
            $('#modal-alert').iziModal('open');
        }





    </script>
</body>
</html>
