@{
    string strfileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strallowlogincountry = System.Configuration.ConfigurationManager.AppSettings["Logincountry"] != null ? System.Configuration.ConfigurationManager.AppSettings["Logincountry"].ToString() : "";
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strApptheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"].ToUpper().ToString();
    string strterminal_app = System.Configuration.ConfigurationManager.AppSettings["TerminalType"] != null ? System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString() : "";
    string strtitle = System.Configuration.ConfigurationManager.AppSettings["title"] != null ? System.Configuration.ConfigurationManager.AppSettings["title"].ToString() : "";
    string strMeta_description = System.Configuration.ConfigurationManager.AppSettings["Meta_description"] != null ? System.Configuration.ConfigurationManager.AppSettings["Meta_description"].ToString() : "";
    string strFavicon = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProductType + "/favicon.ico?" + strfileversion;
    string strAppname = System.Configuration.ConfigurationManager.AppSettings["Appname"] != null ? System.Configuration.ConfigurationManager.AppSettings["Appname"].ToString() : "";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>@strtitle</title>  
    <meta name="description" content="@strMeta_description"/>
    <meta charset="utf-8" />
    <link rel="icon" href="@strFavicon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/Theme4/Login.css?@strfileversion" rel="stylesheet" />
    <link href="~/Content/CSS/Component.css?@strfileversion" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" />

    @Styles.Render("~/Content/CommonAllCSS")
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
    <script src="~/js/download.js?@strfileversion"></script>
    <script src="~/js/jquery.blockUI.js?@strfileversion"></script>
    <script src="~/js/AppsJS/login.js?@strfileversion"></script>
    <script src="~/js/detect.js?@strfileversion"></script>
    <style>
        ::-webkit-input-placeholder {
            text-align: right;
            text-transform: initial !important;
            font-size: 10.5px !important;
            font-family: "Poppins", sans-serif !important;
        }
        /* mozilla solution */
        input:-moz-placeholder {
            text-align: right;
            text-transform: initial !important;
            font-size: 10.5px !important;
            font-family: "Poppins", sans-serif !important;
        }
    </style>
</head>

<body class="login R_indesk" id="RUAE">
    <section class="head-area" id="head-area" data-midnight="white">
        <div class="bg-shape">
            <div class="bg-ripple-animation d-none d-md-block">
                <div class="top-right-ripples">
                    <div class="ripples"></div>
                </div>
            </div>
        </div>
        <div class="head-content container-fluid d-flex align-items-center">
            <div class="container">
                <div class="banner-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-7 col-sm-12">
                         
                        </div>
                        <div class="col-lg-4 col-md-5 col-xs-12 move-first loginpanel">
                            <div class="login-bdy">
                                <div class="logincnt">
                                    <div class="login-tit">
                                        <h4>Login</h4>
                                    </div>
                                </div>
                                @if (strterminal_app != "T")
                                {
                                    <div class="dv-anim input-effect animationdivuser">
                                        <input type="text" class="txt-anim clshideErr" name="username" placeholder="Terminal Id (14 digits)" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important; text-transform: uppercase" id="txt_id" />
                                        <label>Terminal&nbsp;Id</label>
                                        <span class="focus-border">
                                            <i id="iusernamevalidation" class="validationcls"></i>
                                        </span>
                                        <em class="errhide" id="errortrm"></em>
                                    </div>

                                }
                                <div class="dv-anim input-effect animationdivuser">
                                    <input type="text" class="txt-anim clshideErr" name="username" autocomplete="off" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_usrnm" />
                                    <label>Username &nbsp;</label>
                                    <span class="focus-border">
                                        <i id="iusernamevalidation" class="validationcls"></i>
                                    </span>

                                    <em class="errhide" id="errorusn"></em>
                                </div>
                                <div class="dv-anim input-effect animationdivuser">
                                    <input type="password" class="txt-anim clshideErr" name="username" autocomplete="off" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_passwd" />
                                    <label>Password</label>
                                    <span class="focus-border">
                                        <i id="iusernamevalidation1" class="validationcls"></i>
                                    </span>
                                    <span class="spneye" onclick="ShowHidePassword('txt_passwd')"><i class="fa fa-eye"></i></span>
                                    <em class="errhide" id="errorpws"></em>
                                </div>
                                <div class="row" style="width: 88%; margin: 0px auto; float: none;">
                                    <div class="col-sm-6 col-xs-6 col10 mr-tp15">
                                        <button id="get_login" class="btn-gradient-primary">Log In <i id="iLoading" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none;"></i></button>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col10 mr-tp15">
                                        <button id="get_clear" class="btn-gradient-primary">Clear</button>
                                    </div>
                                </div>
                                <div class="row" style="width: 94%; margin: 0px auto; float: none;">
                                    <div class="col-sm-6 col-xs-6 col10 mr-tp15">
                                        <label class="container-check" style="float: left;">
                                            <input type="checkbox" id="chkRemember" style="float: left; width: 20px; margin-top: 4px; cursor: pointer" />
                                            <span style="font-size: 13px; cursor: pointer; font-weight: normal; color: #000;">Remember me</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col10 mr-tp15 frgtpass" id="dvForgetpassword">
                                        <span onclick="ForgotPasswordPopup();" style="float: right; color: #000; cursor: pointer; font-size: 13px;">Forgot Password?</span>
                                    </div>
                                </div>
                                @if (strterminal_app == "W")
                                {
                                <div class="new_reg">
                                    <p><a onclick="Gotoagentreg();" style="margin-left:6%;cursor:pointer"><i class="icon-user-follow"></i> Become a Partner</a></p>
                                </div>
                                }
                                @*<a style="float: right;margin-right:6%;" onclick="showcontactus();"><i class="icon-phone"></i>Contact Us</a>*@
                                <div class="copyright">
                                    <p style="">© 2018 Riya. All Rights Reserved</p>
                                </div>
                                <div class="col-xs-12 ver-sec" style="text-align: center">
                                    <span id="Version" style="text-align: center">Version  @ViewBag.version </span>
                                </div>
                                <div class="message_wrap col-sm-12" id="loginpnl" style="border: none;">
                                    <p class="message">
                                        <span id="empty-destination-box" style="height: 25px; padding-top: 5px;" class="error">All field(s) should not be empty.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="hdn_product" value="@strProductType" />
    <input type="hidden" id="hdn_apptheme" value="@strApptheme" />
    <input type="hidden" id="hdnterminal_app" value="@strterminal_app" />
    <input type="hidden" value="" id="hdn_passwordflag" />

    @*pop up for forget password*@
    <div id="modal-forget" class="iziModal forget" style="z-index: 999; border-radius: 3px; margin-left: -250px; max-width: 500px; margin-top: -152px; display: none;" role="dialog">
        <div class="iziModal-wrap" style="height: 304px;">
            <div class="iziModal-content">
                <div class="iziModal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="clearvalue();">&times;</button>
                    <h4 class="iziModal-title" style="text-align: center;" id="Pwd_title">FORGET PASSWORD?</h4>

                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="terminal id" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important; text-transform: uppercase" id="terminalid" placeholder="Terminal Id" />
                    <span class="focus-border"></span>
                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="username" placeholder="User Name" />
                    <span class="focus-border"></span>
                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <span id="OTPspan" style="color: #458a4b; display: none;">OTP SENT SUCCESSFULLY</span>
                    <a id="OTPnew" style="float: right; cursor: pointer; font-style: oblique;" onclick="GenerateOTP('NEW');">Generate OTP</a>
                    <a id="OTPres" style="float: right; cursor: pointer; font-style: oblique; display: none;" onclick="GenerateOTP('RES');">Resend OTP</a>
                    <input type="text" class="txt-anim has-content" name="otpcode" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="otpcode" placeholder="Enter OTP Code" />
                    <span class="focus-border"></span>
                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="password" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="password" placeholder="New Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="confirmpassword" autocomplete="off" maxlength="50" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="confirmpassword" placeholder="Confirm Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="iziModal-footer" style="text-align: center;">
                    <div id="addbuttons" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
                        <input type="button" id="repassword" class="btn btn-success" value="Reset Password" onclick="Resetpassword()" />
                        <input type="button" id="cancel" class="btn btn-danger" value="Cancel" onclick="clearvalue()" />
                    </div>
                </div>

            </div>
        </div>
    </div>

        @*1st user change password without OTP*@
    <div id="modal-Changepassword" class="iziModal forget" style="z-index: 999; border-radius: 3px; margin-left: -250px; max-width: 500px; margin-top: -152px; display: none;" role="dialog">
        <div class="iziModal-wrap" style="height: 304px;">
            <div class="iziModal-content">
                <div class="iziModal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="Clearupdatepassword();">&times;</button>
                    <h4 class="iziModal-title" style="text-align: center;">UPDATE PASSWORD</h4>
                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin:10px 20px !important;">
                    <label id="txt_TerminalId"></label>
                </div>
                <div class="dv-anim input-effect" style="width: 90%; margin:10px 20px !important;display:none;">
                    <label id="txt_Username"></label>
                </div>
                 <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="oldpassword" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_Oldpassword" placeholder="Old Password" />
                    <span class="focus-border"></span>
                </div>
                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="newpassword" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_Newpassword" placeholder="New Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="dv-anim input-effect" style="width: 90%; margin: 20px !important;">
                    <input type="text" class="txt-anim has-content" name="confirmpassword" autocomplete="off" maxlength="50" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_Confirmpassword" placeholder="Confirm Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="iziModal-footer" style="text-align: center;">
                    <div class="Bottomdiv" style="text-align: center; padding: 10px 0;">
                         <button  class="btn btn-success" id="Updatepwd"  onclick="Updatepassword()">Update Password<i id="resetpwdload" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none; float: right;margin-left: 5px;"></i></button>
                        <button  class="btn btn-danger" id="Updatecancel" onclick="Clearupdatepassword()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="modal-alert" class="iziModal"></div>
    <script type="text/javascript">
        var errPdiv = "dvGrpBkngerr", errdiv_msg = "dvGrpBkngerr_msg";
        var ProductType = "@strProductType";
        var TerminalApp = "@strterminal_app";
        var allowlogincountry = '@strallowlogincountry';
        var RedirectUrl = "@Url.Content("~/Redirect/Redirect")";
        var Logout = "@Url.Action("Logout", "Login")";
        var LoginSubmit = "@Url.Action("Loginsubmit", "Login")";
        var HomeMaster = "@Url.Action("HomeMaster", "Home")";
        var HomeFlight = "@Url.Action("Homeflight", "Home")";
        var CommonLog = "@Url.Action("Commonlog", "Login")";
        var ShowAgreement = "@Url.Content("~/Content/FILES/agreement.html")";
        var InsertAgreement = "@Url.Action("Insert_agent_agrement", "Login")";
        var TermsAndConditions = "@Url.Content("~/Content/FILES/TermsandCondition.html")";
        var PrivacyPolicy = "@Url.Content("~/Content/FILES/Privacypolicy.html")";
        var SessionExpire = "@Url.Action("SessionExp", "Redirect")";
        var Registration = "@Url.Action("Registrationsubmit", "Login")";
        var RBOAChangePassword = "@Url.Action("change_password", "CntrlPanel")";
        var Login = "@Url.Action("Login", "Login")";
        var GeoLocationUrl = "https://ipapi.co/json";
        var strAppHost = "";
        window.onload = window.history.forward(0);
    </script>
</body>

</html>
