@using System.Configuration;
@{
    string strfileversion = ConfigurationManager.AppSettings["UpdateVersion"] != null ? ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strallowlogincountry = ConfigurationManager.AppSettings["Logincountry"] != null ? ConfigurationManager.AppSettings["Logincountry"].ToString() : "";
    string strProducttype = ConfigurationManager.AppSettings["Producttype"] != null ? ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strtitle = ConfigurationManager.AppSettings["title"] != null ? ConfigurationManager.AppSettings["title"].ToString() : "";
    string strMeta_description = ConfigurationManager.AppSettings["Meta_description"] != null ? ConfigurationManager.AppSettings["Meta_description"].ToString() : "";
    string strCntry = ConfigurationManager.AppSettings["COUNTRY"] != null ? ConfigurationManager.AppSettings["COUNTRY"].ToString() : "";
    string strApptheme = ConfigurationManager.AppSettings["apptheme"].ToUpper().ToString();
    string strContactno = "Contact Us : " + ConfigurationManager.AppSettings["Callcenterno"].ToString();
    string strEmailId = "Mail Us: " + ConfigurationManager.AppSettings["Supportmail"].ToString();
    string strterminal_app = ConfigurationManager.AppSettings["TerminalType"] != null ? ConfigurationManager.AppSettings["TerminalType"].ToString() : "";
    string strFavicon = ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProducttype + "/favicon.ico?" + strfileversion;
    string strAppName = ConfigurationManager.AppSettings["Appname"] != null ? ConfigurationManager.AppSettings["Appname"].ToString() : "";
    string[] lstLogin = ConfigurationManager.AppSettings["AVAILABLELOGINS"] != null ? ConfigurationManager.AppSettings["AVAILABLELOGINS"].ToString().TrimEnd('|').Split('|') : new string[] { };
    string strLoginText = string.Empty;
    for (int i = 0; i < lstLogin.Length; i++)
    {
        if (lstLogin[i].StartsWith("I") && strterminal_app == "T")
        {
            strLoginText = lstLogin[i].Split('~')[1].ToString();
        }
        else if (lstLogin[i].StartsWith("A") && strterminal_app != "T")
        {
            strLoginText = lstLogin[i].Split('~')[1].ToString();
        }
    }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>@strtitle</title>
    <meta name="description" content="@strMeta_description" />
    <meta charset="utf-8" content="" />
    <link rel="shortcut icon" href="@strFavicon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    <link href="~/Content/CSS/Login/Login_Style.css?@strfileversion" rel="stylesheet" />

    <link href="~/Content/CSS/@strApptheme/style.css?@strfileversion" rel="stylesheet" />

    @Styles.Render("~/Content/CommonAllCSS")
    @Scripts.Render("~/bundles/CommonAllJS")
    <script src="~/js/download.js?@strfileversion"></script>
    <style>
        .footer {background: url(./Images/elements_header_background.png);}
        .footer a {color: #333;font-size: 12px;font-weight: 600;}
        .agre-title {padding: 30px;float: left;color: #ff7a00;font-size: 24px;white-space: nowrap;}
        .reg-title {padding: 20px;float: left;color: #ff7a00;font-size: 24px;white-space: nowrap;}
        .agre-img {width: 80px;}
        #travratxt:hover {text-decoration: none;}

        @@media (max-width:787px) {
            .agre-title {padding: 0px !important;text-align: center;color: #ff7a00;font-size: 16px !important;line-height: 60px;}
            .reg-title {padding: 0px !important;text-align: center;color: #ff7a00;font-size: 16px !important;line-height: 60px;}
            .agre-img {width: 60px !important;}
            #modal-aggremnt .iziModal-content {padding: 5px !important;}
        }

        @@media (min-width:992px) {
            .line-hight {line-height: 64px;}
        }
    </style>
</head>
<body style="overflow-x: hidden;">
    <div id="loginform" style="">
        <div class="topborder">
        </div>
        <div class="leftimage">
            @if (strProducttype == "NAT")
            {
                <img style="height:180%" src="@Url.Content("~/Images/"+strProducttype+"/Login.gif")" />
            }
            else
            {
                <img src="@Url.Content("~/Images/"+strProducttype+"/Login.png")" />
            }
        </div>
        <div class="loginpanel">
            <div class="logindetails">
                <div class="row row10">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-sm-offset-2 col-xs-12 col-lg-offset-3 col-md-offset-3 prduct_n">
                        @if (strProducttype == "DEIRA")
                        {
                            <a href="http://deirabeta.mywebcheck.in/" target="_self">
                                <img src="@Url.Content("~/Images/" + strProducttype + "/logo.png")" style="margin-top:20px;" />
                            </a>
                        }
                        <p class="hidden-xs">@strLoginText Login</p>
                        <div class="message_wrap">
                            <p class="message">
                                <span id="empty-destination-box" class="error empty-destination-box">All field(s) should not be empty.</span>
                            </p>
                        </div>

                        @if (strterminal_app != "T")
                        {
                            <div class="dv-anim input-effect animationdive" style="display:block">
                                @if (strProducttype == "DEIRA")
                                {
                                    <input class="txt-anim clshideErr" name="username" autocomplete="off" autofocus="autofocus" maxlength="10" onkeypress="return ValidateSpecialChar(event);" style="text-transform: uppercase; padding: 0px 0px; width: 100%; box-shadow: none !important;" placeholder="" id="txt_id" />
                                    <label>Agent ID</label>
                                }
                                else
                                {
                                    <input class="txt-anim clshideErr" name="username" autocomplete="off" autofocus="autofocus" maxlength="14" onkeypress="return ValidateSpecialChar(event);" style="text-transform: uppercase; padding: 0px 0px; width: 100%; box-shadow: none !important;" placeholder="" id="txt_id" />
                                    <label>Terminal ID</label>
                                }                               
                            </div>
                        }
                        else
                        {
                            <div class="dv-anim input-effect animationdive" style="display:none">
                                <input class="txt-anim clshideErr" name="username" autocomplete="off" autofocus="autofocus" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="text-transform: uppercase; padding: 0px 0px; width: 100%; box-shadow: none !important;" placeholder="" id="txt_id" />
                            </div>
                        }

                        <div class="dv-anim input-effect animationdivuser" style="">
                            <input type="text" class="txt-anim clshideErr" name="username" autocomplete="off" maxlength="25" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%;    box-shadow: none !important;" id="txt_usrnm" />
                            <label>Username &nbsp;</label>
                            <span class="focus-border">
                                <i id="iusernamevalidation" class="validationcls"></i>
                            </span>
                        </div>
                        <div class="dv-anim input-effect animationdive" style="">
                            <input class="txt-anim clshideErr" type="password" name="username" autocomplete="off" maxlength="25" onkeypress="return AvoidSpace(event,'caps','spnCapslock');" onkeydown="if (event.keyCode == 13) document.getElementById('get_login').click()" id="txt_passwd" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" />
                            <label>Password &nbsp;</label>
                            <span class="focus-border">
                                <i id="ipasswordvalidation" class="validationcls"></i>
                            </span>
                            <span class="spneye" onclick="ShowHidePassword('txt_passwd')"><i class="fa fa-eye"></i></span>
                        </div>
                        <div style="float:left; width:100%;"><span id="spnCapslock">.</span></div>
                        <div class="buttondiv">
                            <div class="row row10">
                                <div class="col-md-offset-0 col-md-12 col-sm-8 col-sm-offset-2 col-xs-12 col10">
                                    <div class="animationdive" style="width:100%;">
                                        <div class="row row10">
                                            <div class="col-xs-6 col10">
                                                <button id="get_login" class="btnRays btnRays-1 btnRays-1e loginbtn width100per">Log In <i id="iLoading" class="fa fa-spinner fa-spin" style="font-size:25px;color:#292929; display:none;"></i></button>
                                            </div>
                                            <div class="col-xs-6 col10">
                                                <button id="get_clear" class="btnRays btnRays-1 btnRays-1e loginbtn width100per">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttondiv">
                            <center>
                                <span>Version</span>
                                <span id="Version">@ViewBag.version </span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" id="footeridae">
            <div class="row row10">
                @if (strProducttype == "NAT")
                {
                    <div class="col-xs-12 col10 line-hight">
                        <span style="font-size: 14px; padding-left: 10px;"> © Powered by TravRays 2018</span>
                    </div>
                }
                else
                {
                    if (strCntry.Trim() == "AE")
                    {
                        <div class="col-md-8 col-sm-6 col-xs-12 col10 line-hight">
                            <div class="col-md-6 col-sm-6 col-xs-12 col10">
                                <span style="font-size: 14px; padding-left: 10px;">© 2018  TravRays. All Rights Reserved </span>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col10">
                                <span>
                                    <a style="text-decoration: underline; cursor: pointer;" onclick="visitterms()">Terms and Conditions</a> | <a style="text-decoration: underline; cursor: pointer;" onclick="visitpolicy()">Privacy Policy</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 col10 line-hight pull-right">
                            <img alt="Credit Card Logos" title="Credit Card Logos" src="~/Images/visa_mastercard_logo.gif" width="102" height="32" border="0" />
                        </div>
                    }
                    else if (strCntry.Trim() == "EG")
                    {
                        <div class="col-md-8 col-sm-6 col-xs-12 col10 line-hight">
                            <div class="col-md-6 col-sm-6 col-xs-12 col10">
                                <span style="font-size: 14px; padding-left: 10px;"><a style="font-size: 22px;text-decoration: none;cursor: pointer;color: #fff;width: 190px; border-radius: 5px;margin-bottom: 3px;padding: 5px; background: #FD790C;border: none;" onclick="openmodelregistration()">Click to Partner with Travrays</a></span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col10">
                                <span style="font-size: 14px; padding-left: 10px;">© 2018 TravRays. All Rights Reserved</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 col10 line-hight pull-right">
                            <span style="font-size: 14px; padding-left: 10px;font-weight:bold;">@strContactno</span>
                            <span style="font-size: 14px; padding-left: 10px;font-weight:bold;">@strEmailId</span>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col10 line-hight">
                            <span style="font-size: 14px; padding-left: 10px;">&copy; @DateTime.Now.Year.ToString() @strAppName. All Rights Reserved</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div id="modal-TandC" class="iziModal addtop" style=""></div>

    <div id="modal-aggremnt" class="iziModal addtop" style="">
        <div class="row" style="border-bottom: 1px solid #d5d5d5;">
            <div class="col-xs-3 col5">
                <img class="agre-img" src="@Url.Content("~/Images/"+strProducttype+"/logo.png")" />
            </div>
            <div class="col-xs-9 col5">
                <div class="agre-title">TravRays Travel Technology LLC </div>
            </div>
        </div>
        <div id="txtRule" class="RulePreclass" style=""></div>
        <div id="agreebuttons" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
            <input type="button" id="Agree" class="button-Agree" value="I Agree" onclick="insert_agrement()" />
            <input type="button" id="DAgree" class="button-dAgree" value="I Disagree" onclick="Dagree_agrement()" />
        </div>
        <div id="agreement_loadimg" style="display: none; text-align: center; color: red">
            <img src="@Url.Content("~/Images/loaderH.gif")" />Plesae wait..
        </div>
    </div>


    <div id="modal-agnreg" class="iziModal addtop" style="">
        <div id="txtdesign" class="RegistrationPreclass" style="">
            <div class="dv-anim input-effect" style="width: 45%;margin: 11px !important;">
                <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="50" onkeypress="return ValidateSpecialChar(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_agencyname" />
                <label>Agency&nbsp;Name<span style="color: red;">*</span></label>
                <span class="focus-border">
                </span>
            </div>
            <div class="dv-anim input-effect" style="width: 45%;margin: 11px !important;">
                <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_contactperson" />
                <label>Contact&nbsp;Person<span style="color: red;">*</span></label>
                <span class="focus-border">
                </span>
            </div>
            <div class="dv-anim input-effect" style="width: 45%;margin: 11px !important;">
                <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="100" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_address" />
                <label>Agency&nbsp;Address<span style="color: red;">*</span></label>
                <span class="focus-border">
                </span>
            </div>
            <div class="dv-anim input-effect" style="width: 45%;margin: 11px !important;">
                <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_city" />
                <label>City&nbsp;or&nbsp;Region<span style="color: red;">*</span></label>
                <span class="focus-border">
                </span>
            </div>

            <div class="dv-anim input-effect" style="width: 45%;margin: 11px !important;">
                <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="25" onkeypress="javascript:return isNumericVal(event);" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_mobno" />
                <label>Mobile&nbsp;Number<span style="color: red;">*</span></label>
                <span class="focus-border">
                </span>
            </div>

            <div class="dv-anim input-effect" style="width: 45%;margin: 11px !important;">
                <input type="text" class="txt-anim has-content" name="username" autocomplete="off" maxlength="75" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_emailadd" />
                <label>Email&nbsp;Address<span style="color: red;">*</span></label>
                <span class="focus-border">
                </span>
            </div>
        </div>
        <div id="addbuttons" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
            <input type="button" id="registered" class="button-Agree" value="Register Now" onclick="Registeragent()" />
            <input type="button" id="cleared" class="button-dAgree" value="Clear" onclick="clearvalue()" />
        </div>
        <div id="agree_loadingimg" style="display: none; text-align: center; color: red">
            <img src="@Url.Content("~/Images/loaderH.gif")" />Please wait..
        </div>
        <div id="displaymsg" style="color: #fff;width: 100%; border-radius: 5px;margin-bottom: 3px;padding: 5px; background: #58a0ec;border: none;margin-top: 15px;display:none;text-align: center;"></div>
    </div>

    <input type="hidden" id="hdn_product" value="@strProducttype" />
    <input type="hidden" id="hdn_apptheme" value="@strApptheme" />
    <input type="hidden" id="hdnterminal_app" value="@strterminal_app" />
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/AppsJS/login.js?@strfileversion"></script>
    <script src="~/js/detect.js?@strfileversion"></script>
    <script type="text/javascript">
        var strAppHost = "";
        var allowlogincountry = '@strallowlogincountry';
        window.onload = window.history.forward(0);
        var RedirectUrl = "@Url.Content("~/Redirect/Redirect")";
        var LoginSubmit = "@Url.Action("Loginsubmit", "Login")";
        var HomeMaster = "@Url.Action("HomeMaster", "Home")";
        var HomeFlight = "@Url.Action("Homeflight", "Home")";
        var CommonLog = "@Url.Action("Commonlog", "Login")";
        var ShowAgreement = "@Url.Content("~/Content/FILES/agreement.html?" + strfileversion+"")";
        var InsertAgreement = "@Url.Action("Insert_agent_agrement", "Login")";
        var TermsAndConditions = "@Url.Content("~/Content/FILES/TermsandCondition.html")";
        var PrivacyPolicy = "@Url.Content("~/Content/FILES/Privacypolicy.html")";
        var Registration = "@Url.Action("Registrationsubmit", "Login")";
        var Logout = "@Url.Action("Logout", "Login")";
        var SessionExpire = "@Url.Action("SessionExp", "Redirect")";
        var ProductType = '@strProducttype';
        var GeoLocationUrl = "https://ipapi.co/json";
    </script>
</body>
</html>