@{
    string strfileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strallowlogincountry = System.Configuration.ConfigurationManager.AppSettings["Logincountry"] != null ? System.Configuration.ConfigurationManager.AppSettings["Logincountry"].ToString() : "";
    string strProductType = System.Configuration.ConfigurationManager.AppSettings["Producttype"] != null ? System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() : "";
    string strApptheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"].ToUpper().ToString();
    string strterminal_app = System.Configuration.ConfigurationManager.AppSettings["TerminalType"] != null ? System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString() : "";
    string strtitle = System.Configuration.ConfigurationManager.AppSettings["title"] != null ? System.Configuration.ConfigurationManager.AppSettings["title"].ToString() : "";
    string strMeta_description = System.Configuration.ConfigurationManager.AppSettings["Meta_description"] != null ? System.Configuration.ConfigurationManager.AppSettings["Meta_description"].ToString() : "";
    string strFavicon = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProductType + "/favicon.png?" + strfileversion;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>@strtitle</title>
    <meta name="description" content="@strMeta_description" />
    <meta name="keywords" content="b2b agent login, b2b agent, travel agents" />
    <meta name="author" content="Riya Travel & Tours India Pvt Ltd" />
    <meta charset="utf-8" />
    <link rel="icon" href="@strFavicon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.css?@strfileversion" rel="stylesheet" />
    <link href="~/Content/CSS/RIYA/style-main.css?@strfileversion" rel="stylesheet" />
    <script src="~/js/CommonJS/jquery-1.11.1.js?@strfileversion"></script>
    <script src="~/js/raysModal.js?@strfileversion"></script>
    <link href="~/Content/CSS/raysModal.css?@strfileversion" rel="stylesheet" />
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
    <script src="~/js/download.js?@strfileversion"></script>
    <script src="~/js/jquery.blockUI.js?@strfileversion"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFGNNP3W8P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-CFGNNP3W8P');
    </script>
</head>


<body class="login" id="RUAE">
    <header>
        <div class="container">
            @if (strterminal_app != "T")
            {
                <a href="" class="logo">
                    <img src='@Url.Content("~/Images/"+strProductType+"/riya-logo.png")' alt="" />
                </a>
                <a href="" onclick="window.open('@Url.Action("Registration", "Login")');" class="btn btn01 rigister-btn pull-right">Register Now</a>
                <div class="pull-right agentHelpline agentHelpline2">
                    <span>Agent  Helpline&nbsp;</span>
                    <a class="mobilesOnly" href="tel:022-71200900" title="24/7 Customer Services | 24/7 Customer Supports for Agents & Customers"><i class="fas fa-phone"></i>+91 022 71200900</a>
                    <a class="mobilesOnly" href="tel:022-25744818">/&nbsp;+91 022 25744818</a>
                </div>
            }
        </div>
    </header>
    <!--header spacer-->
    <div class="header-spacer"></div>
    <!--header-->
    <!-- Swiper -->
    <div class="swiper-container" id="home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url('@Url.Content("~/Images/"+strProductType+"/slider-01.jpg")') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                <div class="container">
                    <div class="slider-caption">
                        <a href="" onclick="window.open('@Url.Action("Registration", "Login")');">
                            <img src='@Url.Content("~/Images/"+strProductType+"/banner-caption.png?v1.1")' alt="24/7 Customer Services | 24/7 Customer Supports for Agents & Customers" title="Register" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="login-box">
            <div class="container">
                <div class="login-holder login-box">
                    <a href="javascript:void(0)" class="logo">
                        <img src='@Url.Content("~/Images/"+strProductType+"/logo.png")' alt="" />
                    </a>
                    <h2 class="heading01">Welcome! <span class="sub-heading">Login to continue.</span></h2>
                    @if (strterminal_app != "T")
                    {
                        <div class="form-group clearfix">
                            <form autocomplete="off">
                                <input type="text" class="effect-input clsAlphaNumeric" name="username" maxlength="14" style="text-transform:uppercase;" placeholder="Terminal Id (14 digits)" autocomplete="off" onkeypress="return ValidateSpecialChar(event);" id="txt_id" />
                                <span class="focus-border"><i></i></span>
                            </form>
                        </div>
                    }
                    <div class="form-group">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clshideErr clsAlphaNumeric" name="username" autocomplete="off" maxlength="25" id="txt_usrnm" placeholder="Username" />
                            <span class="focus-border"><i></i></span>
                        </form>
                    </div>
                    <div class="form-group">
                        <form autocomplete="new-password">
                            <input type="text" class="effect-input clshideErr clsPassword" name="password" autocomplete="new-password" maxlength="25" id="txt_passwd" placeholder="Password" />
                            <span class="focus-border"><i></i></span>
                        </form>
                        <span class="spneye" onclick="ShowHidePassword('txt_passwd')">
                            <i class="fa fa-eye" style="cursor:pointer;position: absolute;right: 10px;top: 15px;color: #de3c4c;"></i>
                        </span>
                    </div>
                    <em class="errhide" id="errorpws"></em>
                    <div class="row loginpanel">
                        <div class="col-md-6 col-xs-6">
                            <div class="button-holder">
                                <button type="submit" id="get_login" class="btn btn01">
                                    submit<i id="iLoading" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none;"></i>
                                </button>
                            </div>
                            <div class="form-group remember-me">
                                <input id="chkRemember" type="checkbox" name="toppings" />
                                <label for="chkRemember">Remember me</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @if (strterminal_app != "T")
                            {
                                <p class="pull-right forgot-btn forgotpasword_open" style="cursor:pointer;">Forgot Pasword</p>
                            }
                        </div>
                        <div class="message_wrap col-sm-12" id="loginpnl" style="border: none;">
                            <p class="message">
                                <span id="empty-destination-box" class="empty-destination-box error" style="height: 25px; padding-top: 5px;"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--section-->
    <div class="mobile-banner">
        <img src='@Url.Content("~/Images/"+strProductType+"/mobile-banner.jpg")' alt="" />
    </div>
    <div class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="heading02">Riya Connect  - <span>India’s Leading Travel Service Provider</span></h1>
                    <div class="rconnect-tab-container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="rconnect-tab-menu">
                                    <div class="list-group">
                                        <a href="" class="list-group-item active text-center">
                                            <img src='@Url.Content("~/Images/"+strProductType+"/progress.png")' alt="" title="" class="img-responsive" />
                                            <h4>Progress</h4>
                                        </a>
                                        <a href="" class="list-group-item text-center">
                                            <img src='@Url.Content("~/Images/"+strProductType+"/growth.png")' alt="" title="" class="img-responsive" />
                                            <h4>Growth</h4>
                                        </a>
                                        <a href="" class="list-group-item text-center">
                                            <img src='@Url.Content("~/Images/"+strProductType+"/innovation.png")' alt="" title="" class="img-responsive" />
                                            <h4>Innovation</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 clearfix-mb">
                                <div class="rconnect-tab">
                                    <!-- flight section -->
                                    <div class="rconnect-tab-content active">
                                        <h2 class="sub-heading">Progress</h2>
                                        <p>Started as an overseas manpower wing in 1980 by our CMD and Chairman, Mr. GMJ Thampy, Riya Group Enterprise currently employs 3000+ professionals in over 70 locations across India, USA, Canada and UAE. With decades of hard work and building solid relationships and trust in the travel space, Riya Group has emerged as the largest travel facilitator. One of the biggest contributors to this success is Riya Connect, which was initiated in 2007 as a one-stop travel solution for the vast and growing community of Travel Agents.</p>
                                    </div>
                                    <!-- train section -->
                                    <div class="rconnect-tab-content">
                                        <h2 class="sub-heading">Growth</h2>
                                        <p>With a turnover of nearly INR 12,000 crores and a market share of approximately 20%, it was inevitable that Riya Group evolved in all aspects of travel services. Over the years, the business module has grown to include – Leisure Travel, Corporate Travel, Packaged Holidays, Religious Tours, Cruise Tours, Special Interest Groups, Travel & Tourism Training, International Academic Travel and Travel Technology.</p>
                                        <p>Moreover, our global partnerships allow us to offer competitive prices on Air Tickets, Hotel Bookings, Holiday Packages Visa, Travel Insurance, Forex and more. Ancillary services like airport assistance, lounge access and pick-up and drop facilities are also a part of our offering. </p>
                                    </div>

                                    <!-- hotel search -->
                                    <div class="rconnect-tab-content">
                                        <h2 class="sub-heading">Innovation</h2>
                                        <p>Riya Connect has always been on the forefront of introducing new technologies and new products to its travel partners. The B2B travel portal empowers agents across India to make seamless travel bookings for their customers without the hassle of making offline bookings. Riya Connect receives continuous flow of prices and information from various partners, which allows in getting the best deals with higher returns. The easy-to-use portal also permits customised invoicing, on-credit booking and also booking ancillary services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-center">
                    <img src='@Url.Content("~/Images/"+strProductType+"/img01.jpg")' alt="" />
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="riya-connect-services">
            <h2 class="heading03 text-center">Our Services</h2>
            <h3 class="text-center heading-3-03">Become an Agent & Get Access to Our Wide Array of Travel Services</h3>
            <div class="swiper-container" id="riya-connect-services">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/flight.png")' alt="B2B Agent Flight Booking" />
                            <span>Flight</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/bus.png")' alt="B2B Bus Services" />
                            <span>Bus</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/rail.png")' alt="Rail Services" />
                            <span>Rail</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/hotel.png")' alt="Hotel Services" />
                            <span>Hotel</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/cruise.png")' alt="Cruise Services" />
                            <span>Cruise</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/car.png")' alt="Hire Car" />
                            <span>Car</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/insurance.png")' alt="Travel Insurance" />
                            <span>
                                Travel
                                <br />
                                Insurance
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/meal.png")' alt="In-Flight Services | Food & Drinks" />
                            <span>In-Flight Services</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/travel.png")' alt="Baggage Insurance" />
                            <span>
                                Baggage
                                <br />
                                Insurance
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/lounge.png")' alt="Airport Lounge" />
                            <span>
                                Airport
                                <br />
                                Lounge
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/park.png")' alt="Theme Park Tickets" />
                            <span>
                                Theme Park
                                <br />
                                Tickets
                            </span>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/sim.png")' alt="International Calling Card" />
                            <span>
                                International
                                <br />
                                Calling Card
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="riya-connect">
                            <img src='@Url.Content("~/Images/"+strProductType+"/more-services.png")' alt="B2B Agent Login Page | Riya Connect" />
                            <span>Many  More</span>
                        </div>
                    </div>

                </div>
                <!-- Add Navigation -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="bg-lightgray">
        <div class="container">
            <h3 class="heading03 text-center">Why Choose Riya Connect?</h3>
            <h3 class="text-center heading-3-03">Being a leading travel service provider, Riya Connect should be the first choice for any travel agent in India, USA, Canada & UAE.</h3>
            <!-- Swiper -->
            <div class="col-md-11">
                <div class="swiper-container" id="services">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="circle-box">
                                <i class="fas fa-plane"></i>
                            </div>
                            <div class="services-description">
                                <p class="title">14+ Travel Products</p>
                                <p>From booking flights, rail & car rentals to ancillary services, Riya Connect offers a wide variety of services catering to all travel needs.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-box">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="services-description">
                                <p class="title">Great Agent Returns</p>
                                <p>International tie-ups & long-term associations with travel partners, agents can enjoy higher margins on all travel services.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-box">
                                <i class="fas fa-ticket-alt"></i>
                            </div>
                            <div class="services-description">
                                <p class="title">Seamless Booking Experience</p>
                                <p>Developed over the years with first-hand feedback from agents, the user-friendly interface and easy navigation system enhances booking experience.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-box">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="services-description">
                                <p class="title">65+ Service Locations</p>
                                <p>With presence at all major tier 1 cities and popular tier 2 & 3 cities, agents can instantly visit nearest branch for any immediate requirements or quick paper work.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-box">
                                <i class="fas fa-headset"></i>
                            </div>
                            <div class="services-description">
                                <p class="title">24/7 Customer Service</p>
                                <p>Riya Connect’s dedication of providing exemplary customer support surpasses the bounds of time.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Add Navigation -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="intro" style="background: url('@Url.Content("~/Images/"+strProductType+"/bg-parallax.jpg")') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed;">
        <div class="container middle-box-tb">
            <div class="middle-box">
                <div class="map-icon">
                    <img src='@Url.Content("~/Images/"+strProductType+"/map-icon.png")' alt="" />
                </div>
                <h4 class="heading03 heading04">50,000+ Travel partners and 65+ Service Locations across India, USA, Canada & UAE </h4>
                <p class="sub-heading">Get Access to a Variety of Travel Products & Enjoy Higher Earnings. Become a Travel Agent Today!</p>
                <a href="" onclick="window.open('@Url.Action("Registration", "Login")');" class="btn btn02"><span class="button-text">Register Now</span></a>
            </div>
        </div>
    </div>
    <div class="app-dwnld">
        <div class="app-white">
            <div class="container">
                <div class="text-app">
                    Booking Travel Services Just Got Easier with the Riya Connect App
                    <br />
                    Download the Latest Version TODAY
                </div>
            </div>
        </div>
        <div class="app-grey">
            <div class="container">
                <div class="app-img">
                    <img class="app-prvw" src='@Url.Content("~/Images/"+strProductType+"/appscreen.png")' alt="Mobile App - B2B Agents" title="Riya Connect Mobile App" />
                </div>
                <div class="app-link">
                    <div>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.riyaconnect.android">
                            <img src='@Url.Content("~/Images/"+strProductType+"/play.png")' alt="Mobile App - B2B Agents" title="Riya Connect Mobile App" />
                        </a>
                        <a target="_blank" href="https://apps.apple.com/us/app/riyaconnect/id1205912625?ls=1">
                            <img src='@Url.Content("~/Images/"+strProductType+"/appstore.png")' alt="Mobile App - B2B Agents" title="Riya Connect Mobile App" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="copyright">
            © Copyright 2019 b2b.riya.travel . All Rights Reserved Version V3.1
        </div>
    </footer>

    <!-- Forgot pasword popup -->
    <div id="forgotpasword" class="popup-wrap forget">
        <p style="cursor:pointer;" href="javascript:void(0)" class="close-popup forgotpasword_close" onclick="Rclearvalue()">×</p>
        <h6 class="heading03 heading04 heading05">FORGET PASSWORD?</h6>
        <div class="form-group clearfix">
            <form autocomplete="off">
                <input class="effect-input clsAlphaNumeric" type="text" maxlength="14" style="text-transform:uppercase;" placeholder="Terminal Id (14 digits)" id="terminalid" />
                <span class="focus-border"><i></i></span>
            </form>
        </div>
        <div class="form-group">
            <form autocomplete="off">
                <input class="effect-input clsAlphaNumeric" type="text" maxlength="25" placeholder="User Name" id="username" />
                <span class="focus-border"><i></i></span>
            </form>
        </div>
        <div class="form-group margin-none">
            <form autocomplete="one-time-code">
                <input class="effect-input clsNumeric" type="text" autocomplete="one-time-code" placeholder="Enter OTP Code" id="otpcode" />
                <span class="focus-border"><i></i></span>
            </form>
        </div>
        <span id="OTPspan" style="color: #458a4b; display: none;">OTP SENT SUCCESSFULLY</span>
        <p style="cursor:pointer;display:block;" href="javascript:void(0)" id="OTPnew"  onclick="GenerateOTP('NEW');" class="otp-resend">Generate OTP</p>
        <p style="cursor:pointer;display:none;" href="javascript:void(0)" id="OTPres"  onclick="GenerateOTP('RES');" class="otp-resend">Resend OTP</p>
        <div class="form-group">
            <form autocomplete="new-password">
                <input class="effect-input clsPassword" type="text" placeholder="New Password" autocomplete="new-password" maxlength="25" id="password" />
            </form>
            <span class="spneye" onclick="ShowHidePassword('password')">
                <i class="fa fa-eye" style="cursor:pointer;position: absolute;right: 10px;top: 15px;color: #de3c4c;"></i>
            </span>
            <span class="focus-border"><i></i></span>
        </div>
        <div class="form-group">
            <form autocomplete="new-password">
                <input class="effect-input clsPassword" type="text" placeholder="Confirm Password" autocomplete="new-password" maxlength="25" id="confirmpassword" />
            </form>
            <span class="spneye" onclick="ShowHidePassword('confirmpassword')">
                <i class="fa fa-eye" style="cursor:pointer;position: absolute;right: 10px;top: 15px;color: #de3c4c;"></i>
            </span>
            <span class="focus-border"><i></i></span>
        </div>
        <div class="button-holder">
            <button type="submit" class="btn btn01" onclick="Resetpassword()">
                Reset Password
                <i id="resetpwdload" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none;"></i>
            </button>
            <a href="javascript:void(0)" onclick="Rclearvalue()" class="btn btn01 forgotpasword_close">Cancel</a>
        </div>
        <div class="message_wrap col-sm-12" id="loginpnl" style="border: none;">
            <p class="message">
                <span id="empty-destination-box" class="empty-destination-box error" style="height: 25px; padding-top: 5px;"></span>
            </p>
        </div>
    </div>
    <div id="Changepassword" class="popup-wrap update">
        <p style="cursor:pointer;" href="javascript:void(0)" class="close-popup Changepassword_close" data-dismiss="modal" onclick="Clearupdatepassword();">&times;</p>
        <h6 class="heading03 heading04 heading05">UPDATE PASSWORD</h6>
        <div class="form-group clearfix">
            <form autocomplete="off">
                <input class="effect-input clsAlphaNumeric" style="text-transform:uppercase;" type="text" disabled="disabled" maxlength="14" placeholder="Terminal Id (14 digits)" id="txt_TerminalId" />
                <span class="focus-border"><i></i></span>
            </form>
        </div>
        <div class="form-group clearfix">
            <form autocomplete="off">
                <input class="effect-input clsAlphaNumeric" type="text" disabled="disabled" maxlength="25" placeholder="Username" id="txt_Username" />
                <span class="focus-border"><i></i></span>
            </form>
        </div>
        <div class="form-group clearfix">
            <form autocomplete="new-password">
                <input class="effect-input clsPassword" type="text" placeholder="Old password" autocomplete="new-password" maxlength="25" id="txt_Oldpassword" />
                <span class="focus-border"><i></i></span>
            </form>
            <span class="spneye" onclick="ShowHidePassword('txt_Oldpassword')">
                <i class="fa fa-eye" style="cursor:pointer;position: absolute;right: 10px;top: 15px;color: #de3c4c;"></i>
            </span>
        </div>
        <div class="form-group clearfix">
            <form autocomplete="new-password">
                <input class="effect-input clsPassword" type="text" placeholder="New password" autocomplete="new-password" maxlength="25" id="txt_Newpassword" />
                <span class="focus-border"><i></i></span>
            </form>
            <span class="spneye" onclick="ShowHidePassword('txt_Newpassword')">
                <i class="fa fa-eye" style="cursor:pointer;position: absolute;right: 10px;top: 15px;color: #de3c4c;"></i>
            </span>
        </div>
        <div class="form-group clearfix">
            <form autocomplete="new-password">
                <input class="effect-input clsPassword" type="text" placeholder="Confirm password" autocomplete="new-password" maxlength="25" id="txt_Confirmpassword" />
                <span class="focus-border"><i></i></span>
            </form>
            <span class="spneye" onclick="ShowHidePassword('txt_Confirmpassword')">
                <i class="fa fa-eye" style="cursor:pointer;position: absolute;right: 10px;top: 15px;color: #de3c4c;"></i>
            </span>
        </div>
        <div class="button-holder">
            <button type="submit" class="btn btn01" onclick="Updatepassword()">
                Update Password
                <i id="updatepwdload" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none;"></i>
            </button>
            <a href="javascript:void(0)" onclick="Clearupdatepassword()" class="btn btn01 Changepassword_close">Cancel</a>
        </div>
        <div class="message_wrap col-sm-12" id="forgetpnl" style="border: none;">
            <p class="message">
                <span id="empty-destination-box" class="empty-destination-box error" style="height: 25px; padding-top: 5px;"></span>
            </p>
        </div>
    </div>

    <input type="hidden" id="hdn_product" value="@strProductType" />
    <input type="hidden" id="hdn_apptheme" value="@strApptheme" />
    <input type="hidden" id="hdnterminal_app" value="@strterminal_app" />
    <input type="hidden" value="" id="hdn_passwordflag" />
    <p style="cursor:pointer;visibility:hidden;display:none;" href="#Changepassword" class="pull-right forgot-btn Changepassword_open">Forgot Pasword</p>

    <div id="modal-alert" class="iziModal"></div>

    <script src="~/js/CommonJS/custom-main.js?@strfileversion"></script>
    <script src="~/js/CommonJS/popup.js?@strfileversion"></script>
    <script src="~/js/CommonJS/swiper-slider.js?@strfileversion"></script>
    <script src="~/js/AppsJS/login.js"></script>
    <script src="~/js/detect.js?@strfileversion"></script>
    <script>
        var RedirectUrl = "@Url.Content("~/Redirect/Redirect")";
        var LoginSubmit = "@Url.Action("Loginsubmit", "Login")";
        var HomeMaster = "@Url.Action("HomeMaster", "Home")";
        var HomeFlight = "@Url.Action("Homeflight", "Home")";
        var CommonLog = "@Url.Action("Commonlog", "Login")";
        var ForgetPassword = "@Url.Action("ForgotPasswordGenerateOTP", "Login")";
        var ResetPassword = "@Url.Action("AgentChangePassword", "Login")";
        var Logout = "@Url.Action("Logout", "Login")";
        var NotauthorizedRedirect = "@Url.Content("~/Redirect/SessionExp?D=N")";
        var UpdatePassword = "@Url.Action("UpdatePassword", "Login")";
        var SessionExpire = "@Url.Action("SessionExp", "Redirect")";
        var GeoLocationUrl = "https://ipapi.co/json";
        var ProductType = '@strProductType';
        var strAppHost = "";

        var allowlogincountry = '@strallowlogincountry';
        window.onload = window.history.forward(0);
        var swiper = new Swiper('#services', {
            slidesPerView: 3,
            spaceBetween: 100,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                767: {
                    speed: 600,
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                    spaceBetween: 10,
                }
            }
        });
        var swiper = new Swiper('#riya-connect-services', {
            slidesPerView: 6,
            spaceBetween: 100,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 3000,
            },
            breakpoints: {
                1199: {
                    speed: 600,
                    slidesPerView: 4,
                    slidesPerGroup: 1,
                    spaceBetween: 10,
                },
                767: {
                    speed: 600,
                    slidesPerView: 3,
                    slidesPerGroup: 1,
                    spaceBetween: 10,
                },
                360: {
                    speed: 600,
                    slidesPerView: 2,
                    slidesPerGroup: 1,
                    spaceBetween: 10,
                }
            }
        });

        $(document).ready(function () {
            if (localStorage.getItem('chkbxrem') != null && localStorage.getItem('chkbxrem') == "true") {
                $('#txt_usrnm').val((localStorage.getItem('txtUsername') != null ? localStorage.getItem('txtUsername') : ""));
                $('#txt_passwd').val((localStorage.getItem('txtPWD') != null ? localStorage.getItem('txtPWD') : ""));
                $('#chkRemember').prop("checked", true);
            }
            $(".rconnect-tab-menu .list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $(".rconnect-tab .rconnect-tab-content").removeClass("active");
                $(".rconnect-tab .rconnect-tab-content").eq(index).addClass("active");
            });
        });

        $('#forgotpasword').popup({
            pagecontainer: '.container',
            transition: 'all 0.3s',
            blur: false,
        });
        $("#Changepassword").popup({
            pagecontainer: '.container',
            transition: 'all 0.3s',
            blur: false,
        });

        if (localStorage.getItem("secondtimelogincheck") != null && localStorage.getItem("secondtimelogincheck") == "Y") {
            var loginusernamepwd = '@ViewBag.usernamepasswor';
            localStorage.setItem("secondtimelogincheck", "N")
            $("#txt_usrnm").val(loginusernamepwd.split('|')[1]);
            $("#txt_usrnm").addClass('has-content');
            $("#txt_passwd").val(loginusernamepwd.split('|')[2]);

        }

        if ("@System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString()" == "T" && "@strProductType" == "RIYA") {
            $("#RUAE").addClass("R_indesk");
            $("#dvForgetpassword").hide();
        }

        var webchkkey = '@ViewBag.Checkwebkey';
        var webusername = '@ViewBag.Webcheckkey';

        if (webchkkey == "Y") { // "Y" when tdid query string contains encrypted value by vjiai 16052018
            if (webusername != "") { // Empty when the service returns false value by vjiai 16052018

                // WebkeyUpdatecheck(webusername.split('|')[0], "C");
                $("#txt_usrnm").val(webusername.split('|')[1]);
                $("#txt_usrnm").addClass('has-content');
                //$("#UserID").attr("readonly", "readonly");
                $("#txt_passwd").focus();
            }
            else {
                Notauthorized();
            }
        }
        else if (webchkkey == "N") {
            Notauthorized();
        }


        function Notauthorized() {
            window.location.href = NotauthorizedRedirect;
            setTimeout(function () {
                window.close()
            }, 5000);

        }
    </script>
</body>
</html>
