@{
    ViewBag.Title = "AgentProductiveAnalysis";
    string FileVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string country_code = System.Configuration.ConfigurationManager.AppSettings["COUNTRY"] != null ? System.Configuration.ConfigurationManager.AppSettings["COUNTRY"].ToString() : "";
    string strProducttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"];
    string strBranchAccess = Session["BRANCH_ACCESS"] != null && Session["BRANCH_ACCESS"].ToString() != "" ? Session["BRANCH_ACCESS"].ToString() : "ALL";
    string strBranchCredit = System.Configuration.ConfigurationManager.AppSettings["BRANCHALLOWCREDITBOOKING"].ToString();
    string strMigratedAgent = "N";
    //if (strBranchCredit != "" && strBranchAccess != "")
    //{
    //    if (strBranchCredit == "ALL" || strBranchAccess == "ALL")
    //    {
    //        strMigratedAgent = "Y";
    //    }
    //    else
    //    {
    //        string[] tempcredit = strBranchCredit.TrimEnd(',').Split(',');
    //        string[] tempbranch = strBranchAccess.TrimEnd(',').Split(',');
    //        var temparr = tempcredit.Intersect(tempbranch).ToList<string>();
    //        if (temparr.Count > 0)
    //        {
    //            strMigratedAgent = "Y";
    //        }
    //    }
    //}
}

@*<h2>AgentProductiveAnalysis</h2>*@
<link href="~/Content/CSS/Controlpanel.css?@FileVersion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.base.css" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.energyblue.css" rel="stylesheet" />
<link href="~/Content/CSS/CommonCSS/W2Grid.css" rel="stylesheet" />
<link href="~/Content/CSS/Search/jquerycalender-new.css?@FileVersion" rel="stylesheet" />
<link href="~/Content/CSS/Columns_Table/classic.css" rel="stylesheet" />
<link href="~/Content/CSS/w2ui-1.5.css" rel="stylesheet" />

<script src="~/js/jqxtable/jqx-all.js"></script>
<script src="~/js/jqxtable/jqxchart.core.js"></script>
<script src="~/js/jqxtable/jqxcore.js"></script>
<script src="~/js/jqxtable/modernizr.js"></script>
<script src="~/js/W2Grid.js"></script>
<script src="~/js/moment.min.js"></script>
<link href="~/Content/CSS/chosen.min.css" rel="stylesheet" />
<script src="~/js/chosen.jquery.js"></script>
<script src="~/js/w2ui-1.5.js"></script>

<style>
  
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }
    .table > tbody > tr > td {
        border-bottom: 1px solid #fff !important;
    }
    @@media screen and (max-width: 991px) and (min-width: 769px) {
        .console.container {
            width: 95%;
        }
        .clsspntitle {
            position: inherit;
            top: -3px;
        }
    }
    .agncyname {
        font-weight: 600 !important;    
    }
    .agncynameagnt {
        font-weight: 600 !important;       
        width: 50.666667% !important;
    }
   
    .clsheaders {
        margin-top: 100px;
        min-height: 15px; 
        background:#fff;
        margin-bottom: 50px;    
    }
    .secondrow {
        margin-top: 20px !important;
    }
    .changecls {
        margin-bottom: 10px;
        margin-top: 26px;
    }
    .dv-anim {
        width: 103% !important;
    }
    .MisMainDivSelect {
        border: 1px solid #e2e2e2 !important;
        height: 30px !important;
        width: 99% !important;
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        background-color: #bb0d25 !important;
    }
    @@media (min-width: 1200px) {
        .col-lg-offset-4 {
            margin-left: 34.333333%;
        }
    }
    .columns .ui-table tbody tr.ui-table-rows-even {
        background: #f2f2f2;
    }
    .columns .ui-table tbody tr td {
        text-align: center;
        padding: 5px;
    }
    .columns .ui-table tbody tr.ui-table-rows-even {
        background: #f2f2f2 !important;
    }
    .clrclass .dv-anim{
        z-index: 1;
    }  
   
</style>

<div id="dvsamplemain">
    <!--marquee-->
    <div class="console container pad-0 clrclass">

        <div class="col-xs-12 col-md-12 col-sm-12 R_box-shadow col0 clsheaders">
            <div class="cls-header m-b-10" id="Heading">
                <h4 class="Rpt_headertilte">
                    <span class="R_transt_sprit sprit_p1"></span><span>Agent Productive Analysis</span>
                </h4>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10 pad-0">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtfromdate" placeholder="From date" class="txt-anim has-content" type="text" />
                            <label id="lblFromDate" class="agncyname">Booking From</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtTodate" placeholder="To date" class="txt-anim has-content" type="text" />
                            <label id="lblToDate" class="agncyname">Booking To</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtActiveFrom" placeholder="From date" class="txt-anim has-content" type="text" />
                            <label id="lblActiveFrom" class="agncyname">Active From</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtActiveTo" placeholder="To date" class="txt-anim has-content" type="text" />
                            <label id="lblActiveTo" class="agncyname">Active To</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Branch</span>
                        <select id="ddlBranch" data-placeholder="ALL" class="MisMainDivSelect"></select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">State</span>
                        <select id="ddlState" data-placeholder="ALL" class="MisMainDivSelect"></select>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Agent Type</span>
                        <select class="MisMainDivSelect" id="ddlAgntType">
                            <option value="">ALL</option>
                            <option value="RI">Riya Internal</option>
                            <option value="RS">Riya Subagent</option>
                            <option value="RA">Riya API</option>
                            <option value="RY">Riya Weekly</option>
                            <option value="RM">Riya RM</option>
                        </select>
                    </div>
                <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Module</span>
                        <select class="MisMainDivSelect" id="ddlModule">
                            <option value="">ALL</option>
                            <option value="C">Credit</option>
                            <option value="B">BOA</option>
                            <option value="Q">Queue Ticketing</option>
                        </select>
                    </div>
                   
                    <div class="col-xs-8 col-md-4 col-sm-3 col-lg-2 changecls agncynameagnt">
                        <label for="ddlAgentID" class="clsspntitle agncynameagnt">Agency Name/Agent ID</label>
                        <input type="text" class="txt-anim agncynameagnt" id="ddlAgentID" maxlength="60" />
                    </div>
                    <div class="col-xs-4 col-md-4 col-sm-3 col-lg-3">
                        @if (strMigratedAgent == "Y")
                        {
                            <label class="withfarechkbx" style="left: 31px; top: 35px;">
                                <input type="checkbox" id="chkMigrated">
                                <label for="chkMigrated" @*style="left: 5px !important"*@>Migrated Agent</label>
                                <span class="checkmark" style="left: 0px;"></span>
                            </label>
                        }
                    </div>

                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 ">
                        <input type="button" class="action-button shadow animate color" id="btn_ok" style="width: 100%;" value="Get" onclick="return getdetails();" />
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2">
                        <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" style="width: 100%;" value="Clear" onclick="return btnclear();" />
                    </div>
                    <div class="hidden-xs col-md-2 col-sm-3 col-lg-2" id="margintop">

                        @using (Html.BeginForm("ExportToExcel", "CntrlPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.Hidden("RepFlag", "AGENTPRODUCTIVE")
                            <input type="submit" id="Btn_excel" class="action-button shadow animate color colorG" style="width: 100%; display: none;" value="Export to Excel" />
                        }
                    </div>
                </div>

                </div>
            <div class="col-lg-12" id="DvChar" style="display: none; width: 100%; background: #fff; padding-bottom: 20px;">
                <div class="row row0">
                    <div id="DvGrid" class="columns"></div>
                </div>
            </div>
            </div>
        </div>
    </div>

<script src="~/js/commontable_boostrap.js?@FileVersion"></script>
<script src="~/js/cbpFWTabs.js?@FileVersion"></script>
<script src="~/js/Slider/jquery.easing.1.3.js?@FileVersion"></script>
<script src="~/js/jquery.nice-select.js?@FileVersion"></script>
<script src="~/js/CommonJS/jquery-ui-new.js"></script>

<script>

    var currentDate = "@ViewBag.ServerDateTime";
    // var currentDate = new Date().getDate() - 1;
    var loaderimgurl = "@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")";
    var day = currentDate.split('/');
    $(function () {
        $('.clscmbanim').niceSelect();
        $('.chosen').chosen({ width: "83%" });
        LoadClient();
    });

    $("#txtfromdate").val("");
   $("#txtfromdate").addClass("has-content");
    $("#txtfromdate").datepicker({
        maxDate: (currentDate,-1), dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
    });
    $("#txtActiveFrom").val("");
    $("#txtActiveFrom").addClass("has-content");
    $("#txtActiveFrom").datepicker({
        maxDate: (currentDate, -1), dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
    });
    $("#txtActiveTo").val("");
    $("#txtActiveTo").addClass("has-content");
    $("#txtTodate").val("");
    $("#txtTodate").addClass("has-content");
    $("#txtTodate").change(function () {
        $("#txtTodate").addClass("has-content");
    })
    $("#txtActiveTo").change(function () {
        $("#txtActiveTo").addClass("has-content");
    })
    $("#txtTodate").datepicker({

        minDate: $("#txtfromdate").val(), maxDate: (currentDate, -1), dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
    });
    $("#txtActiveTo").datepicker({
        minDate: $("#txtActiveFrom").val(), maxDate: (currentDate, -1), dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
    });

    $("#txtfromdate").on('change keyup paste', function () {

        $("#txtfromdate").addClass("has-content");
        $("#txtTodate").datepicker("destroy");
        $("#txtTodate").datepicker({
            minDate: $("#txtfromdate").val(), maxDate: (currentDate, -1), dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });

    });
    $("#txtActiveFrom").on('change keyup paste', function () {

        $("#txtActiveFrom").addClass("has-content");
        $("#txtActiveTo").datepicker("destroy");
        $("#txtActiveTo").datepicker({
            minDate: $("#txtActiveFrom").val(), maxDate: (currentDate, -1), dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });

    });
    var BranchID = "", GroupID = "", ClientID = "", ClientName = "";
    function LoadClient() {
        $.blockUI({
            message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetClientData", "Home")",
            contentType: "application/json; charset=utf-8",
        timeout: 180000,
        dataType: "json",
        success: function (data) {

            var data = data["Data"];
            try {
                var arr = JSON.parse(data.Result);
                if (data.Status == "01") {
                    if (arr.length > 0) {
                        var arrBranch = "";
                        arrBranch = arr.reduce(function (item, e1) {
                            var matches = item.filter(function (e2) {
                                return e1.BID == e2.BID
                            });
                            if (matches.length == 0) {
                                item.push(e1);
                            }
                            return item;
                        }, []);
                        $("#ddlBranch").append('<option value="">ALL</option>');
                        for (var m = 0; m < arrBranch.length; m++) {
                            if (arrBranch[m]["BID"] != "") {
                                $("#ddlBranch").append('<option value="' + arrBranch[m]["BID"] + '">' + arrBranch[m]["BNAME"] + '</option>');
                            }
                        }
                        $("#ddlBranch").chosen();
                    }
                    $('#ddlAgentID').typeahead('destroy');
                    $('#ddlAgentID').typeahead({
                        source: arr,
                        items: 5,
                        displayField: "CLTNAME",
                        valueField: "CLTCODE",
                        scrollBar: true,
                        onSelect: displayResults,
                    });
                    function displayResults(item) {
                        ClientID = item.value;
                        GroupID = item.GROUPID_s;
                        BranchID = item.bid_s;
                        ClientName = item.text;
                    }
                }
                else {
                    $('#ddlAgentID').hide();
                }
                $.unblockUI();
            }
            catch (err) {
                $.unblockUI();
                console.log(err.message)
            }
        },
        error: function (e) {
            $.unblockUI();
            console.log(e.message);
        }
    });
    }

    $(document).ready(function () {
        var country_code = '@country_code';
        var Statelist = "";
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/XML/State.xml?v=0.1")',
            dataType: "xml",
            success: function (xmlResponse) {
                Statelist += "<option value=''>ALL</option>";
                $(xmlResponse).find('STATE').each(function () {
                    if ($(this).find('COUNTRY_ID').text() == country_code.toUpperCase()) {
                        var stateid = $(this).find('STATE_ID').text();
                        var statename = $(this).find('STATE_NAME').text();
                        Statelist += "<option value=" + stateid + ">" + statename + "</option>";
                    }
                });
                $("#ddlState").html(Statelist);
                $("#ddlState").chosen();
            },
            error: function (e) {
            }
        });
    });
    $("#ddlAgntType").chosen();
    $("#ddlModule").chosen();
    function getdetails() {

        var BookingFrmDate = $("#txtfromdate").val();
        var BookingTodate = $("#txtTodate").val();
        var ActiveFrom = $("#txtActiveFrom").val();
        var ActiveTo = $("#txtActiveTo").val();
        var State = $("#ddlState").val();
        var Branch = $("#ddlBranch").val();
        var Salesman = "";
        var CustomerNo = "";
        var Module = $("#ddlModule").val();
        var Agencyname = "";
        var AgencyId = ClientName.split('~')[2];
        var AgentType = $("#ddlAgntType").val();
        ClientName = "";
        if (AgencyId != null && AgencyId != undefined) {
            AgencyId = AgencyId;
        }
        else {
            AgencyId = "";
        }
        $("#Btn_excel").css("display", "none");
        var AgencyName = "";

        var strMigratedAgent = "N";
        @*if ('@strMigratedAgent' == "Y") {
            strMigratedAgent = $("#chkMigrated").is(":checked") ? "Y" : "N"
        }*@

        var param = {
            strBookingFrmDate: BookingFrmDate,
            strBookingTodate: BookingTodate,
            strActiveFrom: ActiveFrom,
            strActiveTo: ActiveTo,
            strState: State,
            strBranch: Branch,
            strSalesman: Salesman,
            strCustomerNo: CustomerNo,
            strModule: Module,
            strAgencyId: AgencyId,
            strAgentType: AgentType,
            strAgencyName: AgencyName,
            strMigratedAgent: strMigratedAgent,
        }
        $.blockUI({
            message: '<img alt="Please Wait..." src="@Url.Content("~/Images/" + strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '@Url.Action("FetchAgentProductiveData", "CntrlPanel")',
            data: JSON.stringify(param),
            dataType: "json",
            success: function (data) {

                $.unblockUI();
                try {
                    if (data.Results[1] != null && data.Results[1] != "") {// && data.Status == "01"
                        var jsondata = $.parseJSON(data.Results[1]);
                        if (jsondata.length > 0) {
                            GridData(jsondata);
                        }
                    }
                    else {
                        $("#DvGrid").css("display", "none");
                        alert("No Records Found");
                        return false;
                    }
                }
                catch (e) {
                    console.log(e.message);
                }
            },
            error: function (e) {
                $.unblockUI();
                console.log(e.message);
            }
        });
    }
    function GridData(jsondata) {
        $('#DvChar').show();
        $("#Btn_excel").css("display", "block");

        var columns = [];
        $.each(jsondata[0], function (obj, val) {
            if (obj != "Edit" && obj != "View" && obj != "Add Terminal" && obj != "Group Name" && obj != "Action" && obj != "AGENTCOUNT" && obj != "Block List Agent" && obj != "Allowed Module" && obj != "LockThread") {
                if (obj == "CITY") {
                    columns.push({ field: obj, caption: "City", size: "150px", resizable: true, sortable: true });
                }
                else if (obj == "STATE") {
                    columns.push({ field: obj, caption: "State", size: '150px', resizable: true, sortable: true, })
                }
                else if (obj == "CLT_BALANCE_CHECK") {
                    columns.push({ field: obj, caption: "Balance Check", size: "150px", resizable: true, sortable: true });
                }
                else {
                    columns.push({ field: obj, caption: obj, size: "150px", resizable: true, sortable: true, attr: "align=left" });
                }
            }
        });
        var count = 0;
        for (var i = 0; i < jsondata.length; i++) {
            var object1 = {
                "recid": count++
            }
            $.extend(jsondata[i], object1);
        }
        $("#DvGrid").w2destroy('Agent_Productive');
        $("#DvGrid").css("height", "400px");
        $("#DvGrid").w2grid({
            name: 'Agent_Productive',
            recordHeight: 30,
            show: { footer: true, toolbar: false },
            columns: columns,
            records: jsondata,
            selectType: 'cell',
        });
        $("#DvGrid").show();
        $("#btnexcel").css("display", "block");
    }
    function btnclear() {
        $("#ddlBranch").val("").trigger("chosen:updated");
        $("#ddlAgntType").val("").trigger("chosen:updated");
        $("#ddlState").val("").trigger("chosen:updated");
        $("#ddlAgentID").val("");
        $("#ddlModule").val("").trigger("chosen:updated");
        $("#DvGrid").css("display", "none");
        $("#Btn_excel").css("display", "none");
        //date();
        $("#txtfromdate").val("");
        $("#txtTodate").val("");
        $("#txtActiveFrom").val("");
        $("#txtActiveTo").val("");
    }
</script>
