@{
    ViewBag.Title = "AgentDetailsReport";
    string StrVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString();
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
    string strImageURL = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string strLoaderURL = strImageURL + "/" + strProduct + "/" + "loader.gif?" + StrVersion;
    string country_code = System.Configuration.ConfigurationManager.AppSettings["COUNTRY"] != null ? System.Configuration.ConfigurationManager.AppSettings["COUNTRY"].ToString() : "";
}
<link href="~/Content/CSS/Controlpanel.css?@StrVersion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.base.css" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.energyblue.css" rel="stylesheet" />
<script src="~/js/jqxtable/jqx-all.js"></script>
<script src="~/js/jqxtable/jqxchart.core.js"></script>
<script src="~/js/jqxtable/jqxcore.js"></script>
<script src="~/js/jqxtable/modernizr.js"></script>
<link href="~/Content/CSS/CommonCSS/W2Grid.css" rel="stylesheet" />
<script src="~/js/W2Grid.js"></script>
<script src="~/js/moment.min.js"></script>
<link href="~/Content/CSS/chosen.min.css" rel="stylesheet" />
<script src="~/js/chosen.jquery.js"></script>
<script src="~/js/jquery.xml2json.js"></script>
<link href="~/Content/CSS/Columns_Table/classic.css" rel="stylesheet" />
<link href="~/Content/CSS/w2ui-1.5.css" rel="stylesheet" />
<script src="~/js/w2ui-1.5.js"></script>
<style>
    @@media screen and (max-width: 720px) and (min-width: 350px) {
        #margintop {
            margin-top: 10px;
        }
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }
    .table > tbody > tr > td {
        border-bottom: 1px solid #fff !important;
    }
    @@media screen and (max-width: 991px) and (min-width: 769px) {
        .console.container {
            width: 95%;
        }
        .clsspntitle {
            position: inherit;
            top: -3px;
        }
    }
    .agncyname {
        font-weight: 600 !important;    
    }
    .agncynameagnt {
        font-weight: 600 !important;       
        width: 50.666667% !important;
    }
    .row {
        margin-left: 0 !important;
    }
    .clsheaders {
        margin-top: 100px;
        min-height: 15px;     
    }
    .secondrow {
        margin-top: 20px !important;
    }
    .changecls {
        margin-bottom: 10px;
        margin-top: 26px;
    }
    .dv-anim {
        width: 103% !important;
    }
    .MisMainDivSelect {
        border: 1px solid #e2e2e2 !important;
        height: 30px !important;
        width: 99% !important;
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        background-color: #bb0d25 !important;
    }
    @@media (min-width: 1200px) {
        .col-lg-offset-4 {
            margin-left: 34.333333%;
        }
    }
    .columns .ui-table tbody tr.ui-table-rows-even {
        background: #f2f2f2;
    }
    .columns .ui-table tbody tr td {
        text-align: center;
        padding: 5px;
    }
    .columns .ui-table tbody tr.ui-table-rows-even {
        background: #f2f2f2 !important;
    }
    .clrclass{
        background: #fff !important;
        height:800px;
    }
    .clrclass .dv-anim{
        z-index: 1;
    }  
</style>
<div id="dvsamplemain">
    <!--marquee-->
    <div class="console container pad-0 clrclass">

        <div class="col-xs-12 col-md-12 col-sm-12 R_box-shadow col0 clsheaders">
            <div class="cls-header m-b-10" id="Heading">
                <h4 class="Rpt_headertilte">
                    <span class="R_transt_sprit sprit_p1"></span><span>Agent Details</span>
                </h4>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10 pad-0">
                <div class="row Firstrow">
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtfromdate" class="txt-anim" type="text" />
                            <label id="lblFromDate" class="agncyname">Joined From Date</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtTodate" class="txt-anim" type="text" />
                            <label id="lblToDate" class="agncyname">Joined To Date</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Branch</span>
                        <select id="ddlBranch" data-placeholder="ALL" class="MisMainDivSelect"></select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">State</span>
                        <select id="ddlState" data-placeholder="ALL" class="MisMainDivSelect"></select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Agent Type</span>
                        <select class="MisMainDivSelect" id="ddlAgntType">
                            <option value="">ALL</option>
                            <option value="RI">Riya Internal</option>
                            <option value="RS">Riya Subagent</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Availability Status</span>
                        <select class="MisMainDivSelect" id="ddlAvailStatus">
                            <option value="ALL">ALL</option>
                            <option value="Active">Active</option>
                            <option value="Blocked">Block</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Status</span>
                        <select class="MisMainDivSelect" id="ddlStatus">
                            <option value="">ALL</option>
                            <option value="1">Active</option>
                            <option value="2">Blocked</option>
                        </select>
                    </div>                
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 changecls">
                        <label for="txtSalesInc" class="clsspntitle agncyname">Sales Incharge</label>
                        <input type="text" class="txt-anim" id="txtSalesInc" />
                    </div>
                    <div class="col-xs-8 col-md-4 col-sm-3 col-lg-2 changecls agncynameagnt">
                        <label for="ddlAgentID" class="clsspntitle agncynameagnt">Agency Name/Agent ID</label>
                        <input type="text" class="txt-anim agncynameagnt" id="ddlAgentID" maxlength="60" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-offset-4 col-xs-6 col-md-2 col-sm-3 col-lg-2 clsssize">
                        <input type="button" class="action-button shadow animate color" id="btn_ok" style="width: 100%;" value="Get" onclick="return getdetails();" />
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 clsssize">
                        <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" style="width: 100%;" value="Clear" onclick="return cleardata();" />
                    </div>                   
                </div>
            </div>
            <div class="col-lg-12" id="DvChar" style="display: none; width: 100%; background: #fff; padding-bottom: 20px;">
               <div class="row row0">
                   <div id="DvGrid" class="columns"></div>
                   </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/commontable_boostrap.js?@StrVersion"></script>
<script src="~/js/cbpFWTabs.js?@StrVersion"></script>
<script src="~/js/Slider/jquery.easing.1.3.js?@StrVersion"></script>
<script src="~/js/jquery.nice-select.js?@StrVersion"></script>
<script>
    var globDate_start = "@ViewBag.ServerDateTime";
    var currentDate = "@ViewBag.ServerDateTime";
    var day = currentDate.split('/');
    var Airlinexml = ' @Url.Content("~/XML/AirlineNames.xml")';
    $(function () {
        $('.clscmbanim').niceSelect();
        $('.chosen').chosen({ width: "83%" });
        LoadClient();
    });
    $(document).ready(function () {
        var country_code = '@country_code';
        var Statelist = "";
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/XML/State.xml?v=0.1")',
            dataType: "xml",
            success: function (xmlResponse) {
                Statelist += "<option value=''>ALL</option>";
                $(xmlResponse).find('STATE').each(function () {
                    if ($(this).find('COUNTRY_ID').text() == country_code.toUpperCase()) {
                        var stateid = $(this).find('STATE_ID').text();
                        var statename = $(this).find('STATE_NAME').text();
                        Statelist += "<option value=" + stateid + ">" + statename + "</option>";
                    }
                });
                $("#ddlState").html(Statelist);
                $("#ddlState").chosen();
            },
            error: function (e) {
            }
        });
    });
    date();
    function date(){
    $("#txtfromdate").val(currentDate);
    $("#txtfromdate").addClass("has-content");
    $("#txtfromdate").datepicker({
        maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
    });
    $("#txtTodate").val(currentDate);
    $("#txtTodate").addClass("has-content");
    $("#txtTodate").datepicker({
        minDate: $("#txtfromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
    });
    $("#txtfromdate").on('change keyup paste', function () {
        $("#txtTodate").datepicker("destroy");
        $("#txtTodate").datepicker({
            minDate: $("#txtfromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });

    });
    }
    function pageLoad() {
        $("#txtfromdate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });

        $("#txtTodate").datepicker({
            minDate: $("#txtfromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });

        $("#txtfromdate").on('change keyup paste', function () {
            $("#txtTodate").datepicker("destroy");
            $("#txtTodate").datepicker({
                minDate: $("#txtfromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
            });
        });
    }

    var BranchID = "", GroupID = "", ClientID = "", ClientName = "";
    function LoadClient() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetClientData", "Home")",
            contentType: "application/json; charset=utf-8",
            timeout: 180000,
            dataType: "json",
            success: function (data) {
                var data = data["Data"];
                try {
                    var arr = JSON.parse(data.Result);
                    if (data.Status == "01") {
                        if (arr.length > 0) {
                            var arrBranch = "";
                            arrBranch = arr.reduce(function (item, e1) {
                                var matches = item.filter(function (e2) {
                                    return e1.BID == e2.BID
                                });
                                if (matches.length == 0) {
                                    item.push(e1);
                                }
                                return item;
                            }, []);
                            $("#ddlBranch").append('<option value="">ALL</option>');
                            for (var m = 0; m < arrBranch.length; m++) {
                                if (arrBranch[m]["BID"] != "") {
                                    $("#ddlBranch").append('<option value="' + arrBranch[m]["BID"] + '">' + arrBranch[m]["BNAME"] + '</option>');
                                }
                            }
                            $("#ddlBranch").chosen();
                        }
                        $('#ddlAgentID').typeahead('destroy');
                        $('#ddlAgentID').typeahead({
                            source: arr,
                            items: 5,
                            displayField: "CLTNAME",
                            valueField: "CLTCODE",
                            scrollBar: true,
                            onSelect: displayResults,
                        });
                        function displayResults(item) {
                            ClientID = item.value;
                            GroupID = item.GROUPID_s;
                            BranchID = item.bid_s;
                            ClientName = item.text;
                        }
                    }
                    else {
                        $('#ddlAgentID').hide();
                    }
                }
                catch (err) {
                    console.log(err.message)
                }
            },
            error: function (e) {
                console.log(e.message);
            }
        });
    }
    $("#ddlAgntType").chosen();
    $("#ddlAvailStatus").chosen();
    $("#ddlStatus").chosen();


    function getdetails() {
        
        var fromdate = $("#txtfromdate").val();
        var todate = $("#txtTodate").val();
        var Branch = $("#ddlBranch").val();
        var State = $("#ddlState").val();
        var AgntType = $("#ddlAgntType").val();
        var AvailStatus = $("#ddlAvailStatus").val();
        var Status = $("#ddlStatus").val();
        var Agencyname = "";
        
        var AgencyId = ClientName.split('~')[2];
      //  AgencyId = AgencyId.split('~')[2];
        
        ClientName = "";
        if (AgencyId != null && AgencyId != undefined) {
            AgencyId = AgencyId;
        }
        else {
            AgencyId = "";
        }
     
        var SalesInchrge = $("#txtSalesInc").val();
        var Param = {
            strfromdate: fromdate,
            strtodate: todate,
            strBranch: Branch,
            strState: State,
            strAgntType: AgntType,
            strAvailStatus: AvailStatus,
            strStatus: Status,
            strAgencyname: Agencyname,
            strAgencyId: AgencyId,
            strSalesInchrge: SalesInchrge
        }
        $.blockUI({
            message: '<img alt="Please Wait..." src="@strLoaderURL" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '@Url.Action("FetchAgentDetailsReport", "CntrlPanel")',
            data: JSON.stringify(Param),
            dataType: "json",
            //async: false,
            success: function (data) {
                
                $.unblockUI();
                try {
                    if (data.Results[1] != null && data.Results[1] != "") {// && data.Status == "01"
                        var jsondata = $.parseJSON(data.Results[1]);
                        if (jsondata.length > 0) {
                         GridData(jsondata);
                        }
                    }
                    else {
                        $("#DvGrid").css("display", "none");
                        alert("No Records Found");
                        return false;
                    }
                }
                catch (e) {
                    console.log(e.message);
                }
            },
            error: function (e) {
                $.unblockUI();
                console.log(e.message);
            }
        });
    }
    function GridData(jsondata) {
        $('#DvChar').show();
        $("#DvGrid").css("display", "block");
        var columns = [];
        $.each(jsondata[0], function (obj, val) {
            if(obj != "Edit" && obj != "View" && obj != "Add Terminal"){
            if (obj == "CITY") {
                columns.push({ field: obj, caption: "City", size: "150px", resizable: true, sortable: true });
            }
            else if (obj == "STATE") {
                columns.push({ field: obj, caption: "State", size: '150px', resizable: true, sortable: true,})
            }
            else if (obj == "CLT_BALANCE_CHECK") {
                columns.push({ field: obj, caption: "Balance Check", size: "150px", resizable: true, sortable: true});
            }
            else if (obj == "AGENTCOUNT") {
                columns.push({ field: obj, caption: "Agent Count", size: "150px", resizable: true, sortable: true, attr: "align=right" });
            }
          else {
                columns.push({ field: obj, caption: obj, size: "150px", resizable: true, sortable: true, attr: "align=left" });
            }
            }
        });
        var count = 0;
        for (var i = 0; i < jsondata.length; i++) {
            var object1 = {
                "recid": count++
            }
            $.extend(jsondata[i], object1);
        }
        $("#DvGrid").w2destroy('Agent_Details');
        $("#DvGrid").css("height", "400px");
        $("#DvGrid").w2grid({
            name: 'Agent_Details',
            recordHeight: 30,
            show: { footer: true, toolbar: false },
            columns: columns,
            records: jsondata,
          //  selectType: 'cell',
        });
        $("#DvGrid").show();
    }
    
    function cleardata() {      
        $("#ddlBranch").val("").trigger("chosen:updated");
        $("#ddlAgntType").val("").trigger("chosen:updated");
        $("#ddlState").val("").trigger("chosen:updated");
        $("#ddlAvailStatus").val("ALL").trigger("chosen:updated");
        $("#ddlStatus").val("").trigger("chosen:updated");
        $("#ddlIcustid").val("").trigger("chosen:updated");
        $("#txtSalesInc").val("");
        $("#ddlAgentID").val("");
        $("#DvGrid").css("display", "none");
        date();
    }
</script>