@{
    ViewBag.Title = "Agentdetail";
    string _homtxt = Session["HomeText"] != null ? Session["HomeText"].ToString() : "";
    string[] _toptxtary = Session["TopText"] != null ? Session["TopText"].ToString().Split('~') : "".Split('~');
    string[] _righttxtary = Session["RightText"] != null ? Session["RightText"].ToString().Split('*') : "".Split('*');
    string _standrdtxt = Session["StandardText"] != null ? Session["StandardText"].ToString() : "";
    string[] _tabRights = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : "".Split('|');
    string SeqId = Session["sequenceid"] != null ? Session["sequenceid"].ToString() : "V1.1";
    string[] _image = Session["accessimage"] != null ? Session["accessimage"].ToString().Split('|') : "".Split('|');
    string _imgext = System.Configuration.ConfigurationManager.AppSettings["Producttype"] == "RIYA" ? ".jpg" : ".png";
    string fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string Imagepath = System.Configuration.ConfigurationManager.AppSettings["AgentLogoPath"] + "/AgentLogo/" + Session["POS_ID"].ToString() + _imgext + "?" + SeqId;
}
<style>
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }
</style>
<link href="~/Content/CSS/Controlpanel.css?@fileversion" rel="stylesheet" />
<div id="dvsamplemain" class="rightside">
    <div class="col-md-10 col-md-offset-1 col-xs-12" style="display:none">
        <div class="breakingNews bn-yellow animated my_flipInX" id="bn2">
            <div class="bn-title" style="width: auto;">
                <h2 style="display: inline-block;"></h2>
                <span></span>
            </div>
            @Html.Partial("_flashNews");
            <div class="bn-navi">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!--End of marquee-->
    <div class="col-xs-12  col-sm-12  col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 R_box-shadow mg-btm-20 bg-white col0 mg-tp-0-res" style="margin-top: 30px;">
        <div class="cls-header m-b-10">
            <h4 class="Rpt_headertilte bg-lt-blu">
                <span class="R_agent_sprit sprit_p1"></span><span>Agent Details</span>
            </h4>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="agentx" style="margin-bottom: 20px">

            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 col-lg-offset-3">
                <div class="rb-div" style="padding: 6px 0px; min-height: inherit">
                    <input type="radio" class="rb" checked="checked" id="atext" onclick="chenge('T')" name="nameradiogrp">
                    <label for="rblTripType" class="rblbl">Agent Text</label>
                    <div class="bullet">
                        <div class="line zero"></div>
                        <div class="line one"></div>
                        <div class="line two"></div>
                        <div class="line three"></div>
                        <div class="line four"></div>
                        <div class="line five"></div>
                        <div class="line six"></div>
                        <div class="line seven"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 agentlogo">
                <div class="rb-div" style="padding: 6px 0px; min-height: inherit">
                    <input type="radio" class="rb" id="alogo" onclick="chenge('L')" name="nameradiogrp">
                    <label for="rblTripType" class="rblbl">Agent Logo</label>
                    <div class="bullet">
                        <div class="line zero"></div>
                        <div class="line one"></div>
                        <div class="line two"></div>
                        <div class="line three"></div>
                        <div class="line four"></div>
                        <div class="line five"></div>
                        <div class="line six"></div>
                        <div class="line seven"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pad-0" id="agntextfrm">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 change_new_old_confirm_pass">
                <div class="dv-anim input-effect m-0">
                    <input id="prevtxt" runat="server" class="txt-anim" type="text" readonly="true" />

                    <label>Preview</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 change_new_old_confirm_pass">

                <div class="dv-anim input-effect m-0 m-sm-t15">
                    @*  <textarea id="agntext" maxlength="40" class="txt-anim textarea" cols="3" runat="server"></textarea>*@
                    <input id="agntext" runat="server" maxlength="40" class="txt-anim" type="text" />
                    <label>Enter Text</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col0 mrgn-tp-30res" style="margin-bottom: 15px">
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <input type="button" class="action-button shadow animate color" id="prevbtn" style="width: 100%;" value="Preview" onclick="previewtext('p')" />
                </div>
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <input type="button" class="action-button shadow animate color" id="updatebtn" style="width: 100%;" value="Update" onclick="previewtext('u')" />
                </div>
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <input type="button" class="action-button action-buttonB shadow animate  colorB1" id="deltext" runat="server" style="width: 100%;" value="Clear" onclick="cleartext()" />
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 mrgn-tp-30res" style="margin-bottom: 15px">
                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
                    <div id="ctrlpaneldetailsupdate">
                        <div class="message_wrap showhide">
                            <p class="message">
                                <span id="dvGrpBkngerr_msg" class="error">All field(s) should not be empty.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="agnlogofrm" style="display: none">

            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 change_new_old_confirm_pass">

                <input type="file" id="fileToUpload" runat="server" name="fileToUpload" accept="image/*" onchange="loadFile(event)" />
                <span class="field-validation-error" id="spanfile"></span>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 change_new_old_confirm_pass" style="text-align: center;">
                <div id="imgs" runat="server">
                    <img id="img" style="max-height: 170px; max-width: 530px;" src="" />
                </div>
                <div id="Noimg" runat="server" style="display: none; color: red; font-weight: bolder;">
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="margin-bottom: 15px">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 col-lg-offset-3">
                    <input type="button" id="btnSubmit" class="action-button shadow animate color" style="width: 100%;" value="Update" onclick="agentlogo_updates();" />
                </div>
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3" style="margin-bottom: 15px">

                    <input type="button" class="action-button shadow animate color colorB1" style="width: 100%;" value="Delete" onclick="agentlogo_delete();" />

                </div>

            </div>

            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="margin-bottom: 15px">
                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
                    <div id="ctrlpanelfileupdate">
                        <div class="message_wrap showhide">
                            <p class="message">
                                <span id="dvGrpBkngerr_msg_file" class="error">All field(s) should not be empty.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12  col-sm-12  col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" id="imageuplo" style="display: none; margin-top: 10px;margin-bottom:10px; background: #ff6a00;">


        <ul class="dl-horizontal InfoRed" style="margin-top: inherit;">
            <li>*.PNG Formats only Allowed.</li>
            <li>Image size should be greater than <b>120(height) X&nbsp;200(width). </b></li>
        </ul>
    </div>
</div>



<script>



    var errPdiv = "ctrlpaneldetailsupdate", errdiv_msg = "dvGrpBkngerr_msg";
    var errPdiv_imag = "ctrlpanelfileupdate", errdiv_msg_imag = "dvGrpBkngerr_msg_file";
    function chenge(type) {
        if (type == "T") {
            document.getElementById("agntextfrm").style.display = "block";
            document.getElementById("agnlogofrm").style.display = "none";
            document.getElementById('imageuplo').style.display = "none";
            $('#alogo').prop('checked', false);
            $('#atext').prop('checked', true);
            document.getElementById("agntext").value = "";
            document.getElementById("agentx").style.marginBottom = "20px !important";
            $('#ctrlpaneldetailsupdate').removeClass('has_error');
        }
        else if (type == "L") {
            document.getElementById("agntextfrm").style.display = "none";
            document.getElementById("agnlogofrm").style.display = "block";
            document.getElementById('imageuplo').style.display = "block";
            $('#alogo').prop('checked', true);
            $('#atext').prop('checked', false);
            document.getElementById("agentx").style.marginBottom = "0px !important";
            $('#ctrlpanelfileupdate').removeClass('has_error');
        }
    }
    function cleartext() {
        document.getElementById("agntext").value = "";
        document.getElementById("prevtxt").value = "";
        $("#prevtxt").removeClass("has-content");
        $("#ctrlpaneldetailsupdate").removeClass("has_error");
    }



    function previewtext(btntype) {

        $("#ctrlpaneldetailsupdate").removeClass("has_error");

        var btn = btntype;
        var text = document.getElementById("agntext").value;
        if (btn == "u") {
            if (text == "") {
                showError("Please Enter the text to Update!", errPdiv, errdiv_msg, "");
                //      alert("Please Enter the text to Update");
                return false;
            }
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("agenttextupdate", "CntrlPanel")",
            data: '{btn: "' + btn + '",text:"' + text + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {
                var result = json.Result;
                if (result[1] != "") {
                    showError("Text Update Successfully", errPdiv, errdiv_msg, "");
                    //   alert("Text Update Successfully");
                    document.getElementById("agntext").value = "";
                    document.getElementById("prevtxt").innerHTML = "";
                    return false;
                }
                else if (result[2] != "") {
                    document.getElementById("prevtxt").value = result[2];
                    $("#prevtxt").addClass("has-content");
                    document.getElementById("agntext").value = "";
                    return false;
                }
                else {
                    showError(result[0], errPdiv, errdiv_msg, "");
                    //   alert(result[0]);
                }

            },
            error: function (e) {
                if (e.status == "500") {
                    showError("An Internal Problem Occurred. Your Session will Expire.", errPdiv, errdiv_msg, "");
                    //    alert("An Internal Problem Occurred. Your Session will Expire.");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }


            }

        });
    }



    function agentlogo_delete() {

        $.ajax({
            type: "POST",
            url: "@Url.Action("btn_Delete_Click", "CntrlPanel")",
            //    url: "NewAvailServers.asmx/GettingFullDetails",
            data: '{btn:"1"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {

                var test = json.Text;
                var applicationpath = json.Path;
                showError(test, errPdiv_imag, errdiv_msg_imag, "");


                var output = document.getElementById('img');
                output.src = "";

                var powerstar = document.getElementById('powerstarimg');
                powerstar.src = applicationpath + "?" + new Date().getTime();

                var item = '@Imagepath';
                var input = $("#fileToUpload");
                input = input.val('').clone(true);

                if (item == "") {
                    $('#Noimg').html('<div>Image does not exist.</div>');
                    $('#Noimg').css("display", "block");
                }
                else if (item == "Invalid input") {
                    $('#Noimg').html('<div>Some Problem in Image upload.</div>');
                    $('#Noimg').css("display", "block");
                }
            },

            error: function (e) {

                $.unblockUI();
                if (e.status == "500") {
                    showError("Session has been Expired.", errPdiv_imag, errdiv_msg_imag, "");
                    //alert("Session has been Expired.");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }
            }
        });




    }


    $(document).ready(function () {

        var Imagepath = '@Imagepath';

        $('#ctrlpanelfileupdate').removeClass('has_error');
        var item = '@Imagepath';

        if (item == "") {
            $('#Noimg').html('<div>Image does not exist.</div>');
            $('#Noimg').css("display", "block");
        }
        else if (item == "Invalid input") {
            $('#Noimg').html('<div>Some Problem in Image upload.</div>');
            $('#Noimg').css("display", "block");
        }
        else {
            $('#Noimg').css("display", "none");
            var output = document.getElementById('img');
            output.src = '@Imagepath';
            @* var powerstar = document.getElementById('powerstarimg');
            powerstar.src = "@ViewBag.Message" + "?" + new Date().getTime();*@
        }

    });

    function agentlogo_updates() {
        $('#Noimg').css("display", "none;")

        var fileUpload = $("#fileToUpload").get(0);
        var files = fileUpload.files;
        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        if (files.length <= 0) {
            alert("Please Select Updated logo");
            return false;
        }

        $.ajax({
            url: "@Url.Action("UploadFiles", "CntrlPanel")",
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (result) {

                var imgsrc = result.Path;
                var result_s = result.Text;
                //var powerstar = document.getElementById('powerstarimg');
                //powerstar.src = imgsrc + "?" + new Date().getTime();
                showError(result_s, errPdiv_imag, errdiv_msg_imag, "");
                var input = $("#fileToUpload");
                input = input.val('').clone(true);
            },
            error: function (err) {
                showError(err.statusText, errPdiv_imag, errdiv_msg_imag, "");
            }
        });
    }

    var loadFile = function (event) {
        var output = document.getElementById('img');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            var wid = this.width;
            var hei = this.height;
            if (wid >= 200 && hei >= 120) {
                $('#Noimg').css("display", "none");
                $("#ctrlpanelfileupdate").removeClass("has_error");
            }
            else {
                var input = $("#fileToUpload");
                input = input.val('').clone(true);
                output.src = "";
                $('#Noimg').css("display", "block")
            }
        }
    };

</script>