@{
    string StrVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString();
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
    string strImageURL = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string strLoaderURL = strImageURL + "/" + strProduct + "/" + "loader.gif?" + StrVersion;
}
<link href="~/Content/CSS/Controlpanel.css?@StrVersion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.base.css?@StrVersion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.energyblue.css?@StrVersion" rel="stylesheet" />
<link href="~/Content/CSS/CommonCSS/W2Grid.css?@StrVersion" rel="stylesheet" />
<link href="~/Content/CSS/chosen.min.css?@StrVersion" rel="stylesheet" />
<link href="~/Content/CSS/Columns_Table/classic.css?@StrVersion" rel="stylesheet" />
<link href="~/Content/CSS/Search/jquerycalender-new.css?@StrVersion" rel="stylesheet" />

<script src="~/js/jqxtable/jqx-all.js?@StrVersion"></script>
<script src="~/js/jqxtable/jqxchart.core.js?@StrVersion"></script>
<script src="~/js/jqxtable/jqxcore.js?@StrVersion"></script>
<script src="~/js/jqxtable/modernizr.js?@StrVersion"></script>
<script src="~/js/W2Grid.js?@StrVersion"></script>
<script src="~/js/moment.min.js?@StrVersion"></script>
<script src="~/js/chosen.jquery.js?@StrVersion"></script>
<script src="~/js/Column_Table/jquery.columns.js?@StrVersion"></script>
<script src="~/js/jquery.xml2json.js?@StrVersion"></script>

<style>
    @@media screen and (max-width: 720px) and (min-width: 350px) {
        #margintop {
            margin-top: 10px;
        }
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }

    .table > tbody > tr > td {
        border-bottom: 1px solid #fff !important;
    }

    @@media screen and (max-width: 991px) and (min-width: 769px) {
        .console.container {
            width: 95%;
        }

        .clsspntitle {
            position: inherit;
            top: -3px;
        }
    }

    .agncyname {
        font-weight: 600 !important;
    }

    .agncynameagnt {
        font-weight: 600 !important;
        width: 50.666667% !important;
    }

    .row {
        margin-left: 0 !important;
    }

    .clsheaders {
        margin-top: 100px;
        min-height: 15px;
        background:#fff;
        margin-bottom: 50px;
    }

    .secondrow {
        margin-top: 20px !important;
    }

    .changecls {
        margin-bottom: 10px;
        margin-top: 26px;
    }

    .chngeScndRow {
        margin-bottom: 10px;
    }

    .dv-anim {
        width: 103% !important;
    }

    .MisMainDivSelect {
        border: 1px solid #e2e2e2 !important;
        height: 30px !important;
        width: 99% !important;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        background-color: #bb0d25 !important;
    }

    @@media (min-width: 1200px) {
        .col-lg-offset-4 {
            margin-left: 34.333333%;
        }
    }

    .columns .ui-table tbody tr.ui-table-rows-even {
        background: #f2f2f2;
    }

    .columns .ui-table tbody tr td {
        text-align: center;
        padding: 5px;
    }

    .columns .ui-table tbody tr.ui-table-rows-even {
        background: #f2f2f2 !important;
    }

    /*.clrclass {
        background: #fff !important;
        height: 800px;
    }*/

        .clrclass .dv-anim {
            z-index: 1;
        }
</style>

<div id="dvsamplemain">
    <div class="console container pad-0 clrclass">
        <div class="col-xs-12 col-md-12 col-sm-12 R_box-shadow col0 clsheaders">
            <div class="cls-header m-b-10" id="Heading">
                <h4 class="Rpt_headertilte">
                    <span class="R_transt_sprit sprit_p1"></span><span>Airline PNR Wise Sales</span>
                </h4>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10 pad-0">
                <div class="Firstrow">
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtfromdate" class="txt-anim" type="text" />
                            <label id="lblFromDate" class="agncyname">From Date</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <div class="dv-anim input-effect m-0 m-sm-t15">
                            <input readonly="readonly" id="txtTodate" class="txt-anim" type="text" />
                            <label id="lblToDate" class="agncyname">To Date</label>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Branch</span>
                        <select id="ddlBranch" data-placeholder="ALL" class="MisMainDivSelect clsclearchosen"></select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Agent Type</span>
                        <select class="MisMainDivSelect clsclearchosen chosen" id="ddlAgntType">
                            <option value="">ALL</option>
                            <option value="RI">Riya Internal</option>
                            <option value="RS">Riya Subagent</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                        <span class="clsspntitle">Account Type</span>
                        <select class="MisMainDivSelect clsclearchosen chosen" id="ddlAcntType">
                            <option value="">ALL</option>
                            <option value="P">Payment Gateway</option>
                            <option value="T">TopUp</option>
                            <option value="C">Credit</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass airlineair">
                        <div class="tabs-block">
                            <h5 style="margin-top:-8px"><span class="clsspntitle">Airline </span></h5>
                            <select id="Airline" data-placeholder="ALL" class="MisMainDivSelect clsclearall chosen">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Supplier</span>
                        <select class="MisMainDivSelect clsclearall" id="ddlSupplier" onchange="SuppDropdown()"></select>
                    </div>
                    <div class="col-xs-4 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Airline Category</span>
                        <select class="MisMainDivSelect clsclearall chosen" id="ddlAirlineCategory">
                            <option value="ALL">ALL</option>
                            <option value="FSC">FSC</option>
                            <option value="LCC">LCC</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Airport ID</span>
                        <select class="MisMainDivSelect clsclearall chosen" id="ddlAirportId">
                            <option value="ALL">ALL</option>
                            <option value="D">Domestic</option>
                            <option value="I">International</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Class Type</span>
                        <select class="MisMainDivSelect clsclearall chosen" id="ddlClassType">
                            <option value="ALL">ALL</option>
                            <option value="B">Business</option>
                            <option value="E">Economy</option>
                            <option value="F">First</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Booking Type</span>
                        <select class="MisMainDivSelect clsclearchosen chosen" id="ddlBookingType" style="overflow:auto">
                            <option value="">ALL</option>
                            <option value="B">Inhouse Retrieve PNR Accounting</option>
                            <option value="C">Inhouse Retrieve PNR Ticketing</option>
                            <option value="J">Queue Retrieve PNR Accounting</option>
                            <option value="K">Queue Retrieve PNR Ticketing</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-2 col-sm-3 col-lg-2 changecls">
                        <span class="clsspntitle">Status</span>
                        <select class="MisMainDivSelect clsclearall chosen" id="ddlStatus">
                            <option value="ALL">ALL</option>
                            <option value="N">Cancelled</option>
                            <option value="C">Confirmed</option>
                            <option value="R">Rescheduled</option>
                            <option value="V">Void</option>
                            <option value="Y">Noshow</option>
                        </select>
                    </div>
                </div>
                <div class="secondrow">
                    <div class="col-xs-8 col-md-3 col-sm-3 col-lg-2 chngeScndRow">
                        <label for="txtUserName" class="clsspntitle agncyname clsclear">UserName</label>
                        <input type="text" class="txt-anim" id="txtUserName" />
                    </div>
                    <div class="col-xs-8 col-md-3 col-sm-3 col-lg-2 chngeScndRow">
                        <label for="txtRiyaPNR" class="clsspntitle agncyname clsclear">Riya PNR</label>
                        <input type="text" class="txt-anim" id="txtRiyaPNR" />
                    </div>
                    <div class="col-xs-8 col-md-4 col-sm-3 col-lg-2 chngeScndRow agncynameagnt">
                        <label for="ddlAgentID" class="clsspntitle agncynameagnt clsclear">Agency Name/Agent ID</label>
                        <input type="text" class="txt-anim agncynameagnt" id="ddlAgentID" maxlength="60" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-offset-4 col-xs-6 col-md-2 col-sm-3 col-lg-2">
                        <input type="button" class="action-button shadow animate color" id="btn_ok" style="width: 100%;" value="Get" onclick="return getdetails();" />
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2">
                        <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" style="width: 100%;" value="Clear" onclick="return cleardata();" />
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2">
                        @using (Html.BeginForm("AirlinePNRwisesales_Export", "CntrlPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="submit" id="btn_export" class="action-button shadow animate color colorG" style="width: 100%; display: none;" value="Export to Excel" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="dvGrid" style="display: none; width: 100%; background: #fff; padding-bottom: 20px;">
                <div class="row row0">
                    <div id="dvAirlineSalesData" class="columns"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/commontable_boostrap.js?@StrVersion"></script>
<script src="~/js/cbpFWTabs.js?@StrVersion"></script>
<script src="~/js/Slider/jquery.easing.1.3.js?@StrVersion"></script>
<script src="~/js/jquery.nice-select.js?@StrVersion"></script>
<script src="~/js/CommonJS/jquery-ui-new.js"></script>

<script>
    var currentDate = "@ViewBag.ServerDateTime";

    var day = currentDate.split('/');
    var BranchID = "", GroupID = "", ClientID = "", ClientName = "";

    var Airlinexml = ' @Url.Content("~/XML/AirlineNames.xml")';
    var loaderimgurl = "@strLoaderURL";
    var fetchairlinepnrsalesurl = '@Url.Action("FetchAirlinePNRSalesData", "CntrlPanel")';
    var clientdetailsurl = "@Url.Action("GetClientData", "Home")";
    var sessionexpurl = "@Url.Action("SessionExp", "Redirect")";
    var fetchsupplierurl = '@Url.Action("FetchSupplierDropdown", "CntrlPanel")';

    $(document).ready(function () {
        $('.clscmbanim').niceSelect();
        $('.chosen').chosen({ width: "83%" });
        date();
        SuppDropdown();
        loadAirline();
        LoadClient();
    })
    
    function date() {
        $("#txtfromdate").val(currentDate);
        $("#txtfromdate").addClass("has-content");
        $("#txtfromdate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });
        $("#txtTodate").val(currentDate);
        $("#txtTodate").addClass("has-content");
        $("#txtTodate").datepicker({
            minDate: $("#txtfromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });
        $("#txtfromdate").on('change keyup paste', function () {
            $("#txtTodate").datepicker("destroy");
            $("#txtTodate").datepicker({
                minDate: $("#txtfromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
            });

        });
    }

    function SuppDropdown() {
        $.blockUI({
            message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        var AgntId = "TBMAA0500101";
        var Param = {
            strAgntId: AgntId
        }
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: fetchsupplierurl,
            data: JSON.stringify(Param),
            dataType: "json",
            success: function (data) {
                $.unblockUI();
                if (data.Status == "-1") {
                    window.location.href = sessionexpurl;
                    return false
                }
                else if (data.Status == "00") {
                    alert("No Records Found");
                    return false;
                }
                else if (data.Status == "01" && data.results[1] != null && data.results[1] != "") {
                    var jsondata = $.parseJSON(data.results[1]);
                    var SupplierList = "";
                    if (jsondata.length > 0) {
                        SupplierList += '<option value="ALL">ALL</option>';
                        for (var m = 0; m < jsondata.length; m++) {
                            if (jsondata[m]["ID"] != "") {
                                SupplierList += '<option value="' + jsondata[m]["ID"] + '">' + jsondata[m]["NAME"] + '</option>';
                            }
                        }
                    }
                    $("#ddlSupplier").html(SupplierList);
                    $("#ddlSupplier").chosen();
                }
            },
            error: function (result) {
                $.unblockUI();
                alert("please check connectivity.");
            }
        });
    }

    function loadAirline() {
        var json = "";
        $.blockUI({
            message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            url: Airlinexml,
            dataType: 'xml',
            async: false,
            success: function (response) {
                $.unblockUI();
                try {
                    json = $.xml2json(response);
                    var aryjsonval = json.AIRLINEDET
                    var aryjson = aryjsonval.reduce(function (item, e1) {
                        var matches = item.filter(function (e2)
                        { return e1._NAME == e2._NAME });
                        if (matches.length == 0) {
                            item.push(e1);
                        }
                        return item;
                    }, []);
                    var ddlOnwardSement3 = document.getElementById("Airline");
                    var ddloptions = "";
                    var optioncount = 1;
                    var childOptionCSelect = new Option();
                    $.each(aryjson, function (index, val) {
                        var childOptionCSelect = new Option();

                        childOptionCSelect.value = val._CODE;
                        childOptionCSelect.text = val._NAME + " " + "(" + val._CODE + ")";
                        childOptionCSelect.title = val._NAME + " " + "(" + val._CODE + ")";
                        ddlOnwardSement3[optioncount] = childOptionCSelect;
                        optioncount++;
                    });

                    if ($("#Airline_chosen").length) {
                        $('#Airline').chosen('destroy');
                    }
                    $("#Airline").chosen();
                }
                catch (e) {
                    console.log(e.message);
                }
            }
        });

    }

    function LoadClient() {
        $.blockUI({
            message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            url: clientdetailsurl,
            contentType: "application/json; charset=utf-8",
            timeout: 180000,
            dataType: "json",
            success: function (data) {
                $.unblockUI();
                var data = data["Data"];
                try {

                    var arr = JSON.parse(data.Result);
                    if (data.Status == "01") {
                        if (arr.length > 0) {
                            var arrBranch = "";
                            arrBranch = arr.reduce(function (item, e1) {
                                var matches = item.filter(function (e2) {
                                    return e1.BID == e2.BID
                                });
                                if (matches.length == 0) {
                                    item.push(e1);
                                }
                                return item;
                            }, []);
                            $("#ddlBranch").append('<option value="ALL">ALL</option>');
                            for (var m = 0; m < arrBranch.length; m++) {
                                if (arrBranch[m]["BID"] != "") {
                                    $("#ddlBranch").append('<option value="' + arrBranch[m]["BID"] + '">' + arrBranch[m]["BNAME"] + '</option>');
                                }
                            }
                            $("#ddlBranch").chosen();
                        }
                        $('#ddlAgentID').typeahead('destroy');
                        $('#ddlAgentID').typeahead({
                            source: arr,
                            items: 5,
                            displayField: "CLTNAME",
                            valueField: "CLTCODE",
                            scrollBar: true,
                            onSelect: displayResults,
                        });
                        function displayResults(item) {
                            ClientID = item.value;
                            GroupID = item.GROUPID_s;
                            BranchID = item.bid_s;
                            ClientName = item.text;
                        }
                    }
                    else {
                        $('#ddlAgentID').hide();
                    }
                }
                catch (err) {
                    console.log(err.message)
                }
            },
            error: function (e) {
                $.unblockUI();
                console.log(e.message);
            }
        });
    }

    function getdetails() {

        var FrmDate = $("#txtfromdate").val();
        var Todate = $("#txtTodate").val();
        var Branch = $("#ddlBranch").val();
        var AgentType = $("#ddlAgntType").val();
        var AcntType = $("#ddlAcntType").val();
        var AirlineName = $("#Airline").val();
        var Supplier = $("#ddlSupplier").val();
        var AirCategory = $("#ddlAirlineCategory").val();
        var AirportId = $("#ddlAirportId").val();
        var classType = $("#ddlClassType").val();
        var BookingType = $("#ddlBookingType").val();
        var Status = $("#ddlStatus").val();
        var UserName = $("#txtUserName").val();
        var Riyapnr = $("#txtRiyaPNR").val();
        $("#btn_export").hide();
        var AgencyID = ClientName.split('~')[2];
        ClientName = "";
        if (AgencyID != undefined && AgencyID != null) {
            AgencyID = AgencyID;
        }
        else {
            AgencyID = "";
        }
        var today = moment().format('DD/MM/YYYY');
        if (FrmDate != today && Todate == today) {
            alert("Please avoid current date and previous date combination...");
            return false;
        }
        var AgencyName = "";
        var PrdctType = "";
        var param = {
            strFrmDate: FrmDate,
            strTodate: Todate,
            strBranch: Branch,
            strAgentType: AgentType,
            strAcntType: AcntType,
            strAirlineName: AirlineName,
            strSupplier: Supplier,
            strAirCategory: AirCategory,
            strAirportId: AirportId,
            strclassType: classType,
            strBookingType: BookingType,
            strStatus: Status,
            strUserName: UserName,
            strRiyapnr: Riyapnr,
            strAgencyID: AgencyID,
            strAgencyName: AgencyName,
            strPrdctType: PrdctType
        }
        $.blockUI({
            message: '<img alt="Please Wait..." src="'+loaderimgurl+'" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });

        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: fetchairlinepnrsalesurl,
            data: JSON.stringify(param),
            dataType: "json",
            success: function (data) {

                $.unblockUI();
                try {
                    if (data.Results[1] != null && data.Results[1] != "") {// && data.Status == "01"
                        var jsondata = $.parseJSON(data.Results[1]);
                        if (jsondata.length > 0) {
                            GridFormation(jsondata);
                        }
                        $("#btn_export").show();
                    }
                    else {
                        $("#dvGrid").css("display", "none");
                        alert("No Records Found");
                        
                        return false;
                    }
                }
                catch (e) {
                    console.log(e.message);
                }
            },
            error: function (e) {
                $.unblockUI();
                console.log(e.message);
                alert("Unable to connect Remote Server");
                return false;
            }
        });
    }

    function GridFormation(jsondata) {
        $('#dvAirlineSalesData').show();
        $("#dvGrid").css("display", "block");
        var columns = [];
        $.each(jsondata[0], function (obj, val) {
            if (obj == "Basic Fare" || obj == "YQ Fare" || obj == "Other Taxes" || obj == "Commission" || obj == "Incentive" || obj == "TDS Amount" || obj == "Service Charges" || obj == "Management Fees" || obj == "Cancellation Markup" || obj == "Net Amount" || obj == "Reschedule Charges" || obj == "SC Tax" || obj == "SSR Amount" || obj == "Reschedule Markup" || obj == "SF" || obj == "Cancellation Penalty") {
                columns.push({ field: obj, caption: obj, size: "150px", resizable: true, sortable: true, attr: "align=right" });
            }
            else if (obj == "Client") {
                columns.push({ field: obj, caption: "Agency Name", size: "150px", resizable: true, sortable: true, attr: "align=right" });
            }
            else {
                columns.push({ field: obj, caption: obj, size: "150px", resizable: true, sortable: true, attr: "align=left" });
            }

        });
        var count = 0;
        for (var i = 0; i < jsondata.length; i++) {
            var object1 = {
                "recid": count++
            }
            $.extend(jsondata[i], object1);
        }
        $("#dvAirlineSalesData").w2destroy('Airline_PNR');
        $("#dvAirlineSalesData").css("height", "400px");
        $("#dvAirlineSalesData").w2grid({
            name: 'Airline_PNR',
            recordHeight: 30,
            show: { footer: true, toolbar: false },
            columns: columns,
            records: jsondata,

        });
        $("#dvAirlineSalesData").show();
    }

    function cleardata() {
        $(".clsclearchosen").val("").trigger("chosen:updated");
        $(".clsclearall").val("ALL").trigger("chosen:updated");
        $(".clsclear").val("");
        $("#dvGrid").css("display", "none");
        date();
    }
</script>