@using System.Configuration;
@using STSTRAVRAYS.Models;
@{
    string FileVersion = ConfigurationManager.AppSettings["UpdateVersion"] != null ? ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string allowcredit = (Session["ALLOW_CREDIT"] != null && Session["ALLOW_CREDIT"].ToString() != "") ? Session["ALLOW_CREDIT"].ToString() : "N";
    string allowtopup = (Session["ALLOW_TOPUP"] != null && Session["ALLOW_TOPUP"].ToString() != "") ? Session["ALLOW_TOPUP"].ToString() : "N";
    string Allowcurrency = (Session["Allowappcurrency"] != null && Session["Allowappcurrency"].ToString() != "") ? Session["Allowappcurrency"].ToString() : ConfigurationManager.AppSettings["currency"].ToString();
    string strTerminalType = ConfigurationManager.AppSettings["TerminalType"].ToString();
    string DateValidation = ConfigurationManager.AppSettings["Reportdatecheck"].ToString();
    string strPNRLable = ConfigurationManager.AppSettings["PNRlbl"].ToString();
    string Terminalpriviledge = (Session["privilage"] != null && Session["privilage"].ToString() != "") ? Session["privilage"].ToString() : "T"; /* S-> for Superviser T-> for Travel Consultant */
    string TerminalCount = (Session["AgentTerminalCount"] != null && Session["AgentTerminalCount"].ToString() != "") ? Session["AgentTerminalCount"].ToString() : "1";
    string TerminalId = Session["POS_TID"].ToString();
    string agnid = Session["POS_ID"].ToString();
    string StrTKTFLAG = Session["TKTFLAG"] != null && Session["TKTFLAG"].ToString() != "" ? Session["TKTFLAG"].ToString() : "DTKT";
    string strAppTheme = ConfigurationManager.AppSettings["apptheme"].ToString();
    string strProductType = ConfigurationManager.AppSettings["Producttype"].ToString();
    string strPlatform = ConfigurationManager.AppSettings["PLATFORM"].ToString();
}
<link href="~/Content/CSS/Controlpanel.css?@FileVersion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.base.css" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.energyblue.css" rel="stylesheet" />
<link href="~/Content/CSS/CommonCSS/W2Grid.css" rel="stylesheet" />
<link href="~/Content/CSS/Search/jquerycalender-new.css" rel="stylesheet" />

<script src="~/js/jqxtable/jqx-all.js"></script>
<script src="~/js/jqxtable/jqxchart.core.js"></script>
<script src="~/js/jqxtable/jqxcore.js"></script>
<script src="~/js/jqxtable/modernizr.js"></script>
<script src="~/js/W2Grid.js"></script>
<script src="~/js/moment.min.js"></script>

@if (strAppTheme == "THEME1")
{
    <style>
        .fixed .wrapper, .fixed-leftside .wrapper {
            margin-top: 100px !important;
        }
    </style>
}
<style>
    @@media screen and (max-width: 720px) and (min-width: 350px) {
        #margintop {
            margin-top: 10px;
        }
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }

    .table > tbody > tr > td {
        border-bottom: 1px solid #fff !important;
    }

    @@media screen and (max-width: 991px) and (min-width: 769px) {
        .console.container {
            width: 95%;
        }

        .clsspntitle {
            position: inherit;
            top: -3px;
        }
    }

    .MisMainDivSelect {
        border: 1px solid #e2e2e2 !important;
        height: 30px !important;
        width: 100% !important;
        padding-left: 5px;
        font-size: 12px;
    }
    /*Don't remove this. its called from base class for allowcontrol*/
    .clsenable {
        display: block !important;
    }

    .clsdiable {
        display: none !important;
    }
    /*Don't remove this. its called from base class for allowcontrol */
</style>
<div id="dvsamplemain" class="rightside">
    <!--marquee-->
    <div class="console container pad-0 mobNoContainerd">
        <div class="row row0">
            <div class="M_be007 R_box-shadow flt-lft" style="margin-top:2%;margin-bottom:14%;">
                <div class="col-xs-12 col-md-12 col-sm-12 col0">
                    <div class="cls-header m-b-10" id="Heading">
                        <h4 class="Rpt_headertilte bg-lt-blu">
                            <span class="R_transt_sprit sprit_p1"></span><span>Agent Transaction Details</span>
                        </h4>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 martpplus10 pad-0">

                        @if (strTerminalType == "T")
                        {
                            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 change_new_old_confirm_pass @Base.Utilities.AllowControls("BRANCH")" id="branchdeti">
                                <span class="clsspntitle">Branch</span>
                                <select class="MisMainDivSelect clsCLear ClsChosen" id="ddlbranch" autocomplete="off">
                                    <option value="">ALL</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 change_new_old_confirm_pass @Base.Utilities.AllowControls("AGENTTYPE")">
                                <span class="clsspntitle">Agency Type</span>
                                <select class="MisMainDivSelect clsCLear ClsChosen" id="ddlAgntType">
                                    @*<option value="">ALL</option>
                                        <option value="RI">Riya Internal</option>
                                        <option value="RS">Riya Subagent</option>
                                        <option value="RA">Riya API</option>
                                        <option value="RY">Riya Weekly</option>
                                        <option value="RM">Riya RM</option>*@
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 change_new_old_confirm_pass" id="agentdeti">
                                <span class="clsspntitle">Agency Name</span>
                                <input type="text" id="ddlclient_agent" class="txt-anim" />
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                                <div class="dv-anim input-effect m-0 m-sm-t15">
                                    <input id="txtSPNR" maxlength="11" onkeypress="return ValigridcelldateSpecialChar(event);" class="txt-anim" type="text" />
                                    <label>@strPNRLable</label>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                            <div class="dv-anim input-effect m-0 m-sm-t15">
                                <input readonly="readonly" id="txt_AirBook_fromdate" class="txt-anim" type="text" />
                                <label id="lblFromDate">From Date</label>
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                            <div class="dv-anim input-effect m-0 m-sm-t15">
                                <input readonly="readonly" id="txt_AirToodate" class="txt-anim" type="text" />
                                <label id="lblToDate">To Date</label>
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-xs-12 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass">
                                <span id="Transaction_Type" class="clsspntitle">Transaction Type</span>
                                <select class="ClsChosen" id="op_searchBy">
                                    <option value="ALL">ALL</option>
                                    <option value="C">Credit</option>
                                    <option value="D">Debit</option>
                                </select>
                            </div>*@

                        <div class="col-xs-12 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass mrgn-tp-30res">
                            <span id="Product&nbsp;Type" class="clsspntitle">Product Type</span>
                            <select class="MisMainDivSelect clsCLear ClsChosen" id="op_product" autocomplete="off"></select>
                        </div>
                        <div class="col-xs-12 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass mrgn-tp-30res" id="displaypayment">
                            <span id="Payment_mode" class="clsspntitle">Payment Mode</span>
                            <select class="MisMainDivSelect clsCLear ClsChosen" id="op_Paymentmode">
                                @*<option value="ALL">ALL</option>*@
                                @if (strTerminalType != "T")
                                {
                                    if (allowtopup == "Y")
                                    {
                                    <option value="T">Topup</option>
                                    }
                                    if (allowcredit == "Y")
                                    {
                                    <option value="C">Credit</option>
                                    }
                                }
                                else
                                {
                                    if(strProductType!="RIYA" && strProductType!="RBOA")
                            {
                                    <option value="T">Topup</option>}
                                    else {
                                    <option value="C" selected="selected">Credit</option>
                                    <option value="T">Topup</option>}
                                }
                            </select>
                        </div>

                        @if (Terminalpriviledge == "S" && TerminalCount != "" && TerminalCount != "1" && strProductType!="DEIRA")
                        {
                            <div class="col-xs-12 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass mrgn-tp-30res">
                                <span id="Terminal_id" class="clsspntitle">Terminal Id</span>
                                <select class="MisMainDivSelect clsCLear ClsChosen" id="agn_terminal"></select>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12 col-md-2 col-sm-3 col-lg-2 change_new_old_confirm_pass mrgn-tp-30res" style="display: none">
                                <select id="agn_terminal">
                                    <option value="@TerminalId" selected="selected"></option>
                                </select>
                            </div>
                        }
                        @if (strTerminalType == "T")
                        {
                            <div class="col-xs-12 col-sm-2 change_new_old_confirm_pass col0 mrgn-tp-30res">
                                <div class="col-xs-12 col-sm-12">
                                    <span class="clsspntitle">Order By</span>
                                    <div class="col-xs-6 col-sm-6 row-top-distence-xs-12">
                                        <div class="rb-div" style="min-height:50px; margin-top: 5px;">
                                            <input type="radio" class="rb" name="nameradio" id="order_ascending">
                                            <label for="credit_debit" class="rblbl">Asc</label>
                                            <div class="bullet">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 row-top-distence-xs-12 mrgn-tp-30res">
                                        <div class="rb-div" style="min-height:50px; margin-top: 5px;">
                                            <input type="radio" class="rb" name="nameradio" checked="" id="order_descending">
                                            <label for="credit_debit" class="rblbl">Desc</label>
                                            <div class="bullet">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="clitrans_button float-left w-100 mrgn-tp-30res">
                            <div class="col-xs-6 col-md-2 col-sm-3 col-sm-offset-3" style="margin-bottom:15px;">
                                <input type="button" class="action-button shadow animate color" id="btn_ok" style="width: 100%;" value="Get" onclick="return getdetails();" />
                            </div>
                            <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2">
                                <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" style="width: 100%;" value="Clear" onclick="return Btn_clr_Click();" />
                            </div>
                            <div class="hidden-xs col-md-2 col-sm-3 col-lg-2 @Base.Utilities.AllowControls("EXPORTEXCEL")" id="margintop">
                                @using (Html.BeginForm("ExportData_agenttopup", "CntrlPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="submit" id="Btn_excel" class="action-button shadow animate color colorG" style="width: 100%; display: none;" value="Export to Excel" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 mrgn-tp-30res">
                        <div id="Div_Char" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="padding: 0px; height: auto; overflow: auto;"></div>
                        <div id="charterror" class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="text-align: center;margin-bottom:10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/commontable_boostrap.js?@FileVersion"></script>
<script src="~/js/cbpFWTabs.js?@FileVersion"></script>
<script src="~/js/Slider/jquery.easing.1.3.js?@FileVersion"></script>
<script src="~/js/jquery.nice-select.js?@FileVersion"></script>
<script src="~/js/CommonJS/jquery-ui-new.js"></script>
<script>

    var Terminaltype = '@strTerminalType';
    var allowcredit = '@allowcredit';
    var allowtopup = '@allowtopup';
    var T_priviledge = '@Terminalpriviledge';
    var T_Count = '@TerminalCount';
    var AgentId = '@agnid';
    var currentDate = "@ViewBag.ServerDateTime";
    var datevalidation = '@DateValidation';
    var product_length = "@ViewBag.hdn_product_list_for_sales";
    var flag = '@StrTKTFLAG';

    var loaderimgurl = '@Url.Content("~/Images/"+ strProductType + "/Loader.gif")';
    var topup_transactionurl = "@Url.Action("AgentTransactionReport", "CntrlPanel")";
    var AgentTypeXMLURL = '@Url.Content("~/XML/AGENTTYPE.xml")?@FileVersion'
    var sessionexpurl = "@Url.Action("SessionExp", "Redirect")";
    var exporttoexcelurl = "@Url.Action("btnExportExcell", "CntrlPanel")";
    var clientdetailsurl = "@Url.Action("GetClientData", "Home")";
    var ClientID = "";

    $(document).ready(function () {
        var day = currentDate.split('/');

        $("#txt_AirBook_fromdate").val(currentDate);
        $("#txt_AirBook_fromdate").addClass("has-content");
        $("#txt_AirBook_fromdate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });
        $("#txt_AirToodate").val(currentDate);
        $("#txt_AirToodate").addClass("has-content");
        $("#txt_AirToodate").datepicker({
            minDate: $("#txt_AirBook_fromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
        });
        $("#txt_AirBook_fromdate").on('change keyup paste', function () {
            $("#txt_AirToodate").datepicker("destroy");
            $("#txt_AirToodate").datepicker({
                minDate: $("#txt_AirBook_fromdate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true,
            });
        });
        $("#displayfarecal").css("display", "none");
        if (Terminaltype == "T") {
            LoadClient();
            LoadAgentType();
        }
        else {
            var select12 = $('#op_product');// document.getElementById('fareClass' + Id);//
            var mm = product_length.split('~');
            var day = day[0]
            var day2 = day[0]
            var month = day[1]
            var year = day[2]

            if (mm.length > 0) {
                select12.empty();
                for (var j = 0; j < mm.length; j++) {
                    if (mm[j] != "") {//|| mm[j] != null) {
                        var Im = mm[j].toString();//.split('/')
                        var opt = document.createElement('option');
                        opt.value = Im.split('|')[0];
                        opt.text = Im.split('|')[1];
                        select12.append(opt);
                    }
                }
            }

        }
        if (allowtopup == 'Y' && allowcredit == 'Y') {
            $("#displaypayment").css("display", "block");
        }
        if (T_priviledge == "S" && parseInt(T_Count) > 1) {
            $('#agn_terminal').empty();
            $("#agn_terminal").append('<option value="">ALL</option>');
            for (var m = 1; m <= parseInt(T_Count) ; m++) {
                if (m < 10) {
                    $("#agn_terminal").append('<option value="' + AgentId + "0" + m + '">' + AgentId + "0" + m + '</option>');
                }
                else {
                    $("#agn_terminal").append('<option value="' + AgentId + m + '">' + AgentId + m + '</option>');
                }
            }
        }
        $('.ClsChosen').chosen('destroy');
        $('.ClsChosen').chosen();
    });

    function getdetails() {
        var AgentId = "";
        var Branch_Id = "";
        var Transaction_Type = "ALL";
        var Corptype = "";
        var fromdate = $("#txt_AirBook_fromdate").val();
        var todate = $("#txt_AirToodate").val();
        var today = moment().format('DD/MM/YYYY');
        if (fromdate != todate && todate == today) {
            //alert("Please avoid current date and previous date combination...");
            $("#charterror").show();
            $("#Div_Char").hide();
            $("#charterror").html("Please avoid current date and previous date combination...");
            $("#charterror").css({ "color": "RED", "font-weight": "bold", "text-align": "center" });
            $("#Btn_excel").hide();
            return false;
        }
        if (Terminaltype == "T") {
            if ($("#ddlclient_agent").val() == "" && (fromdate == today) && todate == today) {
                $("#charterror").show();
                $("#Div_Char").hide();
                $("#charterror").html("Current Date facility not available for all Agent");
                $("#charterror").css({ "color": "RED", "font-weight": "bold", "text-align": "center" });
                $("#Btn_excel").hide();
                return false;
            }

            AgentId = ($("#ddlclient_agent").val() != "") ? ClientID : "";
            Corptype = $("#ddlAgntType").val();
            Branch_Id = $("#ddlbranch").val();
            TerminalDetails = "";
        }
        else {
            AgentId = "";
            Branch_Id = "";
        }
        var TerminalDetails = $("#agn_terminal").val();
        if ($("#op_Paymentmode").val() == null || $("#op_Paymentmode").val() == "") {
            alert("Please select payment mode");
            return false;
        }
        $("#charterror").html("");
        var OrderBy = $('#order_ascending').is(':checked') == true ? "ASC" : "DESC";

        $.blockUI({
            message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });

        var URl = topup_transactionurl;
        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: URl,
            data: '{fromdate:"' + $("#txt_AirBook_fromdate").val() + '" ,todate: "' + $("#txt_AirToodate").val() + '",sPNR: "' + $("#txtSPNR").val() + '",strTransType:  "' + Transaction_Type + '",product:  "' + $("#op_product").val() + '",strPaymentmode:  "' + $("#op_Paymentmode").val() + '",AgentId:"' + AgentId + '",Terminal_ID:"' + TerminalDetails + '",BranchId:"' + Branch_Id + '",Corptype:"' + Corptype + '",OrderBy:"' + OrderBy + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {//On Successful service call
                var result = json.Result;

                Creategrid(result);
                $.unblockUI();
            },
            error: function (e) {//On Successful service call
                $.unblockUI();
                if (e.status == "500") {
                    alert("Session has been Expired.");
                    window.location.href = sessionexpurl
                    return false;
                }
            }	// When Service call fails

        });
    }

    function Btn_clr_Click() {
        $("#Btn_excel").hide();
        $("#Div_Char").hide();
        $("#txtSPNR").val("");
        $("#charterror").html("");
        $("#ddlclient_agent").val("");
        ClientID = "";
        $('.ClsChosen').val("").trigger("chosen:updated");
        $("#op_product").val("ALL").trigger("chosen:updated");
        $("#op_Paymentmode").val("T").trigger("chosen:updated");
        $("#txt_AirBook_fromdate,#txt_AirToodate").val(currentDate);
    }

    function ExporttoExcel() {
        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: exporttoexcelurl,
            data: '{cal_fromdate:"' + $("#txt_AirBook_fromdate").val() + '" ,cal_todate: "' + $("#txt_AirToodate").val() + '",Heading: "Agent Transaction Details"}',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (json) {//On Successful service call
                var result = json.Result;
            },
            error: function (e) {//On Successful service call
                $.unblockUI();
                if (e.status == "500") {
                    alert("Session has been Expired.");
                    window.location.href = sessionexpurl
                    return false;
                }
            }
        });
    }

    function Creategrid(result) {
        if (result[0] != "") {
            $("#charterror").show();
            $("#Div_Char").hide();
            $("#charterror").html(result[0]);
            $("#charterror").css({ "color": "RED", "font-weight": "bold", "text-align": "center" });
            $("#Btn_excel").hide();
        }
        if (result[1] != "") {
            $("#Div_Char").show();
            $("#charterror").hide();
            $("#Btn_excel").show();
            var json = result[1];
            var obj = $.parseJSON(json);
            var datafields = new Array();
            var columns = new Array();
            for (var i = 0; i < obj.length; i++) {
                var object1 = {
                    recid: i,
                };
                $.extend(obj[i], object1);
            }
            for (var i in obj[0]) {
                if (i != "recid") {
                    if (i == "Transaction Date") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '150px' });
                    }
                    else if (i == "Remarks" || i == "Description") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '250px' });
                    }
                    else if (i == "Transaction Type") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '350px' });
                    }
                    else if (i == "Credit Amount" || i == "Debit Amount" || i == "Remaining" || i == "Balance" || i == "Outstanding") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=right', size: '120px' });
                    }
                    else if (i == "Transaction Amount") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=right', size: '150px' });
                    }
                    else if (i == "Agency Name") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '350px' });
                    }
                    else if (i == "Date Time") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '180px' });
                    }
                    else if (i == "No" || i == "rownumber" || i == "Ref No.") {
                       // columns.push({ field: i, caption: i, resizable: false, sortable: false, attr: 'align=left', hidden: true });
                    }
                    else if (i == "S PNR" || i == "CRS PNR") {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '100px' });
                    }
                    else {
                        columns.push({ field: i, caption: i, resizable: true, sortable: true, attr: 'align=left', size: '130px' });
                    }
                }
            }

            $("#Div_Char").w2destroy('AgentTansaction');
            $("#Div_Char").w2grid(
            {
                name: 'AgentTansaction',
                //recid: "ROW_NUMBER",
                recordHeight: 30,
                show: { footer: true, toolbar: true },
                columns: columns,
                records: obj,

            });
            $("#Div_Char").css("min-height", "450px");
        }
    }

    function LoadClient() {
        $.blockUI({
            message: '<img alt="Please Wait..." src="' + loaderimgurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            url: clientdetailsurl,
            contentType: "application/json; charset=utf-8",
            timeout: 180000,
            dataType: "json",
            success: function (data) {
                var data = data["Data"];
                try {
                    var arr = JSON.parse(data.Result);
                    var LoadProducts = JSON.parse(data.ProductList);
                    if (data.Status == "01") {

                        var UniqueBranch = arr.reduce(function (memo, e1) {
                            var matches = memo.filter(function (e2) {
                                return e1.BID == e2.BID
                            })
                            if (matches.length == 0)
                                memo.push(e1)
                            return memo;
                        }, [])
                        $("#ddlbranch").html('<option value="">ALL</option>');
                        $(UniqueBranch).each(function (n, i) {
                            $("#ddlbranch").append('<option value="' + i["BID"] + '">' + i["BNAME"] + '</option>');
                        });
                        if ($("#ddlbranch").length) {
                            $('#ddlbranch').chosen('destroy');
                        }
                        $("#ddlbranch").chosen();
                        $("#ddlbranch").on('change', function () {
                            var value = $("#ddlbranch").val();
                            displayBranchResults(value);
                        });

                        function displayBranchResults(strBranch) {
                            var selectedbranch = strBranch;
                            BranchId = selectedbranch;
                            if (selectedbranch != null && selectedbranch != "") {
                                var filterarr = $.grep(arr, function (obj) {
                                    return obj.BID == selectedbranch;
                                });
                            }
                            else {
                                var filterarr = arr;
                            }
                            // $('#hdnBranchID').val(selectedbranch);
                            $('#ddlclient_agent').typeahead('destroy');
                            $('#ddlclient_agent').typeahead({
                                source: filterarr,
                                items: 5,
                                minLength: 0,
                                displayField: "CLTNAME",
                                valueField: "CLTCODE",
                                scrollBar: true,
                                onSelect: displayResults,
                            });
                        }

                        $('#ddlclient_agent').typeahead('destroy');
                        $('#ddlclient_agent').typeahead({
                            source: arr,
                            items: 5,
                            displayField: "CLTNAME",
                            valueField: "CLTCODE",
                            scrollBar: true,
                            onSelect: displayResults,
                        });
                        function displayResults(item) {
                            ClientID = item.value;
                        }

                        $("#op_product").chosen();
                        $("#op_product").append('<option value="ALL">ALL</option>');
                        /*Products load dynamically*/
                        $(LoadProducts).each(function (n, i) {
                            $("#op_product").append('<option value="' + i["PID"] + '">' + i["PNAME"] + '</option>');
                        });
                        if ($("#op_product").length) {
                            $('#op_product').chosen('destroy');
                        }
                        $("#op_product").chosen();
                        /*Products load dynamically*/

                    }
                    else {
                        $('#ddlclient_agent').hide();
                        $('#agentdeti').hide();
                    }
                    $.unblockUI();
                }
                catch (err) {
                    $.unblockUI();
                    console.log(err.message)
                }
            },
            error: function (e) {
                $.unblockUI();
            }
        });
    }

    function LoadAgentType() {
        $.ajax({
            url: AgentTypeXMLURL,
            dataType: 'xml',
            async: false,
            success: function (response) {
                try {
                    var type = '@strProductType';// + "_" + strPlatform;
                    json = $.xml2json(response);
                    json = json["AGENTTYPE"]
                    json = json[type]
                    var arrjson = $.grep(json['TYPES'], function (obj) {
                        return obj.PLATFORM.indexOf('@strPlatform') != -1;
                    })
                    console.log(json)
                    $("#ddlAgntType").html('<option value="">ALL</option>');
                    $(arrjson).each(function (n, i) {
                        $("#ddlAgntType").append('<option value="' + i["TYPE"] + '">' + i["NAME"] + '</option>');
                    });
                    if ($("#ddlAgntType_chosen").length) {
                        $('#ddlAgntType').chosen('destroy');
                    }
                    $("#ddlAgntType").chosen();
                }
                catch (ex) {
                    console.log(ex);
                }
            }
        });
    }

</script>