@{
    string appthemeversion = System.Configuration.ConfigurationManager.AppSettings["apptheme"] != null ? System.Configuration.ConfigurationManager.AppSettings["apptheme"].ToString() : "THEME1";
    string StrVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString();
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
    string strImageURL = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string strLoaderURL = strImageURL + "/" + strProduct + "/" + "loader.gif?" + StrVersion;
    string _homtxt = Session["HomeText"] != null ? Session["HomeText"].ToString() : "";
    string[] _toptxtary = Session["TopText"] != null ? Session["TopText"].ToString().Split('~') : "".Split('~');
    string[] _righttxtary = Session["RightText"] != null ? Session["RightText"].ToString().Split('*') : "".Split('*');
    string _standrdtxt = Session["StandardText"] != null ? Session["StandardText"].ToString() : "";
    string[] _tabRights = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : "".Split('|');
    string[] _image = Session["accessimage"] != null ? Session["accessimage"].ToString().Split('|') : "".Split('|');
    string _imgext = ".jpg";
}
<link href="~/Content/CSS/Slider/camera.css?@StrVersion" rel="stylesheet" />
<link href="~/Content/CSS/DTBL/Boostrap-table.css?@StrVersion" rel="stylesheet" />
<link href="~/Content/CSS/DTBL/bootstrap-table-filter.css?@StrVersion" rel="stylesheet" />
<script src="~/js/Amchart/amcharts.js?@StrVersion"></script>
<script src="~/js/Amchart/serial.js?@StrVersion"></script>
<script src="~/js/commontable_boostrap.js?@StrVersion"></script>
<script src="~/js/DTBL/bootstrap-table-filter.js?@StrVersion"></script>
<script src="~/js/DTBL/Bootstrap-table.js?@StrVersion"></script>
<script src="~/js/cbpFWTabs.js?@StrVersion"></script>
<script src="~/js/Slider/jquery.easing.1.3.js?@StrVersion"></script>
<script src="~/js/jquery.nice-select.js?@StrVersion"></script>
<script src="~/js/DTBL/bs-table.js?@StrVersion"></script>
@if (appthemeversion.ToUpper() == "THEME2"){
    <link href="~/Content/CSS/Theme2/style.css" rel="stylesheet" />
}
<style>
    .amcharts-chart-div a {
        display: none !important;
    }

    .inner-tab {
        min-height: 450px;
        padding: 40px 15px 20px 15px;
        text-align: left;
    }

    .segmented-control > label {
        line-height: 32px;
    }

    a.label:hover {
        border-bottom: 3px solid blue;
    }

    .underline:hover .underline {
        border-bottom: 3px solid blue;
    }

    .hdr-info {
        text-transform: uppercase;
        background: rgba(39, 165, 245, 0.8);
        margin: 0;
        color: #2b2b2b;
    }

    .quote-slide {
        min-height: 80px;
        width: 94%;
        margin-left: 3%;
        transition: 0.5s;
        /*box-shadow: 0px 5px 10px 1px #777;*/
        padding: 10px;
    }

        .quote-slide p {
            margin: 0;
        }

    .quote-hdr {
        padding: 0px;
        background-image: url(../Images/elements_header_background.png);
    }

    .fat-l {
        float: left;
        white-space: nowrap;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ccc !important;
    }

    .table > tbody > tr > td {
        border-bottom: 1px solid #fff !important;
    }
</style>

<div id="dvsamplemain" class="rightside">


    <!--marquee-->
    <div class="col-md-10 col-md-offset-1 col-xs-12" style="display:none">
        <div class="breakingNews bn-yellow animated my_flipInX" id="bn2">
            <div class="bn-title" style="width: auto;">
                <h2 style="display: inline-block;"></h2>
                <span></span>
            </div>
            @Html.Partial("_flashNews");
            <div class="bn-navi">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!--End of marquee-->



    <div class="tabs tabs-style-topline" id="ChartTabs">
        <nav>
            <ul>

                <li>
                    <a href="#section-topline-1" class="fa fa-home">

                        <span>Day Wise Sales/Segment</span>
                    </a>
                </li>

                @if (_tabRights.Length > 0 && _tabRights[0] != "0")
                {
                    <li>
                        <a href="#section-topline-2" class="fa fa-money">

                            <span>Today Departure List</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>

        <div class="mycss-content-wrap">
            <div class="content-wrap pt-15">
                <section id="section-topline-1">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <div class="col-md-3 col-sm-2 col-lg-3 col-xs-4 m-sm-t20">
                                <span id="lblTransactionType" class="clsspntitle clssidelabel">Year</span>
                                <select class="clscmbanim" id="yearwise1" onchange="getdaytimerequest();"></select>
                            </div>
                            <div class="col-md-3 col-sm-2 col-lg-3 col-xs-4 m-sm-t20">
                                <span id="lblTransactionTypea" class="clsspntitle clssidelabel">Month</span>
                                <select class="clscmbanim" id="monthswise" onchange="getdaytimerequest();" size="5">
                                    <option selected value="01">Jan</option>
                                    <option value="02">Feb</option>
                                    <option value="03">Mar</option>
                                    <option value="04">Apr</option>
                                    <option value="05">May</option>
                                    <option value="06">Jun</option>
                                    <option value="07">Jul</option>
                                    <option value="08">Aug</option>
                                    <option value="09">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-2 col-lg-2 col-xs-4 m-sm-t20">
                                <div class="cntr">
                                    <input style="display: none;" checked id="daywise" onclick="javascript: return getdaytimerequest();" class="cb" type="checkbox" name="daycheck" />
                                    <label class="cbx" for="daywise"></label>
                                    <label class="lbl" for="daywise">Day</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-4 col-xs-12 m-sm-t20">
                                <div class="segmented-control" style="width: 100%; color: #fff;background-color: rgb(48, 164, 237);height: 35px;line-height: 32px !important;">
                                    <input type="radio" name="chkFTriptype" value="C" id="SegWise" checked="" onclick="javascript: return ChangeAssign('C');">
                                    <input type="radio" name="chkFTriptype" id="Saleswise" value="D" onclick="javascript: return ChangeAssign('D');">
                                    <label for="SegWise" data-value="Segment Wise">Segment Wise</label>
                                    <label for="Saleswise" data-value="Sales Wise"> Sales Wise</label>

                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="display: none">
                            <div id="AgentTopupDetails" style="width: auto; height: 400px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding:0px;">
                            <div id="chartdiv" style="width: auto;height:380px;text-align:center;color:red;"></div>
                        </div>
                    </div>
                </section>
                <section id="section-topline-2" style="min-height:400px">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-4 m-sm-t20">
                                <span id="Yearsmart" class="clsspntitle">Year</span>
                                <select class="clscmbanim" id="yearwise" onchange="gettodaydept();"></select>
                            </div>
                            <div class="col-md-6 col-sm-5 col-lg-4 col-xs-8 m-sm-t20">
                                <div class="segmented-control" style="width: 100%; color: #fff; background-color: rgb(48, 164, 237);height: 35px;line-height: 32px !important;">
                                    <input type="radio" name="chkFTriptype1" id="yesterday" value="YD" onclick="javascript: return ChangeFilterBased('YD');">
                                    <input type="radio" name="chkFTriptype1" id="today" checked="" value="TD" onclick="javascript: return ChangeFilterBased('TD');">
                                    <input type="radio" name="chkFTriptype1" id="tomorrow" value="TW" onclick="javascript: return ChangeFilterBased('TW');">

                                    <label for="yesterday" data-value=" YesterDay">YesterDay</label>
                                    <label for="today" data-value="Today">Today</label>
                                    <label for="tomorrow" data-value="Tomorrow">Tomorrow</label>
                                </div>



                            </div>
                            <div class="col-md-2 col-sm-2 col-lg-3 col-xs-6 ">
                                <div class="dv-anim input-effect m-0 m-sm-t20">
                                    <input id="txt_formcode" style="text-transform: uppercase" maxlength="3" autocomplete="off" class="txt-anim" type="text" onkeypress="return ValidateAlpha(event);" />
                                    <label>Origin code</label>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-lg-3 col-xs-6 ">
                                <div class="dv-anim input-effect m-0 m-sm-t20">
                                    <input id="txt_desinationCode" maxlength="3" autocomplete="off" style="text-transform: uppercase" class="txt-anim" type="text" onkeypress="return ValidateAlpha(event);" />
                                    <label>Destination code</label>
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <div id="Div_Char" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            </div>
                            <div id="charterror" class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
                                <input type="hidden" id="flight" />
                                <input type="hidden" id="currentdate" />
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>




</div>
<script>

    var colors = ["#A186BE", "#588526", "#FF0F00", "#0D52D1",
              "#F6BD0F", "#FF8E46", "#008E8E", "#8E468E", "#588526", "#B3AA00", "#FF6600", "#9D080D", "#A186BE", "#CD0D74",
              "#04D215", "#F6BD0F", "#8BBA00", "#2A0CD0", "#008E8E", "#D64646", "#8E468E", "#A354F7", "#2d89ef", "#EDDD28",
              "#588526", "#B3AA00", "#B0DE09", "#9D080D", "#A186BE", "#670cd6", "#f553e7", "#8e44ad", "#FF9E01", "#B0DE09",
              "#FF0F00", "#FCD202", "#04D215", "#2A0CD0", "#FF6600", "#F8FF01", "#0D8ECF", "#8A0CCF", "#FF9E01", "#B0DE09",
              "#FCD202", "#04D215", "#FF8E46", "#FF6600", "#ff7e00", "#F8FF01", "#0D8ECF", "#8A0CCF", "#0D52D1", "#CD0D74"];

    var date = "";
    var org = "";
    var desti = "";
    var loadingimg = '@strLoaderURL';
    var SegWises = "";

    $(document).ready(function () {
        var crntdate = "@ViewBag.currentdate";
        var day = crntdate.split('/')[0];
        var month = crntdate.split('/')[1];
        var year = crntdate.split('/')[2];
        var lastYear = year - 1;
        $("#monthswise").val(month);
        var select1 = $('#yearwise1');
        //var select2 = $('#PieYear');
        var select3 = $('#yearwise');
        select1.empty();
        var opt1 = document.createElement('option');
        opt1.value = year;
        opt1.text = year;
        select1.append(opt1);
        var opt2 = document.createElement('option');
        opt2.value = lastYear;
        opt2.text = lastYear;
        select1.append(opt2);
        select3.empty();
        var opt1 = document.createElement('option');
        opt1.value = year;
        opt1.text = year;
        select3.append(opt1);
        var opt2 = document.createElement('option');
        opt2.value = lastYear;
        opt2.text = lastYear;
        select3.append(opt2);
        var checkin = crntdate.split('/')[2];
        $('#yearwise1').val(checkin);
        $('#PieYear').val(checkin);
        $('#yearwise').val(checkin);
        if ($('#yesterday')[0].checked == true)
            ChangeFilterBased('YD')
        if ($('#today')[0].checked == true)
            ChangeFilterBased('TD')
        if ($('#tomorrow')[0].checked == true)
            ChangeFilterBased('TW')
    });

    $(function () {
        getdaytimerequest();
    });

    function ChangeAssign(arg) {
        if (arg == "C") {
            date = "SEGWISE";
        }
        else if (arg == "D") {
            date = "SALEWISE";
        }
        getdaytimerequest();
    }

    function getdaytimerequest() {
        $.blockUI({
            message: '<img alt="Please Wait..." src="@strLoaderURL" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        var DAYWISE = "D";
        var Year = document.getElementById("yearwise1").value;
        var month = document.getElementById("monthswise").value;
        if ($('#SegWise')[0].checked == true)
            SegWises = "SEGWISE";
        else
            SegWises = "SALEWISE";
        if (document.getElementById("daywise").checked == true) {
            DAYWISE = "D";
            document.getElementById('monthswise').disabled = false;
        }
        else {
            DAYWISE = "M";
            document.getElementById('monthswise').disabled = true;
        }
        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: "@Url.Action("newdashboardreport", "CntrlPanel")",
            contentType: "application/json; charset=utf-8",
            data: '{TYPE:"' + DAYWISE + '" ,YEAR: "' + Year + '",MONTH: "' + month + '",SEG: "' + SegWises + '",AGENTID: ""}',
            dataType: "json",
            success: function (json) {//On Successful service call
                var result = json.Result;
                if (result[1] != "") {
                    var sampleData = $.parseJSON(result[1]);
                    jsonbarchart = [];
                    var j = 0;
                    for (var i = sampleData.length - 1; i >= 0; i--) {
                        if (j == colors.length - 1) { j = 0; }
                        else { j++; }
                        jsonbarchart.push({ Total: sampleData[i].Total, Booked: sampleData[i].Booked, color: colors[j] });
                    }
                    var maxvalue = result[2];
                    var months = result[3];
                    var title = result[4];
                    var yval = result[5];
                    var starduration = 1;
                    if ($('#SegWise')[0].checked == true) {
                        maxvalue = result[2] + 10;
                    }
                    else {
                        maxvalue = result[2] + 50;
                    }

                    var chart = AmCharts.makeChart("chartdiv", {
                        "theme": "light",
                        "type": "serial",
                        "startDuration": starduration,
                        "dataProvider": jsonbarchart,
                        "valueAxes": [{
                            "position": "left",
                            "title": title,
                            "labelRotation": 45
                        }
                        ],
                        "graphs": [{
                            "balloonText": "[[Booked]]: <b>[[Total]]</b>",
                            "fillColorsField": "color",
                            "fillAlphas": 1,
                            "lineAlpha": 0.1,
                            "type": "column",
                            "valueField": "Total"

                        }],
                        "depth3D": 20,
                        "angle": 30,
                        "chartCursor": {
                            "categoryBalloonEnabled": false,
                            "cursorAlpha": 0,
                            "zoomable": false
                        },
                        "categoryField": "Booked",
                        "categoryAxis": {
                            "gridPosition": "start",
                            "labelRotation": 90,
                            "title": "DAY WISE"
                        }
                    });
                }
                else {
                    document.getElementById("chartdiv").innerHTML = result[0];
                    document.getElementById("chartdiv").style.color = "RED";
                    document.getElementById("chartdiv").style.fontWeight = "bold";
                    document.getElementById("chartdiv").style.textAlign = "center";
                }
                $.unblockUI();
            },
            error: function (e) {//On Successful service call
                $.unblockUI();
                if (e.status == "500") {
                    alert("An Internal Problem Occurred. Your Session will Expire.");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }
            }	// When Service call fails
        });
    }

    function getdetails() {
        var crntdate = "@ViewBag.currentdate";
        var Year = crntdate.split('/')[2];
        var month = "ALL";
        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: "@Url.Action("Requestbuilddashboard", "CntrlPanel")",
            data: '{YEAR: "' + Year + '",MONTH: "' + month + '",AGENTID: "" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {//On Successful service call
                var result = json.Result;
                var appendiv = document.getElementById('AgentTopupDetails').id;
                Createtable(result, appendiv, "tablename", "");
            },
            error: function (e) {//On Successful service call
                if (e.status == "500") {
                    alert("Session has been Expired.");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }
            }	// When Service call fails

        });
    }

    $("#txt_formcode").on('keyup change', function (e) {
        var vale = $(this).val();
        var textLength = vale.length;
        var thisChars = this.value.replace(/{.*}/g, '').length;
        if (thisChars == 3) {
            org = this.value;
            if ($('#yesterday')[0].checked == true)
                ChangeFilterBased('YD')
            if ($('#today')[0].checked == true)
                ChangeFilterBased('TD')
            if ($('#tomorrow')[0].checked == true)
                ChangeFilterBased('TW')
        }
        else {
            org = "";
        }

    });

    $("#txt_desinationCode").on('keyup change', function (e) {
        var vale = $(this).val();
        var textLength = vale.length;
        var thisChars = this.value.replace(/{.*}/g, '').length;
        if (thisChars == 3) {
            desti = this.value;
            if ($('#yesterday')[0].checked == true)
                ChangeFilterBased('YD')
            if ($('#today')[0].checked == true)
                ChangeFilterBased('TD')
            if ($('#tomorrow')[0].checked == true)
                ChangeFilterBased('TW')
        }
        else {
            desti = "";
        }

    });

    function ChangeFilterBased(ch_date) {
        if (ch_date == "YD") {
            date = "YESTERDAY";
        }
        else if (ch_date == "TD") {
            date = "TODAY";
        }
        else if (ch_date == "TW") {
            date = "TOMORROW";
        }
        gettodaydept();
    }

    function gettodaydept() {
        $.blockUI({
            message: '<img alt="Please Wait..." src="@strLoaderURL" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        var Year = document.getElementById("yearwise").value;
        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: "@Url.Action("Requestdaywiseseg", "CntrlPanel")", 		// Location of the service
            data: '{YEAR: "' + Year + '",DATEWISE: "' + date + '",ORIGIN:"' + org + '",DESTINATION:"' + desti + '",AGENTID:""}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {//On Successful service call
                var result = json.Result;
                var appendiv = document.getElementById("Div_Char").id;
                Createtable(result, appendiv, "tablename", "");
                $.unblockUI();
            },
            error: function (e) {//On Successful service call
                $.unblockUI();
                if (e.status == "500") {
                    alert("Session has been Expired.");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }
            }	// When Service call fails

        });
    }

    function OpenNewTab(flight) {
        //
        var flightno = flight.children[0].innerHTML;
        var date = "Yesterday";
        if ($('#yesterday')[0].checked == true) {
            var currentDate = new Date(new Date().getTime() - 24 * 60 * 60 * 1000);
            var day = currentDate.getDate()
            var month = currentDate.getMonth() + 1
            var year = currentDate.getFullYear()

            date = year + "-" + month + "-" + day;
        }
        if ($('#today')[0].checked == true) {

            var currentDate = new Date(new Date().getTime());
            var day = currentDate.getDate()
            var month = currentDate.getMonth() + 1
            var year = currentDate.getFullYear()

            date = year + "-" + month + "-" + day;
        }
        if ($('#tomorrow')[0].checked == true) {
            var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
            var day = currentDate.getDate()
            var month = currentDate.getMonth() + 1
            var year = currentDate.getFullYear()
            date = year + "-" + month + "-" + day;
        }
        if ($('#yesterday')[0].checked == true) {
            showerralert("Flight has already departured");
            //alert("Flight has already departured");
        }
        else {
            if ($(window).width() < 768) { //For Mobile View...
                var iurl = 'http://www.flightstats.com/go/FlightStatus/flightStatusByFlight.do?airline=' + flightno.split(' ')[0] + '&flightNumber=' + flightno.split(' ')[1] + '&departureDate=' + date + '';
                var ititle = "Flightstatus";
                var isubtitle = "";
                var ifull = false;
                IziModalIFramePop(iurl, ititle, isubtitle, ifull);
            }
            else {
                window.open('http://www.flightstats.com/go/FlightStatus/flightStatusByFlight.do?airline=' + flightno.split(' ')[0] + '&flightNumber=' + flightno.split(' ')[1] + '&departureDate=' + date + '');
            }
        }

    }

    (function () {
        [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
            new CBPFWTabs(el);
        });
    })();

    !function (a) { function b(a, b, c) { if (8 == g) { var d = j.width(), e = f.debounce(function () { var a = j.width(); d != a && (d = a, c()) }, a); j.on(b, e) } else j.on(b, f.debounce(c, a)) } function c(a) { window.console && window.console && window.console.log && window.console.log(a) } function d() { var b = a('<div style="width:50px;height:50px;overflow-y:scroll;position:absolute;top:-200px;left:-200px;"><div style="height:100px;width:100%"></div>'); a("body").append(b); var c = b.innerWidth(), d = a("div", b).innerWidth(); return b.remove(), c - d } function e(a) { if (a.dataTableSettings) for (var b = 0; b < a.dataTableSettings.length; b++) { var c = a.dataTableSettings[b].nTable; if (a[0] == c) return !0 } return !1 } a.floatThead = a.floatThead || {}, a.floatThead.defaults = { cellTag: null, headerCellSelector: "tr:first>th:visible", zIndex: 1001, debounceResizeMs: 10, useAbsolutePositioning: !0, scrollingTop: 0, scrollingBottom: 0, scrollContainer: function () { return a([]) }, getSizingRow: function (a) { return a.find("tbody tr:visible:first>*") }, floatTableClass: "floatThead-table", floatWrapperClass: "floatThead-wrapper", floatContainerClass: "floatThead-container", copyTableClass: !0, debug: !1 }; var f = window._, g = function () { for (var a = 3, b = document.createElement("b"), c = b.all || []; a = 1 + a, b.innerHTML = "<!--[if gt IE " + a + "]><i><![endif]-->", c[0];); return a > 4 ? a : document.documentMode }(), h = null, i = function () { if (g) return !1; var b = a("<table><colgroup><col></colgroup><tbody><tr><td style='width:10px'></td></tbody></table>"); a("body").append(b); var c = b.find("col").width(); return b.remove(), 0 == c }, j = a(window), k = 0; a.fn.floatThead = function (l) { if (l = l || {}, !f && (f = window._ || a.floatThead._, !f)) throw new Error("jquery.floatThead-slim.js requires underscore. You should use the non-lite version since you do not have underscore."); if (8 > g) return this; if (null == h && (h = i(), h && (document.createElement("fthtr"), document.createElement("fthtd"), document.createElement("fthfoot"))), f.isString(l)) { var m = l, n = this; return this.filter("table").each(function () { var b = a(this).data("floatThead-attached"); if (b && f.isFunction(b[m])) { var c = b[m](); "undefined" != typeof c && (n = c) } }), n } var o = a.extend({}, a.floatThead.defaults || {}, l); return a.each(l, function (b) { b in a.floatThead.defaults || !o.debug || c("jQuery.floatThead: used [" + b + "] key to init plugin, but that param is not an option for the plugin. Valid options are: " + f.keys(a.floatThead.defaults).join(", ")) }), this.filter(":not(." + o.floatTableClass + ")").each(function () { function c(a) { return a + ".fth-" + y + ".floatTHead" } function i() { var b = 0; A.find("tr:visible").each(function () { b += a(this).outerHeight(!0) }), Z.outerHeight(b), $.outerHeight(b) } function l() { var a = z.outerWidth(), b = I.width() || a; if (X.width(b - F.vertical), O) { var c = 100 * a / (b - F.vertical); S.css("width", c + "%") } else S.outerWidth(a) } function m() { C = (f.isFunction(o.scrollingTop) ? o.scrollingTop(z) : o.scrollingTop) || 0, D = (f.isFunction(o.scrollingBottom) ? o.scrollingBottom(z) : o.scrollingBottom) || 0 } function n() { var b, c; if (V) b = U.find("col").length; else { var d; d = null == o.cellTag && o.headerCellSelector ? o.headerCellSelector : "tr:first>" + o.cellTag, c = A.find(d), b = 0, c.each(function () { b += parseInt(a(this).attr("colspan") || 1, 10) }) } if (b != H) { H = b; for (var e = [], f = [], g = [], i = 0; b > i; i++) e.push('<th class="floatThead-col"/>'), f.push("<col/>"), g.push("<fthtd style='display:table-cell;height:0;width:auto;'/>"); f = f.join(""), e = e.join(""), h && (g = g.join(""), W.html(g), bb = W.find("fthtd")), Z.html(e), $ = Z.find("th"), V || U.html(f), _ = U.find("col"), T.html(f), ab = T.find("col") } return b } function p() { if (!E) { if (E = !0, J) { var a = z.width(), b = Q.width(); a > b && z.css("minWidth", a) } z.css(db), S.css(db), S.append(A), B.before(Y), i() } } function q() { E && (E = !1, J && z.width(fb), Y.detach(), z.prepend(A), z.css(eb), S.css(eb)) } function r(a) { J != a && (J = a, X.css({ position: J ? "absolute" : "fixed" })) } function s(a, b, c, d) { return h ? c : d ? o.getSizingRow(a, b, c) : b } function t() { var a, b = n(); return function () { var c = s(z, _, bb, g); if (c.length == b && b > 0) { if (!V) for (a = 0; b > a; a++) _.eq(a).css("width", ""); q(); var d = []; for (a = 0; b > a; a++) d[a] = c.get(a).offsetWidth; for (a = 0; b > a; a++) ab.eq(a).width(d[a]), _.eq(a).width(d[a]); p() } else S.append(A), z.css(eb), S.css(eb), i() } } function u(a) { var b = I.css("border-" + a + "-width"), c = 0; return b && ~b.indexOf("px") && (c = parseInt(b, 10)), c } function v() { var a, b = I.scrollTop(), c = 0, d = L ? K.outerHeight(!0) : 0, e = M ? d : -d, f = X.height(), g = z.offset(), i = 0; if (O) { var k = I.offset(); c = g.top - k.top + b, L && M && (c += d), c -= u("top"), i = u("left") } else a = g.top - C - f + D + F.horizontal; var l = j.scrollTop(), m = j.scrollLeft(), n = I.scrollLeft(); return b = I.scrollTop(), function (k) { if ("windowScroll" == k ? (l = j.scrollTop(), m = j.scrollLeft()) : "containerScroll" == k ? (b = I.scrollTop(), n = I.scrollLeft()) : "init" != k && (l = j.scrollTop(), m = j.scrollLeft(), b = I.scrollTop(), n = I.scrollLeft()), !h || !(0 > l || 0 > m)) { if (R) r("windowScrollDone" == k ? !0 : !1); else if ("windowScrollDone" == k) return null; g = z.offset(), L && M && (g.top += d); var o, s, t = z.outerHeight(); if (O && J) { if (c >= b) { var u = c - b; o = u > 0 ? u : 0 } else o = P ? 0 : b; s = i } else !O && J ? (l > a + t + e ? o = t - f + e : g.top > l + C ? (o = 0, q()) : (o = C + l - g.top + c + (M ? d : 0), p()), s = 0) : O && !J ? (c > b || b - c > t ? (o = g.top - l, q()) : (o = g.top + b - l - c, p()), s = g.left + n - m) : O || J || (l > a + t + e ? o = t + C - l + a + e : g.top > l + C ? (o = g.top - l, p()) : o = C, s = g.left - m); return { top: o, left: s } } } } function w() { var a = null, b = null, c = null; return function (d, e, f) { null == d || a == d.top && b == d.left || (X.css({ top: d.top, left: d.left }), a = d.top, b = d.left), e && l(), f && i(); var g = I.scrollLeft(); J && c == g || (X.scrollLeft(g), c = g) } } function x() { if (I.length) { var a = I.width(), b = I.height(), c = z.height(), d = z.width(), e = d > a ? G : 0, f = c > b ? G : 0; F.horizontal = d > a - f ? G : 0, F.vertical = c > b - e ? G : 0 } } var y = k, z = a(this); if (z.data("floatThead-attached")) return !0; if (!z.is("table")) throw new Error('jQuery.floatThead must be run on a table element. ex: $("table").floatThead();'); var A = z.find("thead:first"), B = z.find("tbody:first"); if (0 == A.length) throw new Error("jQuery.floatThead must be run on a table that contains a <thead> element"); var C, D, E = !1, F = { vertical: 0, horizontal: 0 }, G = d(), H = 0, I = o.scrollContainer(z) || a([]), J = o.useAbsolutePositioning; null == J && (J = o.scrollContainer(z).length); var K = z.find("caption"), L = 1 == K.length; if (L) var M = "top" === (K.css("caption-side") || K.attr("align") || "top"); var N = a('<fthfoot style="display:table-footer-group;"/>'), O = I.length > 0, P = !1, Q = a([]), R = 9 >= g && !O && J, S = a("<table/>"), T = a("<colgroup/>"), U = z.find("colgroup:first"), V = !0; 0 == U.length && (U = a("<colgroup/>"), V = !1); var W = a('<fthrow style="display:table-row;height:0;"/>'), X = a('<div style="overflow: hidden;"></div>'), Y = a("<thead/>"), Z = a('<tr class="size-row"/>'), $ = a([]), _ = a([]), ab = a([]), bb = a([]); if (Y.append(Z), z.prepend(U), h && (N.append(W), z.append(N)), S.append(T), X.append(S), o.copyTableClass && S.attr("class", z.attr("class")), S.attr({ cellpadding: z.attr("cellpadding"), cellspacing: z.attr("cellspacing"), border: z.attr("border") }), S.css({ borderCollapse: z.css("borderCollapse"), border: z.css("border") }), S.addClass(o.floatTableClass).css("margin", 0), J) { var cb = function (a, b) { var c = a.css("position"), d = "relative" == c || "absolute" == c; if (!d || b) { var e = { paddingLeft: a.css("paddingLeft"), paddingRight: a.css("paddingRight") }; X.css(e), a = a.wrap("<div class='" + o.floatWrapperClass + "' style='position: relative; clear:both;'></div>").parent(), P = !0 } return a }; O ? (Q = cb(I, !0), Q.append(X)) : (Q = cb(z), z.after(X)) } else z.after(X); X.css({ position: J ? "absolute" : "fixed", marginTop: 0, top: J ? 0 : "auto", zIndex: o.zIndex }), X.addClass(o.floatContainerClass), m(); var db = { "table-layout": "fixed" }, eb = { "table-layout": z.css("tableLayout") || "auto" }, fb = z[0].style.width || ""; x(); var gb, hb = function () { (gb = t())() }; hb(); var ib = v(), jb = w(); jb(ib("init"), !0); var kb = f.debounce(function () { jb(ib("windowScrollDone"), !1) }, 300), lb = function () { jb(ib("windowScroll"), !1), kb() }, mb = function () { jb(ib("containerScroll"), !1) }, nb = function () { m(), x(), hb(), ib = v(), (jb = w())(ib("resize"), !0, !0) }, ob = f.debounce(function () { x(), m(), hb(), ib = v(), jb(ib("reflow"), !0) }, 1); O ? J ? I.on(c("scroll"), mb) : (I.on(c("scroll"), mb), j.on(c("scroll"), lb)) : j.on(c("scroll"), lb), j.on(c("load"), ob), b(o.debounceResizeMs, c("resize"), nb), z.on("reflow", ob), e(z) && z.on("filter", ob).on("sort", ob).on("page", ob), z.data("floatThead-attached", { destroy: function () { var a = ".fth-" + y; q(), z.css(eb), U.remove(), h && N.remove(), Y.parent().length && Y.replaceWith(A), z.off("reflow"), I.off(a), P && (I.length ? I.unwrap() : z.unwrap()), J && z.css("minWidth", ""), X.remove(), z.data("floatThead-attached", !1), j.off(a) }, reflow: function () { ob() }, setHeaderHeight: function () { i() }, getFloatContainer: function () { return X }, getRowGroups: function () { return E ? X.find("thead").add(z.find("tbody,tfoot")) : z.find("thead,tbody,tfoot") } }), k++ }), this } }(jQuery), function (a) { a.floatThead = a.floatThead || {}, a.floatThead._ = window._ || function () { var b = {}, c = Object.prototype.hasOwnProperty, d = ["Arguments", "Function", "String", "Number", "Date", "RegExp"]; return b.has = function (a, b) { return c.call(a, b) }, b.keys = function (a) { if (a !== Object(a)) throw new TypeError("Invalid object"); var c = []; for (var d in a) b.has(a, d) && c.push(d); return c }, a.each(d, function () { var a = this; b["is" + a] = function (b) { return Object.prototype.toString.call(b) == "[object " + a + "]" } }), b.debounce = function (a, b, c) { var d, e, f, g, h; return function () { f = this, e = arguments, g = new Date; var i = function () { var j = new Date - g; b > j ? d = setTimeout(i, b - j) : (d = null, c || (h = a.apply(f, e))) }, j = c && !d; return d || (d = setTimeout(i, b)), j && (h = a.apply(f, e)), h } }, b }() }(jQuery);

    $(document).ready(function () {
        $('.clscmbanim').niceSelect();
        $(".sticky-header").floatThead({ scrollingTop: 50 });
    });
</script>