@using System.Configuration;
@{
    string strProductType = ConfigurationManager.AppSettings["Producttype"].ToString();
    string strSessionloginKey = Session["Webcheckkeytdid"] != null ? Session["Webcheckkeytdid"].ToString() : "";
    string strLogourl = ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string StrTKTFLAG = Session["TKTFLAG"] != null && Session["TKTFLAG"].ToString() != "" ? Session["TKTFLAG"].ToString() : "DTKT";
    string strApptheme = ConfigurationManager.AppSettings["apptheme"] != null ? ConfigurationManager.AppSettings["apptheme"].ToUpper().ToString() : "THEME1";
    string strFileversion = ConfigurationManager.AppSettings["UpdateVersion"] != null ? ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strProductLogo = ConfigurationManager.AppSettings["LogoUrl"] + strProductType + "/logo.png?" + strFileversion;
    string strFavicon = ConfigurationManager.AppSettings["LogoUrl"] + strProductType + "/favicon.png?" + strFileversion;
    string strtitle = ConfigurationManager.AppSettings["title"] != null ? ConfigurationManager.AppSettings["title"].ToString() : "";
    string strMeta_description = ConfigurationManager.AppSettings["Meta_description"] != null ? ConfigurationManager.AppSettings["Meta_description"].ToString() : "";
    string stragnId = Session["POS_TID"] != null ? Session["POS_TID"].ToString() : "";
    string stragnNm = Session["agencyname"] != null ? Session["agencyname"].ToString() : "";
    string strusrNm = Session["username"] != null ? Session["username"].ToString() : "";
    string strEnvTyp = Session["EnvironmentType"] != null ? Session["EnvironmentType"].ToString() : "";
    string stragntyp = Session["agenttype"] != null ? Session["agenttype"].ToString() : "";
    string strLogopath = (Session["Agentmainlogopath"] != null && Session["Agentmainlogopath"].ToString() != "") ? Session["Agentmainlogopath"].ToString() : "/Images/" + strProductType + "/layout_logo.png";
    string strSublogopath = (Session["Agentsublogopath"] != null && Session["Agentsublogopath"].ToString() != "") ? Session["Agentsublogopath"].ToString() : "";
    string[] strcntrlpanelrits = Session["cntrlpanelrits"] != null ? Session["cntrlpanelrits"].ToString().Split('|') : "".Split('|');
    string strappthemeversion = ConfigurationManager.AppSettings["apptheme"] != null ? ConfigurationManager.AppSettings["apptheme"].ToString() : "THEME1";
    string strprivilage = Session["privilage"] != null ? Session["privilage"].ToString() : "";
    string[] strsmartScorcard = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : null;
    string strdisplcon = "";
    string strdisplyicon = "";
    string[] strtabRights = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : "".Split('|');
    string strTerminalType = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : ConfigurationManager.AppSettings["TerminalType"].ToString();
    string strPNRlbl = Session["PNRlbl"] != null && Session["PNRlbl"].ToString() != "" ? Session["PNRlbl"].ToString() : "PNR";
    string strblock = "block";
    if (strTerminalType != null && strTerminalType != "" && (strTerminalType == "U" || strTerminalType == "L"))
    {
        strblock = "none";
    }
    string clsMenuRes = strApptheme == "THEME5" ? "col1 col-md-1 col-lg-2 col-xs-2 hidden-xs" : "col1 col-md-1 col-lg-1 col-xs-2 hidden-xs";
    string clsMenuRes1 = strApptheme == "THEME5" ? "col1 col-md-11 col-lg-10 col-xs-10" : "col1 col-md-11 col-lg-11 col-xs-10";
    string strAllowreports = Session["Allowreports"] != null && Session["Allowreports"].ToString() != "" ? Session["Allowreports"].ToString() : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@strtitle</title>
    <meta name="description" content="@strMeta_description" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="stunner" name="description" />
    <meta content="stunner" name="author" />

    <link rel="shortcut icon" href="@strFavicon" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    @Styles.Render("~/Content/LayoutCommonCSS")
    @Styles.Render("~/Content/CommonAllCSS")
    @Styles.Render("~/Content/LayoutOtherCSS")
    @if (strApptheme == "THEME4")
    {
        <link href="~/Content/CSS/Theme4/AvilBuilder.css?@strFileversion" rel="stylesheet" />
        <link href="~/Content/CSS/Theme4/style.css?@strFileversion" rel="stylesheet" />
    }    
    <link href="~/Content/CSS/homecss.css?@strFileversion" rel="stylesheet" />
    <link href="~/Content/CSS/Search/jquerycalender-new.css" rel="stylesheet" />
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    <script src="~/js/CommonJS/jquery-ui-new.js"></script>
    <script src="~/js/jquery.xml2json.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
    <script src="~/js/CommonJS/bootstrap-typeahead.js?@strFileversion"></script>
</head>

<body class="fixed-leftside fixed-header wsmenucontainer clearfix _M_RTME4 _M_riyauae _M_RTME5" id="_Mriya_boa">
    <!-- PRELOADER START -->
    @if (!Request.Browser.IsMobileDevice)
    {
        <div id="loader" class="load-full-screen" style="display: block;">
            <div class="loading-animation">
                <img src="~/Images/Theme4/loader.gif" />
            </div>
        </div>
    }
    <!-- PRELOADER END -->
    <!-- BEGIN HEADER -->
    <div class="overlapblackbg"></div>
    <header id="manulajod" style="display:@strblock">
        <nav class="navbar-static-top headerstripVrtcal flight_Availheader">
            <div class="wsmobileheader clearfix">
                <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
            </div>
            <div class="row row0 _SMheader" style="background: rgba(0,0,0,0.09); display: none;">
                <div class="col-xs-offset-0 col-xs-12 col-md-offset-6 col-md-6 col1 clssmallhdr">
                    <ul>
                        <li><a href="https://www.riya.travel/travel-updates/" target="_blank" style="cursor: pointer;color: #000!important; font-weight: 600;font-size: 14px;">Travel Updates</a></li>
                        <li class="animated my_fadeinright dis-non">
                            <div class="nav-profile">
                                <div id="dv-desk-usrnm">
                                    <div id="dvusrnm" class="thumb">
                                        <img src="@Url.Content("~/Images/avatar.png")" class="img-circle clsagnlogo " alt="" />
                                        <i class="icofont icofont-business-man"></i><span class="scorecardlnk s">@strusrNm</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dis-non">
                            <div class=""><i class="icofont icofont-id"></i><span class="scorecardlnk a">@stragnId</span></div>
                        </li>
                        <li class="_manuli" style="display: none;">
                            <div class="" onclick="getbalance()" style="cursor: pointer;">
                                <i class="icofont icofont-wallet"></i><span class="scorecardlnk av dis-non">Balance</span>
                                <div class="Notify-popup displaynon" id="SHOWMONEY" style="WIDTH: 246px;">
                                    <i class="fa fa-cog fa-spin displayblock" style="font-size: 48px; color: #4fb8f7; width: 40px;"></i>
                                    <!--<h5 class="displaynon dis" id="hCorp_x" style="text-align: left; line-height: inherit; font-size: 14px;">
                                        <i class="icofont icofont-user-male"></i>Agency Name
                                    </h5>
                                    @*<select id="ddlclient_agentbal" class="form-control displaynon dis"></select>*@
                                    <input class="form-control ui-autocomplete-input" type="text" id="ddlclient_agentbal" placeholder="Agency Name" style="display:none;" />-->
                                    <div class="displaynon" id="viewbalance_display"></div>
                                </div>
                            </div>
                        </li>
                        <li class="_manuli dis-non" style="display: none;">
                            <div class="aLogout">
                                <a id="aLogout" href="#" data-toggle='tooltip' data-placement='bottom' title="Logout">
                                    <i class="icofont icofont-sign-out"></i><span class="scorecardlnk av">Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row0 _Mmenures">
                <div class="@clsMenuRes" style="height: 0px;">
                    <div class="clslogo animated my_bounce _Friya_boa">
                        <a href="@Url.Action("HomeMaster", "Home")" class="logo">
                            <img class="clsbiglogo" style="margin-top: -10px;" src="@strLogopath" />
                        </a>
                    </div>
                </div>
                <div class="@clsMenuRes1">
                    <div class="navbar-header nav navbar-nav" style="float: none !important;">
                        <nav class="wsmenu clearfix">

                            <div class="mob-usr-det hidden-sm hidden-md hidden-lg">
                                <img class="clssmallogo" src="@Url.Content("~/Images/logo_big.png")" />
                                <div id="dv-mob-usrnm">
                                    <div class="label label-md clsagndetilsmob d1">@strusrNm</div>
                                    <div class="label label-md clsagndetilsmob d2">@stragnId</div>
                                    <div class="label label-md clsagndetilsmob d3">@stragnNm</div>
                                </div>
                            </div>


                            <ul class="mobile-sub wsmenu-list flightheader" id="menutabss" style="display:@strdisplcon">
                                <li>
                                    <a href="@Url.Content("~/Home/HomeMaster")" class="_Rancher" id="aHome">
                                        <img src="~/Images/@strProductType/Icons/Home.png" class="_Ricoimg_01" /><span class="hometext1">Home</span>
                                    </a>
                                </li>

                                @if ((Session["airline"] != null && Session["airline"].ToString() != "" && Session["airline"].ToString() != "N") && (strTerminalType != "T"))
                                {
                                    <li class="_Mdrop">
                                        <a href="#" id="tabflight" class="_Rancher_01">
                                            <img src="~/Images/@strProductType/Icons/flight.png" class="_Ricoimg_02" /><span>Flight</span>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            <li><a id="Bookfli" href="@Url.Content("~/Flights/Flights")" class="clsAothers _M001_R1">Book a Flight</a></li>
                                            @if (Session["ALLOWGDS"] != null && Session["ALLOWGDS"].ToString() != "" && Session["ALLOWGDS"].ToString() != "N")
                                            {
                                                <li><a id="BookGdsfli" href="@Url.Content("~/Flights/GDSFlights")" class="clsAothers _M001_R2">GDS Search</a></li>
                                            }
                                            <li><a id="Bookhis" href="@Url.Content("~/Pnr/PnrVerification?Tab=0")" class="clsAothers _M001_R4" onclick="Bookedhis('1');">Manage Booking</a></li>
                                            @if (Session["CREDITSHELL"] != null && Session["CREDITSHELL"].ToString() != "" && Session["CREDITSHELL"].ToString() == "Y")
                                            {
                                                <li><a href="#" class="clsAothers otherProduct _M001_R21" id="CSPNR">View Credit Shell PNR</a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                                @if (Session["hotel"] != null && Session["hotel"].ToString() != "" && Session["hotel"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#">
                                            <img src="~/Images/@strProductType/Icons/hotel.png" class="_Ricoimg_08" /><span>Hotel</span>
                                        </a>
                                        <ul class="wsmenu-submenu" style="display: none;">
                                            <li><a href="#" id="H" class="clsAothers otherProduct _M001_R11">Book a Hotel</a></li>
                                            <li><a href="#" class="clsAothers otherProduct _M001_R12" id="HBH">Manage Booking</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (Session["bus"] != null && Session["bus"].ToString() != "" && Session["bus"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#">
                                            <img src="~/Images/@strProductType/Icons/Bus.png" class="_Ricoimg_03" /><span>Bus</span>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            <li><a href="#" class="clsAothers otherProduct _M001_R9" id="BUS">Book a Bus</a></li>
                                            <li><a href="#" class="clsAothers otherProduct _M001_R10" id="BMB">Manage Booking</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (Session["train"] != null && Session["train"].ToString() != "" && Session["train"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#">
                                            <img src="~/Images/@strProductType/Icons/Train.png" class="_Ricoimg_04" /><span>Train</span>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            <li><a href="#" class="clsAothers otherProduct _M001_R9" id="TRN">Book a Train</a></li>
                                            <li><a href="#" class="clsAothers otherProduct _M001_R10" id="TRNMB">Manage Booking</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (Session["CRUISES"] != null && Session["CRUISES"].ToString() != "" && Session["CRUISES"].ToString() == "Y")
                                {
                                    <li>
                                        <a href="#" class="clsAothers otherProduct" id="CRU">
                                            <span>
                                                <img src="/Images/@strProductType/Icons/ship.png" class="_Ricoimg_13" />
                                                Cruises
                                            </span>
                                        </a>
                                    </li>
                                }
                                @if (Session["Insure"] != null && Session["Insure"].ToString() != "" && Session["Insure"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#">
                                            <img src="~/Images/@strProductType/Icons/Insurance.png" class="_Ricoimg_06" /><span>Insurance</span>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            <li><a href="#" class="clsAothers otherProduct _M001_R26" id="INS">Book Insurance</a></li>
                                            <li><a href="#" class="clsAothers otherProduct _M001_R27" id="IVP">Manage Booking</a></li>
                                            <li><a href="#" class="clsAothers otherProduct _M001_R12" id="IBH">Brochures and Wordings</a></li>
                                            <li><a href="#" class="clsAothers otherProduct _M001_R12" id="ICL">Insurance Claim Form</a></li>
                                        </ul>
                                    </li>
                                }
                                @if (Session["VISA"] != null && Session["VISA"].ToString() != "" && Session["ALLOW_RETRIEVE"].ToString() != "Y")
                                {
                                    <li>
                                        <a href="@Url.Content("~/Visa/Visa")" class="clsAothers otherProduct _M001_R10" id="VISA">
                                            <span style="margin-left: -14px!important;">Visa</span>
                                        </a>
                                    </li>
                                }
                                @if ((Session["UTILITY"] != null && Session["UTILITY"] != "" && Session["UTILITY"].ToString() != "N") || (Session["MONEYTRANSFER"] != null && Session["MONEYTRANSFER"] != "" && Session["MONEYTRANSFER"].ToString() != "N"))
                                {
                                    <li class="_Mdrop otherProduct" id="MUA">
                                        <a href="#" class="_Rancher">
                                            <img src="~/Images/@strProductType/Icons/utility.png" class="_Ricoimg_12" /><span>Utility Services</span>
                                        </a>
                                    </li>
                                }
                                @if ((Session["TITOS"] != null && Session["TITOS"].ToString() != "" && Session["TITOS"].ToString() != "N") || (Session["THEMEPARK"] != null && Session["THEMEPARK"].ToString() != "" && Session["THEMEPARK"].ToString() != "N"))
                                {
                                    <li class="_Mdrop">
                                        <a href="#" class="_Rancher">
                                            <img src="~/Images/@strProductType/Icons/More.png" class="_Ricoimg_09" /><span> More</span>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            @if (Session["CAR"] != null && Session["CAR"] != "" && Session["CAR"].ToString() != "N")
                                            {
                                                <li class="_Mdrop otherProduct" id="CAR">
                                                    <a href="#" class="_Rancher">
                                                        <i class="fa fa-car"></i>Car
                                                    </a>
                                                </li>
                                            }
                                            @if (Session["ANCILLARY"] != null && Session["ANCILLARY"] != "" && Session["ANCILLARY"] != "N")
                                            {
                                                <li>
                                                    <a href="#" class="clsAothers otherProduct _M001_R19" id="ANC">
                                                        Ancillary Services
                                                    </a>
                                                </li>
                                            }
                                            @if (Session["THEMEPARK"] != null && Session["THEMEPARK"].ToString() != "" && Session["THEMEPARK"].ToString() != "N")
                                            {
                                                <li><a href="#" class="clsAothers otherProduct _M001_R15" id="TMP">Theme Park</a></li>
                                            }
                                            @if (strTerminalType == "W")
                                            {
                                                <li><a href="#" class="clsAothers otherProduct _M001_R16" id="BRL">Smazing</a></li>
                                                if (Session["TITOS"] != null && Session["TITOS"].ToString() != "" && Session["TITOS"].ToString() != "N")
                                                {
                                                    <li><a href="#" class="clsAothers otherProduct _M001_R17" id="TOS">Tito's</a></li>
                                                }
                                            }
                                            @if (Session["VISA"] != null && Session["VISA"] != "" && Session["ALLOW_RETRIEVE"].ToString() == "Y")
                                            {
                                                <li>
                                                    <a href="@Url.Content("~/Visa/Visa")" class="clsAothers otherProduct _M001_R10" id="VISA">
                                                        Visa
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                                @if (Session["ALLOW_RETRIEVE"] != null && Session["ALLOW_RETRIEVE"].ToString() != "" && Session["ALLOW_RETRIEVE"].ToString() != "N")
                                {
                                    <li class="_Mdrop" id="QTKT">
                                        <a href="#" class="_Rancher_01">
                                            <img src="~/Images/@strProductType/Icons/flight.png" class="_Ricoimg_02" /><span>Retrieve Ticketing</span>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            <li><a id="retrivebook" href="@Url.Content("~/RetriveBooking/RetriveBooking")" class="clsAothers" style="padding: 2px 14px;"><i class="fa fa-book" style="font-size: 18px; padding-right: 7px;"></i>Ticketing</a></li>
                                            <li><a href="@Url.Content("~/Pnr/PnrVerification?Tab=0&Flag=QTKT")" class="clsAothers _M001_R4" onclick="Bookedhis('1');">Manage Booking</a></li>
                                            @if (strcntrlpanelrits.Count() > 3 && strcntrlpanelrits[3] == "1")
                                            {
                                                <li><a class="clsAothers _M001_R20" href="@Url.Content("~/CntrlPanel/Transaction?Flag=QTKT")">Transaction details </a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                                @if (strcntrlpanelrits.Count() > 0 && strTerminalType == "W")
                                {
                                    <li class="_Mdrop">
                                        <a href="#" class="_Rancher_01">
                                            <img src="~/Images/@strProductType/Icons/Control.png" class="_Ricoimg_10" /><span>Control Panel</span>
                                        </a>
                                        <ul class="wsmenu-submenu">

                                            @if (strcntrlpanelrits.Count() > 1 && strcntrlpanelrits[1] == "1")
                                            {
                                                <li><a class="clsAothers otherProduct _M001_R19" href="@Url.Content("~/CntrlPanel/Changepassword")">Change Password </a></li>
                                            }

                                            @if (strcntrlpanelrits.Count() > 3 && strcntrlpanelrits[3] == "1")
                                            {
                                                <li><a class="clsAothers otherProduct _M001_R20" href="@Url.Content("~/CntrlPanel/Transaction")">Transaction details </a></li>

                                            }

                                            @if (strcntrlpanelrits.Count() > 0 && strcntrlpanelrits[0] == "1" && strprivilage == "S")
                                            {
                                                <li><a class="clsAothers otherProduct _M001_R21" href="@Url.Content("~/CntrlPanel/Agentdetail")">Agent details </a></li>
                                            }

                                            @if (strcntrlpanelrits.Count() > 6 && strcntrlpanelrits[6] == "1")
                                            {
                                                <li><a class="clsAothers otherProduct _M001_R22" href="@Url.Content("~/CntrlPanel/Customerprofile")">Customers Profile </a></li>
                                            }

                                            @if (strtabRights != null && strtabRights.Count() > 5 && strtabRights[6] == "1")     //_tabRights if (Session["ALLOW_TOPUP"] != null && Session["ALLOW_TOPUP"].ToString() != "" && Session["ALLOW_TOPUP"].ToString() != "N")
                                            {
                                                <li><a href="#" class="clsAothers otherProduct _M001_R24" id="CTB">Check Topup Balance</a></li>
                                            }
                                            @if (strcntrlpanelrits.Count() > 3 && strcntrlpanelrits[3] == "1")
                                            {
                                                <li style="display:@strblock"><a class="clsAothers otherProduct _M001_R23" href="@Url.Content("~/CntrlPanel/Outstanding")">Outstanding</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if ((strAllowreports.Contains("TransactionReport") == true || strAllowreports.Contains("Agent Sales") == true || strAllowreports.Contains("Update Agent Balance") == true || strAllowreports.Contains("AgentDetailsReport") == true || strAllowreports.Contains("CashBookingDetails") == true) && strTerminalType == "T")
                                {
                                    <li class="hidden-xs">
                                        <a href="#">
                                            <i class="ion-android-list clsmenuicon" style="float: left;"></i><span>Reports</span>
                                            <i class="ion-chevron-down pull-right hidden-xs clsmenuarrow"></i>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            @if (strAllowreports.Contains("TransactionReport"))
                                            {
                                                if (strProductType == "RBOA" && strTerminalType == "T")
                                                {
                                                    <li><a href="@Url.Content("~/CntrlPanel/Transaction?Flag=QTKT")" class="clsAothers otherProduct" id="AGT">Agent Transaction</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@Url.Content("~/CntrlPanel/Transaction")" class="clsAothers otherProduct" id="AGT">Agent Transaction</a></li>
                                                }
                                            }
                                            @if (strAllowreports.Contains("Update Agent Balance") && strProductType != "RBOA")
                                            {
                                                <li><a href="@Url.Content("~/CntrlPanel/AgentBalance")" class="clsAothers otherProduct" id="">Update Agent Balance</a></li>
                                            }
                                            @if (strAllowreports.Contains("Agent Sales"))
                                            {
                                                <li><a href="@Url.Content("~/CntrlPanel/AirlinePNRWiseSales")" class="clsAothers otherProduct" id="">Airline PNR Wise Sales</a></li>
                                            }
                                            @if (strAllowreports.Contains("AgentDetailsReport"))
                                            {
                                                <li><a href="@Url.Content("~/CntrlPanel/AgentProductiveAnalysis")" class="clsAothers otherProduct" id="">Agent Analysis</a></li>
                                            }
                                            @if (strAllowreports.Contains("CashBookingDetails"))
                                            {
                                                <li><a href="@Url.Action("CashPaymentdetails","Report")" class="clsAothers otherProduct">Cash Payment Details</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if ((strAllowreports.Contains("BookingTrack")) && strTerminalType == "T")// || strAllowRetrieveBooking == "Y"
                                {
                                    <li class="hidden-xs">
                                        <a href="#">
                                            <i class="ion-android-list clsmenuicon" style="float: left;"></i><span>Action</span>
                                            <i class="ion-chevron-down pull-right hidden-xs clsmenuarrow"></i>
                                        </a>
                                        <ul class="wsmenu-submenu">
                                            @if (strAllowreports.Contains("BookingTrack"))
                                            {
                                                <li><a href="#" class="clsAothers otherProduct" id="BTK">Booking Track</a></li>
                                            }
                                            @*@if (true)
                                            {
                                                <li><a href="#" class="clsAothers otherProduct" id="TTC">Ticket To Cancel</a></li>
                                            }
                                            @if (strAllowRetrieveBooking == "Y")
                                            {
                                                <li><a href="@Url.Action("RetrieveAccounting", "RetriveBooking")" class="clsAothers">Retrieve PNR Accounting</a></li>
                                            }
                                            @if (true)
                                            {
                                                <li>
                                                    <a href="#">
                                                        <span class="clsAothers">Manual booking</span>
                                                    </a>
                                                    <ul class="wsmenu-submenu-sub">
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBAIR">Airline Manual Booking</a></li>
                                                        }
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBBUS">BUS Manual Booking</a></li>
                                                        }
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBHTL">Hotel Manual Booking</a></li>
                                                        }
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBTRN">Train Manual Booking</a></li>
                                                        }
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBCAR">Car Manual Booking</a></li>
                                                        }
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBINS">Insurance Manual Booking</a></li>
                                                        }
                                                        @if (true)
                                                        {
                                                            <li><a href="#" class="clsAothers otherProduct" id="MBOTR">Other Manual Booking</a></li>
                                                        }
                                                    </ul>

                                                </li>
                                            }*@
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

                @if (strSublogopath != "")
                {
                    strdisplyicon = "col1 col-md-2 col-xs-8";
                }
                else
                {
                    strdisplyicon = "col1 col-md-1 col-xs-9";
                }
                <div class="@strdisplyicon">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav pull-right wsmenu-list flightheader" id="_Muaerightheader">
                            <li class="dropdown dropdown-box dropdown-notifications flat-mega-menu">
                                <a href="#" class="dropdown-toggle clsAicon30">
                                    <i class="icofont icofont-business-man"></i>
                                </a>
                                <ul class="nav navbar-nav drop-down hover-zoom">
                                    <li><i class="icofont icofont-business-man"></i><span>@strusrNm</span></li>
                                    <li><i class="icofont icofont-support"></i>@stragnNm</li>
                                    <li class="hidden-xs"><i class="icofont icofont-id"></i>@stragnId</li>

                                </ul>
                            </li>
                            @if (strsmartScorcard != null && strsmartScorcard.Length > 1 && strsmartScorcard[7] != "0" && stragntyp != "DL")
                            {
                                <li class="dropdown dropdown-box dropdown-tasks hidden-lg hidden-md hidden-sm animated my_fadeinright">
                                    <a href="@Url.Content("~/CntrlPanel/Smartscore")" class="clsAicon25" data-toggle='tooltip' data-placement='bottom' title="Smart Score card">
                                        <i class="fa fa-dashboard"></i>
                                    </a>
                                </li>
                            }
                            <li class="dropdown dropdown-box dropdown-tasks hidden-xs animated my_fadeinright"></li>
                            @if (strEnvTyp != "M")
                            {
                                <li class="dropdown dropdown-box show-sm-grid animated my_fadeinright aLogout">
                                    <a href="#" class="button clsAicon30 clslogout" data-toggle='tooltip' data-placement='bottom' title="Logout">
                                        <i class="icofont icofont-power"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                @if (strSublogopath != "")
                {
                    <div class="col1 col-md-1 hidden-sm hidden-xs">
                        <div class="clslogo_first animated my_bounce">
                            <a class="logo_first">
                                <img class="clsbiglogo" style="margin-top: -10px;" src="@strSublogopath" />
                            </a>
                        </div>
                    </div>
                }
            </div>

        </nav>
    </header>
    <!-- END HEADER -->

    <div class="wrapper">
        @RenderBody()
    </div>
    @*feedback*@
    @if (Session["agenttype"] != null && Session["agenttype"].ToString() != "" && (Session["agenttype"].ToString() == "RM" || Session["agenttype"].ToString() == "RS"))
    {
        <div style="right: 20px;" class="fixed-action-btn direction-top">
            <a class="btn-buy-now btn-floating gradient-45deg-light-red gradient-shadow">
                <i class="fa fa-comments"></i>
            </a>
        </div>
    }
    <div id="sidebar" class="users p-chat-user showChat" style="display: none; background: #fff">
        <div class="had-container">
            <div class="card card_main p-fixed users-main">
                <a class="back_friendlist gradient-45deg-red-pink"><i class="icofont icofont-close-line" id="dvcloseicon"></i></a>
                <div class="main-card-block">
                    <h5>Generate Phone PIN</h5>
                    <div class="header" style="padding: 10px;">
                        <div class="row break-sup-design">
                            <div class="col-md-12 col-xs-12 _M-b-20">
                                <span class="clsspntitle" style="float: left; position: relative; top: -5px;">Type Of Query</span>
                                <select id="selectissue" class="clstypofissue hideerr">
                                    <option value="0">Select</option>
                                    <option value="New">New</option>
                                    <option value="Modification">Modification</option>
                                    <option value="Paymentissue">Payment Issue</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-xs-12 _M-b-20">
                                <span class="clsspntitle" style="float: left; position: relative; top: -5px;">Select the product</span>
                                <select id="producttype" class="clstypofissue hideerr">
                                    <option value="">Choose Product Type</option>
                                    @if (Session["airline"] != null && Session["airline"].ToString() != "" && Session["airline"].ToString() != "N")
                                    {
                                        <option value="Flight">Flight</option>
                                    }
                                    @if (Session["bus"] != null && Session["bus"].ToString() != "" && Session["bus"].ToString() != "N")
                                    {
                                        <option value="Bus">Bus</option>
                                    }
                                    @if (Session["train"] != null && Session["train"].ToString() != "" && Session["train"].ToString() != "N")
                                    {
                                        <option value="Train">Train</option>
                                    }
                                    @if (Session["CAR"] != null && Session["CAR"].ToString() != "" && Session["CAR"].ToString() != "N")
                                    {
                                        <option value="Car">Car</option>
                                    }
                                    @if (Session["Insure"] != null && Session["Insure"].ToString() != "" && Session["Insure"].ToString() != "N")
                                    {
                                        <option value="Insurance">Insurance</option>
                                    }
                                    @if ((Session["UTILITY"] != null && Session["UTILITY"].ToString() != "" && Session["UTILITY"].ToString() != "N") || (Session["MONEYTRANSFER"] != null && Session["MONEYTRANSFER"] != "" && Session["MONEYTRANSFER"].ToString() != "N"))
                                    {
                                        <option value="Utilityservice">Utility Service</option>
                                    }
                                    @if (Session["ANCILLARY"] != null && Session["ANCILLARY"].ToString() != "" && Session["ANCILLARY"].ToString() != "N")
                                    {
                                        <option value="Ancillaryservice">Ancillary Services</option>
                                    }
                                    @if (Session["CRUISES"] != null && Session["CRUISES"] != "" && Session["CRUISES"].ToString() != "N")
                                    {
                                        <option value="Cruises">Cruises</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 col-xs-12 _M-b-20 hideforuser">
                                <div class="form-group">
                                    <label>Issue Description</label>
                                    <input id="Descriptiontb" class="inp-effect padding-top hideerr" type="text" placeholder="">
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 _M-b-20 hideforuser">
                                <div class="form-group">
                                    <label>Issue Facing From</label>
                                    <input id="issuefacingfrom_date" class="inp-effect padding-top" type="text" placeholder="" readonly="readonly">
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 m-sm-t20 _M-b-20 hideforuser">
                                <span class="clsspntitle" style="float: left; position: relative; top: -5px;">Preferred Time To Call</span>
                                <select id="preftime" class="clstypofissue hideerr">
                                    <option value="00:00-24:00">Any Time</option>
                                    <option value="00:00-03:00">00:00-03:00</option>
                                    <option value="03:00-06:00">03:00-06:00</option>
                                    <option value="06:00-09:00">06:00-09:00</option>
                                    <option value="09:00-12:00">09:00-12:00</option>
                                    <option value="12:00-15:00">12:00-15:00</option>
                                    <option value="15:00-18:00">15:00-18:00</option>
                                    <option value="18:00-21:00">18:00-21:00</option>
                                    <option value="21:00-24:00">21:00-24:00</option>
                                </select>
                            </div>

                            <div class="col-md-12 col-xs-12 _M-b-20">
                                <div class="form-group">
                                    <label>@strPNRlbl</label>
                                    <input id="txtRiyaPNR" class="inp-effect padding-top hideerr" type="text" placeholder="">
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 _M-b-20 hideforuser" id="dvAgncontactno">
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input id="alt_ph_no" class="inp-effect padding-top hideerr" type="text" placeholder="" onkeypress="isNumericVal(event)" />
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 _M-b-20 hideforuser">
                                <div class="form-group">
                                    <label>Your Email Id</label>
                                    <input id="altemailid" class="inp-effect padding-top hideerr" type="text" placeholder="" />
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 _M-b-20">
                                <div class="form-group">
                                    <label>Remarks(if any)</label>
                                    <input id="remarkstb" class="inp-effect padding-top" type="text" placeholder="" />
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="row">
                                <div class="col-xs-12 _Mbtncenter">
                                    <button class="btn gradient-45deg-light-blue-cyan" id="btn_ok" type="submit" onclick="btnAgtSup_Submint()">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>Submit&nbsp;<i id="iLoading" class="fa fa-spinner fa-spin " style="display: none;"></i>
                                    </button>
                                    <button class="btn gradient-45deg-amber-amber" id="btn_clear" type="submit" onclick="btnAgtSup_Clear()">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>Clear
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div id="dvAgnSpterr">
                                        <div class="message_wrap showhide">
                                            <p class="message">
                                                <span id="dvAgnSpterr_msg" class="error" style="color: #fff !important;">All field(s) should not be empty.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*feedback*@
    <input type="hidden" id="time_interval" value="@ConfigurationManager.AppSettings["time_interval"]">
    <input type="hidden" id="time_interval_alert" value="@ConfigurationManager.AppSettings["time_interval_alert"].ToString()">

    <!--  Logout Comfirm Popup Start-->
    <div class="modal fade" id="modal-fr" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body clsPopupBody" style="padding: 10px;">
                    <div class="main">
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <h2>Are you sure ?</h2>
                                <p>Do you want to Logout.</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-offset-3 col-md-3 col-xs-6">
                                <input type="button" value="Yes" class="btn btn-md btn-primary width100per" id="btnyeslogout" />
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-md btn-danger width100per" id="btnclosepop" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Comfirm Popup End-->
    @*pnr function popup*@

    <div class="modal fade" id="pnrpopup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col0">
                @*1123*@
                <div class="modal-content animated bounceInDown">
                    <div class="" style="text-align: right; /* color: darkblue; */padding-right: 5px; padding-bottom: 0px; padding-top: 0xp;">
                        <h4 class="modal-title" style="display: none;">Manage Booking</h4>
                        <div class="cls-boa">
                            <label class="" onclick="javascript: return CanOTAappsFunction();" style="FONT-WEIGHT: 904; cursor: pointer; font-weight: 900; text-align: right; padding-bottom: 0px; padding-top: 0px; margin-bottom: 0px !important; color: #27a5f5">x</label>
                        </div>
                    </div>
                    <div class="modal-body clsPopupBody">
                        @* style="padding: 20px 10px;"*@
                        <div class="main" id="wholecontentdiv">
                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="/* border: 1px solid; */">
                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return OTAappviewpnrFunction();">
                                        <div class="icon" style="font-size: 16px;">
                                            <span class="fa fa-street-view" style="font-size: 34px; margin-left: 25px;" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_view"></span></em>
                                        <span class="boa-align">View pnr </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return cancellation_process();">
                                        <div class="icon" style="font-size: 24px;">
                                            <span class="fa fa-close" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_cancel"></span></em>
                                        <span class="boa-align">Cancellation</span>
                                    </button>
                                </div>
                            </div>

                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return bookhistoresche_process();">
                                        <div class="icon" style="font-size: 24px;">
                                            <span class="fa fa-calendar" style="margin-left: 23px;" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_reschedule"></span></em>
                                        <span class="boa-align">Reschedule</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return bookhis_performinvoice();">
                                        <div class="icon" style="font-size: 24px;">
                                            <span class="fa fa-calendar" style="margin-left: 23px;" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_invoice"></span></em>
                                        <span class="boa-align">Invoice</span>
                                    </button>
                                </div>
                            </div>

                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 more-option" style="/* border: 1px solid; */">
                                    <span onclick="moreoption()">More Options&nbsp;<i class="fa fa-angle-double-down"></i></span>
                                </div>
                                <div id="smsemail" style="display: none;">
                                    <div class="col-sm-6 col-xs-6">
                                        <button class="myButt four" onclick="SMSVIEW()">
                                            <em class="spritepage" style="display: none;"><span class="sprit_smsb2b"></span></em>
                                            <span class="boa-align">SMS</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <button class="myButt four" onclick="SendEmail()">
                                            <em class="spritepage" style="display: none;"><span class="sprit_mailb2b"></span></em>
                                            <span class="boa-align">Email</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5" onclick="javascript: return bookedhis_print();" style="padding: 0px">
                                        <button class="myButt four bxs-non" style="width: 100%; background-color: #27a5f5;">
                                            <div class="icon icon_spa" style="font-size: 22px;">
                                                <span class="fa fa-print" />
                                            </div>
                                            <em class="spritepage" style="display: none;"><span class="sprit_printpnrr"></span></em>
                                            <span class="boa-align printmang">Print</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-md-3 col-sm-3 col-lg-3 mobtxt_center col10" id="singletic">
                                        <input style="display: none; color: white; border: 1px solid #27a5f5 !important;" id="Chk_fare2_popup" class="cb db" type="checkbox" name="Chk_fare2_pop">
                                        <label style="color: white; margin-left: 17px; margin-top: 5px;" class="cbx dbx" for="Chk_fare2_popup"></label>
                                        <legend id="single" style="color: #27a5f5; font-size: 12px; margin-top: -7px; margin-left: 2px; white-space: nowrap;" class="lbl" for="Chk_fare2_popup">Single Ticket</legend>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 mobtxt_center col10" id="getfr">
                                        <input style="display: none; color: white; border: 1px solid #27a5f5 !important;" id="Chk_fare_popup" class="cb db srna" type="checkbox" name="Chk_fare_popup">
                                        <label style="color: white; margin-left: 18px; margin-top: 5px; float: left; margin-bottom: 4px;" class="cbx dbx " for="Chk_fare_popup"></label>
                                        <legend id="withfare" style="color: #27a5f5; font-size: 12px; float: left;" class="lbl srna">With Fare</legend>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*region start sms*@
                    <div id="sendsmsticket" style="display: none; text-align: center;">
                        <span class="boa-align">SMS Ticket</span>
                        <div class="row m-0">
                            <div class="col-sm-12 dv-anim input-effect animationdive" style="margin: 20px 0% !important">
                                <input class="txt-anim has-content " maxlength="10" onkeypress="isNumericVal(event)" id="SMSNumber" style="border: 1px solid #ccc; width: 100%;" />
                                <label class="colrcls" for="SMSNumber"><span>Enter Mobile Number</span> </label>
                            </div>
                        </div>
                        <div class="row m-0 modal-footer">
                            <div class="col-sm-6 col-xs-6 col0 text-right">
                                <a href="#" id="smssend" class="smssend color" onclick="btnSMSSend('B')">Send SMS</a>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-left">
                                <a href="#" id="mailcancel" class="mailcancel colorB1" onclick="CloseSMSPopup()">Cancel</a>
                            </div>
                        </div>
                    </div>

                    @*region end sms*@
                    @*region start Email*@
                    <div id="sendemailticket" style="display: none; text-align: center;">
                        <span class="boa-align">Email Ticket</span>
                        <div class="row m-0">
                            <div class="col-sm-12 dv-anim input-effect animationdive" style="margin: 20px 0% !important">
                                <input class="txt-anim has-content " maxlength="50" id="EmailId" style="border: 1px solid #ccc; width: 100%;" />
                                <label class="colrcls" for="EmailId"><span>Enter Email Id</span> </label>
                            </div>
                        </div>
                        <div class="row m-0 modal-footer">
                            <div class="col-sm-6 col-xs-6 col0 text-right">
                                <a href="#" id="sendmail" class="smssend color" onclick="btnEmailSend('B')">Send Email</a>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-left">
                                <a href="#" id="cancelmail" class="mailcancel colorB1" onclick="CloseEmailPopup()">Cancel</a>
                            </div>
                        </div>
                    </div>
                    @*region end Email*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-agentlist-bal" tabindex="-1" role="dialog" style="display: none">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close popClose" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title custom_align stylishHeader" style="text-align: center; font-size: 20px; font-weight: bold; color: #5f9ea0;">Agent Balance</h5>
                </div>
                <div class="modal-body clsPopupBody" style="padding: 10px;">
                    <div class="main form-group" style="height: 190px; margin-bottom: 0px;">
                        <div id="hCorp_x" style="text-align: left; line-height: inherit; font-size: 14px; margin-bottom: 2px;">Agency Name</div>
                        <input class="form-control ui-autocomplete-input" type="text" id="txtAgencyName" placeholder="Agency Name" style="margin-bottom: 15px;" />
                        <div class="main form-group" style="margin-bottom: 0px;">
                            <div class="displaynon" id="dvBalance"></div>
                            @*id="viewbalance_display"*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-Fare" class="iziModal addtop" style=""></div>
    <div id="modal-alert" class="iziModal"></div>
    <div id="modal-content" class="iziModal"></div>
    <div id="modal-iframe" class="iziModal"></div>

    <div id="modal-WIDGETPOPUP" class="iziModal">
        <div style="margin: 3%;">
            <div id="image_map">
                <a href="https://www.indifi.com/associate/RiyaTravelsandTours?utm_source=Direct&utm_medium=Banner&utm_campaign=1217" alt="Travel" target="_blank">
                    <img src="@Url.Content("~/Images/INDIFI.PNG")?@strFileversion" alt="image map example" />
                </a>
            </div>
            <div class="col-md-6" style="margin: 1% 0%; display: none;">
                <input type="checkbox" class="checkbox" id="chk_show" />
                <label for="chk_show" class=" col-md-6 label--checkbox" style="margin-top: 5px; margin-left: 10px;">Don't Show Again</label>
                <button class="col-md-2 animated-button thar-three button" id="btnWIDGETPOPUP" style="line-height: 1.0; height: 25px;">Ok</button>
            </div>
        </div>
    </div>
    @*end *@

    <div id="dvDataProp" data-airportxml-url="@Url.Content("~/XML/CityAirport_Lst.xml")" data-mulsearch-url="@Url.Action("FlightAvail", "Search")"
         data-session-url="@Url.Action("SessionExp", "Redirect")" data-mulavail-url="@Url.Action("MultiCity", "MultiCity")"
         data-airline-url="@ConfigurationManager.AppSettings["FlightUrl"].ToString()">
    </div>

    @Scripts.Render("~/bundles/LayoutCommonJS")
    @Scripts.Render("~/bundles/LayoutOtherJS")
    <script src="~/js/LayoutJS/Layout.js?@strFileversion"></script>
    <script src="~/js/lobibox.js?@strFileversion"></script>
    <input type="hidden" id="hdn_b2cavailurl" value="@Url.Action("Availability", "Search")" />
    <script>
        try {
            sessionStorage.setItem("Webcheckkeytdid", "@strSessionloginKey");
        }
        catch (e) {
        }
        var Agentmasterlst = "";
        var LoginUserUniqSessKey = '@Session["UniqueSessionid"]' != null ? '@Session["UniqueSessionid"]' : "";
        var checkmobile = '@Request.Browser.IsMobileDevice';
        var PaymentGatewayURL = "@Url.Action("Redirectpaymentpage", "Home")";
        var ClientDetailsURL = "@Url.Action("GetClientData", "HOME")";
        var BalanceCheckURL = '@Url.Action("BalanceCheck", "Home")';
        var BalanceCheckBOAURL = '@Url.Action("BalanceCheckBOA", "Home")';
        var SessionRedirectURL = "@Url.Action("SessionExp", "Redirect")";
        var LogoutURL = "@Url.Action("Logoutpopup", "Login")";
        var OtherProductURL = '@Url.Content("~/OtherProduct/OtherProduct")';
        var PGRedirectURL = '@Url.Content("~/OtherProduct/PGRedirect")';
        var CheckTopup = '@Url.Content("~/OtherProduct/Checktopup")';
        var strTerminalType = '@strTerminalType';
        var ThemeVersion = '@strappthemeversion';
        var SmsUrl = "@Url.Action("Sendsms", "AfterBooking")";
        var loaderbal = "@Url.Content("~/Images/Theme4/balance.gif")";
        var EMailsendingurl = '@Url.Action("btnEmail_pdforhtml_Click", "AfterBooking")';
        var ImageUrl = '@strLogourl';

        function clickOutstand() {
            var Otherproducturl = '@Url.Content("~/CntrlPanel/Outstanding")' + "?Flag=TUP";
            window.location.href = Otherproducturl;
        }

        $(".btn-buy-now, .back_friendlist").click(function () {
            $(".p-chat-user").animate({
                height: 'toggle'
            });
            $('#feedbacktype').val('');
        });
        $(".hideforuser").hide();
        $('#feedbacktype').change(function () {
            var block = $('#feedbacktype').val();
            if (block == "S") {
                $('#producttype').hide();
                $('#feedtransid').hide();
            }
            else {
                $('#producttype').show();
                $('#feedtransid').show();
            }
        });
        var errPdivAS = "dvAgnSpterr", errdivAS_msg = "dvAgnSpterr_msg";
        function btnAgtSup_Submint() {
            if ($("#selectissue").val() == "0") {
                showError("Please Select The Issue Type. ", errPdivAS, errdivAS_msg, "");
                return false;
            }
            if (($("#selectissue").val() != "Suggestion") && ($("#producttype").val() == "")) {
                showError("Please Select The Product Type. ", errPdivAS, errdivAS_msg, "");
                return false;
            }
            //if ($('#Descriptiontb').val().trim() == "") {
            //    showError("Please Enter The Description.", errPdivAS, errdivAS_msg, "");
            //    return false;
            //}
            //if ($("#preftime").val() == "0") {
            //    showError("Please Select The Preffered Time.", errPdivAS, errdivAS_msg, "");
            //    return false;
            //}
            //if ($("#altemailid").val().trim() == "") {
            //    showError("Please enter the  EmailID.", errPdivAS, errdivAS_msg, "");
            //    return false;
            //}
            //if ($("#alt_ph_no").val().trim() == "") {
            //    showError("Please Enter The  Phone Number.", errPdivAS, errdivAS_msg, "");
            //    return false;
            //}
            var phone_no = "";
            var Issuetype = $("#selectissue").val();
            var Product = ($("#selectissue").val() != "Suggestion") ? $("#producttype").val() : "";
            var Rpnr = $("#txtRiyaPNR").val();

            $("#iLoading").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("callback", "Home")',
                data: '{PhoneNocallback: "' + $("#alt_ph_no").val().trim() + '" ,Emailidcallback: "' + $("#altemailid").val().trim() + '",TypeofIssue: "' + Issuetype + '",Product: "' + $("#producttype").val() + '",FacingFrom: "' + $("#issuefacingfrom_date").val()
                    + '",PrefferdTimeCBR: "' + $("#preftime").val() + '",IssueDesc: "' + $("#Descriptiontb").val().trim() + '",RemarkscallbackReq: "' + $("#remarkstb").val().trim() + '",lstragentmnmo: "' + phone_no + '",Riyapnr:"' + Rpnr + '"}',
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    //$.unblockUI();
                    $("#iLoading").hide();
                    var result = json.Result;
                    if (result[1] != "" && json.Status == "01") {
                        showalert(result[1], "", "");
                        btnAgtSup_Clear();
                        $("#dvcloseicon").click();
                    }
                    else {
                        var error = result[0];
                        showalert(error, "", "");
                    }
                },
                error: function (e) {
                    //$.unblockUI();
                    $("#iLoading").hide();
                    if (e.status == "500") {
                        window.location.href = "@Url.Action("SessionExp", "Redirect")"
                        return false;
                    }
                }
            });
        }

        $(document).ready(function () {
            var currentDate = "@ViewBag.currentdate";
            $("#issuefacingfrom_date").val(currentDate);
            $("#issuefacingfrom_date").addClass("has-content");
            $("#issuefacingfrom_date").datepicker({
                maxDate: currentDate, dateFormat: "dd/mm/yy",

            });
        });

        $('.hideerr').change(function () {
            hideError(errPdivAS, errdivAS_msg);
        });
        $('.hideerr').on('keypress', function () {
            hideError(errPdivAS, errdivAS_msg);
        });
        function btnAgtSup_Clear() {
            $("#selectissue").val("0");
            $("#producttype").val("");
            $("#Descriptiontb").val("");
            $("#issuefacingfrom_date").datepicker({
                numberOfMonths: 1,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                maxDate: "@ViewBag.currentdate"
            });
            $("#issuefacingfrom_date").addClass('has-content');
            $("#issuefacingfrom_date").val("@ViewBag.currentdate");
            $("#preftime").val("00:00-24:00");
            $("#altemailid").val("");
            $("#alt_ph_no").val("");
            $("#remarkstb").val("");
            $("#id_attach").val("");
            $("#dvAgnSpterr").removeClass("has_error");

        }
    </script>
</body>
</html>
