@using System.Configuration;
@{
    string strFileversion = ConfigurationManager.AppSettings["UpdateVersion"] != null ? ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strLogourl = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="stunner" name="description" />
    <meta content="stunner" name="author" />

    <title>@System.Configuration.ConfigurationManager.AppSettings["Appname"].ToString()</title>
    <link rel="icon" href="@Url.Content("~/Images/TR_logo.png")" />
    @if (System.Configuration.ConfigurationManager.AppSettings["apptheme"] == "THEME3")
    {
        <link href="~/Content/CSS/TME3/riya_uae.css?@strFileversion" rel="stylesheet" />
        <link href="~/Content/CSS/TME3/fontawesome-all.min.css?@strFileversion" rel="stylesheet" />
    }
    @Styles.Render("~/Content/LayoutCommonCSS")
    @Styles.Render("~/Content/CommonAllCSS")
    @Styles.Render("~/Content/LayoutOtherCSS")
    <link href="~/Content/CSS/homecss.css?@strFileversion" rel="stylesheet" />
    @*<link href="~/Content/CSS/TME3/Login_RUAE.css" rel="stylesheet" />*@

    <style>
         .modal-backdrop {
        background-image: url("@Url.Content("~/Images/ui-bg_diagonals-thick_20_666666_40x40.png")")!important;
        }

    </style>
    <style>
        .nice-select .list {
            z-index: 1000 !important;
        }

        .btnRays-1e:hover, .btnRays-2e:active {
            color: #ccc;
        }

        .wsmenu-list > li > a.active, .wsmenu-list li:hover > a {
            color: #fff !important;
        }

            .wsmenu-list > li > a.active, .wsmenu-list li:hover > a > i {
                color: #fff !important;
            }

        .paymentpopups {
            text-align: center;
            height: 40px;
            border: 1px solid #1faeff;
            background: #1faeff url(UIImages/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
            padding: 10px 0px 0px 0px;
        }

        .headerstrip {
            background-color: #6C84E5;
            background: url(../Images/elements_header_background.png),linear-gradient(to bottom,#27a5f5,#27a5f5,rgba(0, 220, 175, 1));
            background-size: 300px 300px, auto;
        }

        .headerstripVrtcal {
            /*background-color: #fff;*/
            /*background: url(../img/elements_header_background.png);*/
            box-shadow: 0px 1px 5px 0px #ccc;
        }

        .wsmenu-list > li > a,
        .headerstripVrtcal,
        .wsmenu {
            background-image: url(../Images/elements_header_background.png);
        }

        .wsmenu-list.nav > li > a {
            padding: 10px !important;
        }

            .wsmenu-list.nav > li > a > i.fa {
                margin-right: 0px !important;
            }

        .clsagndetils {
            font-size: 11px !important;
            height: 20px !important;
            width: 100% !important;
            display: block !important;
            line-height: 16px !important;
            /*border: 1px solid;*/
            color: #000;
            font-weight: 500;
            letter-spacing: 1px;
            background-color: #fff;
        }

        .clsagndetilsmob {
            font-size: 11px !important;
            width: 100% !important;
            display: block !important;
            line-height: 15px !important;
            border: 1px solid;
            color: #000;
            font-weight: 500;
            margin-top: 2px;
            max-width: 140px;
            white-space: pre-wrap;
        }


        .clsAicon30 {
            padding-top: 10px !important;
            padding-bottom: 7px !important;
        }

            .clsAicon30 i {
                font-size: 30px !important;
            }

        .clsAicon25 {
            line-height: 27px !important;
        }

            .clsAicon25 i {
                font-size: 25px !important;
            }

        .clsagnlogo {
            width: 22px; /*40px;*/
            background-color: rgba(0,0,0,0.1);
        }

        .thumb {
            /*float: left;
            margin-top: 4px;*/
        }

            .thumb a {
                background-color: rgba(255,255,255,0.5); /*rgba(0,0,0,0.1);*/
                border-radius: 50px;
                padding: 2px 10px 2px 32px; /*6px 10px 8px 30px;*/
                margin-left: -22px; /*-28px;*/
                font-weight: 600;
            }

        .clslogout {
            float: right;
            margin-left: 10px;
        }

        .clsbiglogo {
            /*width: 88px;
            height: 114px;*/
            width: 77%;
            height: auto;
            padding: 0 !important;
            padding-top: 10px !important;
        }

        .clssmallogo {
            display: none;
            width: 83px;
            height: 90px;
            float: left;
        }

        .logo img {
            transition: 0.5s;
        }

        .usrName-hf {
            /*max-width: 120px;*/
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            float: right;
            /*margin-top: 5px;*/
        }

        .mob-usr-det {
            text-align: center;
            min-height: 105px;
            margin-bottom: 2px;
        }

        .mob-usr-det-new {
            text-align: center;
            min-height: 140px;
            margin-bottom: 2px;
        }


        .myButt {
            outline: none;
            border: none;
            padding: 10px;
            display: block;
            margin: 10px auto;
            cursor: pointer;
            font-size: 13px;
            background-color: transparent;
            position: relative;
            border: 2px solid #fff;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
        }

        .four {
            overflow: hidden;
        }

            .four span {
                color: #fff;
                display: inline-block;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
            }

            .four .icon {
                position: absolute;
                left: -64px;
                top: 0;
                color: #fff;
                padding: 4px;
                background-color: #2cc185;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
            }

            .four:hover .icon {
                left: 0px;
            }

            .four:hover span {
                color: #fff;
                margin-left: 50px;
            }

        .five {
            overflow: hidden;
            color: #fff;
        }

            .five .layer {
                color: #fff;
                position: absolute;
                top: -70px;
                width: 100%;
                left: 0;
                padding: 0px 0;
                background-color: #fff;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
            }

            .five:hover .layer {
                top: 0;
            }

        .contact-number {
            float: right;
            width: 135px;
            padding: 4px 0px 0 30px;
            /*background: url(../Img/contact-bg.png) left top no-repeat;*/
            height: 22px;
        }

        .contact-icon {
            padding: 2px 0 0 15px;
            height: 25px;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 7px;
        }

        @@media screen and (min-width:200px) and (max-width:768px) {

            .mobtxt_center {
                text-align: center;
            }
        }
        /*.rotate {
        
         -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
        
        }
        @@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/



        .icon_spa {
            left: -27px !important;
        }

        legend {
            border-bottom: 0px solid #e5e5e5;
        }
    </style>
    <style>
        #SHOWMONEY {
            background-color: rgba(0,0,0,0.7);
            border-radius: 3px;
            padding: 16px 24px;
        }

            #SHOWMONEY h5 {
                width: 100%;
                padding-bottom: 4px;
                font-style: normal;
                color: #fff;
                font-size: 13px;
                font-weight: 300 !important;
                text-transform: capitalize;
            }

            #SHOWMONEY .AgentLabel {
                color: #ffffff;
                font-size: 15px;
                padding: 18px 0;
                border-bottom: 1px solid;
            }

            #SHOWMONEY #ddlclient_agentbal {
                height: auto;
                border-radius: 1px !important;
                border: none;
            }

        #Agentamount {
            color: #Fff;
        }

        .Notify-popup {
            display: none;
            position: absolute;
            top: 44px;
            right: 0px;
            width: 400px !important;
            background: #fff;
            padding: 0px 18px 26px 19px;
            -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
            z-index: 20;
        }

        .sedrtg {
            position: relative;
            color: rgba(255, 255, 255, 0.6);
            font-size: 10px;
            line-height: 5px;
            text-transform: uppercase;
        }

        .displaynon {
            display: none;
        }
    </style>


    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    <script src="~/js/CommonJS/jquery-ui-new.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
    <script src="~/js/CommonJS/bootstrap-typeahead.js"></script>
    <script src="~/js/jquery.xml2json.js"></script>
</head>

<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-leftside fixed-header wsmenucontainer clearfix _M_riyauae " id="_Mriya_boa">
    <!-- PRELOADER START -->
    @if (!Request.Browser.IsMobileDevice)
    {
        <div id="loader" class="load-full-screen" style="display: block;">
            <div class="loading-animation">
                <span><i class="fa fa-plane"></i></span>
                <span><i class="fa fa-bed"></i></span>
                <span><i class="fa fa-ship"></i></span>
                <span><i class="fa fa-suitcase"></i></span>
            </div>
        </div>
    }
    <!-- PRELOADER END -->

    <!-- BEGIN HEADER -->

    @{
        string _agnId = Session["POS_TID"] != null ? Session["POS_TID"].ToString() : "";
        string _agnNm = Session["agencyname"] != null ? Session["agencyname"].ToString() : "";
        string _usrNm = Session["username"] != null ? Session["username"].ToString() : "";
        string _EnvTyp = Session["EnvironmentType"] != null ? Session["EnvironmentType"].ToString() : "";
        string _agntyp = Session["agenttype"] != null ? Session["agenttype"].ToString() : "";
        string Logopath = (Session["Agentmainlogopath"] != null && Session["Agentmainlogopath"].ToString() != "") ? Session["Agentmainlogopath"].ToString() : "";
        string Sublogopath = (Session["Agentsublogopath"] != null && Session["Agentsublogopath"].ToString() != "") ? Session["Agentsublogopath"].ToString() : "";
        //region start Controlpanel rights added by udhaya-05.06.2017 -#0.01
        string[] _cntrlpanelrits = Session["cntrlpanelrits"] != null ? Session["cntrlpanelrits"].ToString().Split('|') : "".Split('|');

        string _privilage = Session["privilage"] != null ? Session["privilage"].ToString() : "";
        string Application = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
        string[] _smartScorcard = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : null;
        string Product = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
        string displcon = "";
        string displyicon = "";
        string[] _tabRights = Session["AllowTab"] != null ? Session["AllowTab"].ToString().Split('|') : "".Split('|');
        string Allowpoweruser = (Session["Allowpoweruser"] != null && Session["Allowpoweruser"].ToString() != "") ? Session["Allowpoweruser"].ToString() : "NO";
        string loginbranch = (Session["branchid"] != null && Session["branchid"].ToString() != "") ? Session["branchid"].ToString() : "";
        string loginagent = (Session["agentid"] != null && Session["agentid"].ToString() != "") ? Session["agentid"].ToString() : "";
        string Allowretrievepnr = Session["ALLOW_RETRIEVEPNR_TICKETING"] != null && Session["ALLOW_RETRIEVEPNR_TICKETING"].ToString() != "" ? Session["ALLOW_RETRIEVEPNR_TICKETING"].ToString() : "";
        string jodproduct = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString();
        string terminal_app = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : System.Configuration.ConfigurationManager.AppSettings["TerminalType"].ToString().ToUpper();
        string block = "block";
        if (jodproduct != null && jodproduct != "" && (jodproduct == "U" || jodproduct == "L"))
        {
            block = "none";
        }

    }
    <div class="overlapblackbg"></div>
    <header id="manulajod" style="display:@block">
        <nav class="navbar-static-top headerstripVrtcal flight_Availheader">

            <div class="wsmobileheader clearfix">
                <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
            </div>

            <div class="row row1 hidden-xs" style="background: rgba(0,0,0,0.2); display: none;">
                <div class="col-xs-11 col1 clssmallhdr">
                    <ul>
                        @if (Application.ToUpper() == "NAT")
                        { 
                            <li>
                                <div><span class="scorecardlnk">Every day 24/7 Service</span></div>
                            </li>
                            <li>
                                <div><span class="scorecardlnk">+91 9944441985 / 8825668297</span></div>
                            </li>
                        }

                        @if (_smartScorcard != null && _smartScorcard.Length > 1 && _smartScorcard[7] != "0" && _agntyp != "DL")
                        {
                            <li><a class="mousecolor scorecardlnk" href="@Url.Content("~/CntrlPanel/Smartscore")">
                                <i id="mouseoverwhite_1" class="fa fa-dashboard mouseoverwhite"></i><span>Smart View</span> </a></li>
                        }
                        <li class="animated my_fadeinright">
                            <div class="nav-profile">
                                <div id="dv-desk-usrnm">
                                    <div id="dvusrnm" class="thumb">
                                        <img src="@Url.Content("~/Images/avatar.png")" class="img-circle clsagnlogo " alt="" />
                                        <span class="scorecardlnk s">@_usrNm</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        @if (Product != "DNC")
                        {
                            <li>
                                <div class="hidden-xs">
                                    <span class="scorecardlnk a">@_agnId</span>
                                </div>
                            </li>
                        }
                        <li>
                            <div class="hidden-xs">
                                <span class="scorecardlnk av">@_agnNm</span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="row row1">
                <div class="col1 col-md-1 hidden-sm hidden-xs">
                    <div class="clslogo animated my_bounce _Friya_boa">
                        <a href="@Url.Action("Home", "Home")" class="logo" >
                            <img class="clsbiglogo" style="margin-top: -10px;" src="@Logopath" />
                        </a>
                    </div>
                </div>
                <div class="col1 col-md-8 col-xs-3">
                    <div class="navbar-header nav navbar-nav" style="float: none !important;">
                        <nav class="wsmenu clearfix">
                            @if (Application.ToUpper() == "NAT")
                            { 
                                <div class="mob-usr-det-new hidden-sm hidden-md hidden-lg">
                                    <img class="clssmallogo" src="@Url.Content("~/Images/logo_big.png")" />
                                    <div id="dv-mob-usrnm">
                                        <div class="label label-md clsagndetilsmob d1">@_usrNm</div>
                                        <div class="label label-md clsagndetilsmob d2">@_agnId</div>
                                        <div class="label label-md clsagndetilsmob d3">@_agnNm</div>
                                        <div class="label label-md clsagndetilsmob d4">Every day 24/7 Service</div>
                                        <div class="label label-md clsagndetilsmob d5">+91 9944441985 / 8825668297</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="mob-usr-det hidden-sm hidden-md hidden-lg">
                                    <img class="clssmallogo" src="@Url.Content("~/Images/logo_big.png")" />
                                    <div id="dv-mob-usrnm">
                                        <div class="label label-md clsagndetilsmob d1">@_usrNm</div>
                                        <div class="label label-md clsagndetilsmob d2">@_agnId</div>
                                        <div class="label label-md clsagndetilsmob d3">@_agnNm</div>
                                    </div>
                                </div>
                            }

                            @if (_agntyp == "DL")
                            {
                                displcon = "none";
                            }
                            <ul class="mobile-sub wsmenu-list flightheader" id="menutabss" style="padding-left: 2em;display:@displcon">
                                @if (Product != "DNC")
                                {
                                    <li>
                                        <a href="@Url.Content("~/Home/HomeMaster")" id="aHome">
                                            <i class="ti-home"></i><span class="hometext">Home</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Content("~/Home/HomeMaster")">
                                            <i class="ti-home"></i><span class="hometext">Home</span>
                                        </a>
                                    </li>
                                }


                                @if (Session["airline"] != null && Session["airline"].ToString() != "" && Session["airline"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#" id="tabflight"><i class="icon-plane"></i><span>Flight</span></a>
                                        <ul class="wsmenu-submenu">
                                            <li><a id="Bookfli" href="@Url.Content("~/Flights/Flights")"  class="clsAothers">Book a Flight</a></li>

                                            @if (System.Configuration.ConfigurationManager.AppSettings["apptheme"] == "THEME3")
                                            {
                                                <li><a id="Bookhis" href="@Url.Content("~/Pnr/PnrVerification?Tab=0")" class="clsAothers" onclick="Bookedhis('1');">Manage Booking</a></li>
                                            }
                                            else
                                            {
                                               
                                                <li><a id="Bookhis" href="@Url.Content("~/Pnr/PnrVerification?Tab=0")" class="clsAothers" onclick="Bookedhis('1');">Booked History</a></li>
                                                <li><a id="viewpnr" href="@Url.Content("~/Pnr/PnrVerification?Tab=1")"class="clsAothers" onclick="Bookedhis('2');">PNR Verification</a></li>
                                                <li><a id="cancella" href="@Url.Content("~/Pnr/PnrVerification?Tab=2")" class="clsAothers" onclick="Bookedhis('3');">Cancellation</a></li>
                                                <li><a id="rechedul" href="@Url.Content("~/Pnr/PnrVerification?Tab=3")" class="clsAothers" onclick="Bookedhis('4');">Reschedule</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (Session["hotel"] != null && Session["hotel"].ToString() != "" && Session["hotel"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#"><i class="icofont icofont-hotel" style="font-size: 18px;"></i><span>Hotel</span></a>
                                        <ul class="wsmenu-submenu">
                                            <li><a href="#" id="H" class="clsAothers otherProduct">Book a Hotel</a></li>
                                            <li><a href="#" class="clsAothers otherProduct" id="HBH">Booked History</a></li>
                                            <li><a href="#" class="clsAothers otherProduct" id="HVP">PNR Verification</a></li>
                                            <li><a href="#" class="clsAothers otherProduct" id="HCL">Cancellation</a></li>
                                        </ul>


                                    </li>
                                }
                                 @if (Session["bus"] != null && Session["bus"].ToString() != "" && Session["bus"].ToString() != "N")
                                {
                                    <li class="_Mdrop">
                                        <a href="#"><i class="icofont icofont-bus" style="font-size: 18px;"></i><span>Bus</span></a>
                                        <ul class="wsmenu-submenu">
                                            <li><a href="#" id="B" class="clsAothers otherProduct">Book a Bus</a></li>
                                            <li><a href="#" class="clsAothers otherProduct" id="BBH">Booked History</a></li>
                                            <li><a href="#" class="clsAothers otherProduct" id="BVP">PNR Verification</a></li>
                                            <li><a href="#" class="clsAothers otherProduct" id="BCL">Cancellation</a></li>
                                        </ul>


                                    </li>
                                }
                                @if (_cntrlpanelrits.Count() > 0)
                                {
                                    <li class="_Mdrop">
                                        <a href="#"><i class="ti-settings"></i><span>Control Panel</span></a>
                                        <ul class="wsmenu-submenu">
                                            @if (_privilage != "S")
                                            {
                                                if (_cntrlpanelrits.Count() > 1 && _cntrlpanelrits[1] == "1")
                                                {
                                                <li><a class="clsAothers otherProduct" href="@Url.Content("~/CntrlPanel/Changepassword")">Change Password </a></li>
                                                }

                                            }
                                            else
                                            {
                                                if (_cntrlpanelrits.Count() > 1 && _cntrlpanelrits[1] == "1")
                                                {
                                                <li><a class="clsAothers otherProduct" href="@Url.Content("~/CntrlPanel/Changepassword")">Change Password </a></li>
                                                }

                                                if (_cntrlpanelrits.Count() > 3 && _cntrlpanelrits[3] == "1")
                                                {
                                                <li><a class="clsAothers otherProduct" href="@Url.Content("~/CntrlPanel/Transaction")">Transaction details </a></li>
                                                }

                                                if (_cntrlpanelrits.Count() > 0 && _cntrlpanelrits[0] == "1" && _privilage == "S")
                                                {
                                                <li><a class="clsAothers otherProduct" href="@Url.Content("~/CntrlPanel/Agentdetail")">Agent details </a></li>
                                                }

                                                if (_cntrlpanelrits.Count() > 6 && _cntrlpanelrits[6] == "1")
                                                {
                                                <li><a class="clsAothers otherProduct" href="@Url.Content("~/CntrlPanel/Customerprofile")">Customers Profile </a></li>
                                                }
                                            }
                                        </ul>


                                    </li>
                                }

                            </ul>
                        </nav>
                        <!--Menu HTML Code-->

                    </div>
                </div>

                @if (Sublogopath != "")
                {
                    displyicon = "col1 col-md-2 col-xs-8";
                }
                else
                {
                    displyicon = "col1 col-md-3 col-xs-9";
                }
                <div class="@displyicon">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav pull-right wsmenu-list flightheader" id="_Muaerightheader">
                            <li class="dropdown dropdown-box dropdown-notifications flat-mega-menu">
                                <a href="#" class="dropdown-toggle clsAicon30">
                                    <i class="icofont icofont-business-man"></i><span>@_usrNm</span>
                                </a>
                                <ul class="nav navbar-nav drop-down hover-zoom">
                                    <li><i class="icofont icofont-support"></i>@_agnNm</li>
                                    @if (Product != "DNC")
                                    {
                                        <li class="hidden-xs"><i class="icofont icofont-id"></i>@_agnId</li>
                                    }
                                </ul>
                            </li>
                             <li class="sedrtg">
                                    <i class="ion-card" style="font-size: 30px !important; color: #fff; position: relative; right: 13px; top: 11px; cursor: pointer; font-size: 14px;" onclick="getbalance()"></i>
                                    <i class="fa fa-close" id="popupcloseicon" style="font-size: 23px; color: #f2f2f2; display: block; top: 43px; left: 4px; position: absolute; z-index: 1000; cursor: pointer; display: none;" onclick="getbalance()"></i>

                                    <div class="Notify-popup" id="SHOWMONEY" style="WIDTH: 246px;">

                                        <i class="fa fa-cog fa-spin displayblock" style="font-size: 48px; color: #4fb8f7"></i>
                                        @if(terminal_app !="W"){
                                        <h5 class="displaynon" id="hCorp_x" style="text-align: left; line-height: inherit; font-size: 14px;">Agency Name</h5>


                                        <input class="form-control ui-autocomplete-input displaynon" type="text" id="ddlclient_agentbal" placeholder="Agency Name" />
                                        }
                                        <div class="displaynon" id="viewbalance_display"></div>
                                    </div>
                                </li>

                            @if (_smartScorcard != null && _smartScorcard.Length > 1 && _smartScorcard[7] != "0" && _agntyp != "DL")
                            {
                                <li class="dropdown dropdown-box dropdown-tasks hidden-lg hidden-md hidden-sm animated my_fadeinright">
                                    <a href="@Url.Content("~/CntrlPanel/Smartscore")" class="clsAicon25" data-toggle='tooltip' data-placement='bottom' title="Smart Score card">
                                        <i class="fa fa-dashboard"></i>
                                    </a>
                                </li>
                            }


                            <li class="dropdown dropdown-box dropdown-tasks hidden-xs animated my_fadeinright"></li>
                            @if (_EnvTyp != "M")
                            {
                                <li class="dropdown dropdown-box show-sm-grid animated my_fadeinright">
                                    <a href="#" id="aLogout" class="button clsAicon30 clslogout" data-toggle='tooltip' data-placement='bottom' title="Logout">
                                        <i class="icofont icofont-power"></i></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                @if (Sublogopath != "")
                {
                    <div class="col1 col-md-1 hidden-sm hidden-xs">
                        <div class="clslogo_first animated my_bounce">
                            <a class="logo_first">
                                <img class="clsbiglogo" style="margin-top: -10px;" src="@Sublogopath" />
                            </a>
                        </div>
                    </div>
                }
            </div>

        </nav>
    </header>
    <!-- END HEADER -->

    <div class="wrapper">

        @RenderBody()

    </div>

    <input type="hidden" id="time_interval" value="@System.Configuration.ConfigurationManager.AppSettings["time_interval"]">
    <input type="hidden" id="time_interval_alert" value="@System.Configuration.ConfigurationManager.AppSettings["time_interval_alert"].ToString()">



    <!--  Logout Comfirm Popup Start-->
    <div class="modal fade" id="modal-fr" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body clsPopupBody" style="padding: 10px;">
                    <div class="main">
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <h2>Are you sure ?</h2>
                                <p>Do you want to Logout.</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-offset-3 col-md-3 col-xs-6">
                                <input type="button" value="Yes" class="btn btn-md btn-primary width100per" id="btnyeslogout" />
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-md btn-danger width100per" id="btnclosepop" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Comfirm Popup End-->


    @*pnr function popup*@

    @*pnr function popup*@

    <div class="modal fade" id="pnrpopup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="col-lg-6 col-lg-offset-3 col-xs-12 col0">
                @*1123*@
                <div class="modal-content animated bounceInDown">
                    <div class="" style="text-align: right; /* color: darkblue; */padding-right: 5px; padding-bottom: 0px; padding-top: 0xp;">
                        <h4 class="modal-title" style="display: none;">Manage Booking</h4>
                        <div class="cls-boa">
                            <label class="" onclick="javascript: return CanOTAappsFunction();" style="FONT-WEIGHT: 904; cursor: pointer; font-weight: 900; text-align: right; padding-bottom: 0px; padding-top: 0px; margin-bottom: 0px !important; color: #27a5f5">x</label>
                        </div>
                    </div>
                    <div class="modal-body clsPopupBody" style="padding: 20px 10px;">
                        <div class="main">

                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="/* border: 1px solid; */">


                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return OTAappviewpnrFunction();">
                                        <div class="icon" style="font-size: 16px;">
                                            <span class="fa fa-street-view" style="font-size: 34px; margin-left: 25px;" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_view"></span></em>
                                        <span class="boa-align">View pnr </span>
                                    </button>

                                </div>
                            </div>

                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return cancellation_process();">
                                        <div class="icon" style="font-size: 24px;">
                                            <span class="fa fa-close" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_cancel"></span></em>
                                        <span class="boa-align">Cancellation</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <button class="myButt four" style="width: 100%; background-color: #27a5f5;" onclick="javascript: return bookhistoresche_process();">
                                        <div class="icon" style="font-size: 24px;">
                                            <span class="fa fa-calendar" style="margin-left: 23px;" />
                                        </div>
                                        <em class="spritepage" style="display: none;"><span class="sprit_reschedule"></span></em>
                                        <span class="boa-align">Reschedule</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row spncls">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="/* border: 1px solid; */">
                                    <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5" onclick="javascript: return bookedhis_print();" style="padding: 0px">
                                        <button class="myButt four bxs-non" style="width: 100%; background-color: #27a5f5;">
                                            <div class="icon icon_spa" style="font-size: 22px;">
                                                <span class="fa fa-print" />
                                            </div>
                                            <em class="spritepage" style="display: none;"><span class="sprit_printpnrr"></span></em>
                                            <span class="boa-align printmang">Print</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-md-3 col-sm-3 col-lg-3 mobtxt_center col10" id="singletic">
                                        <input style="display: none; color: white; border: 1px solid #27a5f5 !important;" id="Chk_fare2_popup" class="cb db" type="checkbox" name="Chk_fare2_pop">
                                        <label style="color: white; margin-left: 17px; margin-top: 5px;" class="cbx dbx" for="Chk_fare2_popup"></label>
                                        <legend id="single" style="color: #27a5f5; font-size: 12px; margin-top: -7px; margin-left: 2px; white-space: nowrap;" class="lbl" for="Chk_fare2_popup">Single Ticket</legend>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 mobtxt_center col10" id="getfr">
                                        <input style="display: none; color: white; border: 1px solid #27a5f5 !important;" id="Chk_fare_popup" class="cb db srna" type="checkbox" name="Chk_fare_popup">
                                        <label style="color: white; margin-left: 18px; margin-top: 5px; float: left; margin-bottom: 4px;" class="cbx dbx " for="Chk_fare_popup"></label>
                                        <legend id="withfare" style="color: #27a5f5; font-size: 12px; float: left;" class="lbl srna">With Fare</legend>
                                        @*<input style="display: none; color: white; border: 1px solid #27a5f5 !important;" id="Chk_fare" class="cb" type="checkbox" name="Chk_fare">
                                            <label class="cbx" for="Chk_fare"></label>
                                            <label class="lbl" for="Chk_fare">With Fare</label>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-agentlist-bal" tabindex="-1" role="dialog" style="display: none">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close popClose" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title custom_align stylishHeader" style="text-align: center; font-size: 20px; font-weight: bold; color: #5f9ea0;">Agent&nbsp;Details</h5>
                </div>

                <div class="modal-body clsPopupBody" style="padding: 10px;">
                    <div class="main">
                        <div>Market&nbsp;Point</div>
                        <select class="clscmbanim chosen" id="allbranchload" onchange="loadmasteragentdetails()" runat="server">
                        </select>
                    </div>
                    <div class="main">
                        <div>Agency&nbsp;Name</div>
                        <select class="clscmbanim chosen" id="allagentload" onchange="loadmasterterminaldetails()" runat="server">
                        </select>
                    </div>
                    <div class="main">
                        <div class="row">
                            <input type="button" class="action-button shadow animate color" style="margin: 5% 30% 1% 25%;" id="submitpoweruser" value="Submit" onclick="fetchagentbalance()" />
                            <input type="button" class="action-button shadow animate color colorB1" id="clearpoweruser" style="margin: 5% 0% 0% 0%;" value="Cancel" onclick="closedetails()" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-Fare" class="iziModal addtop" style=""></div>

    <div id="modal-alert" class="iziModal"></div>
    <div id="modal-content" class="iziModal"></div>
    <div id="modal-iframe" class="iziModal"></div>

    <input type="hidden" id="hdnapptype" value="@System.Configuration.ConfigurationManager.AppSettings["TerminalType"]" />

    @*end *@

    @*end *@

    <div id="dvDataProp" data-airportxml-url="@Url.Content("~/XML/CityAirport_Lst.xml")" data-mulsearch-url="@Url.Action("FlightAvail", "Search")"
         data-session-url="@Url.Action("SessionExp", "Redirect")" data-mulavail-url="@Url.Action("MultiCity", "MultiCity")"
          data-airline-url="@System.Configuration.ConfigurationManager.AppSettings["FlightUrl"].ToString()">
    </div>


    @Scripts.Render("~/bundles/LayoutCommonJS")
    @Scripts.Render("~/bundles/LayoutOtherJS")



    <script src="~/js/lobibox.js"></script>
    <script>
        var Agentmasterlst = "";
        var LoginUserUniqSessKey = '@Session["UniqueSessionid"]' != null ? '@Session["UniqueSessionid"]' : "";
        var jodproduct = '@jodproduct';
        var ImageUrl = '@strLogourl';

        function Loadagentlist() {
            $("#modal-agentlist-bal").show();
            $("#modal-agentlist-bal").modal({
                backdrop: 'static',
                keyboard: false
            });
            return false;
        }

        function closedetails() {
            $("#modal-agentlist-bal").hide();
        }

        function loadmasteragentdetails() {

            var basebranchid = $("#allbranchload").val();

            var Agnlist = JSON.parse(Agentmasterlst);

            var Agentload = "";
            Agentload += "<option value=''>-- Select --</option>";
            for (var i = 0; i < Agnlist.length; i++) {
                if (Agnlist[i].Branch_Id == basebranchid) {
                    Agentload += '<option value=\"' + Agnlist[i].Agent_Id + '"\>' + Agnlist[i].Agency_name + '</option>';
                }
            }

            $("#allagentload").chosen('destroy');
            $("#allagentload").html(Agentload);
            $("#allagentload").chosen('destroy');
            $("#allagentload").chosen();
        }

        var checkmobile = '@Request.Browser.IsMobileDevice';
        $(document).ready(function () {
            //pushmobmenu();

            //$("[data-toggle='tooltip']").tooltip();
            //$('.customeasytip').jqeasytooltip({
            //    theme: "tipthemesquarecustom"
            //});

            $(".wsmenu .wsmenu-list > li").each(function (index) {
                $(this).css({ 'animation-delay': (index / 10) + 's' });
            });

            if (jodproduct != null && jodproduct != "" && jodproduct == "U") {

                $("#manulajod").css("display", "none");
            }

        });

        $(window).on('resize', function () {
            //pushmobmenu();
        });



        function pushmobmenu() {
            $('#dvusrnm').pushme({
                element: '#dv-desk-usrnm',
                pushAction: 'appendTo',
                mq: 'screen and (min-width:768px)'
            });
            $('#dvusrnm').pushme({
                element: '#dv-mob-usrnm',
                pushAction: 'appendTo',
                mq: 'screen and (max-width:767px)'
            });
        }

        $('#aLogout').click(function () {
            $("#modal-fr").modal({
                backdrop: 'static',
                keyboard: false
            });
        });

        function showalert(msg, okbtn, reurl) {
            $('#modal-alert').iziModal('destroy');
            if (okbtn != "") {
                if (reurl == "") {
                    msg += '<center><a href="javascript:void(0)" class="clsizibtn" data-izimodal-close="">' + okbtn + '</a></center>';
                }
                else {
                    msg += '<center><a href="' + reurl + '" class="clsizibtn">' + okbtn + '</a></center>';
                }
            }
            $("#modal-alert").iziModal({
                title: msg,
                icon: 'fa fa-info',
                headerColor: '#5bbd72',
                width: "500px"
                // timeout: 5000
                // 'max-width':"300px"
            });
            $('#modal-alert').iziModal('open');
        }


        function fetchagentbalance() {

            if ($("#allbranchload").val() == null || $("#allbranchload").val() == "") {
                alert("Please select branch");
                return false;
            }
            else if ($("#allagentload").val() == null || $("#allagentload").val() == "") {
                alert("Please select agent");
                return false;
            }
            else {
                $("#modal-agentlist-bal").hide();
                var AgentId = "";
                var AgentId = $("#allagentload").val();

                $.ajax({
                    type: "POST", 		//GET or POST or PUT or DELETE verb
                    url: '@Url.Action("BalanceCheck", "Home")',// Location of the service
                    data: '{AgentId:"' + AgentId + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (json) {//On Successful service call
                        if (json.Result[0] == "-1") {
                            window.location.href = "@Url.Action("SessionExp", "Redirect")"
                            return false;
                        }
                        else if (json.Result[0] == "0") {
                            var result1 = json.Result[1];
                            var appen = "";
                            var viewbal = result1.split('|');
                            for (var i = 0; i < viewbal.length; i++) {
                                appen += "<div id='' style='color: black; font-size: 16px; margin-left: 2px;'>"
                                appen += "<label id='Agentamount' style='text-transform: capitalize'>" + viewbal[i] + "</label> </div>"

                            }
                            $("#Agentamount").html(appen);
                            AnimateAgnBal();
                        }
                        else {
                            alert(json.Result[0]);
                        }
                    },
                    error: function (e) {//On Successful service call
                        if (e.status == "500") {
                            window.location.href = "@Url.Action("SessionExp", "Redirect")"
                            return false;
                        }

                    }	// When Service call fails

                });
            }
    }

    function showerralert(msg, timout, temp2) {
        $('#modal-alert').iziModal('destroy');
        if (timout == null || timout == "") {
            $("#modal-alert").iziModal({
                title: msg,
                icon: 'fa fa-warning',
                headerColor: '#bd5b5b',
                width: "500px"
            });
        }
        else {
            $("#modal-alert").iziModal({
                title: msg,
                icon: 'fa fa-warning',
                headerColor: '#bd5b5b',
                width: "500px",
                timeout: timout
            });
        }
        $('#modal-alert').iziModal('open');
    }

    function ShowiFramePop(iurl, ititle, isubtitle, ifull) {
        $('#modal-iframe').iziModal('destroy');
        $("#modal-iframe").iziModal({
            top: 200,
            headerColor: '#000',
            title: ititle, //'iziModal with iframe',
            subtitle: isubtitle, //'Video example using the Vimeo embed.',
            icon: 'icon-settings_system_daydream',
            overlayClose: false,
            iframe: true,
            iframeURL: iurl, //https://player.vimeo.com/video/22439234?autoplay=1
            iframeHeight: 700,
            fullscreen: ifull, //true
            openFullscreen: false,
            group: 'grupo1'
        });
        $('#modal-iframe').iziModal('open');
    }

    $('#btnyeslogout').click(function () {
        sessionStorage.setItem("logoutinsertflg", "Y");
        window.location.href = "@Url.Action("Logoutpopup", "Login")";
    });
    $(window).load(function (e) {



        $(".input-effect input").focusout(function () {
            if ($(this).val().trim() != "") {
                $(this).addClass("has-content");
            } else {
                $(this).removeClass("has-content");
            }
        });



        $(".input-effect textarea").focusout(function () {
            if ($(this).val().trim() != "") {
                $(this).addClass("has-content");
            } else {
                $(this).removeClass("has-content");
            }
        });
    });

    function showError(msg, errPtagid, errtagid, focusid) {
        $("#" + errPtagid).addClass("has_error");
        $("#" + errPtagid + " .message").addClass("animation");
        $("#" + errtagid).addClass("error_active");
        setTimeout(function () {
            $("#" + errPtagid + " .message").removeClass("animation");
        }, 200);
        $("#" + errtagid).html(msg);

        if (focusid != "")
            $('#focusid').focus();
    }

    function hideError(errPtagid, errtagid) {
        $("#" + errPtagid).removeClass("has_error");
        $("#" + errPtagid + " .message").removeClass("animation");
        $("#" + errtagid).removeClass("error_active");
    }


    function getbalance() {
        $("#ddlclient_agentbal").val("");
        if (document.getElementById("SHOWMONEY").style.display == "block") {
            $("#SHOWMONEY").hide();
            $("#popupcloseicon").hide();
        }
        else {
            $(".displaynon").css("display", "none");
            $(".displayblock").css("display", "block");
            $("#SHOWMONEY").show();
            $("#popupcloseicon").show();
            LoadClient_theme2_checkbala();
            var agentid = "";
            if ($("#hdnapptype").val() == "W") {
                balancecheckfunction(agentid);
            }
        }
    }

    function balancecheckfunction(agentid) {    //single time hit sri
        // var AgentId = "";
        $.ajax({
            type: "POST", 		//GET or POST or PUT or DELETE verb
            url: '@Url.Action("BalanceCheck", "Home")',// Location of the service
            data: '{AgentId:"' + agentid + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {//On Successful service call


                $("#viewbalance_display").hide();
                $("#SHOWMONEY").hide();
                if (json.Result[0] == "-1") {
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }
                else if (json.Result[0] == "0") {
                    var result1 = json.Result[1]
                    if (json.Result[1] != null && json.Result[1] != "") {
                        var appen = "";
                        var viewbal = result1.split('|');
                        for (var i = 0; i < viewbal.length - 1; i++) {
                            appen += "<div class='AgentLabel' id='' >"
                            appen += "<label id='Agentamount' style='text-transform: capitalize'>" + viewbal[i] + "</label> </div>"

                        }

                        $("#viewbalance_display").html(appen);
                        $("#viewbalance_display").show();
                        $("#SHOWMONEY").show();
                        $(".displaynon").css("display", "block");
                        $(".displayblock").css("display", "none");

                    }

                    return false;
                }
                else {
                    alert(json.Result[0]);
                }
            },
            error: function (e) {//On Successful service call

                if (e.status == "500") {
                    window.location.href = "@Url.Action("SessionExp", "Redirect")"
                    return false;
                }

            }

        });
    }

    // });

    function AnimateAgnBal() {
        document.getElementById("aAgnbal").disabled = true;
        $("#dvAgnbal").show().addClass('animated1 slideInUp');
        setTimeout(function () {
            $("#dvAgnbal").hide('slow').removeClass('animated1').removeClass('slideInUp');
            document.getElementById("aAgnbal").disabled = false;
        }, 10000);//10000
    }

    $("#withfare").click(function () {
        if ($("#Chk_fare")[0].checked == true) {
            $("#Chk_fare")[0].checked = false;
        }
        else {
            $("#Chk_fare")[0].checked = true;
        }

    });

    $("#single").click(function () {
        if ($("#Chk_fare2")[0].checked == true) {
            $("#Chk_fare2")[0].checked = false;
        }
        else {
            $("#Chk_fare2")[0].checked = true;
        }
    });



    $(".otherProduct").click(function () {
        var ID = this.id;
        var Otherproducturl = "";
        if (ID == "TOP")
            Otherproducturl = '@Url.Content("~/OtherProduct/PGRedirect")';
        else
            Otherproducturl = '@Url.Content("~/OtherProduct/OtherProduct")' + "?Flag=" + ID;

        window.location.href = Otherproducturl;
    });



    function checkconnection() {
        try {
            if (checkmobile.toUpperCase() == "TRUE") {
                return true; //For Mobile need to develop.... now temporarly return true.... by saranraj...
            }
            else {
                var status = navigator.onLine;
                if (status) {
                    return true;
                } else {
                    return false;
                }
            }
        }
        catch (e) {
            return true; //For Browser capability Safty purpose ...
        }
    }

    function callpaymentgateway() {
        window.location.href = "@Url.Action("Redirectpaymentpage", "Home")";
        }

        function LoadClient_theme2_checkbala() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetClientData", "HOME")",
                    contentType: "application/json; charset=utf-  8",
                    timeout: 180000,
                    data: '{}',
                    dataType: "json",
                    success: function (data) {
                        try {
                            var data = data["Data"];
                            var arr = JSON.parse(data.Result);//
                            if ($('#ddlclient_agentbal_chosen').length) {
                                $('#ddlclient_agentbal').chosen('destroy');
                            }
                            $("#ddlclient_agentbal").html('');
                            if (arr.length == 1) {

                                $('#hCorp_x').show();
                            }
                            else {

                                $('#hCorp_x').show();

                            }
                            $("#Agentamount").html('');
                            var AgentId = $("#ddlclient_agentbal").val();

                            $('#ddlclient_agentbal').typeahead('destroy');
                            $('#ddlclient_agentbal').typeahead({
                                source: arr,
                                items: 5,
                                displayField: "CLTNAME",
                                valueField: "CLTCODE",
                                scrollBar: true,
                                onSelect: displayResults,
                            });

                            function displayResults(item) {

                                var selectedvalues = item.value;
                                balancecheckfunction(selectedvalues);
                            }

                            $("#SHOWMONEY").show();
                            $(".displaynon").css("display", "block");
                            $(".displayblock").css("display", "none");
                        }
                        catch (err) {
                            console.log(err.message)
                        }
                    },
                    error: function (e) {

                        alert("error");
                    }
                });
            }

    </script>

</body>
</html>
