@using System.Configuration;
@{
    string strApptheme = ConfigurationManager.AppSettings["apptheme"] != null ? ConfigurationManager.AppSettings["apptheme"].ToUpper().ToString() : "THEME1";
    string strFileversion = ConfigurationManager.AppSettings["UpdateVersion"] != null ? ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strTerminalType = Session["TERMINALTYPE"] != null && Session["TERMINALTYPE"].ToString() != "" ? Session["TERMINALTYPE"].ToString() : ConfigurationManager.AppSettings["TerminalType"].ToString();
    string strAllowlogincountry = ConfigurationManager.AppSettings["Logincountry"] != null ? ConfigurationManager.AppSettings["Logincountry"].ToString() : "";
    string strSessionKeyLogin = Session["Webcheckkeytdid"] != null ? Session["Webcheckkeytdid"].ToString() : "";
    string strProduct = ConfigurationManager.AppSettings["Producttype"].ToString();
    string strLogourl = ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string strProductLogo = ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProduct + "/logo.png?" + strFileversion;
    string strFavicon = ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProduct + "/favicon.ico?" + strFileversion;
    string strLoaderURL = ConfigurationManager.AppSettings["LogoUrl"].ToString() + "/" + strProduct + "/loader.gif?" + strFileversion;
    string strtitle = ConfigurationManager.AppSettings["title"] != null ? ConfigurationManager.AppSettings["title"].ToString() : "";
    string strMeta_description = ConfigurationManager.AppSettings["Meta_description"] != null ? ConfigurationManager.AppSettings["Meta_description"].ToString() : "";
    string strIsAgentLogin = Session["IsAgentLogin"] != null && Session["IsAgentLogin"].ToString() != "" ? Session["IsAgentLogin"].ToString() : "N";
    string strAppHost = ConfigurationManager.AppSettings["APP_HOSTING"] != null ? ConfigurationManager.AppSettings["APP_HOSTING"].ToString() : "";
    string[] lstLogin = ConfigurationManager.AppSettings["AVAILABLELOGINS"] != null ? ConfigurationManager.AppSettings["AVAILABLELOGINS"].ToString().TrimEnd('|').Split('|') : new string[] { };
    string strAppName = ConfigurationManager.AppSettings["Appname"];
    string strHomePageUrl = ConfigurationManager.AppSettings["DOMAIN_URL"];
    string strSupportMail = ConfigurationManager.AppSettings["Supportmail"] != null ? ConfigurationManager.AppSettings["Supportmail"].ToString() : "";
    string strSupportNumber = ConfigurationManager.AppSettings["Callcenterno"] != null ? ConfigurationManager.AppSettings["Callcenterno"].ToString() : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="_qtY_QW43VAaED4iz72nigGtpdkPRvrOMkBJzJUWhyw" />
    <title>@strtitle</title>
    <meta name="description" content="@strMeta_description" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="~/js/CommonJS/jquery-1.11.1.js"></script>
    <link rel="shortcut icon" href="@strFavicon" />
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/@strApptheme/AvilBuilder.css?@strFileversion" rel="stylesheet" />
    <link href="~/Content/CSS/@strApptheme/style.css?@strFileversion" rel="stylesheet" />
    <link href="~/Content/CSS/Search/jquerycalender-new.css?@strFileversion" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link href="~/Content/CSS/raysModal.min.css?@strFileversion" rel="stylesheet" />
    <script src="~/js/jquery.xml2json.js"></script>
    <script src="~/js/lobibox.js"></script>
    <link href="~/Content/CSS/Login/lobibox.css" rel="stylesheet" />
    <script src="~/js/AppsJS/common.js"></script>
    @Scripts.Render("~/bundles/CommonAllJS")
    @Scripts.Render("~/bundles/LayoutCommonJS")
    @Scripts.Render("~/bundles/LayoutOtherJS")
</head>
<body class="_M_RTME5 wsmenucontainer">
    <!-- PRELOADER START -->
    @*@if (!Request.Browser.IsMobileDevice)
    {
    <div id="loader" class="load-full-screen" style="display: block;">
    <div class="loading-animation">
    <span><i class="fa fa-plane"></i></span>
    <span><i class="fa fa-bed"></i></span>
    <span><i class="fa fa-ship"></i></span>
    <span><i class="fa fa-suitcase"></i></span>
    </div>
    </div>
    }*@
    <!-- PRELOADER END -->
    <header class="RT_header">
        <div class="blackbar">
            <div class="container mobNoContainerd">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs tpsignin">
                        <ul>
                            <li class="hidden-xs"><i class="las la-tty pr-6"></i><span>@strSupportNumber</span></li>
                            <li class="hidden-xs"><i class="las la-envelope pr-6"></i><a href="mailto:@strSupportMail">@strSupportMail</a></li>
                        </ul>
                    </div>
                    <div id="divUserOut" class="col-md-6 col-sm-6 col-xs-12 text-right tpsignin">
                        <ul>
                            <li style="display:none;">
                                <a href="@Url.Action("EmergencyEvacuation","OtherProduct")" class="page">
                                    <span class="badge">COVID Evacuation Flight</span>
                                </a>
                            </li>
                            <li>
                                <a class="eticket" style="float:left;" href="@Url.Action("PrintETicket","B2C")">
                                    <i class="las la-ticket-alt pr-6"></i>Get E-ticket
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" onclick="showpartnerloginpopup('C')"><i class="las la-user pr-0"></i> Sign in </a>
                            </li>
                            @for (int i = 0; i < lstLogin.Length; i++)
                            {
                            string strType = lstLogin[i].Split('~')[0].ToString();
                            string strText = lstLogin[i].Split('~')[1].ToString();
                            string strUrl = lstLogin[i].Split('~')[2].ToString();
                            <li>
                                @if (strUrl != "" && strUrl != "#")
                                {
                                <span>|</span><a href="@strUrl"><i class="las la-user-tie pr-6"></i>@strText</a>
                                }
                                else
                                {
                                <span>|</span><a href="@strUrl" onclick="showpartnerloginpopup('P', '@strType','@strText')"><i class="las la-user-tie pr-6"></i>@strText</a>
                                }
                            </li>
                            }
                        </ul>
                    </div>
                    <div id="divUserIn" class="col-md-6 col-sm-6 col-xs-12 text-right tpsignin" style="display:none;">
                        <ul>
                            <li>
                                <a class="eticket" style="float:left;" href="@Url.Action("PrintETicket","B2C")">
                                    <i class="las la-ticket-alt pr-6"></i>Get E-ticket
                                </a>
                            </li>
                            <li>
                                <div class="drop-down pos-rel">
                                    <a href="javascript:void(0)" onclick='$(".clsUserPopup").slideToggle()'><i class="las la-user pr-0"></i><span id="username" class="clsUserName"></span></a>
                                    <div class="dropdown-menu-inner pos-abs clsUserPopup" style="display:none">
                                        <div class="dropdown-inner user-card-wrap bg-lighter p-15 bg-lt-blu-lt brdr-btm-full">
                                            <div class="user-card">
                                                <div class="user-avatar float-left"><span><i class="las la-user"></i></span></div>
                                                <div class="user-info pl-10 float-left">
                                                    <span class="lead-text float-left txt-al-lft font-13 fnt-wt-600 txt-left"></span>
                                                    <span class="widget_label float-left font-13 txt-left lht-20 clsUserName"></span>@*txt-overflow*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner float-left w-100 brdr-btm-full col-sm-12">
                                            <ul class="link-list float-left w-100">
                                                <li class="float-left w-100"><a class="float-left w-100 m-0" href="javascript:void(0)" onclick="DashboardRedirectB2C('D')"><i class="las la-tachometer-alt pos-rel font-20 t-0 pr-5"></i><span>Dashboard</span></a></li>
                                                <li class="float-left w-100"><a class="float-left w-100 m-0" href="javascript:void(0)" onclick="DashboardRedirectB2C('P')"><i class="las la-user-circle pos-rel font-20 t-0 pr-5"></i><span>My Profile</span></a></li>
                                                <li class="float-left w-100"><a class="float-left w-100 m-0" href="javascript:void(0)" onclick="DashboardRedirectB2C('B')"><i class="las la-check-square pos-rel font-20 t-0 pr-5"></i><span>My Trips</span></a></li>
                                                <li class="float-left w-100"><a class="float-left w-100 m-0" href="javascript:void(0)" onclick="DashboardRedirectB2C('U')"><i class="las la-suitcase-rolling pos-rel font-20 t-0 pr-5"></i><span>UpComing Trips</span></a></li>
                                                <li class="float-left w-100"><a class="float-left w-100 m-0 hidden-xs" href="javascript:void(0)" onclick="DashboardRedirectB2C('C')"><i class="las la-file-alt pos-rel font-20 t-0 pr-5"></i><span>My Cancellations</span></a></li>
                                                @if (Session["CREDITSHELL"] != null && Session["CREDITSHELL"].ToString() != "" && Session["CREDITSHELL"].ToString() != "N")
                                                {
                                                <li class="float-left w-100"><a class="float-left w-100 m-0 hidden-xs" href="javascript:void(0)" onclick="DashboardRedirectB2C('CSPNR')"><i class="las la-file-alt pos-rel font-20 t-0 pr-5"></i><span>View Credit Shell PNR Details</span></a></li>
                                                }
                                                <li class="float-left w-100"><a class="float-left w-100 m-0" href="javascript:void(0)" onclick="DashboardRedirectB2C('S')"><i class="las la-headset pos-rel font-20 t-0 pr-5"></i><span>Support</span></a></li>
                                                @*<li class="float-left w-100"><a class="float-left w-100 m-0" href=""><i class="las la-address-book pos-rel font-20 t-0 pr-5"></i><span>Travellers</span></a></li>*@
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner float-left w-100 col-sm-12 clsLogout">
                                            <ul class="float-left w-100">
                                                <li class="float-left w-100">
                                                    <a class="float-left w-100 m-0 themeclr-red lht-25 txt-left pt-10 pb-10 logout_sec" href="javascript:void(0)" id="aLogout">
                                                        <i class="las la-power-off pos-rel font-20 pr-5"></i><span>Logout</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-mega-menu">
            <div class="container mobNoContainerd">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-white-res">
                        <nav role="navigation" class="navbar navbar-default">
                            <div class="navbar-header float-left">
                                <a href="@Url.Action("Flights","Flights")" id="aLinkLogo" class="logo navbar-brand">
                                    <img src="@strProductLogo" id="imgLogo" class="img-responsive" />
                                </a>
                            </div>
                            <div class="float-right" id="togglebtn" onclick='$(".menuslide").slideToggle()' style="display:none;">
                                <span></span>
                            </div>
                            <div id="navbarCollapse" class="collapse navbar-collapse float-right menuslide">
                                <ul class="nav navbar-nav">
                                    <li><a href="@Url.Action("Flights","Flights")">Home</a></li>
                                    <li><a href="@Url.Action("About","B2C")">About</a></li>
                                    @if (strProduct == "DEIRA")
                                    {
                                    <li><a href="javascript:void(0)">Holidays</a></li>
                                    <li><a href="javascript:void(0)">Visa</a></li>
                                    <li><a href="javascript:void(0)">Cruise</a></li>
                                    }
                                    <li><a href="@Url.Action("Contactus_RT","B2C")">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="RT_slider" id="dvSlider">
        <div id="startchange">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-white-res" style="padding: 0px;">
                <div class="overgray"></div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner hidden-xs" role="listbox">
                        <div id="slider2" class="item"><img src="~/Images/@strProduct/2.jpg" /></div>
                        <div id="slider3" class="item"><img src="~/Images/@strProduct/3.jpg" /></div>
                        <div id="slider4" class="item active"><img src="~/Images/@strProduct/4.jpg" /></div>
                    </div>
                    <div class="container-fluid">
                        <div class="reservation-form mg-tp-30-res">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 divtop">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a href="@Url.Action("Flights","Flights")" data-toggle="tab"><i class="las la-plane pr-6"></i><span>Flights</span></a> </li>
                                    </ul>
                                    <div class="wrapper" id="flights">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="RT_offer" id="dvOffer">
        <div class="services">
            <div class="container">
                <div class="row" id="dvdynmicOffer">
                    <h2>What We Offer</h2>
                    <div class="col-md-3 info">
                        <div class="sup_service22 sup_service_type2">
                            <div class="sqbox">
                                <img src="~/Images/@strProduct/icon_shape.png" />
                                <img class="icon" src="~/Images/@strProduct/aeroplane.png" />
                            </div>
                            <div class="sup_title_border">
                                <h4>Flight</h4>
                                <p>Get exceptional savings on flights, domestic and international by updating airfare on real-time basis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 info">
                        <div class="sup_service22 sup_service_type2">
                            <div class="sqbox">
                                <img src="~/Images/@strProduct/icon_shape.png" />
                                <img class="icon" src="~/Images/@strProduct/hotel.png" />
                            </div>
                            <div class="sup_title_border">
                                <h4>Hotel</h4>
                                <p>We offer you all kinds of hotel deals for every kind of need, occasion, and budget! </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 info">
                        <div class="sup_service22 sup_service_type2">
                            <div class="sqbox">
                                <img src="~/Images/@strProduct/icon_shape.png" />
                                <img class="icon" src="~/Images/@strProduct/sunbed.png" />
                            </div>
                            <div class="sup_title_border">
                                <h4>Holidays</h4>
                                <p>Choose from a number of travel packages or customize holiday packages according to your needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 info">
                        <div class="sup_service22 sup_service_type2">
                            <div class="sqbox">
                                <img src="~/Images/@strProduct/icon_shape.png" />
                                <img class="icon" src="~/Images/@strProduct/visa.png" />
                            </div>
                            <div class="sup_title_border">
                                <h4>Visa</h4>
                                <p>From documentation to appointment with consulates ,we guide you through the entire process to make it a hassle free experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="footer dvFooter">
            <div class="container mobNoContainerd">
                <div class="row dvFotterContent">
                    <div class="col-md-4 col-sm-4 col-xs-12 mg-btm-20-res">
                        <h5>Contact Us</h5>
                        <p id="pAddress"> </p>
                        <p><i class="las la-envelope pr-0"></i><a href="" target="_top" id="asupportmailid"></a></p>
                        <p id="pContactno"></p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 pad-l-r-0-res">
                        <div class="col-md-3 col-sm-3 col-xs-12 mg-btm-20-res">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="@Url.Action("Flights","Flights")">Home</a></li>
                                <li><a href="@Url.Action("About","B2C")">About us</a></li>
                                <li><a href="@Url.Action("Contactus_RT","B2C")" class="page">Contact Us</a></li>

                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 mg-btm-20-res">
                            <h5>Support &amp; Help</h5>
                            <ul>
                                <li><a href="@Url.Action("Disclaimer","B2C")">Disclaimer</a></li>
                                <li><a href="@Url.Action("Privacypolicy","B2C")">Privacy Policy</a></li>
                                <li><a href="@Url.Action("termsandconditions","B2C")">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 mg-btm-20-res">
                            <h5>Partner With Us</h5>
                            <ul>
                                <li><a href="@Url.Action("RTRegistration","Login")">Become an Agent</a></li>
                                <li><a href="@Url.Action("Useragreement","B2C")">User Agreement</a></li>
                                <li><a href="@Url.Action("productsandserivces","B2C")">Products &amp; Services</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <h5>Payment options</h5>
                            <i class="lab la-cc-visa" style="font-size: 40px;"></i>
                            <i class="lab la-cc-mastercard" style="font-size: 40px;"></i>
                            @*<h5 class="mg-tp-20">Social With Us</h5>
                            <ul class="social-network social-circle">
                            <li><a href="javascript:void(0)" id="FacebookLink" class="icoFacebook" title="Facebook" target="_blank"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0)" id="TwitterLink" class="icoTwitter" title="Twitter" target="_blank"><i class="lab la-twitter"></i></a></li>
                            <li><a href="javascript:void(0)" id="GPlusLink" class="iconGoogleplus" title="Google Plus" target="_blank"><i class="lab la-google-plus"></i></a></li>
                            <li><a href="javascript:void(0)" id="LinkedInLink" class="icoLinkedin" title="Linkedin" target="_blank"><i class="lab la-linkedin"></i></a></li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer-bottam">
            <div class="container mobNoContainerd">
                <div class="row">
                    @if (System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString() == "DEIRA")
                    {
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <i class="lab la-cc-visa" style="font-size: 40px;color:white;"></i>
                        <i class="lab la-cc-mastercard" style="font-size: 40px;color:white;"></i>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <p class="mt-5"> Copyright © <a href="@strHomePageUrl">@strAppName</a> All rights reserved. </p>
                    </div>
                    }
                    else
                    {
                    <div class="col-md-12 col-xs-12">
                        <p> Copyright © <a href="@strHomePageUrl">@strAppName</a> All rights reserved. </p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </footer>
    <input type="hidden" id="time_interval" value="@ConfigurationManager.AppSettings["time_interval"]">
    <input type="hidden" id="time_interval_alert" value="@ConfigurationManager.AppSettings["time_interval_alert"].ToString()">

    <!--  Logout Comfirm Popup Start-->
    <div class="modal fade" id="modal-fr" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body clsPopupBody" style="padding: 10px;">
                    <div class="main">
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <h2>Are you sure ?</h2>
                                <p>Do you want to Logout.</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-offset-3 col-md-3 col-xs-6">
                                <input type="button" value="Yes" class="btn btn-md btn-primary width100per" id="btnyeslogout" />
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-md btn-danger width100per" id="btnclosepop" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Comfirm Popup End-->
    @*pnr function popup*@

    

    <div class="modal fade" id="modal-agentlist-bal" tabindex="-1" role="dialog" style="display: none">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close popClose" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title custom_align stylishHeader" style="text-align: center; font-size: 20px; font-weight: bold; color: #5f9ea0;">Agent Balance</h5>
                </div>
                <div class="modal-body clsPopupBody" style="padding: 10px;">
                    <div class="main form-group" style="height: 185px; margin-bottom: 0px;">
                        <div id="hCorp_x" style="text-align: left; line-height: inherit; font-size: 14px; margin-bottom: 2px;">Agency Name</div>
                        <input class="form-control ui-autocomplete-input" type="text" id="txtAgencyName" placeholder="Agency Name" style="margin-bottom: 15px;" />
                        <div class="main form-group" style="margin-bottom: 0px;">
                            <div class="displaynon" id="dvBalance"></div>
                            @*id="viewbalance_display"*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-Fare" class="iziModal addtop" style=""></div>
    <div id="modal-alert" class="iziModal"></div>
    <div id="modal-content" class="iziModal"></div>
    <div id="modal-iframe" class="iziModal"></div>
    @*end *@
    <div class="partner_login" id="partner_login">
        <div class="iziModal modal-login" id="modal-partnerlogin">
            <button data-izimodal-close="" class="icon-close" style=""></button>
            <header>
                @if (lstLogin.Length > 0)
                {
                <a href="javascript:void(0)" id="agnsignin">Agent login</a>
                }
            </header>
            <section>
                <div class="login-holder login-box loginpanel">
                    <h2 class="heading01 mg-btm-20">Welcome! <span class="sub-heading">Login to continue.</span></h2>
                    <div class="form-group clearfix position-relative">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clsAlphaNumeric has-content" name="username" maxlength="14" style="text-transform: uppercase;" placeholder="Terminal Id" autocomplete="off" onkeypress="return ValidateSpecialChar(event);" id="txt_id">
                            <span class="focus-border"><i></i></span>
                        </form>
                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clshideErr clsAlphaNumeric" name="username" autocomplete="off" maxlength="25" id="txt_usrnm" placeholder="Username">
                            <span class="focus-border"><i></i></span>
                        </form>
                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="new-password">
                            <input type="text" class="effect-input clshideErr clsPassword" name="password" autocomplete="new-password" maxlength="25" id="txt_passwd" placeholder="Password">
                            <span class="focus-border"><i></i></span>
                            <span class="spneye" onclick="ShowHidePassword('txt_passwd',this)">
                                <i class="fa fa-eye"></i>
                            </span>
                        </form>
                    </div>
                    <em class="errhide" id="errorpws"></em>
                    <div class="row loginpanel">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group remember-me">
                                <input id="chkRemember" type="checkbox" name="toppings">
                                <label for="chkRemember">Remember me</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="pull-right forgot-btn forgotpasword_open" onclick="ForgotPasswordPopup()" style="cursor: pointer;">Forgot Pasword?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-holder">
                                <button type="reset" id="" class="btn btn01">Clear</button>
                                <button type="submit" id="get_login" class="btn btn01">
                                    Login<i id="iLoading" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12" id="loginpnl" style="border: none;margin-top: 10px !important;margin-bottom:10px;margin: 0px;position: inherit;padding: 0px 15px;">
                            <p class="message message_wrap ">
                                <span id="empty-destination-box" class="empty-destination-box error" style="color: #fff !important;"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="iziModal modal-login" id="modal-customerlogin">
            <button data-izimodal-close="" class="icon-close" style=""></button>
            <header>
                <a href="javascript:void(0)" id="signin" onclick="changelogin('S')">Sign in</a>
                <a href="javascript:void(0)" id="signup" onclick="changelogin('R')" class="active">Sign up</a>
            </header>
            <section>
                <div class="login-holder login-box loginpanel" id="sign-in">
                    <h2 class="heading01"><img src="@strProductLogo"></h2>
                    <h2 class="heading01" style="margin-top:0px !important;margin-bottom:15px;">Welcome! <span class="sub-heading">Login to continue.</span></h2>
                    <div class="form-group position-relative">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clshideErr" name="username" autocomplete="off" id="txtusremail" placeholder="Email id">
                            <span class="focus-border"><i></i></span>
                        </form>

                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="new-password">
                            <input type="text" class="effect-input clshideErr clsPassword" name="password" autocomplete="new-password" maxlength="25" id="txtpasswd" placeholder="Password">
                            <span class="focus-border"><i></i></span>
                        </form>
                        <span class="spneye" onclick="ShowHidePassword('txtpasswd', this)">
                            <i class="fa fa-eye" style="cursor: pointer; color: #de3c4c;"></i>
                        </span>
                    </div>
                    <div class="row loginpanel">
                        <div class="col-md-6 col-xs-6" style="display:none;">
                            <div class="form-group remember-me">
                                <input id="chkRemember" type="checkbox" name="toppings">
                                <label for="chkRemember">Remember me</label>
                            </div>
                        </div>
                        <div class="col-md-6 float-right">
                            <p class="pull-right forgot-btn forgotpasword_open" onclick="B2C_ForgotPasswordPopup()" style="cursor: pointer;">Forgot Pasword?</p>
                        </div>
                    </div>
                    <em class="errhide" id="errorpws"></em>
                    <div class="row loginpanel">
                        <div class="col-md-6 col-xs-6">
                            @*<div class="form-group remember-me">
                            <input id="chkRemember" type="checkbox" name="toppings">
                            <label for="chkRemember">Remember me</label>
                            </div>*@
                        </div>
                        @*<div class="col-md-6">
                        <p class="pull-right forgot-btn forgotpasword_open" onclick="ForgotPasswordUserPopup()" style="cursor: pointer;">Forgot Pasword?</p>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-holder">
                                <button type="reset" id="" class="btn btn01">Clear</button>
                                <button type="submit" id="get_signin" class="btn btn01">
                                    Sign in<i id="iLoading" class="fa fa-spinner fa-spin" style="font-size:20px; color: #292929; display: none;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12" id="loginpnl" style="border: none;margin-top: 10px !important;margin-bottom:10px;position: inherit;padding:0px 15px;">
                            <p class="message message_wrap">
                                <span id="empty-destination-box" class="empty-destination-box error" style="color: #fff !important;"></span>
                            </p>
                        </div>
                    </div>
                    @if(strProduct!="DEIRA")
                    { 
                    <div class="row">
                        <a href="javascript:void(0)" id="GoogleIntegration" class="clsanchor">
                            <img src="@Url.Content("~/Images/Google-icon.png")" alt="logo" data-pin-nopin="true" style="">
                        </a>
                    </div>
                    }
                </div>
                <div class="login-holder login-box loginpanel" id="sign-up" style="display:none;">
                    <h2 class="heading01" style="margin-bottom:15px;">Welcome! <span class="sub-heading">Signup to continue.</span></h2>

                    <div class="form-group row mb-0">
                        <div class="col-xs-12 col-sm-2 mg-btm-15-res">
                            <div class="form-group position-relative">
                                <form autocomplete="off">
                                    <select class="mb-6 cls_signup_Clear" name="username" autocomplete="off" id="txtusrtitle">
                                        <option value="">Select</option>
                                        <option value="Mr.">Mr.</option>
                                        <option value="Ms.">Ms.</option>
                                        <option value="Mrs.">Mrs.</option>
                                    </select>
                                    <span class="focus-border"><i></i></span>
                                </form>
                            </div>

                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <div class="form-group position-relative">
                                <form autocomplete="off">
                                    <input type="text" class="effect-input clshideErr clsAlpha cls_signup_Clear" name="username" autocomplete="off" maxlength="25" id="txtnewusrfname" placeholder="First name">
                                    <span class="focus-border"><i></i></span>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <div class="form-group position-relative">
                                <form autocomplete="off">
                                    <input type="text" class="effect-input clshideErr clsAlpha cls_signup_Clear" name="username" autocomplete="off" maxlength="25" id="txtnewusrlname" placeholder="Last name">
                                    <span class="focus-border"><i></i></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clshideErr cls_signup_Clear" name="email" autocomplete="off" id="txtnewemail" placeholder="Email id">
                            <span class="focus-border"><i></i></span>
                        </form>
                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clshideErr clsNumeric cls_signup_Clear" name="contact" autocomplete="off" maxlength="10" id="txtnewcontact" placeholder="Contact no">
                            <span class="focus-border"><i></i></span>
                        </form>
                    </div>
                    <div class="form-group position-relative" style="display:none;">
                        <form autocomplete="off">
                            <input type="text" class="effect-input clshideErr cls_signup_Clear" name="contact" autocomplete="off" id="txtnewDOB" placeholder="Date of Birth" />
                            <span class="focus-border"><i></i></span>
                        </form>
                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="new-password">
                            <input type="text" class="effect-input clshideErr clsPassword cls_signup_Clear" name="password" autocomplete="new-password" maxlength="25" id="txtnewpasswd" placeholder="New Password">
                            <span class="focus-border"><i></i></span>
                        </form>
                        <span class="spneye" onclick="ShowHidePassword('txtnewpasswd', this)">
                            <i class="fa fa-eye" style="cursor: pointer; color: #de3c4c;"></i>
                        </span>
                    </div>
                    <div class="form-group position-relative">
                        <form autocomplete="new-password">
                            <input type="text" class="effect-input clshideErr clsPassword cls_signup_Clear" name="password" autocomplete="new-password" maxlength="25" id="txtcnfmpasswd" placeholder="Confirm Password">
                            <span class="focus-border"><i></i></span>
                        </form>
                        <span class="spneye" onclick="ShowHidePassword('txtcnfmpasswd', this)">
                            <i class="fa fa-eye" style="cursor: pointer; color: #de3c4c;"></i>
                        </span>
                    </div>
                    <em class="errhide" id="errorpws"></em>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-holder">
                                <button  id="btn_signup_clear" class="btn btn01">Clear</button>
                                <button type="submit" id="get_signup" class="btn btn01">
                                    Sign Up<i id="iLoading" class="fa fa-spinner fa-spin" style="font-size: 16px; color: #292929; display: none;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="message_wrap col-sm-12" id="loginpnl" style="border: none;margin-top: 10px !important;margin-bottom:10px;position: inherit;">
                            <p class="message">
                                <span id="empty-destination-box" class="empty-destination-box error" style="color: #fff !important;"></span>
                            </p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <!-- B2C Forgot pasword popup -->
    <div id="B2C-modal-forget" class="iziModal forget" style="z-index: 998 !important; border-radius: 3px; margin-left: -250px; max-width: 500px; margin-top: -152px; display: none;" role="dialog">
        <div class="iziModal-wrap" style="height: 304px;">
            <div class="iziModal-content" style="padding:10px 15px;">
                <div class="iziModal-header pos-rel">
                    <div class="float-left w-100 txt-cntr">
                        <img src="~/Images/@strProduct/logo.png" />
                    </div>
                    @*<button type="button" class="close pos-abs" data-dismiss="modal" onclick="clearvalue();">&times;</button>*@
                    <button data-izimodal-close="" class="icon-close" style="" onclick="clearvalue;"></button>
                </div>

                <h4 class="iziModal-title txt-transform-c" style="text-align: center;font-size: 18px;margin-top: 0px;color: #1b0077;">Forget Password?</h4>

                <div class="input-effect">
                    <input type="text" class="txt-anim has-content" name="username" autocomplete="off" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_mailID" placeholder="User Mail ID" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <span id="B2C_OTPspan" class="fnt-wt-600 font-12 float-left" style="color: #4db155; display: none;">OTP Sent Successfully</span>
                    <span id="B2C_OTP_Errspan" class="fnt-wt-600 font-12 float-left" style="color: #f21f25;display: none;">Please Enter Valid OTP</span>
                    <a id="B2C_OTPnew" style="float: right;cursor: pointer;" onclick="B2C_GenerateOTP();">Generate OTP</a>
                    <a id="B2C_OTPres" style="float: right;cursor: pointer;display: none;" onclick="GenerateOTP_RT('RES');">Resend OTP</a>
                    <input type="text" class="txt-anim has-content clsAlphaNumeric after-OTP-field disable" disabled autocomplete="off" maxlength="8" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtOTP_B2C" placeholder="Enter OTP Code" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsPassword after-OTP-field disable" disabled autocomplete="new-password" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtf_password_B2C" placeholder="New Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsPassword after-OTP-field disable" disabled autocomplete="new-password" maxlength="50" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtf_cpassword_B2C" placeholder="Confirm Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="iziModal-footer" style="text-align: center;">
                    <div id="addbuttons" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
                        <input type="button" id="B2C_repassword" class="btn btn-success point-none" value="Reset Password" onclick="B2C_Resetpassword()" />
                        <input type="button" id="B2C_cancel" class="btn" value="Cancel" onclick="clearvalueB2C();" />
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Forgot pasword popup -->
    <div id="modal-forget" class="iziModal forget" style="z-index: 999; border-radius: 3px; margin-left: -250px; max-width: 500px; margin-top: -152px; display: none;" role="dialog">
        <div class="iziModal-wrap" style="height: 304px;">
            <div class="iziModal-content" style="padding:10px 15px;">
                <div class="iziModal-header pos-rel">
                    <div class="float-left w-100 txt-cntr">
                        <img src="~/Images/@strProduct/logo.png" />
                    </div>
                    @*<button type="button" class="close pos-abs" data-dismiss="modal" onclick="clearvalue();">&times;</button>*@
                    <button data-izimodal-close="" class="icon-close" style="" onclick="clearvalueRT();"></button>
                </div>

                <h4 class="iziModal-title txt-transform-c" style="text-align: center;font-size: 18px;margin-top: 0px;color: #1b0077;" id="Pwd_title">Forget Password?</h4>
                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsAlphaNumeric" name="terminal id" autocomplete="off" maxlength="14" style="padding: 0px 0px; width: 100%; box-shadow: none !important; text-transform: uppercase" id="txtf_tid" placeholder="Terminal Id" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsAlphaNumeric" name="username" autocomplete="off" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtf_uname" placeholder="User Name" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <span id="OTPspan" class="fnt-wt-600 font-12 float-left" style="color: #4db155; display: none;">OTP Sent Successfully</span>
                    <a id="OTPnew" style="float: right;cursor: pointer;" onclick="GenerateOTP_RT('NEW');">Generate OTP</a>
                    <a id="OTPres" style="float: right;cursor: pointer;display: none;" onclick="GenerateOTP_RT('RES');">Resend OTP</a>
                    <input type="text" class="txt-anim has-content clsAlphaNumeric" autocomplete="off" maxlength="8" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtOTP" placeholder="Enter OTP Code" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsPassword" autocomplete="new-password" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtf_password" placeholder="New Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsPassword" autocomplete="new-password" maxlength="50" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtf_cpassword" placeholder="Confirm Password" />
                    <span class="focus-border"></span>
                </div>

                <div class="iziModal-footer" style="text-align: center;">
                    <div id="addbuttons" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
                        <input type="button" id="repassword" class="btn btn-success" value="Reset Password" onclick="Resetpassword()" />
                        <input type="button" id="cancel" class="btn" value="Cancel" onclick="clearvalueRT()" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="modal-forget-User" class="iziModal forget" style="z-index: 999; border-radius: 3px; margin-left: -250px; max-width: 500px; margin-top: -152px; display: none;" role="dialog">
        <div class="iziModal-wrap" style="height: 304px;">
            <div class="iziModal-content" style="padding:10px 15px;">
                <div class="iziModal-header pos-rel">
                    <div class="float-left w-100 txt-cntr">
                        <img src="~/Images/@strProduct/logo.png" />
                    </div>
                    <button data-izimodal-close="" class="icon-close" style="" onclick="clearvalueUser();"></button>
                </div>
                <h4 class="iziModal-title txt-transform-c" style="text-align: center;font-size: 18px;margin-top: 0px;color: #1b0077;">Forget Password?</h4>
                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsAlphaNumeric" name="email" autocomplete="off" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtuf_email" placeholder="Enter your registered email id." />
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect">
                    <span id="OTPspan_user" class="fnt-wt-600 font-12 float-left" style="color: #4db155; display: none;">OTP Sent Successfully</span>
                    <a id="OTPnew_user" style="float: right;cursor: pointer;" onclick="GenerateOTPUser('NEW');">Generate OTP</a>
                    <a id="OTPres_user" style="float: right;cursor: pointer;display: none;" onclick="GenerateOTPUser('RES');">Resend OTP</a>
                    <input type="text" class="txt-anim has-content clsAlphaNumeric" autocomplete="off" maxlength="8" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txt_OTP" placeholder="Enter OTP Code" />
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsPassword" autocomplete="new-password" maxlength="25" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtuf_password" placeholder="New Password" />
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect">
                    <input type="text" class="txt-anim has-content clsPassword" autocomplete="new-password" maxlength="50" style="padding: 0px 0px; width: 100%; box-shadow: none !important;" id="txtuf_cpassword" placeholder="Confirm Password" />
                    <span class="focus-border"></span>
                </div>
                <div class="iziModal-footer" style="text-align: center;">
                    <div id="addbuttons" class="Bottomdiv" style="text-align: center; padding: 10px 0;">
                        <input type="button" id="repassword" class="btn btn-success" value="Reset Password" onclick="ResetpasswordUser()" />
                        <input type="button" id="cancel" class="btn" value="Cancel" onclick="clearvalueUser()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dvDataProp" data-airportxml-url="@Url.Content("~/XML/CityAirport_Lst.xml")" data-mulsearch-url="@Url.Action("FlightAvail", "Search")"
         data-session-url="@Url.Action("SessionExp", "Redirect")" data-mulavail-url="@Url.Action("MultiCity", "MultiCity")"
         data-airline-url="@ConfigurationManager.AppSettings["FlightUrl"].ToString()">
    </div>
    <input type="hidden" id="hdn_product" value="@strProduct" />
    <input type="hidden" id="hdn_apptheme" value="@strApptheme" />
    <input type="hidden" id="hdnterminal_app" value="@strTerminalType" />
    <input type="hidden" id="hdn_passwordflag" value="" />
    <input type="hidden" id="hdn_sessAgentLogin" value="@strIsAgentLogin" />
    <input type="hidden" id="hdn_b2cavailurl" value="@Url.Action("Availability", "Search")" />
    <input type="hidden" id="hdn_AppHosting" value="@ConfigurationManager.AppSettings["APP_HOSTING"].ToString().ToUpper()" />

    <script src="~/js/CommonJS/jquery-ui-new.js"></script>
    <script src="~/js/LayoutJS/Layout.js?@strFileversion"></script>

    <script src="~/js/CommonJS/bootstrap-typeahead.js?@strFileversion"></script>
    <script src="~/js/raysModal.js?@strFileversion"></script>
    <script src="~/js/AppsJS/login.js?@strFileversion"></script>
    <script src="~/js/detect.js?@strFileversion"></script>
    <script>
        var Agentmasterlst = "";
        var LoginUserUniqSessKey = '@Session["UniqueSessionid"]' != null ? '@Session["UniqueSessionid"]' : "";
        var checkmobile = '@Request.Browser.IsMobileDevice';
        var PaymentGatewayURL = "@Url.Action("Redirectpaymentpage", "Home")";
        var ClientDetailsURL = "@Url.Action("GetClientData", "HOME")";
        var BalanceCheckURL = '@Url.Action("BalanceCheck", "Home")';
        var BalanceCheckBOAURL = '@Url.Action("BalanceCheckBOA", "Home")';
        var SessionRedirectURL = "@Url.Action("SessionExp", "Redirect")";
        var LogoutURL = "@Url.Action("Logoutpopup", "Login")";
        var B2C_OTPURL = "@Url.Action("GetOTP_B2C", "B2C")";
        var B2C_UpdatePassword = "@Url.Action("ForgetPassword_B2C", "B2C")";
        var OtherProductURL = '@Url.Content("~/OtherProduct/OtherProduct")';
        var PGRedirectURL = '@Url.Content("~/OtherProduct/PGRedirect")';
        var CheckTopup = '@Url.Content("~/OtherProduct/Checktopup")';
        var strTerminalType = '@strTerminalType';
        var ThemeVersion = '@strApptheme';
        var SmsUrl = "@Url.Action("Sendsms", "AfterBooking")";
        var loaderbal = "@Url.Content("~/Images/"+strProduct+"/balance.gif")";
        var EMailsendingurl = '@Url.Action("btnEmail_pdforhtml_Click", "AfterBooking")';
        var allowlogincountry = '@strAllowlogincountry';
        var BrowserDetails = "";
        var geolocation = "";
        var outstandingurl = '@Url.Content("~/CntrlPanel/Outstanding")';
        var sessionexpurl = "@Url.Action("SessionExp", "Redirect")";
        var loaderurl = "@strLoaderURL";
        var LoginSubmit = "@Url.Action("Loginsubmit", "Login")";
        var HomeMaster = "@Url.Action("HomeMaster", "Home")";
        var HomeFlight = "@Url.Action("Homeflight", "Home")";
        var CommonLog = '@Url.Action("Commonlog", "Login")';
        var registraionurl = '@Url.Action("submitRegistration", "B2C")';
        var GoogleIntegrationURL = '@Url.Action("GoogleIntegration", "B2C")';
        var ForgetPassword = '@Url.Action("ForgotPasswordGenerateOTP", "Login")';
        var GenerateOTPUser_URL = '@Url.Action("ForgotPasswordGenerateOTP", "B2C")';
        var ResetPassword = '@Url.Action("AgentChangePassword", "Login")';
        var ForgetPasswordUserURL = '@Url.Action("ChangePassword", "B2C")';
        var DashBoardSingInurl = '@Url.Action("GetLoginDetails_B2C", "B2C")';
        var DashBoardB2C_Url = '@Url.Action("DashBoard", "B2C")';
        var OtherProduct_CS = '@Url.Action("OtherProduct", "OtherProduct")?Flag=CSPNR';
        var ProductSupportDetails = '@Url.Content("~/XML/ProductSupportDetails.xml?"+ strFileversion)';
        var ProductType = '@strProduct';
        var ImageUrl = '@strLogourl';
        var AgentLogin = '@strIsAgentLogin';
        var strAppHost = '@strAppHost';
        var GeoLocationUrl = "https://ipapi.co/json";
        var ProductDetails = '@Url.Content("~/XML/ProductDetails.xml?"+ strFileversion)';

        $(document).ready(function () {
            LoadProductSupportdetails();
            LoadProductdetails();
        });

        $(document).scroll(function () {
            var scroll_start = 0;
            var startchange = $('#startchange');
            var offset = startchange.offset();

            scroll_start = $(this).scrollTop();
            if (scroll_start > offset.top) {
                $(".top-mega-menu").css('background-color', '#f3f4f8');
            } else {
                $('.top-mega-menu').css('background-color', 'transparent');
            }
            if (scroll_start > offset.top) {
                $(".top-mega-menu").css('background-color', '#f3f4f8');
            } else {
                $('.top-mega-menu').css('background-color', 'transparent');
            }
            if (scroll_start > offset.top) {
                $(".navbar-default .navbar-nav > li > a").css('color', '#000');
            } else {
                $('.navbar-default .navbar-nav > li > a').css('color', '#fff');
            }
            if (scroll_start > offset.top) {
                $(".top-mega-menu").css('top', '0px');
            } else {
                $('.top-mega-menu').css('top', '38px');
            }
        });

        $('.carousel').carousel({
            interval: 5000
        })

        sessionStorage.removeItem('refreshPageFlg');

        try {
            sessionStorage.setItem("Webcheckkeytdid", "@strSessionKeyLogin");
        }
        catch (e) {
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() >= 80) {
                $('header').addClass('scrol');
            } else {
                $('header').removeClass('scrol');
            }
        });

        //for new partner login
        function showpartnerloginpopup(arg, type, text) {
            $('.spneye .fa').removeClass('fa-eye-slash');
            $('.spneye .fa').addClass('fa-eye');
            if (arg == 'P') {
                changeagentpopup(type, text);
                $('#modal-partnerlogin').iziModal('destroy');
                $("#modal-partnerlogin").iziModal({
                    setHeader: false,
                    overlayClose: false,
                    overlayColor: 'rgba(0, 0, 0, 0.6)'
                });
                $('#modal-partnerlogin').iziModal('open');
                if (type == "A") {
                    $('#txt_id').val(localStorage.getItem('TERMINALID'));
                    $('#txt_usrnm').val(localStorage.getItem('USERNAME'));
                    $('#txt_passwd').val(localStorage.getItem('PASSWORD'));
                }
                else if (type == "I") {
                    if (localStorage.getItem('TERMINALID') == null || localStorage.getItem('TERMINALID') == undefined || localStorage.getItem('TERMINALID') == "") {
                        $('#txt_usrnm').val(localStorage.getItem('USERNAME'));
                        $('#txt_passwd').val(localStorage.getItem('PASSWORD'));
                    }
                }
                $('#txt_passwd').attr("Type", "Password");
                $('#chkRemember').prop("checked", localStorage.getItem('CHK_REM'));
            }
            else {
                if (arg == 'B') {
                    $("#signup").hide();
                }
                else {
                    $("#signup").show();
                }
                changelogin('S');
                $("#modal-customerlogin").iziModal('destroy');
                $("#modal-customerlogin").iziModal({
                    setHeader: false,
                    overlayClose: false,
                    overlayColor: 'rgba(0, 0, 0, 0.6)'
                });
                $("#modal-customerlogin").iziModal('open');
            }
            hideError();
        }

        function changeagentpopup(arg, text) {
            $("#agnsignin").addClass("active");
            $("#agnsignin").show();
            $("#agnsignin").html(text + ' Login');
            if (arg == 'A') {
                $("#txt_id").show();
                $("#hdnterminal_app").val("W")
            }
            else {
                $("#txt_id").hide();
                $("#hdnterminal_app").val("T")
            }
        }

        function changelogin(arg) {
            if (arg == 'S') {
                $("#signup").removeClass('active');
                $("#signin").addClass('active');
                $("#sign-in").show();
                $("#sign-up").hide();
            }
            else {
                $("#signup").addClass('active');
                $("#signin").removeClass('active');
                $("#sign-in").hide();
                $("#sign-up").show();
            }
        }

        $(document).on('click', '#get_signin', function () {
            if ($("#txtusremail").val() == "") {
                showError("Please enter username", "Login");
                return false;
            }
            var filter = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if ($("#txtusremail").val() != "" && !filter.test($("#txtusremail").val())) {
                showError("Please Enter Valid Email Id", "Login");
                return false;
            }
            if ($("#txtpasswd").val() == "") {
                showError("please enter password", "Login");
                return false;
            }
            var strUsername = $("#txtusremail").val();
            var strPassword = $("#txtpasswd").val();
            var LoginParam = {
                strUsername: strUsername,
                strPassword: strPassword
            };
            $(".fa-spin").show();
         
            $.ajax({
                type: "POST",
                url: DashBoardSingInurl,  //"/B2C/GetLoginDetails_B2C",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(LoginParam),
                timeout: 180000,
                dataType: "json",
                success: function (data) {
                    $(".fa-spin").hide();
                 
                    console.log("Login_Submit_Response_time: " + new Date());
                    document.getElementById("get_login").disabled = false;
                    $('#iLoading').hide();

                    if (data.Status != "01") {
                        if (data.Result != "") {
                            showError(data.Result, "Login");
                            asyncafterLogin("FAILED", "", strUsername, strPassword, data.Message);
                        }
                        else {
                            showError("Unable to login.", "Login");
                            asyncafterLogin("FAILED", "", strUsername, strPassword, "Unable to login");
                        }
                    }
                    else if (data.Status == "01") {
                        asyncafterLogin("SUCCESS", "", strUsername, strPassword, "");
                        $("#modal-customerlogin").iziModal('destroy');
                        $(".clsUserName").html(strUsername);
                        localStorage.setItem('Username', strUsername)
                        $("#divUserOut").hide();
                        $("#divUserIn").show();
                        $("#dvhideLogin").hide();
                        $(".clsShowUser").show();
                    }
                    else {
                        asyncafterLogin("FAILED", "", strUsername, strPassword, "Unable to login");
                        showError("Problem occured while login (#07).", "Login");
                    }
                },
                error: function (e) {
                    $(".fa-spin").hide();
                    asyncafterLogin("FAILED", "", strUsername, strPassword, "Unable to login");
                    document.getElementById("get_login").disabled = false;
                    $('#iLoading').hide();
              
                    showError("Unable to login (#09).", "Login");
                }
            });

        });
        $(document).on('click', '#btn_signup_clear', function () {
            $(".cls_signup_Clear").val("");
        });


        $(document).on('click', '#get_signup', function () {

            if ($("#txtusrtitle").val() == "") {
                showError("Please select user title", "Login");
                return false;
            }
            if ($("#txtnewusrfname").val() == "") {
                showError("Please enter User first name", "Login");
                return false;
            }
            if ($("#txtnewusrlname").val() == "") {
                showError("Please enter User last name", "Login");
                return false;
            }
            if ($("#txtnewemail").val() == "") {
                showError("Please enter emailid", "Login");
                return false;
            }
            if ($("#txtnewcontact").val() == "") {
                showError("Please enter contact no", "Login");
                return false;
            }
            if ($("#txtnewpasswd").val() == "") {
                showError("Please enter password", "Login");
                return false;
            }
            if ($("#txtcnfmpasswd").val() == "") {
                showError("Please enter confirm password", "Login");
                return false;
            }
            if ($("#txtnewpasswd").val() != $("#txtcnfmpasswd").val()) {
                showError("Passwords do not match", "Login");
                return false;
            }
            var filter = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if ($("#txtnewemail").val() != "" && !filter.test($("#txtnewemail").val())) {
                showError("Please Enter Valid Email Id", "Login");
                return false;
            }
            if ($("#txtnewcontact").val().length < 10) {
                showError("Please enter valid 10 digit contact no", "Login");
                return false;
            }
            //if ($("#txtnewDOB").val() == "") {
            //    showErrorLogin("Please Date of birth", "Login");
            //    return false;
            //}

            var strUserTitle = $("#txtusrtitle").val();
            var strUserfname = $("#txtnewusrfname").val();
            var strUserlname = $("#txtnewusrlname").val();
            var strPassword = $("#txtnewpasswd").val();
            var strEmail = $("#txtnewemail").val();
            var strContact = $("#txtnewcontact").val();
            var strDOB = $("#txtnewDOB").val();

            var inputdata = {
                strTitle: strUserTitle,
                strFirstname: strUserfname,
                strLastname: strUserlname,
                strEmail: strEmail,
                strContact: strContact,
                strPassword: strPassword,
                strDOB: strDOB,
            }

            $.blockUI({
                message: '<img alt="Please Wait..." src="' + loaderurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });
            
            $.ajax({
                type: "POST", 		//GET or POST or PUT or DELETE verb
                url: registraionurl,// Location of the service
                data: JSON.stringify(inputdata),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {//On Successful service call
                    var result = data.Result;
                    $("#modal-customerlogin").iziModal('destroy');
                    if (result == "01") {
                        $("#txtusremail").val(strEmail);
                        $("#txtpasswd").val(strPassword);
                        $("#get_signin").click();
                    }
                    else {
                        if (data.Message != "") {

                            showlobiboxalert("error", data.Message);
                        }
                        else {
                            showlobiboxalert("error", "unabel to register. try again later");
                        }
                        $.unblockUI();
                    }
                },
                error: function (e) {// When Service call fails
                    console.log(e);
                    showlobiboxalert("error", "unabel to register. try again later");

                    $.unblockUI();
                }
            });
        });

        $('#aLogout').click(function () {
            $("#modal-fr").modal({
                backdrop: 'static',
                keyboard: false
            });
        });

        $('#btnyeslogout').click(function () {
            sessionStorage.setItem("logoutinsertflg", "Y");
            window.location.href = LogoutURL;
        });

        var winObj;
        $(document).on('click', '#GoogleIntegration', function () {
            console.log(GoogleIntegrationURL);
            $("#modal-customerlogin").iziModal('destroy');
            winObj = window.open(GoogleIntegrationURL, "myWindow", 'width=800,height=600');
            //popup.close();
            var loop = setInterval(function () {
                if (winObj.closed) {
                    clearInterval(loop);
                    //alert('closed');
                    if (localStorage.getItem("IsLoggedIN") == "Y") {
                        $(".clsUserName").html(localStorage.getItem('Username'));
                        $("#divUserOut").hide();
                        $("#divUserIn").show();
                        $("#dvhideLogin").hide();
                        $(".clsShowUser").show();
                    }
                }
            }, 1000);
        });

        if ('@Session["CustomerLogin"]' != null && '@Session["CustomerLogin"]' == "Y") {
            $(".clsUserName").html(localStorage.getItem('Username'));
            $("#divUserOut").hide();
            $("#divUserIn").show();
            $("#dvhideLogin").hide();
            $(".clsShowUser").show();
        }

        function clearvalueRT() {
            $("#txtf_tid").val("");
            $("#txtf_uname").val("");
            $("#txtOTP").val("");
            $("#txtf_password").val("");
            $("#txtf_cpassword").val("");
            $("#OTPspan").hide();
            $("#OTPres").hide();
            $("#OTPnew").show();
            $('#modal-forget').iziModal('close');
        }


        function ResetpasswordUser() {
            var strEmailID = $("#txtuf_email").val();
            var otp = $("#txt_OTP").val();
            var newpass = $("#txtuf_password").val();
            var confirmpass = $("#txtuf_cpassword").val();

            if (strEmailID == null || strEmailID == "") {
                showlobiboxalert("info", "Please enter username")
                $("#txtuf_email").focus();
                return false;
            }
            if (otp == null || otp == undefined || otp == "") {
                showlobiboxalert("info", "Please enter OTP Number");
                return false;
            }
            if (newpass == "" || confirmpass == "") {
                showlobiboxalert("info", "Please enter password details");
                return false;
            }
            if (newpass != confirmpass) {
                showlobiboxalert("info", "New Password & Confirm Password are not Same");
                return false;
            }

            var params = {
                strEmailID: strEmailID,
                strOTP: otp,
                strPassword: newpass,
            }

            $.blockUI({
                message: '<img alt="Please Wait..." src="' + loaderurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $.ajax({
                type: "POST",
                url: ForgetPasswordUserURL,
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.unblockUI();
                    if (result.status == "00") {
                        console.log(result);
                        showlobiboxalert("info", result.errMsg);
                        clearvalueUser();
                        $('#modal-partnerlogin').iziModal('destroy');
                        $("#modal-customerlogin").iziModal('destroy');
                        return false;
                    }
                    else {
                        showlobiboxalert("info", result.errMsg);
                        return false;
                    }
                },
                error: function (e) {
                    $.unblockUI();
                    console.log(e);
                    showlobiboxalert("info", "unable to generate OTP");
                    return false;
                }
            });
        }
        function GenerateOTP_RT(flag) {
            var a = $("#txtf_tid").val();
            var b = $("#txtf_uname").val();

            if (a == null || a == undefined || a == "") {
                showlobiboxalert("info", "Please enter terminal id")
                $("#txtf_tid").focus();
                return false;
            }
            if (b == null || b == undefined || b == "") {
                showlobiboxalert("info", "Please enter username")
                $("#txtf_uname").focus();
                return false;
            }

            var params = {
                strOTPtype: "LP",
                strOTPname: flag,
                strTerminalid: a.toUpperCase().trim(),
                strUsername: b,
                strTerminalType: "W",
                Type: $("#hdn_passwordflag").val()
            }

            $.ajax({
                type: "POST",
                url: GenerateOTP_URL,
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.status == "01") {
                        $("#OTPres").show();
                        $("#OTPnew").hide();
                        $("#OTPspan").show();
                    }
                    else {
                        showlobiboxalert("info", "unable to generate OTP");
                        console.log(result);
                        return false;
                    }
                },
                error: function (e) {
                    showlobiboxalert("info", "unable to generate OTP");
                    console.log(e);
                }
            });
        }

        function DashboardRedirectB2C(arg) {
            if (arg == 'CSPNR') {
                window.location.href = OtherProduct_CS;
            }
            else {
                sessionStorage.setItem("DashBoardKey", arg);
                window.location.href = DashBoardB2C_Url;
            }
        }

        function clearvalueUser() {
            $("#txtuf_email").val("");
            $("#txt_OTP").val("");
            $("#OTPnew_user").show();
            $("#OTPres_user").hide();
            $("#OTPspan_user").hide();
            $("#txtuf_password").val("")
            $("#txtuf_cpassword").val("")
            $("#txtuf_password").prop('readonly', true);
            $("#txtuf_cpassword").prop('readonly', true);
        }

        function GenerateOTPUser(strFlag) {
            var strEmailID = $("#txtuf_email").val();

            if (strEmailID == null || strEmailID == "") {
                showlobiboxalert("info", "Please enter username");
                $("#txtuf_email").focus();
                return false;
            }

            var params = {
                strEmailID: strEmailID,
                strType: strFlag
            }

            $.blockUI({
                message: '<img alt="Please Wait..." src="' + loaderurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $.ajax({
                type: "POST",
                url: GenerateOTPUser_URL,
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.unblockUI();
                    if (result.status == "01") {
                        $("#OTPres_user").show();
                        $("#OTPnew_user").hide();
                        $("#OTPspan_user").show();
                        $("#txtuf_password").prop('readonly', false);
                        $("#txtuf_cpassword").prop('readonly', false);
                    }
                    else {
                        showlobiboxalert("info", "unable to generate OTP");
                        console.log(result);
                        return false;
                    }
                },
                error: function (e) {
                    $.unblockUI();
                    showlobiboxalert("info", "unable to generate OTP");
                    console.log(e);
                }
            });
        }







        function ForgotPasswordPopup(flag) {
            if (ProductType == "ROUNDTRIP") {
                $('#modal-partnerlogin').iziModal('destroy');
                $("#modal-customerlogin").iziModal('destroy');
                $("#modal-forget").iziModal({
                    iconClass: 'icon-stack',
                    headerColor: '#636363',
                    width: 500,
                    padding: 0,
                });
                $('#modal-forget').iziModal('open');
                $("#Pwd_title").html("Forget Password?");
                $("#terminalid").prop('readonly', false);
                $("#username").prop('readonly', false);
                $("#hdn_passwordflag").val("ForgetPassword");
            } else {
                $("#modal-forget").iziModal({
                    //title: Ititle,
                    //subtitle: Isubtitle,
                    // fullscreen: Ifullopt,
                    iconClass: 'icon-stack',
                    headerColor: '#636363',
                    width: 500,
                    padding: 0,
                });
                $('#modal-forget').iziModal('open');
                if (flag == "C") {
                    $("#Pwd_title").html("UPDATE PASSWORD");
                    $("#terminalid").prop('readonly', true);
                    $("#username").prop('readonly', true);
                    $("#hdn_passwordflag").val("Firstlogin");
                }
                else {
                    $("#Pwd_title").html("FORGET PASSWORD?");
                    $("#terminalid").prop('readonly', false);
                    $("#username").prop('readonly', false);
                    $("#hdn_passwordflag").val("ForgetPassword");
                }
            }
        }




        function ShowHidePassword(arg, that) {
            var obj = document.getElementById(arg);
            if (obj.type.toUpperCase() == "PASSWORD") {
                obj.type = "text";
                $(that).find(".fa").removeClass('fa-eye').addClass('fa-eye-slash');
                //$('.spneye .fa').removeClass('fa-eye');
                //$('.spneye .fa').addClass('fa-eye-slash');
            }
            else {
                obj.type = "password";
                $(that).find(".fa").removeClass('fa-eye-slash').addClass('fa-eye');
                //$('.spneye .fa').removeClass('fa-eye-slash');
                //$('.spneye .fa').addClass('fa-eye');
            }
        }

        if ($(window).width() > 767) {

        }



        //B2C REGION
        function B2C_ForgotPasswordPopup() {
            $(".after-OTP-field").attr("disabled", "disabled");
            $("#txt_mailID").removeAttr("disabled");
            $("#B2C_repassword").addClass("point-none");
            $(".after-OTP-field,#txt_mailID").val("");
            $("#B2C_OTPspan,#B2C_OTPres,#B2C_OTP_Errspan").hide();
            $("#B2C_OTPnew").show();
            $('#modal-partnerlogin').iziModal('destroy');
            $("#modal-customerlogin").iziModal('destroy');
            $("#B2C-modal-forget").iziModal({
                iconClass: 'icon-stack',
                headerColor: '#636363',
                width: 500,
                padding: 0,
            });
            $('#B2C-modal-forget').iziModal('open');

        }
        function clearvalueB2C() {
            $("#txt_mailID,#txtf_password_B2C,#txtf_cpassword_B2C,#txtOTP_B2C").val("");
            $("#B2C_OTPspan,#B2C_OTPres,#B2C_OTP_Errspan").hide();
            $("#B2C_OTPnew").show();
            $('#B2C-modal-forget').iziModal('close');
        }

        function B2C_GenerateOTP() {
            var MailID = $("#txt_mailID").val();

            if (MailID == "") {
                showlobiboxalert("info", "Please enter Mail id");
                $("#txt_mailID").focus();
                return false;
            }
            var filter = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if (MailID != "" && !filter.test(MailID)) {
                showlobiboxalert("info", "Please Enter valid Email ID");
                $("#MailID").focus();
                return false;
            }

            var params = {
                MailID: MailID,
            }


            $.blockUI({
                message: '<img alt="Please Wait..." src="' + loaderurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $.ajax({
                type: "POST",
                url: B2C_OTPURL,
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.unblockUI();
                    if (result.Status == "01") {
                        $("#B2C_OTPres,#B2C_OTPspan").show();
                        $("#B2C_OTPnew,#B2C_OTP_Errspan").hide();
                        $("#txt_mailID").attr("disabled", "disabled").addClass("disable");
                        $(".after-OTP-field").removeAttr("disabled").removeClass("disable");
                        $("#B2C_repassword").removeClass("point-none");
                    }
                    else {
                        showlobiboxalert("error", result.Message);
                        console.log(result);
                        return false;
                    }
                },
                error: function (e) {
                    $.unblockUI();
                    showlobiboxalert("error", "unable to generate OTP");
                    console.log(e);
                }
            });
        }
        function B2C_Resetpassword() {
            $("#B2C_OTP_Errspan").hide();
            var strEmailID = $("#txt_mailID").val();
            var otp = $("#txtOTP_B2C").val();
            var newpass = $("#txtf_password_B2C").val();
            var confirmpass = $("#txtf_cpassword_B2C").val();

            if (strEmailID == null || strEmailID == "") {
                showlobiboxalert("info", "Please enter username.");
                $("#txtuf_email").focus();
                return false;
            }
            if (otp == null || otp == undefined || otp == "") {
                showlobiboxalert("info", "Please enter OTP Number");
                return false;
            }
            if (newpass == "" || confirmpass == "") {
                showlobiboxalert("info", "Please enter password details");
                return false;
            }
            if (newpass != confirmpass) {
                showlobiboxalert("info", "New Password & Confirm Password are not Same");
                return false;
            }

            var params = {
                MailID: strEmailID,
                OTP: otp,
                Password: newpass,
            }

            $.blockUI({
                message: '<img alt="Please Wait..." src="' + loaderurl + '" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $.ajax({
                type: "POST",
                url: B2C_UpdatePassword,
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.unblockUI();
                    if (result.Status == "01") {
                        console.log(result);
                        clearvalueB2C();
                        showlobiboxalert("success", result.Message);
                        $('#B2C-modal-forget').iziModal('close');
                        return false;
                    }
                    else {
                        if (result.Message == "Please enter valid OTP") {
                            $("#B2C_OTP_Errspan").show();
                            $("#B2C_OTPspan").hide();
                        }
                        else
                            showlobiboxalert("error", result.Message);
                        return false;
                    }
                },
                error: function (e) {
                    $.unblockUI();
                    console.log(e);
                    showlobiboxalert("error", "Unable to validate OTP. Please try again later.");
                    return false;
                }
            });
        }

        //END REGION
    </script>
</body>
</html>