@{
    string PNRFlag = System.Configuration.ConfigurationManager.AppSettings["PNRlbl"].ToString();
    string StrVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString();
    string strProduct = System.Configuration.ConfigurationManager.AppSettings["Producttype"].ToString();
    string strImageURL = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
    string strLoaderURL = strImageURL + "/" + strProduct + "/" + "loader.gif?" + StrVersion;
}
<style>
    @@media screen and (max-width: 768px) and (min-width: 250px) {
        .mobilescr {
            margin-top: -14PX;
            margin-bottom: 15px;
        }
    }

    .clshref {
        color: blue !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }

    .table > thead > tr > th {
        text-transform: unset !important;
    }

    .clsleft {
        text-align: left;
    }

    .clsright {
        text-align: right;
    }
</style>


<link href="~/Content/CSS/CommonCSS/footable.bootstrap.css" rel="stylesheet" />
<link href="~/Content/CSS/lobibox.css?@StrVersion" rel="stylesheet" />
<script src="~/js/CommonJS/footable.js"></script>

<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 fadeInDownSmall">
    <div class="col-sm-12 col-xs-12 col0 mobshow hidden-lg hidden-md hidden-sm">
        <span>No Show</span>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 marbtmplus20 martpmins0 pad-0" id="newreq">
        @**@
        <div class="row marbtmplus20">
            <div class="col-sm-12 reqbtn">
                <a onclick="newreqshow();" href="javascript:void(0)">New Request</a>
            </div>
        </div>

        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_From_date" maxlength="10" class="txt-anim" type="text" />
                <label><span id="datetextfrom">From</span> Date</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_To_date" maxlength="10" class="txt-anim" type="text" />
                <label><span id="datetextto">To</span> Date</label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_SMRiyaPNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" />
                <label><span>@PNRFlag</span></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2 m-0 m-sm-t15" style="text-align: left; background: none !important;">
            <span class="clsspntitle">Status</span>
            <select class="clscmbanim" id="ddlStatus" size="5">
                <option selected="selected" value="">All </option>
                <option value="S">Success</option>
                <option value="P">In Process</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2 m-0 m-sm-t15" style="text-align: left; background: none !important;">
            <span id="lblTransactionTypea" class="clsspntitle">Airport ID</span>
            <select class="clscmbanim" id="ddlAirportId" size="5">
                <option selected="selected" value="">All </option>
                <option value="D">Domestic</option>
                <option value="I">International</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2 m-0 m-sm-t15" style="text-align: left; background: none !important;">
            <input type="button" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Get History" onclick="javascript: return FetchNoShowRefundDetails();">
        </div>

        <div class="row row0">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="margin-top: 15px">
                <div id="dvNoshow" style="display: none; width: 100%;"></div>
                @* overflow:scroll;height:400px;*@
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 marbtmplus20 martpmins0 pad-0" id="smartview" style="display: none;">
        <div class="row marbtmplus20">
            <div class="col-sm-12 reqbtn">
                <a onclick="newreqhide();" href="javascript:void(0)">Smart View</a>  @* "*@
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_RiyaPNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" />
                <label><span>@PNRFlag</span></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_AirlinePNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" />
                <label><span>Airline PNR</span></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-2">
            <div class="dv-anim input-effect m-0 m-sm-t15">
                <input id="txt_CRSPNR" maxlength="10" class="txt-anim clsAlphaNumeric" type="text" />
                <label><span>CRS PNR</span></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 col-md-offset-3 col-sm-3 col-lg-2 col-lg-offset-0">
            <input type="button" id="btn_ok" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Get History" onclick="javascript: return FetchNewRequest();" />
        </div>
        <div class="col-xs-6 col-md-2 col-sm-3 col-lg-2">           
            <input type="button" id="btn_clear" class="action-button action-buttonB shadow animate  colorB1" value="Clear" style="width: 100%" onclick="javascript: return ClearNoShow();" />
        </div>
        <div class="row row0">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 " style="margin-top: 15px">
                <div id="dvNewRequeshow" style="display: none; width: 100%;"></div>
                @* overflow:scroll;height:400px;*@
            </div>

            <div class="col-xs-12 col-sm-offset-5 col-sm-2" style="margin-top: 15px">
                <input type="button" id="btn_CancelTicket" class="action-button action-buttonB shadow animate  colorB1" value="Cancel Ticket" style="width: 100%; display: none;" onclick="javascript: return NoshowCancelTicket();" />
            </div>
        </div>
    </div>
</div>
<div id="modal-Noshow" class="iziModal addtop">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-3">
            <label>Remarks</label>
        </div>
        <div class="col-xs-12 col-sm-6">
            <textarea id="txtRemarks"></textarea>
            @*<input type="text" id="txtRemarks" style="height:50px;"/>*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-offset-3 col-sm-3">
            <input type="button" class="action-button action-buttonO shadow animate color" style="width: 100%" value="Confirm" onclick="ConfirmNoshowCancelTicket();" />
        </div>
        <div class="col-xs-6 col-sm-3">
            <input type="button" data-izimodal-close class="action-button action-buttonB shadow animate colorB1" style="width: 100%" value="Cancel" />
        </div>
    </div>
</div>

<div id="modal-Noshowpopup" class="iziModal addtop">
    <div class="row" style="margin-bottom: 20px; overflow: auto;">
        <div class="col-xs-12 col-sm-3">
            <div id="dvNoshowpopup" style="display: none; width: 100%;"></div>
        </div>
    </div>
</div>
<script src="~/js/lobibox.js?@StrVersion"></script>
<script src="~/js/AppsJS/common.js?@StrVersion"></script>
<script>
    var currentDate = "@ViewBag.ServerDateTime";
    $(document).ready(function () {
        var currentDate = "@ViewBag.ServerDateTime";
        $("#txt_From_date").val(currentDate);
        $("#txt_From_date").addClass("has-content");
        $("#txt_From_date").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });

        $("#txt_To_date").val(currentDate);
        $("#txt_To_date").addClass("has-content");
        $("#txt_To_date").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });
    });

    function newreqhide() {
        $("#smartview").hide();
        $("#newreq").show();
    }
    function newreqshow() {
        $("#newreq").hide();
        $("#smartview").show();
    }
    var PData = [];
    function FetchNewRequest() {
        try {
            var RiyaPNR = $("#txt_RiyaPNR").val();
            var AirlinePNR = $("#txt_AirlinePNR").val();
            var CRSPNR = $("#txt_CRSPNR").val();
            if (RiyaPNR == "" && AirlinePNR == "" && CRSPNR == "") {
               // showerralert("Please Enter any PNR.", "", "");
                showlobiboxalert("warning", "Please Enter any PNR.");
                return false;
            }
            $('#dvNewRequeshow').hide();
            $('#btn_CancelTicket').hide();

            $.blockUI({
                message: '<img alt="Please Wait..." src="@strLoaderURL" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            var request = {
                strRiyaPNR: RiyaPNR,
                strAirlinePNR: AirlinePNR,
                strCRSPNR: AirlinePNR
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("FetchNewRequest", "Pnr")",
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    PData = [];
                    if (json.Status == "0") {
                        //alert("Session has been Expired.");
                      //  showerralert("Session has been Expired.", "", "");
                        showlobiboxalert("info", "Session has been Expired.");
                        window.location.href = "@Url.Action("SessionExp", "Redirect")";
                    }
                    if (json.Status == "01") {
                        ;
                        var JsonData = json.Result;
                        $('#dvNewRequeshow').show();

                        PData = $.parseJSON(JsonData);
                        for (var i = 0; i < PData.length; i++) {
                            var object1 = {
                                refid: i,
                            };
                            $.extend(PData[i], object1);
                        }

                        var columns = new Array();

                        str = '<table id="tbl_NewRequest" data-paging="true" data-sorting="true" class="table table-striped footable footable-1 tablet breakpoint footable-loaded">';//data-toggle-column="last"
                        str += '<thead><tr class="footable-header" >';
                        str += '<th>Ticket No</th>';
                        str += '<th>Passenger Name</th>';
                        str += '<th data-breakpoints="xs">Flight No</th>'
                        str += '<th data-breakpoints="xs">Origin</th>'
                        str += '<th data-breakpoints="xs">Desination</th>'
                        str += '<th data-breakpoints="xs"><nobr>Departure Date</nobr></th>'
                        str += '<th data-breakpoints="xs"><nobr>Arrival Date</nobr></th>'
                        str += '<th data-breakpoints="xs"><nobr>Gross Fare</nobr></th>'
                        str += '<th><nobr>Ticket Status</nobr></th>'
                        str += '<th data-sort-ignore="true">Select</th>'
                        str += '</tr></thead><tbody>';
                        var confirmed = 0;
                        for (var data in PData) {
                            var mainData = PData[data];
                            if ((mainData["TICKET_NO"] != "") && (mainData["TICKET_STATUS"].toUpperCase().trim() == "CONFIRMED")) {
                                str += '<tr>';
                                str += '<td class="clsleft">' + mainData["TICKET_NO"] + '</td>';
                                str += '<td class="clsleft">' + mainData["PASSENGER_NAME"] + '</td>';
                                str += '<td class="clsleft">' + mainData["FLIGHT_NO"] + '</td>';
                                str += '<td class="clsleft">' + mainData["ORIGIN"] + '</td>';
                                str += '<td class="clsleft">' + mainData["DESTINATION"] + '</td>';
                                str += '<td class="clsleft">' + moment(mainData["DEPT_DATE"], "YYYY/MM/DDTHH:mm:ss").format('DD/MM/YYYY HH:mm') + '</td>';
                                str += '<td class="clsleft">' + moment(mainData["ARRIVAL_DATE"], "YYYY/MM/DDTHH:mm:ss").format('DD/MM/YYYY HH:mm') + '</td>';
                                str += '<td class="clsright">' + mainData["GROSSFARE"] + '</td>';
                                str += '<td class="clsleft">' + mainData["TICKET_STATUS"] + '</td>';
                                var dept_date = moment(mainData["DEPT_DATE"], "YYYY/MM/DDTHH:mm:ss");
                                var today = moment();//.format('DD/MM/YYYY')
                                var diffDays = today.diff(dept_date, 'seconds');

                                if (mainData["TICKET_STATUS"].toUpperCase() == "TO BE CANCELLED" || diffDays < 0) {
                                    str += '<td><label class="containerer label--checkbox"><input type="checkbox" disabled class="checkbox clsNoShowchecked" id="outstd_' + mainData["refid"] + '" value="' + mainData["refid"] + '" /><span class="checkmark_r"></span></label></td>'
                                }
                                else {
                                    confirmed++;
                                    str += '<td><label class="containerer label--checkbox"><input type="checkbox" class="checkbox clsNoShowchecked" id="outstd_' + mainData["refid"] + '" value="' + mainData["refid"] + '" /><span class="checkmark_r"></span></label></td>'
                                }
                                str += '</tr>';
                            }
                        }

                        str += '</tbody></table>';

                        $('#dvNewRequeshow').html(str);
                        $('.footable').footable();
                        if (confirmed > 0) {
                            $('#btn_CancelTicket').show();
                        }

                    }
                    else {
                        //alert(json.Message);
                       // showerralert(json.Message, "", "");
                        showlobiboxalert("info", json.Message);
                    }
                    $.unblockUI();
                },
                error: function (e) {
                    if (e.statusText == "timeout") {
                        //alert("Operation timeout. Please Search Again");
                        // showerralert("Operation timeout. Please Search Again.", "", "");
                        showlobiboxalert("error", "Operation timeout. Please Search Again.");
                    }
                    if (e.status == "500") {
                        //alert("An Internal Problem Occurred. Your Session will Expire.");
                        // showerralert("An Internal Problem Occurred. Your Session will Expire.", "", "");
                        showlobiboxalert("error", "An Internal Problem Occurred. Your Session will Expire.");
                        window.top.location = sessionExb;
                        return false;
                    }

                    $.unblockUI();
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function FetchNoShowRefundDetails() {       
        try {
            var FromDate = $("#txt_From_date").val();
            var ToDate = $("#txt_To_date").val();
            var RiyaPNR = $("#txt_SMRiyaPNR").val();
            var Status = $("#ddlStatus").val();
            var AirportID = $("#ddlAirportId").val();
            $('#dvNoshow').hide();
            $.blockUI({
                message: '<img alt="Please Wait..." src="@strLoaderURL" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            var request = {
                strFromDate: FromDate,
                strToDate: ToDate,
                strRiyaPNR: RiyaPNR,
                strStatus: Status,
                strAirportID: AirportID
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("FetchNoShowRefundDetails", "Pnr")",
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {

                    if (json.Status == "0") {
                       // showerralert("Session has been Expired.", "", "");
                        showlobiboxalert("info", "Session has been Expired.");
                        window.location.href = "@Url.Action("SessionExp", "Redirect")";
                    }
                    if (json.Status == "01") {
                       // ;
                        var JsonData = json.Result;
                        $('#dvNoshow').show();
                        var PData = $.parseJSON(JsonData);
                        PData = PData.Table;
                        var columns = new Array();
                        if (PData.length > 0) {
                            str = '<table id="tbl_outstd" data-paging="true" data-sorting="true" class="table table-striped footable footable-1 tablet breakpoint footable-loaded">';
                            str += '<thead><tr class="footable-header" >';
                            str += '<th>Requested Date</th>';
                            str += '<th>Reference ID</th>';
                            str += '<th data-breakpoints="xs">Airline Name</th>';
                            str += '<th>@PNRFlag</th>';
                            str += '<th data-breakpoints="xs">Airline PNR</th>';
                            str += '<th data-breakpoints="xs">CRS PNR</th>';
                            str += '<th data-breakpoints="xs">Airport ID</th>';
                            str += '<th data-breakpoints="xs">Status</th>';
                            str += '</tr></thead><tbody>';
                            for (var data in PData) {
                                var mainData = PData[data];
                                str += '<tr>';
                                str += '<td>' + mainData["REQUESTED_DATE"] + '</td>';
                                str += '<td><a class="clshref" onclick=FetchNoShowDashPNRDetails("' + mainData["SEQUENCE_NO"] + '")> ' + mainData["SEQUENCE_NO"] + '</a></td>';
                                str += '<td>' + mainData["AIRLINE_NAME"] + '</td>';
                                str += '<td>' + mainData["S_PNR"] + '</td>';
                                str += '<td>' + mainData["AIRLINE_PNR"] + '</td>';
                                str += '<td>' + mainData["CRS_PNR"] + '</td>';
                                str += '<td>' + mainData["AIRPORT_ID"] + '</td>';
                                str += '<td>' + mainData["STATUS"] + '</td>';
                                str += '</tr>';
                            }
                            str += '</tbody></table>';
                            str += '</tbody></table>';
                            str += '<div class="dvrows" style="float:left;margin-top: 10px;">No Of Rows :  <select id="sizeclk" class="Selecttype" onchange="GetNoofRecords(this.id)"><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="200">200</option><option value="500">500</option><option value="' + PData.length + '">ALL</option></select> </div>'
                            $('#dvNoshow').html(str);
                            $('.footable').footable();
                        }
                        else {
                            //alert("No records found");
                          //  showerralert("No records found.", "", "");
                            showlobiboxalert("info", "Session has been Expired.");
                        }
                    }
                    else {
                        //alert(json.Message);
                       // showerralert(json.Message, "", "");
                        showlobiboxalert("info", json.Message);
                    }
                    $.unblockUI();
                },
                error: function (e) {
                    if (e.statusText == "timeout") {
                        //alert("Operation timeout. Please Search Again");
                       // showerralert("Operation timeout. Please Search Again", "", "");
                        showlobiboxalert("error", "Operation timeout. Please Search Again");
                    }
                    if (e.status == "500") {
                       // showerralert("An Internal Problem Occurred. Your Session will Expire.", "", "");
                        showlobiboxalert("error", "An Internal Problem Occurred. Your Session will Expire.");
                        window.location.href = "@Url.Action("SessionExp", "Redirect")";
                        return false;
                    }

                    $.unblockUI();
                }
            });

        }
        catch (e) {
            console.log(e.message);
        }
    }
    function NoshowCancelTicket() {
        if (!$('.clsNoShowchecked').is(':checked')) {
           //  showerralert("Please select atleast one Passenger.", "", "");
            showlobiboxalert("warning", "Please select atleast one Passenger.");
            return false;
        }
        showpopup("#modal-Noshow", "Confirm NoShow", "");
    }

    function ConfirmNoshowCancelTicket() {

        var Remarks = $('#txtRemarks').val();
        if (Remarks == "") {
            //  showerralert("Please Enter Remarks.", "", "");
            showlobiboxalert("warning", "Please Enter Remarks.");
            return false;
        }

        $('#modal-Noshow').iziModal('close');
        var selectedary = [];

        $('.clsNoShowchecked').each(function () {
            if ($(this).is(':checked')) {
                var refno = $(this).val();
                var checkary = $.grep(PData, function (val, obj) {
                    return refno == val.refid.toString();
                });

                Array.prototype.push.apply(selectedary, checkary);
            }
        });

        if (selectedary.length == 0) {
            //alert("Please select atleast one Passenger.");
          //  showerralert("Please select atleast one Passenger.", "", "");
            showlobiboxalert("warning", "Please select atleast one Passenger.");
            return false;
        }

        var noshowarray = {
            NOSHOW: selectedary
        }

        var request = {
            strNoshowpnrdetails: JSON.stringify(noshowarray),
            strRemarks: Remarks
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("NoShowsubmit_Click", "Pnr")",
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {

                if (json.Status == "0") {
                   // showerralert("Session has been Expired.", "", "");
                    showlobiboxalert("info", "Session has been Expired.");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")";
                    }

                    if (json.Status == "01") {
                       // ;
                        var JsonData = json.Result;
                       // showalert(JsonData, "", "");
                        showlobiboxalert("info", JsonData);
                        FetchNewRequest();
                    }
                    else {
                        //alert(json.Message);
                       // showerralert(json.Message, "", "");
                        showlobiboxalert("info", JsonData);
                    }

                    $.unblockUI();
                },
            error: function (e) {
                if (e.statusText == "timeout") {
                   // showerralert("Operation timeout. Please Search Again.", "", "");
                    showlobiboxalert("error", "Operation timeout. Please Search Again.");
                }
                if (e.status == "500") {
                   // showerralert("An Internal Problem Occurred. Your Session will Expire.", "", "");
                    showlobiboxalert("error", "An Internal Problem Occurred. Your Session will Expire.");
                    window.top.location = sessionExb;
                    return false;
                }

                $.unblockUI();
            }
        });

        }


        function FetchNoShowDashPNRDetails(seqno) {

            var request = {
                strSequenceNo: seqno,
            }

            $('#dvNoshowpopup').hide();
            $.ajax({
                type: "POST",
                url: "@Url.Action("FetchNoShowDashPNRDetails", "Pnr")",
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {

                if (json.Status == "0") {
                    //alert("Session has been Expired.");
                    showerralert("Session has been Expired.", "", "");
                    window.location.href = "@Url.Action("SessionExp", "Redirect")";
                }
                if (json.Status == "01") {

                    var JsonData = json.Result;
                    PData = $.parseJSON(JsonData);
                    PData = PData.Table;
                    if (PData.length > 0) {
                        $('#dvNoshowpopup').show();
                        str = '<table id="tbl_noshowpopup" data-paging="true" data-sorting="true" class="table table-striped footable footable-1 tablet breakpoint footable-loaded">';
                        str += '<thead><tr class="footable-header" >';
                        str += '<th><nobr>Passenger Name</nobr></th>'
                        str += '<th>Origin</th>'
                        str += '<th>Desination</th>'
                        str += '<th><nobr>Gross Fare</nobr></th>'
                        str += '<th><nobr>Refund Amount</nobr></th>'
                        str += '<th><nobr>Penalty Amount</nobr></th>'
                        str += '</tr></thead><tbody>';
                        for (var data in PData) {
                            var mainData = PData[data];
                            str += '<tr>';
                            var psgname = (mainData["PASSENGER_TITLE"] != "N/A" ? mainData["PASSENGER_TITLE"] : "") + " " + mainData["FIRST_NAME"] + " " + mainData["LAST_NAME"];
                            str += '<td >' + psgname + '</td>';//mainData["PASSENGER_NAME"] 
                            str += '<td >' + mainData["ORIGIN"] + '</td>';
                            str += '<td >' + mainData["DESTINATION"] + '</td>';
                            str += '<td >' + mainData["GROSS_AMT"] + '</td>';
                            str += '<td >' + mainData["REFUND"] + '</td>';
                            str += '<td >' + mainData["PENALTY"] + '</td>';
                            str += '</tr>';
                        }

                        str += '</tbody></table>';

                        $('#dvNoshowpopup').html(str);
                        $('.footable').footable();
                        showpopup("#modal-Noshowpopup", "No Show", "");
                        //
                    }
                    else {
                        //alert("No records found");
                       // showerralert("No records found", "", "");
                        showlobiboxalert("info", "No records found");
                    }
                }
                else {
                    //alert(json.Message);
                  //  showerralert(json.Message, "", "");
                    showlobiboxalert("info", json.Message);
                }
                $.unblockUI();
            },
            error: function (e) {
                if (e.statusText == "timeout") {
                    //alert("Operation timeout. Please Search Again.");
                   // showerralert("Operation timeout. Please Search Again.", "", "");
                    showlobiboxalert("error", "Operation timeout. Please Search Again.");
                }
                if (e.status == "500") {
                    //alert("An Internal Problem Occurred. Your Session will Expire.");
                   // showerralert("An Internal Problem Occurred. Your Session will Expire.", "", "");
                    showlobiboxalert("error", "An Internal Problem Occurred. Your Session will Expire.");
                    window.top.location = sessionExb;
                    return false;
                }

                $.unblockUI();
            }
        });

    }


    function showpopup(id, Ititle, Iwidth) {

        $(id).iziModal('destroy');

        Iwidth = Iwidth != "" ? Iwidth : 700;

        $(id).iziModal({
            title: Ititle,
            subtitle: "",
            fullscreen: false,
            iconClass: 'icon-stack',
            headerColor: '#636363',
            width: Iwidth,
            height: 400,
            padding: 20,
            overlay: false,
            //overlayClose: true,
            transitionInOverlay: 'fadeIn',
            transitionOutOverlay: 'fadeOut',
        });

        $(id).iziModal('open');
    }

    function GetNoofRecords(id) {
        var ids = $("#" + id).val();
        FooTable.get('#tbl_outstd').pageSize(ids);
    }

    function ClearNoShow() {
        $('#txt_RiyaPNR').val('');
        $('#txt_AirlinePNR').val('');
        $('#txt_CRSPNR').val('');
    }
</script>

