@using System.Data;
@using Newtonsoft.Json;
@using STSTRAVRAYS.Models;
@using System.Text.RegularExpressions;


@{
    
    List<RQRS.Pnrlisdetails> _Pnrdetails_1 = new List<RQRS.Pnrlisdetails>();
    List<RQRS.BookingPaxdet> _psxdetails_1 = new List<RQRS.BookingPaxdet>();

    string toticket_response = ViewBag.toticket_response;
    string toticket_resultcode = ViewBag.toticket_resultcode;
    string toticketpnr_details_1 = ViewBag.toticketpnr_details_1;
    string toticketpnr_details_2 = ViewBag.toticketpnr_details_2;
    string totalfare = ViewBag.totalfare;
    string strcls_show = string.Empty;
    string str_ComPaxType = string.Empty;

    int adultcount = 0;
    int childcount = 0;
    int infantcount = 0;
    int adultcountServicecharge = 0;
    int childcountServicecharge = 0;
    int infantcountServicecharge = 0;
    string adt_dis = string.Empty;
    string chd_dis = string.Empty;
    string inf_dis = string.Empty;
    string paymentdetails = string.Empty;

    if (toticketpnr_details_1 != null)
    {
        _Pnrdetails_1 = JsonConvert.DeserializeObject<List<RQRS.Pnrlisdetails>>(ViewBag.toticketpnr_details_1);
    }
    if (toticketpnr_details_2 != null)
    {
        _psxdetails_1 = JsonConvert.DeserializeObject<List<RQRS.BookingPaxdet>>(ViewBag.toticketpnr_details_2);
    }



    var result = (from item in _Pnrdetails_1.AsEnumerable()
                  group item by item.SPNR into g
                  select new { ID = g.Key }).ToList();

    string Str_spnrs = String.Join("/", result.Select(A => A.ID)).ToString().TrimEnd('/');

    string user_trackid = String.Join("/", (from track in _psxdetails_1.AsEnumerable()
                                            group track by track.USERTRACKID into UT
                                            select new { UTrackid = UT.Key }).ToList().Select(B => B.UTrackid)).ToString().TrimEnd('/');
    string fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";

    string assignedcurrency = Session["App_currency"] != null && Session["App_currency"] != "" ? Session["App_currency"].ToString() : System.Configuration.ConfigurationManager.AppSettings["currency"].ToString();

}

<style>

    .clsBoxShdow {
        border-left: solid 3px #27a5f5;
        background-color: #fff;
        width: 100%;
        min-height: 300px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 20px;
        box-shadow: 0px 0px 5px 1px #ccc;
        position: absolute;
        top: 0px;
        z-index: 1;
        height: auto;
    }

    .clsMyLabel {
        font-family: Verdana,Arial,sans-serif;
        color: #3f3f3f;
        font-size: 20px;
    }

    .clsMySubLabel {
        font-family: Verdana,Arial,sans-serif;
        color: #878183;
        font-size: 14px;
    }

    .clsTable {
        border: solid 1px #e1e6ef;
        border-radius: 8px;
    }

    .clsImage {
        height: 120px;
        width: 120px;
        cursor: pointer;
        padding: 10px;
        border-bottom: 3px solid #fe4e12;
    }

    .clsTitleLabel {
        font-family: Verdana,Arial,sans-serif;
        color: #2471e3;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
    }

    a img {
        border: none;
    }

    .clsBody {
        margin-left: 4%;
    }

    .clsUlContent {
        text-align: left;
        font-size: 17px;
        font-family: cursive, Arial, sans-serif, monospace;
        color: #222;
    }

    .clsButton {
        padding: 10px;
        border: 1px solid #27a5f5;
        border-radius: 5px;
        color: #27a5f5;
        text-decoration: initial;
        float: right;
        /*margin-top: 20px;
         margin-right: 30px;*/
        transition: ease-out 0.5s;
    }

        .clsButton:hover {
            background-color: #27a5f5;
            color: #fff;
        }

    .textalignleft {
        text-align: left;
        font-weight: 700;
        color: #000;
    }

    @@media (max-width:480px) {
        .clsBoxShdow {
            border-left: solid 3px #fe4e12;
            background-color: #fff;
            width: 100%;
            margin-top: 0%;
            top: 35px;
            padding-top: 20px;
            min-height: 500px;
            left: 0px;
        }
    }

    @@media (max-width:768px) {
        .no-more-tables tbody tr td.com-pading {
            padding-left: 145px !important;
        }

        td.hidden-xs {
            display: none !important;
        }

        .clsBoxShdow {
            border-left: solid 3px #27a5f5;
        }

        .span-xs-bottom-border-dashed {
            border-bottom: 1px dashed #d01111;
        }
    }
</style>
<style>
    .message a {
        color: #fff;
        background-color: #27a5f5;
        border-radius: 4px;
        position: relative;
        display: block;
        padding: 10px 15px;
        float: left;
    }

    span.label.label-info.arrowed-right.arrowed-in {
        position: relative;
        z-index: 1;
        background-color: #27a5f5;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 1.15;
        height: 20px;
        color: #FFF;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        text-shadow: none;
    }

    span.label.label-info.arrowed-right.arrowed-in {
        border-width: 10px 5px;
        left: -10px;
        border-color: #27a5f5 #27a5f5 #27a5f5 transparent;
    }

        span.label.label-info.arrowed-right.arrowed-in:before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 0;
            z-index: -1;
            border: 1px solid transparent;
            left: -8px;
            border-width: 10px 5px;
            border-color: #27a5f5 #27a5f5 #27a5f5 transparent;
        }

        span.label.label-info.arrowed-right.arrowed-in:after {
            position: absolute !important;
            margin-right: 5px;
            top: 0 !important;
            z-index: -1 !important;
            border: 1px solid transparent !important;
            border-width: 10px 6px !important;
            border-left-color: #27a5f5 !important;
        }

    .label-info.arrowed-right:after {
        border-left-color: #27a5f5 !important;
    }

    .label.arrowed-right:after {
        right: -15px;
        border-width: 10px 6px !important;
    }

    .label.arrowed-in-right:after, .label.arrowed-right:after {
        display: inline-block;
        content: "";
        position: absolute !important;
        top: 0 !important;
        z-index: -1 !important;
        border: 1px solid transparent !important;
    }

    .table > thead:first-child > tr:first-child > th {
        color: #fff;
    }

    .table-bordered > tbody > tr > td {
        color: #000;
    }

    .servicepaxdisplay_block {
        display: block !important;
    }
</style>

@if (toticket_resultcode == "1")
{
    <center class=""> @*//this class hide by srinath headerstrip*@
         <div class="row">
            <div class="col-lg-12">
               <div class="clsBoxShdow" style="position: relative;">
                  <div class="cls-header m-b-10 changepas_header" id="HeadingTck" runat="server" style="text-align: left;">Ticket Information</div>
                  <h3 class="clsMyLabel" style="color: #2CC185;"><i class="fa fa-check" aria-hidden="true" style="font-size: 15px;border: 1px solid #2CC185;border-radius: 50%;background: #2CC185;color: #fff;padding: 1px;"></i>Ticket Booked Successfully  !...</h3>
                  <div style="border-top:dashed 1px #eee;"></div>
                      <br/>
                  
                  <div class="message">
                     <span class="label label-info arrowed-right arrowed-in" style="float: left;bottom: 5px;
                        left: 5px;">SPNR : @Str_spnrs</span>
                  </div>
                
                                 <div class="TicketsDetails" style="margin-top: 3%;">
                     <div class="row row5">
                        <div class="col-lg-12 col5">
                           <table class="no-more-tables table table-responsive table-bordered" style="border-style: double;" runat="server">
                              <thead>
                                 <tr>
                                      <th >SPNR</th>
                                    <th >CRS PNR</th>
                                    <th >Airline PNR</th>
                                    <th >Flight No</th>
                                    <th >Class</th>
                                    <th >Origin</th>
                                    <th >Destination</th>
                                    <th >Departure</th>
                                    <th >Arrival</th>

                                 </tr>
                              </thead>
                              <tbody>
                                   
                                    @for (int i = 0; i < _Pnrdetails_1.Count; i++)
                                    {
                                    
                                 <tr>
                                    <td  style="display:none !important;">
                                       <input type="text" value="@Str_spnrs" id="S_pnr"/>
                                    </td>
                                     <td data-title="CRS PNR :" class="com-pading">@_Pnrdetails_1[i].SPNR</td>
                                    <td data-title="CRS PNR :" class="com-pading">@_Pnrdetails_1[i].CRSPNR</td>
                                    <td data-title="Airline PNR :" class="com-pading">@_Pnrdetails_1[i].ARILINEPNR </td>
                                    <td data-title="Flight No :" class="com-pading">@_Pnrdetails_1[i].FLIGHTNO</td>
                                    <td data-title="Class :" class="com-pading">@_Pnrdetails_1[i].CLASS</td>
                                    <td data-title="Origin :" class="com-pading">@_Pnrdetails_1[i].ORIGIN</td>
                                    <td data-title="Destination :" class="com-pading">@_Pnrdetails_1[i].DESTINATION</td>
                                    <td data-title="Departure :" class="com-pading">@_Pnrdetails_1[i].DEPARTUREDATE</td>
                                    <td  data-title="Arrival :" class="com-pading">@_Pnrdetails_1[i].ARRIVALDATE</td>
                                     
                                 </tr>
                                    }
                              </tbody>
                           </table>
                            <div class="divBookedTicket" style="margin-top:20%;">
                              <table class="no-more-tables table table-responsive table-bordered" style="border-style: double;">
                                 <thead>
                                    <tr>
                                       <th>Title</th>
                                        <th>First Name</th>
                                       <th>Last Name</th>
                                       <th>Passenger Type</th>
                                       <th>DOB</th>
                                       <th>Ticket No</th>
                                       <th>Fare</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                     @for (int i = 0; i < _psxdetails_1.Count; i++)
                                     {
                                    <tr>
                                        @if (_psxdetails_1[i].PAXTYPE == "ADT")
                                        {
                                            adultcount++;
                                            adultcountServicecharge += Convert.ToInt32(_psxdetails_1[i].ServiceCharge);
                                            adt_dis = "servicepaxdisplay_block";
                                            str_ComPaxType = "Adult";
                                        }
                                        else if (_psxdetails_1[i].PAXTYPE == "CHD")
                                        {
                                            childcount++;
                                            childcountServicecharge += Convert.ToInt32(_psxdetails_1[i].ServiceCharge);
                                            chd_dis = "servicepaxdisplay_block";
                                            str_ComPaxType = "Child";
                                        }
                                        else if (_psxdetails_1[i].PAXTYPE == "INF")
                                        {
                                            infantcount++;
                                            infantcountServicecharge += Convert.ToInt32(_psxdetails_1[i].ServiceCharge);
                                            inf_dis = "servicepaxdisplay_block";
                                            str_ComPaxType = "Infant";
                                        }
                                        
                                       <td data-title="Title :" class="com-pading">@_psxdetails_1[i].Title</td>
                                        <td data-title="First Name :" class="com-pading">@_psxdetails_1[i].First</td>
                                       <td data-title="Last Name :" class="com-pading">@_psxdetails_1[i].LASTNAME</td>
                                       <td data-title="Passenger Type :" class="com-pading">@str_ComPaxType </td>
                                       <td data-title="DOB :" class="com-pading">@_psxdetails_1[i].DATEOFBIRTH</td>
                                       <td data-title="Ticket No :" class="com-pading">@_psxdetails_1[i].TICKETNO</td>
                                       <td data-title="Fare :" class="com-pading">@_psxdetails_1[i].GROSSFARE</td>
                                    </tr>
                                     }
                                    <tr>
                                       <td colspan="6" style="text-align:right; background-color:#CCC;color:#000" class="hidden-xs"><span class="GrossFareHilight" style="font-weight: 800;
                                          font-size: 15px;font-family: sans-serif;" >Total Gross Fare @Session["App_currency"] != @null && @Session["App_currency"] != "" ? @Session["App_currency"].ToString() : @System.Configuration.ConfigurationManager.AppSettings["currency"].ToString()</span></td>
                                       <td style=" background-color:#CCC;color:#000" data-title="Total Gross Fare @assignedcurrency :" class="com-pading"><span class="GrossFareHilight" style="font-weight: 800;
                                          font-size: 15px;" >@totalfare.Replace("\"", " ").Replace("\"", " ")</span></td>
                                    </tr>

                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>  
                   
                     <div class="row row5" style="margin-bottom: 10px;">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-3" >
                        <a class="clsButton" onclick="Print_return()" style="cursor:pointer;">Print Ticket</a>
                     </div>
                     <div class="col-lg-2 col0">
                     
                         <div class="cntr">
                        <input style="display: none;" id="Chk_fare"  class="cb" type="checkbox"/>
                        <label class="cbx" for="Chk_fare"style="float: left;margin: 10px;"></label>
                        <label class="lbl" for="Chk_fare" style="float: left;margin: 5px;">With Fare</label>
                        </div>
                     </div>

                      @if (_psxdetails_1.Count > 1)
                      {
                          strcls_show = "display:block;";
                      }
                      else
                      {
                          strcls_show = "display:none;";
                      }
                      <div class="col-lg-2 col5" style="@strcls_show">
                         <div class="cntr">
                        <input style="display: none;" id="Chk_fare2"  class="cb" type="checkbox"/>
                        <label class="cbx" for="Chk_fare2" style="float: left;margin: 10px;"></label>
                        <label class="lbl" for="Chk_fare2" style="float: left;margin: 5px;">Single Ticket</label>
                        </div>


                       @* <input type="checkbox" id="Chk_fare1"  style="float: left;margin: 10px 0px 0px; "/>
                        <label for="Chk_fare1" style="float: left;margin: 5px;">Single Ticket</label>*@
                     </div>
                  </div> 
                         
               </div>
            </div>
         </div>
      </center>   
}
else
{
    <div class="Booking_error" id="errordetails" style="background: rgba(0,0,0,0.3); text-align: center; margin: 20px; height: 200px; position: relative;">
        <div class="row">
            <div class="col-lg-12">

                <h3 class="clsMyLabel" style="color: #fff;"><i class="fa fa-times" aria-hidden="true" style="font-size: 15px; border: 1px solid red; border-radius: 50%; background: red; color: #fff; padding: 2px 4px;"></i>Ticket Booking Failed  !...</h3>


                <div class="clsnofltfilterouter" style="font-size: 14px; margin: 15px; padding: 5px; box-shadow: 0px 0px 1px 2px #fff; border-radius: 4px; color: #fff; font-weight: 600;">
                    <div><i class="fa fa-frown-o" style="font-size: 25px;"></i></div>
                    <p style="" id="errormessage">
                        @ViewBag.totalfare
                    </p>
                    <p>(or)</p>
                    <p>Please refind search again...</p>
                </div>
            </div>
        </div>
    </div>
}





<div class="modal fade" id="modal-servicecharge" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" style="top: 20%;">
        <div class="modal-content">
            <div class="modal-body clsPopupBody" style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header paymentpopups">
                            Service Charge
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="row" style="margin: 15px;">
                        <div class="col-lg-4 col-lg-offset-4 col-xs-12" style="text-align: left; margin-bottom: 15px;">
                            <p class="validateTips" style="text-align: center">Additional Amounts</p>
                        </div>
                        <div class="col-lg-12">
                            <div class="row @adt_dis" id="adtRow" style="display: none;" >

                                <div class="col-lg-4 col-xs-4" style="text-align: center;">
                                    <p id="TAdult">Adult</p>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    *<span id="TAdultcnt"></span>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <input name="txtadult" type="text" id="txtadult" maxlength="5" style="width: 75%;" onkeypress="isNumericVal(event)" value="0" class="TxTextbox">
                                </div>
                            </div>

                            <div class="row @chd_dis" id="chdRow" style="display: none;">

                                <div class="col-lg-4 col-xs-4" style="text-align: center;">
                                    <p id="TChild">Child</p>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    *<span id="TChildcnt"></span>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <input name="txtadult" type="text" id="txtChild" maxlength="5" style="width: 75%;" onkeypress="isNumericVal(event)" value="0" class="TxTextbox">
                                </div>
                            </div>

                            <div class="row @inf_dis" id="infRow" style="display: none;">

                                <div class="col-lg-4 col-xs-4" style="text-align: center;">
                                    <p id="TInfant">Infant</p>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    *<span id="Tinfantcnt"></span>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <input name="txtadult" type="text" id="txtinfant" maxlength="5" style="width: 75%;" onkeypress="isNumericVal(event)" value="0" class="TxTextbox">
                                </div>
                            </div>


                        </div>

                    </div>
                    <hr />
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-offset-3 col-md-3 col-xs-6">
                            <button value="Ok" class="btn btn-md btn-primary width100per" id="btnpaymentOK" onclick="updateservicecharge()" style="height: auto !important;">
                                Submit
                                <i id="iLoading" class="fa fa-spinner fa-spin" style="font-size: 25px; color: #292929; display: none; color: #fff; margin-top: -20px; margin-left: 80px;"></i>
                            </button>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-md btn-danger width100per" id="btnclosepops" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hdnadultservice_" value="" />
<input type="hidden" id="hdnchildservice_" value="" />
<input type="hidden" id="hdninfservice_" value="" />
<input type="hidden" id="SPNR" value="" />

<script src="~/js/AppsJS/AvailSelect.js?@fileversion"></script>

<script>

    var Asyncbookingres_update = '@Url.Action("Asyncbookingresponse", "Booking")';
    var BookingStatus = '@ViewBag.toticket_resultcode';
    if (BookingStatus == true) {
        servicepopupshow();
    }


    $("#hdnadultservice_").val('@adultcountServicecharge');
    $("#hdnchildservice_").val('@childcountServicecharge');
    $("#hdninfservice_").val('@infantcountServicecharge');

    var Adt_Servicecharge = $("#hdnadultservice_").val();
    var Chd_Servicecharge = $("#hdnchildservice_").val();
    var Inf_Servicecharge = $("#hdninfservice_").val();

    $("#txtadult").val(Adt_Servicecharge);
    $("#txtChild").val(Chd_Servicecharge);
    $("#txtinfant").val(Inf_Servicecharge);

    $("#Tinfantcnt").html('@infantcount');
    $("#TChildcnt").html('@childcount');
    $("#TAdultcnt").html('@adultcount');

    $("#SPNR").val($("#S_pnr").val());

    BookingRes_Json = '@Html.Raw(ViewBag.bookingresponse)';


    if (BookingRes_Json != null && BookingRes_Json != "") {

        var responsejson = JSON.parse(BookingRes_Json);
        asyncafterbooking(JSON.stringify(responsejson), "");
    }


    var servicechargeupdate = '@Url.Action("InsertServiceAmount", "Booking")';

    function updateservicecharge() {


        var bValid = true;
        //allFields.removeClass("ui-state-error");
        //$('#lod').css("display", "block");
        this.enabled = false;
        if (document.getElementById("hdnadultservice_").value == document.getElementById("txtadult").value && document.getElementById("hdnchildservice_").value == document.getElementById("txtChild").value && document.getElementById("hdninfservice_").value == document.getElementById("txtinfant").value) {
            $("#modal-servicecharge").modal("hide");
        }
        else {

            $("#iLoading").css("display", "block");

            $.ajax({
                type: "POST", 		//GET or POST or PUT or DELETE verb
                url: servicechargeupdate, 		// Location of the service
                data: '{AdultAmount: "' + $("#txtadult").val() + '" ,ChildAmount: "' + $("#txtChild").val() + '" ,InfantAmount: "' + $("#txtinfant").val() + '",SPNR: "' + $("#SPNR").val() + '"}',//,CancelationStatus: "' + $("#hdnPax")[0].value + '" ,BlockTicket: "' + BlockTicket + '",PaymentMode: "' + $("#ddlPaymode").val() + '",TourCode: "' + $("#Tour_Code").val() + '"}',
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {//On Successful service call

                    var result = json.Result
                    $("#iLoading").css("display", "none");
                    if (result[1] != "") {
                        bValid = result[1];
                        var service_amt = 0;
                        if ($("#txtadult").val() != null && $("#txtadult").val() != "") {
                            service_amt = parseInt(service_amt) + parseInt($("#txtadult").val());
                        }
                        if ($("#txtChild").val() != null && $("#txtChild").val() != "") {
                            service_amt = parseInt(service_amt) + parseInt($("#txtChild").val());
                        }
                        if ($("#txtinfant").val() != null && $("#txtinfant").val() != "") {
                            service_amt = parseInt(service_amt) + parseInt($("#txtinfant").val());
                        }
                        alert(result[1]);

                    }
                    else {
                        bValid = result[1];
                        showerralert(result[0]);
                        // alert(result[0]);
                        //  $.unblockUI();

                    }
                    $("#modal-servicecharge").modal("hide");
                },
                error: function (e) {//On Successful service call            

                    LogDetails(e.responseText, e.status, "InsertServiceAmount");

                    if (e.status == "500") {
                        alert("Session has been Expired.");
                        window.top.location = sessionExb;
                        return false;
                    }
                    $("#modal-servicecharge").modal("hide");

                }	// When Service call fails

            });

        }
        //$("#modal-servicecharge").modal("hide");


    }

    function servicepopupshow() {

        $("#modal-servicecharge").modal({
            backdrop: 'static',
            keyboard: false
        });
    }


    function Print_return() {


        Pnr = document.getElementById('txt_viewSPNR').value;
        if (document.getElementById("Chk_fare").checked == true)
            var fare = "yes";
        else
            fare = "no";
        if (document.getElementById("Chk_fare2").checked == true)
            var single = "yes";
        else
            single = "no";
        if ($(window).width() < 768) { //For Mobile View...
            var iurl = "@Url.Action("PrintTickets", "AfterBooking")" + "?strSPNRNO=" + Pnr + "|" + fare + "&single=" + single + "&Page=" + "T";
            var ititle = "Print Ticket";
            var isubtitle = "";
            var ifull = false;
            IziModalIFramePop(iurl, ititle, isubtitle, ifull);
        }
        else {
            newwindow = window.open("@Url.Action("PrintTickets", "AfterBooking")" + "?strSPNRNO=" + Pnr + "|" + fare + "&single=" + single + "&Page=" + "T");
        }
        if (window.focus) { newwindow.focus() }
        return false;


    }

</script>
