@{
    ViewBag.Title = "ManageBooking";
    string strProducttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"];
    string Fileversion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string DateValidation = System.Configuration.ConfigurationManager.AppSettings["Reportdatecheck"].ToString();
    string strTheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"];
}


<link href="~/Content/CSS/Controlpanel.css?@Fileversion" rel="stylesheet" />
<link href="~/Content/CSS/DTBL/Boostrap-table.css?@Fileversion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.base.css?@Fileversion" rel="stylesheet" />
<link href="~/js/jqxtable/jqx.energyblue.css?@Fileversion" rel="stylesheet" />
<link href="~/Content/CSS/w2ui-1.5.css" rel="stylesheet" />
<script src="~/js/commontable_boostrap.js?@Fileversion"></script>
<script src="~/js/AppsJS/AvailSelect.js?@Fileversion"></script>
<script src="~/js/jqxtable/jqx-all.js?@Fileversion"></script>
<script src="~/js/jqxtable/jqxchart.core.js?@Fileversion"></script>
<script src="~/js/jqxtable/jqxcore.js?@Fileversion"></script>
<script src="~/js/jqxtable/modernizr.js?@Fileversion"></script>
<script src="~/js/AppsJS/AppsJs.js?@Fileversion"></script>
<script src="~/js/moment.min.js?@Fileversion"></script>
<script src="~/js/DTBL/Bootstrap-table.js?@Fileversion"></script>
<script src="~/js/w2ui-1.5.js"></script>
<script src="~/js/CommonJS/bootstrap-typeahead.js?@Fileversion"></script>
<link href="~/Content/CSS/@strTheme/CommonVisa.css?@Fileversion" rel="stylesheet" />
<link href="~/Content/CSS/Search/jquerycalender-new.css" rel="stylesheet" />
<style>
    @@media screen and (max-width: 768px) and (min-width: 250px) {
        #avoidpaddtop {
            padding-top: 0px !important;
        }
    }

    @@media screen and (max-width: 1500px) and (min-width: 769px) {
        #avoidpaddtop {
            padding-top: 0px;
        }
    }

    .Viewtotal {
        color: white;
        background-color: #2a9ee7;
    }

    #viewpnrdetailstable > tbody > tr:nth-of-type(odd) {
        background-color: #FFF !important;
        border: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd !important;
    }

    #viewpnrdetailstable > tbody > tr > .farecls {
        padding: 30px !important;
    }

    #viewpnrdetailstable > thead > tr > th > label {
        text-transform: none !important;
    }

    #viewpnrdetailstable > tbody > tr > td {
        border-right: 1px solid #ddd !important;
        border: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd !important;
    }

    @@media (max-width:768px) {
        #viewpnrdetailstable > tbody > tr > .farecls {
            padding: 10px !important;
            padding-left: 50% !important;
        }

        #viewpnrdetailstable > tbody > tr > td {
            border-right: 1px solid #ddd !important;
            border: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
            padding-left: 48% !important;
        }

        #viewpnrdetailstable.table td, .table th {
            max-width: none !important;
        }
    }

    .mouseover_bkh:hover {
        background-color: #4CAF50;
    }

    .vpnrtbl {
        background-size: 100% 200%;
        background-color: #e0e0e0;
    }

        .vpnrtbl:hover {
        }

        .vpnrtbl.table > tbody > tr > td, .vpnrtbl.table > tbody > tr > th {
            text-align: left !important;
        }

        .vpnrtb2.table > tbody > tr > td > .leftaln, .vpnrtbl.table > tbody > tr > th {
        }

    .vpnrtb2 {
        background-size: 100% 200%;
        background-color: #e0e0e0;
    }

    .rotate_a {
        -moz-transition: all 1s linear;
        -webkit-transition: all 1s linear;
        transition: all 1s linear;
    }

        .rotate_a.down {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .rotate_b {
        -moz-transition: all 1s linear;
        -webkit-transition: all 1s linear;
        transition: all 1s linear;
    }

        .rotate_b.down {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .rotate_c {
        -moz-transition: all 1s linear;
        -webkit-transition: all 1s linear;
        transition: all 1s linear;
    }

        .rotate_c.down {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .maindivcontact {
        text-align: left;
        margin-bottom: 15px;
        max-height: 300px;
        overflow-y: auto;
    }
    .TxbrBandNew{  
     width: 100%;
    background-color: #e4e4e4;
    padding: 5px 10px;
    font-size: 14px;
    color: #263f4e;
    margin-bottom: 0px !important;
    float: left;
    text-align: left;
    }
</style>
<style>
    .clsFareruleSelect {
        font-size: 15px;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid #a9a9a9;
        padding: 5px 10px;
        background: #d3d3d3;
        color: #000;
        float: left;
        background-color: #d3d3d3;
        color: #000000;
        border-color: #a9a9a9;
    }

    .clsSgFareRule {
        width: 100%;
        float: left;
        padding-top: 10px;
        border: 1px dashed #a9a9a9;
        padding-left: 5px;
        color: #000 !important;
        background: #d3d3d3;
    }

    .clsRuleHead {
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        /* border-bottom: 1px dashed; */
        padding: 10px 0px;
        color: #000;
        cursor: pointer;
    }

    .clsFaretextArea:read-only {
        width: 100%;
        /* height: 450px; */
        border: #fff;
        color: black;
        background: #efefef;
        display: none;
    }

    .clsFaretextArea {
        width: 100%;
        /* height: 450px; */
        border: #fff;
        color: black;
        background: #efefef;
        display: none;
    }

    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        /*background-color: #f5f5f5;*/
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<style>
    .rescheduleavail {
        opacity: 1 !important;
        -webkit-appearance: radio !important;
        height: 15px !important;
        position: inherit !important;
    }

    .btn-gradient-primary {
        font-weight: 600;
        font-size: 12px;
        width: 100% !important;
        border-radius: 2px !important;
        border: none !important;
        padding: 10px !important;
        color: #fff;
        font-family: sans-serif;
        padding: 1rem 3rem;
        letter-spacing: .3px;
        outline: 0 !important;
        font-weight: 700;
        border-radius: 2rem;
        -webkit-transition: .5s;
        -o-transition: .5s;
        -moz-transition: .5s;
        transition: .5s;
        background-image: -webkit-gradient(linear,left top,right top,from(#cc4646),color-stop(51%,#c92a2a),to(#ffffff));
        background-image: -webkit-linear-gradient(left,#cc4646 0,#c92a2a 51%,#ffffff 100%);
        background-image: -moz-linear-gradient(left,#cc4646 0,#c92a2a 51%,#ffffff 100%);
        background-image: -o-linear-gradient(left,#cc4646 0,#c92a2a 51%,#ffffff 100%);
        background-image: linear-gradient(to right,#cc4646 0,#c92a2a 51%,#ffffff 100%);
        background-position: left center;
        -webkit-background-size: 200% auto;
        background-size: 200% auto;
    }
    .CSSTableGenerator{
    width: 100%;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #e4e4e4 !important
    }
    .trClass{
        border: 1px solid #e4e4e4;
        height: 30px;
    padding-right: 30px;
    }
    .thClass{
border-right:1px solid #e4e4e4;
padding-left: 10px;
    }
    .tdClass{
border-right:1px solid #e4e4e4;
  height: 30px;
    padding-left: 30px;
    }
</style>

<div class="inner-tab p-t-25 fadeInDownSmall container-fluid rbcon">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12  inner-tab p-t-25 fadeInDownSmall" id="avoidpaddtop" style="padding: 0px">
            <div class="flt-rt txt-al-rgt theme_clr cursor-point" id="back_srch" style="margin-top:0px" onclick="BacktoSearch()"><i class="fa fa-home" style="padding-right: 10px;"></i>Home</div>
            <div class="tabs tabs-style-topline" id="ChartTabspnr" style="margin-top: 10px">
                <nav>
                    <ul>
                        <li class="p_1 comman" id="bhkhis">
                            <a href="#" class="fa fa-book ">
                                <span>Booked History</span>
                            </a>
                        </li>
                        <li class="p_2 comman" id="viewpnr">
                            <a href="#" class="fa fa-street-view">
                                <span>PNR Verification</span>
                            </a>
                        </li>
                     </ul>
                </nav>
                <div class="mycss-content-wrap">
                    <div class="content-wrap" id="tab1">
                        <section id="section-topline-1">
                            <!-- slide-->
                            <div class="row">
                                @Html.Partial("BookedHistory")
                            </div>
                        </section>
                        <section id="section-topline-2">
                            <div class="row">
                                @Html.Partial("ViewPNR")
                            </div>
                        </section>
                      </div>
                </div>
                <!-- /content -->
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="margin-bottom: 15px">
        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
            <div id="ctrlpaneldetailsupdate">
                <div class="message_wrap showhide">
                    <p class="message">
                        <span id="dvGrpBkngerr_msg" class="error">All field(s) should not be empty.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnApprovePnrTckt" value=""/>
<input type="hidden" id="hdnViewPnrTckt" value=""/>

<script src="~/js/commontable_boostrap.js?@Fileversion"></script>
<script src="~/js/cbpFWTabs.js?@Fileversion"></script>
<script src="~/js/Slider/jquery.easing.1.3.js?@Fileversion"></script>
<script src="~/js/jquery.nice-select.js?@Fileversion"></script>
<script src="~/js/CommonJS/jquery-ui-new.js"></script>
<script>
    var errPdiv = "dvGrpBkngerr", errdiv_msg = "dvGrpBkngerr_msg";
    var errPdiv_pnr = "dvGrpBkngerr_view", errdiv_msg_pnr = "dvGrpBkngerr_msg_viewpnr";
    $(document).ready(function () {
        var options = {
            start: "@ViewBag.tabflag"
        };
        new CBPFWTabs(document.getElementById('ChartTabspnr'), options);
        $('.clscmbanim').niceSelect();
        var Flag = '@ViewBag.FlagKeys';
        if (Flag == "B") {
            $("#section-topline-1").addClass("content-current");
            $("#section-topline-2").removeClass("content-current");
            $("#viewpnr").removeClass("tab-current");
            $("#bhkhis").addClass("tab-current");
            BtnClear();
        } else {

            $("#section-topline-1").removeClass("content-current");
            $("#section-topline-2").addClass("content-current");
            $("#dvDownloadPDF").css("display", "none");
            $("#bhkhis").removeClass("tab-current");
            $("#viewpnr").addClass("tab-current");
            ClearPNR();
        }
    });
    var currentDate = "@ViewBag.ServerDateTime";
    function GetBookedHistory() {

        var RiyaPNR = $("#txtSPNR").val();
        var FromDate = $("#txtFromDate").val();
        var ToDate = $("#txtToDate").val();
        var Status = $("#ddlstatus").val();

        $.blockUI({
            message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        var Param = {
            strRiyaPNR: RiyaPNR,
            strFromDate: FromDate,
            strToDate: ToDate,
            strStatus: Status
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("FetchVisaBookedHistory", "Visa")",
            data: JSON.stringify(Param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {

                $.unblockUI();
                if (json.Results[1] != null && json.Results[1] != "") {
                    var jsondata = JSON.parse(json.Results[1]);
                    var jsndata = jsondata["P_FETCH_THAIVISA_BOOKED_HISTORY"];
                    if (jsndata.length > 0) {
                        CreateTable(jsndata);
                        $("#Btn_excel").css("display", "block");
                        $("#dvGrpBkngerr").css("display", "none");
                    }
                    else {
                        $("#dvgrid").css("display", "none");
                        $("#Btn_excel").css("display", "none");
                        $("#dvGrpBkngerr").css("display", "block");
                        showError("No Records Found", errPdiv, errdiv_msg, "");
                        return false;
                    }
                }
                else {
                    $("#dvgrid").css("display", "none");
                    $("#Btn_excel").css("display", "none");
                    $("#dvGrpBkngerr").css("display", "block");
                    showError(json.Results[0], errPdiv, errdiv_msg, "");
                    return false;
                }

            },
            error: function (e) {
                if (e.status == "500") {
                    $.unblockUI();
                    $("#dvGrpBkngerr").css("display", "block");
                    showError("An Internal Problem Occurred. Your Session will Expire.", cancel_errPdiv, cancel_errdiv_msg, "");
                    window.top.location = sessionExb;
                    return false;
                }
            }
        });
    }

    function CreateTable(data) {

        var columns = [];
        var json = data
        $.each(json[0], function (obj, val) {
            if (obj == "Track ID") {
                columns.push({ field: obj, caption: obj, size: "250px", resizable: true, sortable: true, attr: "align=left" });
            }
            else if(obj == "S PNR"){
                columns.push({
                    field: obj, caption: obj, size: '160px', resizable: true, sortable: true,
                    render: function (record, index, column_index) {
                        var html = '<a class="boa-clr" style="color:#0000ff;cursor: pointer !important;" id="printSPRValue' + index + '" data-refid=' + record["S PNR"] + ' onclick="javascript:OTAappsFunction(this,' + "'" + record["STATUS"] + "'" + ',' + "'" + record["VOD_DOCUMENT_PATH"] + "'" + ');">' + record["S PNR"] + '</a>';
                        return html;
                    }
                });
            }
            else if (obj == "Visa No") {
                columns.push({ field: obj, caption: obj, size: "250px", resizable: true, sortable: true, attr: "align=left" });
            }
            else if (obj == "VOD_DOCUMENT_PATH") {
            }
            else{
                columns.push({ field: obj, caption: obj, size: "150px", resizable: true, sortable: true, attr: "align=left" });
            }
        });
        var count = 0;
        for (var i = 0; i < json.length; i++) {
            var object1 = {
                "recid": count++
            }
            $.extend(json[i], object1);
        }
        $("#dvgrid").w2destroy('History');
        $("#dvgrid").css("height", "400px");
        $("#dvgrid").w2grid({
            name: 'History',
            recordHeight: 30,
            show: { footer: true, toolbar: false },
            columns: columns,
            records: json,
            selectType: 'cell',
        });
        $("#dvgrid").show();
        $("#dvgrid").css("display", "block");
    }

    function OTAappsFunction(val, status,URL) {

        $("#hdnApprovePnrTckt").val("");
        $("#dvbookprint").hide();
        $("#txtViewSPNR").val("");
        gridpnr = val.text;
        $("#txtViewSPNR").val(gridpnr);
        sessionStorage.setItem("VisaSPNR", gridpnr);
        $("#txtViewSPNR").addClass("has-content");
        $("#withfare").show();
        $("#chkfareprnt").show();
        $("#pnrpopup").modal({
            backdrop: 'static',
            show: true,
            backdrop: true,
            keyboard: true
        });
        if (URL != "" && URL != null && status.toString().toUpperCase() == "APPROVED") {
            $("#dvbookprint").show();
            $("#hdnApprovePnrTckt").val(URL);
        }
    }

    function VisaApprovePrint(){
        
        var Printurl = $("#hdnApprovePnrTckt").val() != "" && $("#hdnApprovePnrTckt").val() != null ? $("#hdnApprovePnrTckt").val() : "";
        var path = "@System.Configuration.ConfigurationManager.AppSettings["VisaPrintPath"]" != null && "@System.Configuration.ConfigurationManager.AppSettings["VisaPrintPath"]" != "" ? "@System.Configuration.ConfigurationManager.AppSettings["VisaPrintPath"]" : "";
        if (Printurl != "" && path != "") {
            var urlpath = path + Printurl;
            window.open(urlpath);
         }
    }

    function CanOTAappsFunction() {
        $('#pnrpopup').modal('hide');
    }
    function OTAappviewpnrFunction() {

        var Spnr = sessionStorage.getItem("VisaSPNR");
        $("#ChartTabspnr  > nav > ul > li").removeClass("tab-current");
        $("#ChartTabspnr .content-wrap > section").removeClass("content-current");
        var options = {
            start: 1
        };
        new CBPFWTabs(document.getElementById('ChartTabspnr'), options);
        GetViewPNR(Spnr);
    }
    $(document).on('click', "#bhkhis", function () {
    //$("#bhkhis").click(function () {
        $("#section-topline-1").addClass("content-current");
        $("#section-topline-2").removeClass("content-current");
        $("#viewpnr").removeClass("tab-current");
        $("#bhkhis").addClass("tab-current");
        BtnClear();
    });
    $(document).on('click', "#viewpnr", function () {
    //$("#viewpnr").click(function () {
        $("#section-topline-1").removeClass("content-current");
        $("#section-topline-2").addClass("content-current");
        // $("#dvDownloadPDF").css("display", "none");
        $("#bhkhis").removeClass("tab-current");
        $("#viewpnr").addClass("tab-current");
        ClearPNR();
    });
    function GetViewPNR(spnr) {

        $("#section-topline-1").hide();
        $("#section-topline-2").show();

        $("#pnrpopup").modal('hide');
        $("#dvgrid").css("display", "none");
        $("#Btn_excel").css("display", "none");
        var RiyaPNR = (spnr != null && spnr != "" && spnr != undefined && spnr != "undefined" ? spnr:$("#txtViewSPNR").val());
        var RefNo = $("#txtViewRefNo").val();
        if (RiyaPNR == null || RiyaPNR == "" || RiyaPNR == undefined) {
            $("#dvGrpBkngerr_view").css("display", "block");
            showError("Please Enter PNR", errPdiv_pnr, errdiv_msg_pnr, "");
            return false;
        }
        var Param = {
            strRiyaPNR: RiyaPNR,
            strRefNo: RefNo
        }
        $.blockUI({
            message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("FetchVisaViewPNR", "Visa")",
            data: JSON.stringify(Param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {
                $.unblockUI();

                if (json.Results[1] != null && json.Results[1] != "") {
                    var jsondata = JSON.parse(json.Results[1]);
                    CreateViewPNR(jsondata);
                    $("#dvGrpBkngerr_view").css("display", "none");
                }
                else {
                    $("#dvGrpBkngerr_view").css("display", "block");
                    showError(json.Results[0], errPdiv_pnr, errdiv_msg_pnr, "");
                    return false;
                }
            },
            error: function (e) {
                if (e.status == "500") {
                    $.unblockUI();
                    $("#dvGrpBkngerr_view").css("display", "block");
                    showError("An Internal Problem Occurred. Your Session will Expire.", errPdiv_pnr, errdiv_msg_pnr, "");
                    window.top.location = sessionExb;
                    return false;
                }
                else {
                    $.unblockUI();
                    $("#dvGrpBkngerr_view").css("display", "block");
                    showError("Unable to Connect Internal Server.", errPdiv_pnr, errdiv_msg_pnr, "");
                    return false;
                }
            }
        });
    }
    function CreateViewPNR(data) {

        var jsonArr = data;
        var b = "";
        if (jsonArr.P_FETCH_VISA_PNR_VERIFICATION != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION != "") {
            $("#hdnViewPnrTckt").val("");
            $("#dvViewPNR").css("display", "block");
            $("#dvDownloadPDF").css("display", "none");
            $("#dvViewPNR").html("");
            //Visa Details
            b += '<div class="TxbrBandNew">Visa &nbsp;Details</div>';
            b += '<div>';
            b += '<center><table class="CSSTableGenerator no-more-tables">';
            b += '<thead><tr class="trClass">';
            b += '<th class = "thClass">S&nbsp; PNR</th><th class = "thClass">Payment Ref&nbsp;No.</th><th class = "thClass">Visa Type</th><th class = "thClass">Payment Mode</th><th class = "thClass">Travel Start Date</th><th class = "thClass" style="display:none">Travel End Date</th></thead>';
            b += '<tbody><tr>';
            b += '<td data-th="S PNR" data-title="S PNR"  class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["S PNR"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["S PNR"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["S PNR"] : "N/A") + '</td>';
            b += '<td data-th="Visa No." data-title="Visa No." class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Payment Ref No"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Payment Ref No"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Payment Ref No"] : "N/A") + '</td>';
            //   b += '<td data-th="Visa Ref No." data-title="Visa Ref No." class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Visa Ref No"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Visa Ref No"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Visa Ref No"] : "N/A") + '</td>';
            b += '<td data-th="Visa Type" data-title="Visa Type" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Type"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Type"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Type"] : "N/A") + '</td>';
            b += '<td data-th="Payment Mode" data-title="Payment Mode" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Payment Mode"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Payment Mode"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Payment Mode"] : "N/A") + '</td>';
            b += '<td data-th="Travel Start Date" data-title="Travel Start Date" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Travel Start Date"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Travel Start Date"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Travel Start Date"] : "N/A") + '</td>';
            b += '<td data-th="Travel End Date" data-title="Travel End Date" class="tdClass" style="display:none">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Travel End Date"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Travel End Date"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["Travel End Date"] : "N/A") + '</td>';
            b += '</tbody></tr>';
            b += '</table></center>';
            b += '</div>';
            var DocumentPath = jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["VOD_DOCUMENT_PATH"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["VOD_DOCUMENT_PATH"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION[0]["VOD_DOCUMENT_PATH"] : "";
            $("#hdnViewPnrTckt").val(DocumentPath);
            //Passenger Details
            if (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1 != "" && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1 != null) {
                b += '<div class="TxbrBandNew">Passenger&nbsp;Details</div>';
                b += '<div>';
                b += '<center><table class="CSSTableGenerator no-more-tables">';
                b += '<thead><tr class="trClass">';
                b += '<th class="thClass">Visa Ref No.</th><th class="thClass">Passenger&nbsp;Name</th><th class="thClass">Gender</th><th class="thClass">Status</th><th class="thClass">Passport&nbsp;No.</th><th class="thClass">Passport Issued Country</th><th class="thClass" style="display:none">Visit&nbsp;Country</th><th class="thClass" style="display:none">Visit City</th></tr></thead>';

                for (var a = 0; a < jsonArr.P_FETCH_VISA_PNR_VERIFICATION1.length; a++) {
                    b += '<tbody><tr>';
                    b += '<td data-th="Visa Ref No." data-title="Visa Ref No." class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visa Ref No"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visa Ref No"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visa Ref No"] : "N/A") + '</td>';
                    b += '<td data-th="Passenger Name" data-title="Passenger Name" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passenger Name"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passenger Name"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passenger Name"] : "N/A") + '</td>';
                    b += '<td data-th="Gender" data-title="Gender" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Gender"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Gender"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Gender"] : "N/A") + '</td>';
                    b += '<td data-th="Status" data-title="Status" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Status"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Status"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Status"] : "N/A") + '</td>';
                    b += '<td data-th="Passport&nbsp;No." data-title="Passport&nbsp;No." class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passport No"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passport No"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passport No"] : "N/A") + '</td>';
                    b += '<td data-th="Passport Issued Country" data-title="Passport Issued Country" class="tdClass">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passport Issued"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passport Issued"] != "" ? LoadCountry(jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Passport Issued"]) : "N/A") + '</td>';
                    b += '<td data-th="Visit&nbsp;Country" data-title="Visit&nbsp;Country" class="tdClass" style="display:none">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visit Country"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visit Country"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visit Country"] : "N/A") + '</td>';
                    b += '<td data-th="Visit City" data-title="Visit City" class="tdClass" style="display:none">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visit City"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visit City"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Visit City"] : "N/A") + '</td>';
                    b += '</tbody></tr>';
                    var VisPNRstatus = jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Status"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Status"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION1[a]["Status"] : "N/A";
                    if (VisPNRstatus.toString().toUpperCase() == "APPROVED" && $("#hdnViewPnrTckt").val() != "") {
                        $("#dvDownloadPDF").css("display", "block");
                    } else { $("#dvDownloadPDF").css("display", "none"); }
                }

                b += '</table></center>';
                b += '</div>';
            }
            //Agency Details
            b += '<div class="Viewpnr" style="background-color:white"><div>'
            b += '<div class="Viewbraddress">';
            b += '<table border="0" class="Viewbrleft" style="display:block;"><tbody style="font-size: 12px;float:left;width:100%;">';
            b += '<tr style="background: #ccc;float: left;width: 100%;"><th colspan="3" style="text-align: left;" class="TxbrBandNew"> Client Details </th></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Agent ID</td><td style="text-align:center;">:</td><td style="text-align: right; padding-right: 0px;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Agent ID"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Agent ID"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Agent ID"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Terminal ID</td><td style="text-align:center;">:</td><td style="text-align: right; padding-right: 0px;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Terminal ID"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Terminal ID"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Terminal ID"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Name</td><td style="text-align:center;">:</td><td style="text-align: right;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Client Name"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Client Name"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Client Name"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Phone&nbsp;No.</td><td style="text-align:center;">:</td>';

            b += '<td style="text-align: right;" >' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Contact No"] != null ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Contact No"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Email</td><td style="text-align: center">:</td>';
            b += '<td style="text-align: right;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Email ID"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Email ID"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Email ID"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Address</td><td style="text-align: center">:</td>';
            b += '<td style="text-align: right;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Address"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Address"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Address"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Issued By</td><td style="text-align:center;">:</td><td style="text-align: right; padding-right: 0px;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Issued By"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Issued By"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Issued By"] : "N/A") + '</td></tr>';
            b += '<tr style="line-height: 37px;"><td style="text-align:left;font-size: 14px;padding-left: 15px;">Issued Date</td><td style="text-align:center;">:</td><td style="text-align: right; padding-right: 0px;">' + (jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Issued Date"] != null && jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Issued Date"] != "" ? jsonArr.P_FETCH_VISA_PNR_VERIFICATION2[0]["Issued Date"] : "N/A") + '</td></tr>';
            b += '</tbody></table>';
            b += '</div>';
            //fare

            $("#dvViewPNR").html(b);
            $("#dvViewPNR").css("display", "block")
            $("#dvViewPNR").css("display", "block")
        }
    }
    function BtnClear() {

        $("#txtSPNR").val("");
        $("#txtFromDate").val(currentDate);
        $("#txtFromDate").addClass("has-content");
        $("#txtFromDate").datepicker({
            maxDate: currentDate, dateFormat: "dd/mm/yy",
        });
        $("#txtToDate").val(currentDate);
        $("#txtToDate").addClass("has-content");
        $("#txtToDate").datepicker({
            minDate: $("#txtFromDate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy",
        });
        $("#txtFromDate").on('change keyup paste', function () {
            $("#txtToDate").datepicker("destroy");
            $("#txtToDate").datepicker({
                minDate: $("#txtFromDate").val(), maxDate: currentDate, dateFormat: "dd/mm/yy"
            });
        });
        $("#dvGrpBkngerr").css("display", "none");
        $("#dvgrid").css("display", "none");
        $("#Btn_excel").css("display", "none");
    }
    function ClearPNR() {
        $("#txtViewSPNR").val("");
        $("#txtViewRefNo").val("");
        $("#dvGrpBkngerr_view").css("display", "none");
        $("#dvViewPNR").css("display", "none");
        $("#dvDownloadPDF").css("display", "none");
    }

    //PDF
    function FetchVisaPDF() {

        // $("#dvViewPNR").css("display", "none");
        var SPNR = $("#txtViewSPNR").val();
        if (SPNR == null || SPNR == "") {
            $("#dvGrpBkngerr_view").css("display", "block");
            showError("Please Enter PNR", errPdiv_pnr, errdiv_msg_pnr, "");
            $("#txtViewSPNR").focus();
            return false;
        }

        var Param = {
            strSPNR: SPNR
        }
        $.blockUI({
            message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
            css: { padding: '5px' }
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetVisaPDF", "Visa")",
            data: JSON.stringify(Param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {

                $.unblockUI();
                if (json.Results[0] != null && json.Results[0] != "") {
                    $("#dvGrpBkngerr_view").css("display", "block");
                    showError(json.Results[0], errPdiv_pnr, errdiv_msg_pnr, "");
                    return false;
                }
            },
            error: function (e) {
                if (e.status == "500") {
                    $.unblockUI();
                    $("#dvGrpBkngerr_view").css("display", "block");
                    showError("An Internal Problem Occurred. Your Session will Expire.", errPdiv_pnr, errdiv_msg_pnr, "");
                    window.top.location = sessionExb;
                    return false;
                }
            }
        });

    }

    function showError(msg, errPtagid, errtagid, focusid) {

        $("#" + errPtagid).addClass("has_error");
        $("#" + errPtagid + " .message").addClass("animation");
        $("#" + errtagid).addClass("error_active");
        setTimeout(function () {
            $("#" + errPtagid + " .message").removeClass("animation");
        }, 200);
        $("#" + errtagid).html(msg);

        if (focusid != "")
            $('#focusid').focus();
    }

    function BacktoSearch() {
        window.location.href = "@Url.Action("Visa", "Visa")";
    }

    function LoadCountry(id)
    {
        var CountryName = "";
        $.ajax({
            url: '@Url.Content("~/XML/Country.xml")',
            dataType: "xml",
            async: false,
            success: function (xml) {
                $(xml).find('COUNTRYDET').each(function () {
                    var name = $(this).find('Name').text();
                    if ($(this).find('ID').text() == id) {
                        CountryName = name;
                    }
                });
            },
            error: function (e) {
                alert("Unable to load Countrty Xml.Please contact support team");
            }
        });
        return CountryName;
    }

    function FetchVisaDownloadtckt() {
        
        var ViewPnrtckt = $("#hdnViewPnrTckt").val() != null && $("#hdnViewPnrTckt").val() != "" ? $("#hdnViewPnrTckt").val() : "";
        var path = "@System.Configuration.ConfigurationManager.AppSettings["VisaPrintPath"]" != null && "@System.Configuration.ConfigurationManager.AppSettings["VisaPrintPath"]" != "" ? "@System.Configuration.ConfigurationManager.AppSettings["VisaPrintPath"]" : "";
        if (ViewPnrtckt != "" && path != "") {
            var urlpath = path + ViewPnrtckt;
            window.open(urlpath);
        }
    }
</script>