@using STSTRAVRAYS.Models;

@{
    ViewBag.Title = "PGRedirectPage";
    List<RQRS.ApplicantDetails> _lstAppDet = ViewBag.strPassengerDetail;
    RQRS.Booking_RS _BookingResponse = new RQRS.Booking_RS();
    // RQRS.ApplicantDetails lstApplDetails = ViewBag.strPassengerDetail;   
    _BookingResponse = ViewBag.strBookingResponse;
    List<RQRS.ReferenceList> _lstRefList = new List<RQRS.ReferenceList>();
    RQRS.ReferenceList _RefList = new RQRS.ReferenceList();
    //string TrackID = ViewBag.strTrackID != null ? ViewBag.strTrackID : "";
    string strPaxCount = ViewBag.strPaxCount;
    int PaxCount = strPaxCount != null ? Convert.ToInt32(strPaxCount) : 0;
    string strpayment = ViewBag.strPayment;
    string strBooking = ViewBag.strBooking;
    string strError = ViewBag.BookExp;
    string strPGErrorMsg = ViewBag.PGErrorMsg;
    string strBookingErr = ViewBag.strBookErr;
    string strProducttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"];
    string strImageURL = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();
}
<link href="~/Content/CSS/Theme4/ThaiVisa.css" rel="stylesheet" />
<link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />

@*<h2>PGRedirectPage</h2>*@
<style>
    .clsalign {
        text-align: center;
        color: green;
    }

    .clsfail {
        text-align: center;
        color: darkred;
    }

    .clslbl {
        font-size: 15px;
        font-weight: 600 !important;
    }
</style>
<div class="bg-full">
    <div class="container payment ">
        <div class="pg_paymentcont">
            @if (strpayment == "CAPTURED" && strBooking == "SUCCESS" && strError == "")
            {
                <img src="@strImageURL/@strProducttype/Visa/success.png" />
                <h3 class="clsalign">Your Visa has been booked Successfully</h3>
            }
            else if (strpayment == "FAILED" && strError == "")
            {
                <img src="@strImageURL/@strProducttype/Visa/Payment-error.png" />
                <h3 class="clsfail">@strPGErrorMsg</h3>
                <h3 class="clsfail">Please Contact Support Team</h3>
            }
            else if (strpayment == "CAPTURED" && strBooking == "FAILED" && strError == "" && strBookingErr != "")
            {
                <img src="@strImageURL/@strProducttype/Visa/Visa-Booking-Success.png" />
                <h3 class="clsalign">Your Payment Received Successfully.</h3>
                <h3 class="clsfail">@strBookingErr</h3>
                <h3 class="clsfail">Please Contact Support Team</h3>
            }
            else if (strpayment == "CAPTURED" && strBooking == "FAILED" && strError == "" && strBookingErr == "")
            {
                <img src="@strImageURL/@strProducttype/Visa/Visa-Booking-Success.png" />
                <h3 class="clsalign">Your Payment Received Successfully.</h3>
                <h3 class="clsfail">@strPGErrorMsg</h3>
                <h3 class="clsfail">Please Contact Support Team</h3>
            }
            else if (strBookingErr != null && strBookingErr != "")
            {
                <img src="@strImageURL/@strProducttype/Visa/Visa-Booking-Success.png" />
                <h3 class="clsalign">Your Payment Received Successfully.</h3>
                <h3 class="clsfail">@strBookingErr</h3>
                <h3 class="clsfail">Please Contact Support Team</h3>
            }

            else
            {
                <img src="@strImageURL/@strProducttype/Visa/Error.png" />
                <h3 class="clsfail">@strPGErrorMsg</h3>
                
            }

            <div class="row" style="margin-top: 50px;">
                @if (strError == "" && strPGErrorMsg == "")
            {
                    <div class="col-md-6">
                        <div class="track_id" style="text-align:left;">
                            <label class="clslbl">Booking Track ID :</label>
                            <span>@_BookingResponse.TrackID</span>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="payment_id">
                            <label class="clslbl">Payment Receipt ID : </label>
                            <span>@_BookingResponse.ReferenceList[0].PaymentReceiptRefNumber</span>
                        </div>
                    </div>
                   
                }

            </div>
            @if (strpayment == "CAPTURED" && strBooking == "SUCCESS" && strError == "" && strPGErrorMsg == "")
            {
                <div class="row">
                    <div class="col-md-6" style="padding-right: 294px;">
                        <label class="clslbl" style="text-align:left">SPNR :</label>
                        <span>@_BookingResponse.S_PNR</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="no-more-tables table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center">Name</th>
                                <th style="text-align: center">Mail ID</th>
                                <th style="text-align: center">Mobile Number</th>
                                <th style="text-align:center">Reference Number</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < PaxCount; i++)
                            {
                                <tr>
                                    <td data-title="Name :" class="com-pading">@_lstAppDet[i].ApplicantName</td>
                                    <td data-title="Mail ID :" class="com-pading">@_lstAppDet[i].Email</td>
                                    <td data-title="Mobile :" class="com-pading">@_lstAppDet[i].Mobile</td>
                                    <td data-title="ReferenceNo" class="com-pading">@_BookingResponse.ReferenceList[i].WebReferenceNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>