@{
    ViewBag.Title = "Visa";
    string strPaxcount = ViewBag.VisaPaxCount;
    string strProducttype = System.Configuration.ConfigurationManager.AppSettings["Producttype"];
    int Paxcount = strPaxcount != "" ? Convert.ToInt32(strPaxcount) : 1;
    var strVersion = System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"] != null ? System.Configuration.ConfigurationManager.AppSettings["UpdateVersion"].ToString() : "";
    string strTheme = System.Configuration.ConfigurationManager.AppSettings["apptheme"];
    string strcurrency = System.Configuration.ConfigurationManager.AppSettings["currency"] != null ? System.Configuration.ConfigurationManager.AppSettings["currency"].ToString() : "";
    string strLogoUrl = System.Configuration.ConfigurationManager.AppSettings["LogoUrl"].ToString();

}
<style type="text/css">
     /*.iziModal-noSubtitle*/
    #modal-success .iziModal-header {
        background: #5bbd72 !important;
    }
   
</style>
<link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
<link href="~/Content/CSS/raysModal.css" rel="stylesheet" />
<link href="~/Content/CSS/Search/jquerycalender.css" rel="stylesheet" />
<link href="~/Content/CSS/Component.css" rel="stylesheet" />
<link href="~/Content/CSS/Dahboard/font-awesomemin.css" rel="stylesheet" />
<link href="~/Content/CSS/@strTheme/CommonVisa.css?@strVersion" rel="stylesheet" />

<body>
    <div class="visa-home-page visasearch">
        <div class="_Mtravvisa"></div>
        <div class="container">
            <div class="row">
                <div class="visa_srch pos-rel flt-lft w-100">
                    <div class="col-sm-12 col-xs-12 visa_bg">
                        <div class="col-sm-12 col-xs-12 title_hd">
                            <h1 class="flt-lft w-100">Visa Search</h1> 
                           </div>
                        <div class="col-sm-4 col-xs-12">
                            <label id="" class="flt-lft w-100 fnt-wt-600 font-13">Destination</label>
                            <div class="pos-rel flt-lft w-100">
                                <select id="ddlDestination" class="form_cntrl flt-lft w-100"><option value="">-- Select Country Name --</option></select>
                                <div class="pos-abs icon_fix">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-sm-4 col-xs-12">
                            <label id="" class="flt-lft w-100 fnt-wt-600 font-13">Traveller</label>
                            <div class="pos-rel flt-lft w-100">
                                <select id="ddltraveller" class="form_cntrl flt-lft w-100">
                                    <option value="1">1 Traveller</option>
                                    <option value="2">2 Travellers</option>
                                    <option value="3">3 Travellers</option>
                                    <option value="4">4 Travellers</option>
                                    <option value="5">5 Travellers</option>
                                </select>
                                <div class="pos-abs icon_fix">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12 mb-20">
                            <label style="visibility:hidden;">-</label>
                            <div class="pos-rel flt-lft w-100">
                                <button type="button" id="" class="flt-lft w-100 btn_clr" onclick="ShowVisaType()"><i class="fa fa-search"></i><span class="spnsearchbtn font-15 pl-8" id="spnSearchbtn"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="index-banner col-sm-12 col-xs-12 mg-tp-35" id="dvVisaType">
                       
                    </div>
                </div>
            </div>
            <div class="row" id="dvmanagebook">
                <div class="col-sm-12 col-xs-12">
                    <div class="manage_sec flt-lft w-100">
                        <ul>
                            <li>
                                <a title="Booked History" onclick="RedirectMangeBooking('B')">
                                    <div class="feature-icon">
                                        <span class="circle"></span>
                                        <img src="@strLogoUrl/@strProducttype/Visa/history.png" />
                                    </div>
                                    <span class="txt-cntr float-left w-100">Booked History</span>
                                </a>
                            </li>
                            <li>
                                <a title="View PNR" onclick="RedirectMangeBooking('P')">
                                    <div class="feature-icon">
                                        <span class="circle"></span>
                                        <img src="@strLogoUrl/@strProducttype/Visa/search.png" />
                                    </div>
                                    <span class="txt-cntr float-left w-100">View PNR</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-full" id="dvvisa_form">
        <div class="container payment">

            <div class="uae-visa-form clsclass float-left w-100" id="dvvisaform">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h1 class="flt-lft"><span id="spnvisatitle"> </span> Visa Form</h1>
                    <div class="flt-rt txt-al-rgt theme_clr cursor-point txt_dec" onclick="BacktoSearch()">Back to search</div>
                </div>
            </div>
            <div id="dvCommonVisa"></div>
            <div class="uae-visa-form" id="dvvisasubmit">
                <div>
                    <div class="col-sm-12 col-xs-12 col0">
                        <span style="font-weight: bold;">
                            <input id="chkTermsVisa" class="cb" type="checkbox" name="chkTermsVisa" style="display:none;">
                            <label class="cbx " for="chkTermsVisa" style="margin-bottom: 0px !important;"></label>
                            <label class="lbl font-weight-600" for="chkTermsVisa" style="margin-bottom: 0px !important; letter-spacing: 0.04em; color: #000000; font-size: 14px; font-weight: 100">&nbsp;I&nbsp;understand&nbsp;&amp;&nbsp;agree</label> @*&nbsp;to&nbsp;the&nbsp;Riya&nbsp;Travel&nbsp;&amp;&nbsp;Tours&nbsp;(I)&nbsp;Pvt&nbsp;Ltd*@
                        </span>
                        <span onclick="javascript: OpenTermsandconditions();" style="text-decoration: underline; cursor: pointer; color: blue;">Terms&nbsp;and&nbsp;Conditions.</span>
                    </div>
                  
                </div>
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="button" class="action-button color_S" value="Submit" onclick="btnVisaSubmit();">
                    <label class="action-button color_C" aria-hidden="true" onclick="btnClear();">Clear</label>
                </div>
            </div>

        </div>
    </div>
    <div id="modal-alert" class="iziModal"></div>
    <div id="modal-success" class="iziModal" style="display:none;" ></div>
    <div id="modal-TandC" class="iziModal addtop" style=""></div>

    <script src="~/js/CommonJS/jquery-1.11.1.js?@strVersion"></script>
    <script src="~/js/CommonJS/jquery-ui-new.js?@strVersion"></script>
    <script src="~/js/jquery.blockUI.js?@strVersion"></script>
    <script src="~/js/bootstrap.min.js?@strVersion"></script>
    <script src="~/js/raysModal.js?@strVersion"></script>
    <input type="hidden" id="hdnPassengerCount" value="1" />
    <input type="hidden" id="hdnGrpPassengerCount" value="" />
    <input type="hidden" id="hdndocUploaddet" value="" />
    <input type="hidden" id="hdnvisafare" value="0" />
    <input type="hidden" id="hdnVisatype" value=""/>
    <input type="hidden" id="hdnTermscon" value=""/>
    <input type="hidden" id="hdnVisaCode" value=""/>
    <script>
        var ThankYoupge = '@Url.Action("VisaThankyou", "Visa")';

        $(document).ready(function () {

            $("#spnSearchbtn").html("Search Now");
            SearchDetails();
            $("#dvmanagebook").show();
            $("#dvvisa_form").hide();
            $("#dvvisasubmit").hide();
            if(@Paxcount != "0"){
                //  GroupBooking();
                var passcount = @Paxcount;
                $("#ddlDestination").val("AE");
                $("#ddltraveller").val(passcount);
                $('#ddlDestination').attr("disabled", true);
                $('#ddltraveller').attr("disabled", true);
                ShowVisaType("B");
            }
            $("#hdnGrpPassengerCount").val(@Paxcount);
        });

        function GroupBooking(paxcnt,Destination,VisaRefId,VisaFare,VisaType) {

            var strGrpCnt = paxcnt != "" && paxcnt != null ? paxcnt : $("#hdnGrpPassengerCount").val();
            addGrpPasenger(strGrpCnt,Destination,VisaRefId,VisaFare,VisaType);
        }


        function addGrpPasenger(count,Destination,VisaRefId,VisaFare,VisaType) {

            $.blockUI({
                message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });

            $("#hdnvisafare").val(VisaFare);
            $("#hdnGrpPassengerCount").val(count);
            var UploadDocuments = "";
            for(var z=0;z<Uploaddocarray.length;z++){
                if(Uploaddocarray[z].split("&")[0] == VisaRefId){
                    UploadDocuments = Uploaddocarray[z].split("&")[1];
                }
            }

            $("#hdndocUploaddet").val(UploadDocuments);
            var DocDetails = UploadDocuments.split("|");

            // rearrange array
            var ManArry = $.grep(DocDetails,function(n,i){
                return n.includes("~Y") == true;
            });

            var NotManArry = $.grep(DocDetails,function(n,i){
                return n.includes("~Y") == false;
            });

            var splitDocDetails = ManArry.concat(NotManArry);

            var j = count;
            var strbuilt = "";
            $("#dvCommonVisa").html("");
            $("#spnvisatitle").html(LoadCountry(Destination));

            for (var i = 1; i <= count; i++) {

                //Passenger Details
                strbuilt += "<div id='OverallGrpDetails_" + i + "'>";
                strbuilt += "<div class='uae-visa-form' style='display:block;'>";//Details Open
                strbuilt += "<div class='float-left w-100 uae-visa-form col-sm-12'>";//Passenger Detail header open
                strbuilt += "<h2><span class='float-left pad-rgt-10'>Passenger Details</span><span class='float-left fnt-wt-600' style='color: red;'>" + i + "</span></h2></div>";
                strbuilt += "<div class='col-md-12 col-sm-12 col-xs-12'>";//Passport Detail open
                strbuilt += "<fieldset><legend>Passenger Details</legend>";
                strbuilt += "<div class='marbtmplus10 clsUlContent'>";//Sub open
                strbuilt += "<div class='row row0'>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";
                strbuilt += "<span class='clsspntitle'>Title</span>";  //<span style='color: red;'>*</span>
                strbuilt += "<select name='ddlTitle' id='ddlTitle_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option>";
                strbuilt += "<option value='Mr'>Mr</option><option value ='Miss'>Miss</option><option value ='Mrs'>Mrs</option><option value ='Master'>Master</option><option value ='Ms'>Ms</option>";
                strbuilt += "</select></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//FirstName start
                strbuilt += "<div class='dv-anim input-effect m-0'>";

                strbuilt += "<input type='text' id='txtFirstName_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>First Name<span style='color: red;'>*</span></label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//first name end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//middle name start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtMiddleName_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>Middle Name</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";// middle name end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//last name start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtLastName_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>Last Name<span style='color: red;'>*</span></label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//last name end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//pan no start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtPanNumber_" + i + "' class='txt-anim clsGstLct clsAlphaNumeric lblcls clsclr' maxlength='20' autocomplete='off'>";
                strbuilt += '@strcurrency' == "INR" ? "<label>Pan Number<span style='color: red;'>*</span></label>" : "<label>Pan Number</label>";

                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//pan no end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Date of Travel
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<span class='clsspntitle'>Date of Travel</span>";
                strbuilt += "<input type='text' id='txtDateofTravel_" + i + "' class='txt-anim passExpDate' readonly = 'true' autocomplete='off'>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Date of birth
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<span class='clsspntitle'>Date of Birth</span>";
                strbuilt += "<input type='text' id='txtDateofBirth_" + i + "' class='txt-anim passDate' readonly = 'true' autocomplete='off'>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//gender
                strbuilt += "<span class='clsspntitle'>Gender</span>";
                strbuilt += "<select name='ddlGender' id='ddlGender_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option><option value='Male'>Male</option><option value='Female'>Female</option></select></div>";


                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Nationality start
                strbuilt += "<span class='clsspntitle'>Country Of Birth</span>";
                strbuilt += "<select name='ddlNationality' id='ddlNationality_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsCountry clsclr'></select></div>";//nationality end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Religion
                strbuilt += "<span class='clsspntitle'>Religion</span>";
                strbuilt += "<select name='ddlReligion' id='ddlReligion_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt +="<option value=''>--Select--</option><option value='Hindu'>Hindu</option><option value='Christian'>Christian</option><option value='Islam'>Islam</option>";
                strbuilt +="<option value='Buddhism'>Buddhism</option><option value='Sikh'>Sikh</option><option value='Kad Iani'>Kad Iani</option>";
                strbuilt +="<option value='Bahai'>Bahai</option><option value='Judaism'>Judaism</option><option value='Zoroastrian'>Zoroastrian</option></select></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//email start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtEmailID_" + i + "' class='txt-anim clsGstLct lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>Email Id</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//email end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Mobile number start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtMobileNumber_" + i + "' class='txt-anim clsGstLct clsNumeric lblcls clsclr' maxlength='10' autocomplete='off'>";
                strbuilt += "<label>Contact No</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//Mobile number end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Mother name start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtMotherName_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>Mother Name</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//Mother name end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Father name start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtFatherName_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>Father Name</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//Father name end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//PlaceofBirth State
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<span class='clsspntitle'>Place Of Birth</span>";
                strbuilt += "<input type='text' id='txtPlaceofBirthState_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "</div></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Marital Status
                strbuilt += "<span class='clsspntitle'>Marital Status</span>";
                strbuilt += "<select name='ddlMartialStatus' id='ddlMartialStatus_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option><option value='Unmarried'>Unmarried</option><option value='Married'>Married</option></select></div>";


                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Spouse name start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtSpouseName_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr' autocomplete='off'>";
                strbuilt += "<label>Spouse Name</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//Spouse name end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Proffesion
                strbuilt += "<span class='clsspntitle'>Profession</span>";
                strbuilt += "<select name='ddlProffesion' id='ddlProffesion_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option><option value='EMPLOYEE'>EMPLOYEE</option><option value='BUSINESS'>BUSINESS</option><option value='HOUSEWIFE'>HOUSEWIFE</option>";
                strbuilt += "<option value='STUDENT'>STUDENT</option><option value='INFANT'>INFANT</option><option value='NONE'>NONE</option>></select></div>";


                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30' style='display:none'>";//Passport Type
                strbuilt += "<span class='clsspntitle'>Passport Type</span>";
                strbuilt += "<select name='ddlPassportType' id='ddlPassportType_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option><option value='1'>Ordinary</option>";
                strbuilt += "</select></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30' style='display:none'>"//Permanent Address
                strbuilt += "<div class='dv-anim input-effect m-0' style='height:35px;'>";
                strbuilt += "<span class='clsspntitle'>Permanent Address<span style='color: red;'>*</span></span><textarea class='clsGstLct lblcls clsclr' id='txtPermanentAddrss_" + i + "' wrap='hard' placeholder='' style='width: 100%;'></textarea>";
                strbuilt += "</div></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30' style='display:none'>";//State
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<span class='clsspntitle'>State<span style='color: red;'>*</span> </span>";
                strbuilt += "<input type='text' id='txtState_" + i + "' class='txt-anim clsGstLct clsAlpha lblcls clsclr'>";
                strbuilt += "</div></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30' style='display:none'>";//yearly Income
                strbuilt += "<span class='clsspntitle'>Yearly Income<span style='color: red;'>*</span> </span>";
                strbuilt += "<select name='ddlYearlyIncome' id='ddlYearlyIncome_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option><option value='1'>Less than 20,000 US$</option><option value='2'>20,001 - 60,000 US$</option><option value='3'>More than 60,000 US$</option><option value='4'>No Income</option></select></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30' style='display:none'>";//Place of Issue
                strbuilt += "<span class='clsspntitle'>Place of Issue<span style='color: red;'>*</span> </span>";
                strbuilt += "<input name='ddlPlaceofIssue' type='text' id='ddlPlaceofIssue_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 lblcls clsclr'></div>";
                //strbuilt += "<select name='ddlPlaceofIssue' id='ddlPlaceofIssue_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100'>";
                //strbuilt += "<option value=''>--Select--</option></select></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30' style='display:none'>";//occupation
                strbuilt += "<span class='clsspntitle'>Occupation<span style='color: red;'>*</span> </span>";
                strbuilt += "<select name='ddlOccupation' id='ddlOccupation_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsclr'>";
                strbuilt += "<option value=''>--Select--</option><option value='8'>BUSINESSMAN / BUSINESSWOMAN</option><option value='1'>COMMERCIAL TRADER</option><option value='14'>DOCTOR</option><option value='15'>FISHERY</option><option value='5'>FREE ENTERPRISE WORKER</option><option value='3'>GOVERNMENT OFFICER</option><option value='11'>HOUSEKEEPER</option>";
                strbuilt += "<option value='9'>INVESTOR</option><option value='6'>NO PAID OCCUPATION</option><option value='7'>OTHERS</option><option value='10'>RETIRED</option><option value='2'>RURAL WORKER</option><option value='13'>SPECIALIST</option><option value='4'>STATE ENTERPRISE WORKER</option><option value='12'>STUDENTS</option></select></div>";

                strbuilt += "</div></div></fielset></div>";

                //passport details

                strbuilt += "<div class='col-md-12 col-sm-12 col-xs-12'>";//Passport Detail open
                strbuilt += "<fieldset><legend>Passport Details</legend>";
                strbuilt += "<div class='marbtmplus10 clsUlContent'>";//Sub open
                strbuilt += "<div class='row row0'>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//passport no start
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<input type='text' id='txtPassportNumber_" + i + "' class='txt-anim clsGstLct clsAlphaNumeric lblcls clsclr' maxlength='20' autocomplete='off'>";
                strbuilt +=   "<label>Passport Number</label>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";//passport no end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//passport issue date
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt +=  "<span class='clsspntitle'>Passport Issue Date</span>" ;
                strbuilt += "<input type='text' id='txtPassportIssueDate_" + i + "' class='txt-anim clsGstLct passIssueDate' readonly='true' autocomplete='off'>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>"//passport issue end

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//passport expire
                strbuilt += "<div class='dv-anim input-effect m-0'>";
                strbuilt += "<span class='clsspntitle'>Passport Expire Date</span>" ;
                strbuilt += "<input type='text' id='txtPassportExpireDate_" + i + "' class='txt-anim passExpDate' readonly = 'true'autocomplete='off'>";
                strbuilt += "<span class='focus-border'><i></i></span></div></div>";

                strbuilt += "<div class='col-lg-3 col-sm-3 col-xs-12 mg-btm-30'>";//Passport Issued Country start
                strbuilt +=  "<span class='clsspntitle'>Passport Issued Country</span>" ;
                strbuilt += "<select name='ddlPassIssueCnty' id='ddlPassIssueCnty_" + i + "' class='nice-select clscmbanim hideErr clsGstLct w-100 clsCountry clsclr'></select></div>";//Passport Issued Country end
                strbuilt += "</div></div></fielset></div>";
                //passport details


                //Upload Documents
                strbuilt += "<div class='col-md-12 col-sm-12 col-xs-12'>";
                strbuilt += "<fieldset>";
                strbuilt += "<legend>Upload Documents <span style = 'color:black';>[Size must be less than 100kb]</span><span style='color:red';></span></legend>"; //[Upload Atleast Any one Document]
                strbuilt += "<div class='marbtmplus10 clsUlContent'>";
                strbuilt += "<div class='row row0'>";
                strbuilt += "<div class='row'>";

                for(var k=0;k < splitDocDetails.length;k++){
                    //dynamic building for Documents...

                    strbuilt += "<div class='form-group col-sm-3'>";
                    strbuilt += "<div class='file-upload'>";
                    if(TextTrim(splitDocDetails[k].split("~")[0].toString().toUpperCase()).includes("TICKET") == true)
                    {
                        if(splitDocDetails[k].split("~")[1].toString().toUpperCase() == "Y") {
                            strbuilt += "<p class='file-title'>"+splitDocDetails[k].split("~")[0].toString()+"<span style='color: red;'> *</span></p>";
                        } else{
                            strbuilt += "<p class='file-title'>"+splitDocDetails[k].split("~")[0].toString()+"<span style='color: red;'></span></p>";
                        }
                    }
                    else
                    {
                        if(splitDocDetails[k].split("~")[1].toString().toUpperCase() == "Y") {
                            strbuilt += "<p class='file-title'>"+splitDocDetails[k].split("~")[0].toString()+"<span style='color: red;'> jpg *</span></p>";
                        } else{
                            strbuilt += "<p class='file-title'>"+splitDocDetails[k].split("~")[0].toString()+"<span style='color: red;'> jpg</span></p>";
                        }
                    }
                    strbuilt += "<div class='image-upload-wrap' id='dvuploaddoc_" + i +"_"+ k + "'>";
                    strbuilt += '<input class="file-upload-input" type="file" id="imguploaddoc_' + i +'_'+ k + '" name=file[] multiple="multiple" accept="image/*" onchange=' + '"' + "readURL(this, 'dvuploaddoc_" + i +"_"+ k + "', 'upuploaddoc_" + i +"_"+ k + "', 'imageuploaddoc_" + i +"_"+ k + "')" + '"' + '/>';
                    strbuilt += "<div class='drag-text'><h3>Upload File</h3></div></div>";
                    strbuilt += "<div class='file-upload-content float-left w-100' id='upuploaddoc_" + i +"_"+ k + "'>";
                    strbuilt += "<img class='file-upload-image' src='#' alt='your image' id='imageuploaddoc_" + i +"_"+ k + "' />";
                    strbuilt += "<div class='image-title-wrap col-sm-12 col-xs-12'>";
                    strbuilt += '<button type="button" onclick=' + '"' + "removeUpload('dvuploaddoc_" + i +"_"+ k + "', 'upuploaddoc_" + i +"_"+ k + "','imageuploaddoc_" + i +"_"+ k + "','imguploaddoc_" + i +"_"+ k + "')" + '"' + ' class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>';
                    strbuilt += "</div></div></div></div>";

                }

                strbuilt += "</div></div></fieldset></div></div>";
                strbuilt += "</div>";
            }
            $("#dvCommonVisa").append(strbuilt);
            $(".visasearch").hide();
            $("#dvvisa_form").show();
            $("#dvvisasubmit").show();

            var body = $("body, html");
            var top = body.scrollTop() // Get position of the body
            if(top!=0)
            {
                body.animate({scrollTop :0}, 500,function(){
                });
            }

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/XML/Country.xml")',
                dataType: "xml",
                async: true,
                success: function (xml) {
                    var select = $('.clsCountry');
                    select.append('<option value="">--Select--</option>');

                    $(xml).find('COUNTRYDET').each(function () {
                        var url = $(this).find('ID').text();
                        var name = $(this).find('Name').text();
                        select.append("<option value='" + url + "'>" + name + "</option>");
                    });
                }
            });

            var currentDate = "@ViewBag.ServerDateTime";
            maxdate = "@ViewBag.ServerDateTime".split("/");
            mindatte = maxdate[0] + "/" + maxdate[1] + "/" + (Number(maxdate[2]) + 60);
            maxdate = "@ViewBag.ServerDateTime";
            var max_min_date = "@ViewBag.ServerDateTime";

            $(".passExpDate").datepicker({
                numberOfMonths: 1,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: mindatte,
                minDate: max_min_date
            }); $(".passExpDate").addClass('has-content');

            $(".passDepDate").on('change keyup paste', function () {
                $(".passArrDate").datepicker({
                    minDate: currentDate, dateFormat: "dd/mm/yy",
                });
            });
            var strDepartureDate = $(".passDepDate").val();
            $(".passDepDate").val(currentDate);
            $(".passDepDate").addClass("has-content");
            $(".passDepDate").datepicker({
                minDate: currentDate, dateFormat: "dd/mm/yy",
            });

            $(".passArrDate").val(strDepartureDate);
            $(".passArrDate").addClass("has-content");
            $(".passArrDate").datepicker({
                minDate: $(".passDepDate").val(), dateFormat: "dd/mm/yy",
            });

            $(".passDepDate").on('change keyup paste', function () {
                $(".passArrDate").datepicker("destroy");
                $(".passArrDate").datepicker({
                    minDate: $(".passDepDate").val(), dateFormat: "dd/mm/yy",
                });
            });

            maxdate = "@ViewBag.ServerDateTime".split("/");//"@ViewBag.ServerDateTime".split("/");
            mindatte = maxdate[0] + "/" + maxdate[1] + "/" + (Number(maxdate[2]) - 100);
            maxdate = maxdate[0] + "/" + maxdate[1] + "/" + (Number(maxdate[2]) - 12)

            //  console.log("Passport-IssueDate" + mindatte + "Passport-ExpireDate" + maxdate);
            $(".passDate").datepicker({
                numberOfMonths: 1,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: maxdate,
                minDate: mindatte
            });

            $(".passDate").addClass('has-content');
            var datee = "@ViewBag.ServerDateTime".split("/");
            var mindatee = datee[0] + "/" + datee[1] + "/" + (Number(datee[2]) - 100);
            var maxdatee = datee[0] + "/" + datee[1] + "/" + datee[2];
            $(".passIssueDate").datepicker({
                numberOfMonths: 1,
                showButtonPanel: false,
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: maxdatee,
                minDate: mindatee
            });
            maxdate = "@ViewBag.ServerDateTime".split("/"); //"@ViewBag.ServerDateTime".split("/");
            mindatte = maxdate[0] + "/" + maxdate[1] + "/" + (Number(maxdate[2]) - 12);
            maxdate = maxdate[0] + "/" + maxdate[1] + "/" + (Number(maxdate[2]) - 2);
            $(".lblcls").addClass("has-content");
            $.unblockUI();
        }

        //validation
        $(document).on('input', '.clsAlpha', function () {
            var txtQty = $(this).val().replace(/[^a-zA-Z\ ]/g, '');
            txtQty = txtQty.replace(/  +/g, ' ');
            $(this).val(txtQty);
        });
        $(document).on('input', '.clsAlphaNumeric', function () {
            var txtQty = $(this).val().replace(/[^a-zA-Z0-9]/g, '');
            $(this).val(txtQty);
        });
        $(document).on('input', '.clsNumeric', function () {
            var txtQty = $(this).val().replace(/[^0-9]/g, '');
            $(this).val(txtQty);
        });
        $(document).on('input', '.clsAlphaNumericwithcomma', function () {
            var txtQty = $(this).val().replace(/[^a-zA-Z0-9, ]/g, '');
            $(this).val(txtQty);
        });

        $(document).on('input', '.clsAlphaNumericwithspecialchar', function () {
            var txtQty = $(this).val().replace(/[^a-zA-Z0-9.#/ ,-]/g, '');
            $(this).val(txtQty);
        });

        $(document).on('input', '.clsNumbercolon', function () {
            var txtQty = $(this).val().replace(/[^0-9: ]/g, '');
            $(this).val(txtQty);
        });

        //submit
        function btnVisaSubmit() {

            var Fare = $("#hdnvisafare").val() != "" && $("#hdnvisafare").val() != undefined ? $("#hdnvisafare").val():"";
            var strQry = $("#ddltraveller").val();//$("#hdnPassengerCount").val();
            var DocmandatoryDet = $("#hdndocUploaddet").val() != "" && $("#hdndocUploaddet").val() != null ? $("#hdndocUploaddet").val():"";//.split("|")
            var fileData = new FormData();
            var VisaType = $("#hdnVisatype").val();//$("#ddlvisatype").children("option:selected").text();
            var Destination = $("#ddlDestination").val();
            var strVisaCode = $("#hdnVisaCode").val();

            for(var j = 1; j <= strQry; j++)
            {
                var Title = $("#ddlTitle_"+j).val();
                var firstName = $("#txtFirstName_"+j).val();
                var middleName = $("#txtMiddleName_"+j).val();
                var lastName = $("#txtLastName_"+j).val();
                var mobileNumber = $("#txtMobileNumber_"+j).val();
                var EmailId = $("#txtEmailID_"+j).val();
                var maritalstatus = $("#ddlMartialStatus_"+j).val();
                var religion = $("#ddlReligion_"+j).val();
                var profession = $("#ddlProffesion_"+j).val();
                var Pancard = $("#txtPanNumber_"+j).val();
                var Dateoftravel = $("#txtDateofTravel_"+j).val();
                var Dateofbirth = $("#txtDateofBirth_"+j).val();
                var Gender =$("#ddlGender_"+j).val();
                var countryofbirth = $("#ddlNationality_"+j).val();
                var mothername =  $("#txtMotherName_"+j).val();
                var fathername = $("#txtFatherName_"+j).val();
                var placeofbirth = $("#txtPlaceofBirthState_"+j).val();
                var spousename =  $("#txtSpouseName_"+j).val();
                var PassportNum = $("#txtPassportNumber_"+j).val();
                var PassportIssuedate = $("#txtPassportIssueDate_"+j).val();
                var PassportExpdate = $("#txtPassportExpireDate_"+j).val();
                var PassportIssueCountry = $("#ddlPassIssueCnty_"+j).val();

                //if (Title == null || Title == "") {
                //    infoAlert("Please Enter Title of Passenger "+j, "ddlTitle_"+j);
                //    return false;
                //}
                if (firstName == null || firstName == "") {
                    infoAlert("Please Enter First Name of Passenger "+j, "txtfirstName_"+j);
                    return false;
                }
                if (lastName == null || lastName == "") {
                    infoAlert("Please Enter Last Name of Passenger "+j, "txtLastName_"+j);
                    return false;
                }

                if('@strcurrency' == "INR") {
                    if (Pancard == null || Pancard == "") {
                        infoAlert("Please Enter Pan Number of Passenger "+j, "txtPanNumber_"+j);
                        return false;
                    }
                }

                //if(Dateoftravel == null || Dateoftravel ==""){
                //    infoAlert("Please select Date of Travel of Passenger "+j, "txtDateofTravel_"+j);
                //     return false;
                //}
                //if(Dateofbirth == null || Dateofbirth == ""){
                //    infoAlert("Please select Date of Birth of Passenger "+j, "txtDateofBirth_"+j);
                //    return false;
                //}
                //if(Gender == null || Gender == ""){
                //    infoAlert("Please select Gender of Passenger "+j, "ddlGender_"+j);
                //     return false;
                //}
                //if(countryofbirth == null || countryofbirth == ""){
                //    infoAlert("Please select Country of Birth of Passenger "+j, "ddlNationality_"+j);
                //    return false;
                //}
                //if(religion == null ||religion  ==""){
                //    infoAlert("Please select Religion of Passenger "+j, "ddlReligion_"+j);
                //     return false;
                //}
                //Validation for Email ID
                var str = $("#txtEmailID_"+j).val();
                var str = EmailId;
                //if(str == "" || str == null){
                //    infoAlert("Please Enter Email Id of Passenger "+j, "txtEmailID_"+j);
                //     return false;
                //}
                var filter = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
                if (filter.test(str)) {
                }
                else {
                    infoAlert("Please Enter valid Email Id of Passenger "+j, "txtEmailID_"+j);
                    return false;
                }
                //if(mobileNumber == null || mobileNumber ==""){
                //    infoAlert("Please Enter Contact No of Passenger "+j, "txtMobileNumber_"+j);
                //    return false;
                //}
                //if(mothername == null ||mothername  == ""){
                //    infoAlert("Please Enter Mother Name of Passenger "+j, "txtMotherName_"+j);
                //    return false;
                //}
                //if(fathername == null ||fathername  == ""){
                //    infoAlert("Please Enter Father Name of Passenger "+j, "txtFatherName_"+j);
                //     return false;
                //}

                //if(placeofbirth == null || placeofbirth == ""){
                //    infoAlert("Please Enter Place of Birth of Passenger "+j, "txtPlaceofBirthState_"+j);
                //    return false;
                //}

                //if (maritalstatus == null || maritalstatus == "") {
                //    infoAlert("Please select Marital Status of Passenger "+j, "ddlMartialStatus_"+j);
                //     return false;
                //}

                //if(maritalstatus != "" && maritalstatus == "Married" && maritalstatus != null && maritalstatus != undefined && maritalstatus != "undefined"){
                //    if(spousename == null || spousename == ""){
                //        infoAlert("Please Enter Spouse Name of Passenger "+j, "txtSpouseName_"+j);
                //        return false;
                //    }
                //}

                //if( profession == null || profession ==""){
                //    infoAlert("Please select Proffesion of Passenger "+j, "ddlProffesion_"+j);
                //     return false;
                //}


                //if (PassportNum == null || PassportNum == "") {
                //    infoAlert("Please Enter Passport Number of Passenger "+j, "txtPassportNumber_"+j);
                //    return false;
                //}
                //if (PassportIssuedate == null ||PassportIssuedate  == "") {
                //    infoAlert("Please select Passport Issue date of Passenger "+j, "txtPassportIssueDate_"+j);
                //    return false;
                //}
                //if (PassportExpdate == null || PassportExpdate == "") {
                //    infoAlert("Please select Passport Expire date of Passenger "+j, "txtPassportExpireDate_"+j);
                //    return false;
                //}
                //if (PassportIssueCountry == null || PassportIssueCountry == "") {
                //    infoAlert("Please select Passport Issued Country of Passenger "+j, "ddlPassIssueCnty_"+j);
                //    return false;
                //}


                //Images
                var DocDetails = DocmandatoryDet.split("|");
                // rearrange array
                var ManArry = $.grep(DocDetails,function(n,i){
                    return n.includes("~Y") == true;
                });

                var NotManArry = $.grep(DocDetails,function(n,i){
                    return n.includes("~Y") == false;
                });

                var splitDocDetails = ManArry.concat(NotManArry);
                for(var k=0;k < splitDocDetails.length;k++) {
                    var fileUpload = $("#imguploaddoc_"+j+"_"+k).get(0);
                    var filesfrst ="";
                    if(fileUpload != null && fileUpload != undefined && fileUpload !="undefined"){
                        filesfrst = fileUpload.files;
                        for (var i = 0; i < filesfrst.length; i++) {
                            fileData.append("imguploaddoc_"+j+"_"+k, filesfrst[i]);
                            fileData.append("imguploaddocsize_" + j+"_"+k, filesfrst[0].size);
                        }
                    }

                    if(splitDocDetails[k].includes("~Y") && $("#imguploaddoc_"+j+"_"+k).length > 0){
                        if (filesfrst.length <= 0) {
                            infoAlert("Please Select " +splitDocDetails[k].split("~")[0].toString()+ " of Passenger "+j, "imguploaddoc_"+j+"_"+k);
                            return false;
                        }
                    }

                    if (filesfrst != null && filesfrst != "" && filesfrst != undefined && filesfrst.length > 0) {

                        if (filesfrst[0].size > 100000) // 100 kb.
                        {
                            infoAlert(splitDocDetails[k].split("~")[0].toString() + "File size must be less than 100 kb");
                            return false;
                        }
                    }
                }

                var RPNR = "";
                var RefID = "";
                var PaxTitle = "";
                var Flag = "I";
                fileData.append("strTitle_"+j,Title);
                fileData.append("strFirstName_"+j, firstName);
                fileData.append("strmiddleName_"+j, middleName);
                fileData.append("strlastName_"+j, lastName);
                fileData.append("strmobileNumber_"+j, mobileNumber);
                fileData.append("strEmailId_"+j, EmailId);
                fileData.append("strPassportNum_"+j, PassportNum);
                fileData.append("strmaritalstatus_"+j, maritalstatus);
                fileData.append("strreligion_"+j, religion);
                fileData.append("strpancard_"+j,Pancard);
                fileData.append("strDateoftravel_"+j,Dateoftravel);
                fileData.append("strDateofbirth_"+j,Dateofbirth);
                fileData.append("strGender_"+j,Gender);
                fileData.append("strcountryofbirth_"+j,countryofbirth);
                fileData.append("strmothername_"+j, mothername);
                fileData.append("strfathername_"+j, fathername);
                fileData.append("strplaceofbirth_"+j, placeofbirth);
                fileData.append("strprofession_"+j, profession);
                fileData.append("strRPNR_"+j, RPNR);
                fileData.append("strRefID_"+j, RefID);
                fileData.append("strspousename_"+j, spousename);
                fileData.append("strFlag_"+j, Flag);
                fileData.append("strPassportIssuedate_"+j,PassportIssuedate);
                fileData.append("strPassportExpdate_"+j,PassportExpdate);
                fileData.append("strPassIssueCountry_"+j,PassportIssueCountry);

            }
            fileData.append("strDestination",Destination);
            fileData.append("strVisaType",VisaType);
            fileData.append("PaxCount", strQry);
            fileData.append("strVisaFare",Fare);
            fileData.append("strVisaCode",strVisaCode)

            if($("#chkTermsVisa")[0].checked == false){
                infoAlert("Please accept terms and conditions and go ahead for booking");
                return false;
            }

            $.blockUI({
                message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertCommonVisa", "Visa")',//InsertCommonVisaOffline
                data: fileData,
                contentType: false, // Not to set any content header
                processData: false,
                timeout: 3000000,
                dataType: "json",
                success: function (data) {
                    $.unblockUI();
                    try {
                        if(data.Status == "-01"){
                            window.top.location = '@Url.Action("SessionExp", "Redirect")';
                            return false;
                        }
                        if (data.Status == "01" && data.Result[1] != "") {
                            showsuccessalert(data.Result[1]);
                        }
                        else {
                            infoAlert(data.Result[0],"");
                        }
                    }
                    catch (e) {
                        $.unblockUI();
                        console.log(e);
                        infoAlert("Unable to Connect Internal Server(#1)", "");
                        return false;

                    }
                },
                error: function (e) {
                    $.unblockUI();
                    console.log(e);
                    infoAlert("Unable to Connect Internal Server(#2)", "");
                }
            });
        }


        //alert
        function infoAlert(MSG, ID) {

            $('#modal-alert').iziModal('destroy');
            $("#modal-alert").iziModal({
                title: MSG,
                icon: 'fa fa-info',
                headerColor: '#bd5b5b',
                width: "500px",
                onClosed: function () {
                    $("#" + ID).focus();
                }
            });
            $('#modal-alert').iziModal('open');
            return false;
        }
        function showsuccessalert(msg) {
            $('#modal-success').iziModal('destroy');
            $("#modal-success").show();
            $("#modal-success").iziModal({
                title: msg,
                icon: 'fa fa-info',
                headerColor: '#5bbd72',
                width: "500px",
                onClosed: function () {
                    window.top.location = ThankYoupge;
                }
            });
            $('#modal-success').iziModal('open');
        }

        function GetMinor(cnt) {
            $("#OverallMinor_" + cnt).css("display", "block");
        }
        function NoMinor(cnt) {
            $("#OverallMinor_" + cnt).css("display", "none");
        }
        //CLear
        function btnClear() {
            var strVisaCnt = "";
            strVisaCnt = $("#hdnGrpPassengerCount").val();
            var DocmandatoryDet = $("#hdndocUploaddet").val()
            var splitDocDetails = DocmandatoryDet.split("|");

            for (var i = 1; i <= strVisaCnt - 1; i++) {
                $(".clsclr").val("");
                $("#OverallMinor_" + i).css("display", "none");
                $('img').attr('src', '');
                for(var k=0;k < splitDocDetails.length;k++) {
                    $("#imguploaddoc_" + i+"_"+k).val("");
                }
            }
            $('img').attr('src', '');
            $(".Bkpaymentmode").prop("checked", true);
            $(".clsclr").val("");
            var currentDate = "@ViewBag.ServerDateTime";
            $(".passDate").val(currentDate);
            $(".passExpDate").val(currentDate);
            $(".passArrDate").val(currentDate);
            $(".passDepDate").val(currentDate);
            $(".passIssueDate").val(currentDate);
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
            //$("#txtCity_1").change();
            //$("#ddlDistrict_1").change();
        }
        //Upload Documents Image part
        function readURL(input, hidearg, showarg, apparg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#" + hidearg).hide();
                    $("#" + apparg).attr('src', e.target.result);
                    $("#" + showarg).show();
                    $("#" + hidearg + '.image-title').html(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload();
            }
        }
        function removeUpload(dvdata, updata, id, imgid) {
            $("#" + updata).hide();
            $("#" + dvdata).show();
            $("#" + imgid).val("");
            //$('#' + id).attr('src', '');
            // $("#" + id).removeAttr('src');
        }
        pageload();
        function pageload() {
            $('.image-upload-wrap').bind('dragover', function () {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function () {
                $('.image-upload-wrap').removeClass('image-dropping');
            });

            $(function () {
                $('.pop').on('click', function () {
                    $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                    $('#imagemodal').modal('show');
                });
            });
        }

        //for time
        function validatechar(idval) {
            $('#' + idval).on('keyup', keyUpHandler);
            $('#' + idval).css("font", "13px/24px 'Lato', Arial, sans-serif");
            function keyUpHandler(e) {
                var element = this;
                var key = e.keyCode || e.which;
                insertTimingColor(element, key)
            }
            function insertTimingColor(element, key) {
                var inputValue = element.value;
                if (element.value.trim().length == 2 && key !== 8) {
                    element.value = element.value + ':';
                }
            }
            function insertTimingColor(element, key) {
                var inputValue = element.value;
                if (element.value.trim().length == 2 && key !== 8) {
                    element.value = element.value + ':';
                }
            }
        }
        function passportvalidate(event) {

            var regex = new RegExp("^[a-zA-Z0-9\b]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            var keycode = (event.which) ? event.which : event.keyCode
            if (!regex.test(key) && keycode != 9 && keycode != 32) {
                event.preventDefault();
                return false;
            }
            else { return true; }
        }

        function VisaSearch(id) {

            var paxcount = $("#ddltraveller").val();
            var dest = $("#ddlDestination").val() != "" && $("#ddlDestination").val() != null ?$("#ddlDestination").val() : $("#spnVisaCountry_"+id).html();
            var VisaRefId = $("#spnVisarefid_"+id).html();
            var VisaFare = Number($("#spnVisaFare_"+id).html())/Number(paxcount);
            var VisaActType = $("#spnVisacttype_"+id).html().toUpperCase.toString();
            var VisaType = $("#spnVisaType_"+id).html();
            $("#hdnVisatype").val(VisaType);
            $("#hdnTermscon").val($("#spntermsCon_"+id).html());
            $("#hdnVisaCode").val($("#spnVisaCode_"+id).html());
            // var Querystring = "&PAXCOUNT=" + paxcount + "&VISAFARE="+VisaFare;
            @*VisaActType = "ONLINE";
            if(VisaActType == "ONLINE"){
                window.location.href = '@Url.Action("ThaiVisa", "Visa")' + "?" + Querystring;
             }else{
                GroupBooking(paxcount,dest,VisaRefId,VisaFare,VisaType);
            }*@
            GroupBooking(paxcount,dest,VisaRefId,VisaFare,VisaType);
        }

        MinFindArry = [];
        function ShowVisaType(Flag){

            var dest = $("#ddlDestination").val();
            var TravellerCount = $("#ddltraveller").val();
            if(dest == ""){
                infoAlert("Please Select Destination", "ddlDestination");
                return false;
            }
            if(TravellerCount == "" || TravellerCount == null){
                infoAlert("Please Select Traveller", "ddltraveller");
                return false;
            }
            MinFindArry = [];

            if(VisaTypearry.length >0) {
                var strvisabuilt = "";
                strvisabuilt += '<div class="col-sm-12 col-xs-12">';

                var Head_Country = LoadCountry(dest);
                strvisabuilt += '<h1 class="country-page-head float-left mt-0"><span id="Spnheadcountry">'+Head_Country+'</span> Visa</h1>';
                strvisabuilt += '<div class="float-right banner-visa-price mg-btm-15">';
                strvisabuilt +=  'Starting from';
                strvisabuilt +=  '<span class="float-left w-100 txt-align-right" id="spnStartamt"><i class="fa fa-inr"></i>0</span></div>';
                strvisabuilt += '<div class="card-head mg-btm-20"><div class="float-left">Visa Type</div><div class="float-right">';
                strvisabuilt +=  '<span class="currenc_value font-14">Currency :</span>';
                strvisabuilt +=  '<label id="currency_val" style="cursor: pointer;">@strcurrency</label>';

                strvisabuilt +=  '</div></div>';
                strvisabuilt +='<div class="row"><div class="col-sm-12 col-xs-12 p-0">';
                for(var p=0;p<VisaTypearry.length;p++){
                    if(dest != "" && dest != null && dest != undefined && dest != "undefined"){
                        if(dest == VisaTypearry[p].split("|")[1].toString()){
                            MinFindArry.push(Number(VisaTypearry[p].split("|")[3].toString()));

                            strvisabuilt += '<div class="col-sm-4 col-xs-12 mg-btm-20">';
                            strvisabuilt += '<div class="float-left w-100 booking_cont pos-rel"><div class="booknow-heading float-left w-100">';
                            strvisabuilt += '<span id="spnVisaCountry_'+p+'" style="display:none;">'+ VisaTypearry[p].split("|")[1].toString() +'</span>';
                            strvisabuilt += '<span id="spnVisarefid_'+p+'" style="display:none;">'+ VisaTypearry[p].split("|")[0].toString() +'</span>';
                            strvisabuilt +=  '<span id="spnVisaType_'+p+'">'+ VisaTypearry[p].split("|")[2].toString() +'</span></div>';
                            var processTime = VisaTypearry[p].split("|")[5].toString() != null && VisaTypearry[p].split("|")[5].toString() != ""?VisaTypearry[p].split("|")[5].toString():"";
                            if(processTime != ""){
                                strvisabuilt +=  '<div class="float-left w-100 dur_cont" style="display:block"><span class="float-left">Processing Time :</span>&nbsp;';
                                strvisabuilt +=   '<span class="float-left pl-10">'+processTime+'</span></div>';
                            }
                            //strvisabuilt +=   '<div class="float-left w-100 dur_cont" style="display:none"><span class="float-left">Processing Type :</span>&nbsp;';
                            //strvisabuilt +=  '<span class="float-left pl-10">Normal</span></div>' ;
                            strvisabuilt +=   '<div class="float-left w-100 dur_cont" style="display:block"><span class="float-left">Processing Type :</span>&nbsp;';
                            strvisabuilt +=  '<span class="float-left pl-10" id="spnVisacttype_'+p+'">'+VisaTypearry[p].split("|")[4].toString()+'</span></div>' ;
                            strvisabuilt +=  '<div class="float-left w-100 price_cont mg-btm-15"><span class="float-left w-100">';
                            strvisabuilt += '<span class="float-left" id="spnVisaFare_'+p+'">'+Number(TravellerCount)*Number(VisaTypearry[p].split("|")[3].toString())+'</span>';
                            strvisabuilt += '<em class="per_adult float-left">For '+TravellerCount+' Traveller(s)</em></span></div>';
                            strvisabuilt +=  '<span class="float-left pl-10" style="display:none" id="spntermsCon_'+p+'">'+VisaTypearry[p].split("|")[6].toString()+'</span>' ;
                            strvisabuilt +=  '<span class="float-left pl-10" style="display:none" id="spnVisaCode_'+p+'">'+VisaTypearry[p].split("|")[7].toString()+'</span>' ;
                            strvisabuilt += '<div class="flt-lft w-100">';
                            strvisabuilt += '<button type="button" id="" class="btn_clrs font-13 float-right txt-al-rgt" onclick="VisaSearch('+p+')"> Apply Now </button>';
                            strvisabuilt += ' </div>';
                            strvisabuilt +=  '<div class="pos-abs visa_approv"><img src="@strLogoUrl/@strProducttype/Visa/visa_img.jpeg" />';
                            strvisabuilt +=  '</div></div></div>';}
                    }
                }
                strvisabuilt += '</div>';
                $("#dvVisaType").html(strvisabuilt);
                var arraygrep = MinFindArry.sort(function (a, b) {
                    return Number(a) - Number(b)
                });
                var MinAmount = Number(arraygrep[0])*Number(TravellerCount);
                $("#spnStartamt").html(MinAmount);
                $('html, body').animate({
                    scrollTop: $("#dvVisaType").offset().top-230
                }, 1000);

                if(Flag == null || Flag != "B"){
                    $("#spnSearchbtn").html("Modify Search");
                }
            }
        }

        function BacktoSearch(){
            $("#dvvisa_form").hide();
            $(".visasearch").show();
            $('html, body').animate({
                scrollTop: $("#dvVisaType").offset().top-230
            }, 1000);
        }

        function SearchDetails(){

            var Param = {
                Flag : "SELECT"
            }
            $.blockUI({
                message: '<img alt="Please Wait..." src="@Url.Content("~/Images/"+ strProducttype + "/Loader.gif")" style="background-color:#fff; border-radius:8px; margin-top:12%;" id="FareRuleLodingImage" />',
                css: { padding: '5px' }
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("FetchVisaSearchDetails", "Visa")",
                data: JSON.stringify(Param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (json) {
                    $.unblockUI();
                    if(json.Status == "01") {
                        var DataRes = JSON.parse(json.Results[1]);
                        DataRes = DataRes.P_INSERT_UPDATE_VISA;
                        loadFields(DataRes);
                    }
                },
                error: function (e) {
                    $.unblockUI();
                }
            })
        }
        var ResultArry = [];
        var Uploaddocarray = [];
        var VisaTypearry = [];

        function loadFields(res)
        {
            var lookup = {};
            var result = [];
            for(var j=0;j<res.length;j++){
                var name = res[j]["Country"];
                if (!(name in lookup)) {
                    lookup[name] = 1;
                    result.push(name);
                }
            }
            var dest = $('#ddlDestination');
            // dest.append('<option value="">-- Select Country Name --</option>');
            for(var k=0;k<result.length;k++)
            {
                var Country_Name = LoadCountry(result[k]);
                dest.append('<option value="' + result[k] + '">' + result[k] + "-" + Country_Name   + '</option>');//
            }
            ResultArry = res;
            for(var i=0;i < res.length;i++) {
                if(res[i]["VIS_STATUS"] == "1"){
                    Uploaddocarray.push(res[i]["VIS_REF_ID"] +"&"+res[i]["VIS_DOCUMENTS_REQ"] +"|"+res[i]["VIS_SUP_DOCUMENTS"]);
                    VisaTypearry.push(res[i]["VIS_REF_ID"] +"|"+res[i]["Country"]+"|" +res[i]["Visa Type"]+ "|" + res[i]["Fare"]+"|"+res[i]["VIS_STOCK"]+"|"+res[i]["VIS_PROCESSING_TIME"]+"|"+res[i]["Terms and Conditions"]+"|"+res[i]["VIS_VISA_TYPEID"]);
                }
            }
        }


        function LoadCountry(id)
        {
            var CountryName = "";
            $.ajax({
                url: '@Url.Content("~/XML/Country.xml")',
                dataType: "xml",
                async: false,
                success: function (xml) {
                    $(xml).find('COUNTRYDET').each(function () {
                        var name = $(this).find('Name').text();
                        if ($(this).find('ID').text() == id) {
                            CountryName = name;
                        }
                    });
                },
                error: function (e) {
                    infoAlert("Problem Occurred while loading Country","");
                }
            });
            return CountryName;
        }

        function RedirectMangeBooking(arg){

            var Querystring = "";
            arg == "B" ? Querystring = "&FLAG=" + "B" :  Querystring = "&FLAG=" + "P";
            window.location.href = '@Url.Action("ManageBooking", "Visa")' + "?" + Querystring;
        }

        function TextTrim(x) {
            return x.replace(/\s/g, "");
        }

        function OpenTermsandconditions(){
            var IContent = $("#hdnTermscon").val();
            showRayspopup("Terms and Conditions", "", IContent, true, "", "");
        }

        //#region  Rays modal popups
        function showRayspopup(Ititle, Isubtitle, IContent, Ifullopt, Itemp1, Itemp2) {

            $('#modal-TandC').iziModal('destroy');
            $("#modal-TandC").html(IContent);

            //$(".iziModal").css("top","50%")
            $("#modal-TandC").iziModal({
                title: Ititle,
                subtitle: Isubtitle,
                fullscreen: Ifullopt,
                iconClass: 'icon-stack',
                headerColor: '#636363',
                width: 700,
                padding: 20,
            });
            $('#modal-TandC').iziModal('open');
        }
        //#endregion


  </script>
</body>
